.o-ui-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Important for image size when the illustration is fluid. */
    max-height: 100%;
    max-width: 100%;
}

/* IMAGE */
.o-ui-illustration-image {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

/* ORIENTATION */
.o-ui-illustration-horizontal {
    flex-direction: column;
    width: 100%;
}

.o-ui-illustration-vertical {
    flex-direction: row;
    height: 100%;
}

/* SHAPES */
.o-ui-illustration-rounded {
    border-radius: var(--o-ui-shape-rounded);
}

/* CONTENT */
.o-ui-illustration-heading {
    margin-top: var(--o-ui-sp-6);
    margin-bottom: 0;
}

.o-ui-illustration-content {
    margin-top: var(--o-ui-sp-2);
}
