/* PILL */
.o-ui.badge.pill {
    display: inline-flex;
    background-color: var(--cloud-50);
    color: var(--marine-500);
    justify-content: center;
    border-radius: 999px;
    font-size: var(	--type-scale-7);
    line-height: 1;
    min-height: 1.5rem;
    min-width: 1.5rem;
    padding: 0 var(--scale-charlie) 0 var(--scale-charlie);
    align-items: center;
}

.o-ui.badge.pill.micro {
    min-height: 0.75rem;
    min-width: 0.75rem;
    font-size: var(--type-scale-9);
    padding: 0 var(--scale-bravo) 0 var(--scale-bravo);
}

.o-ui.badge.pill.mini {
    min-height: 0.875rem;
    min-width: 0.875rem;
    font-size: var(--type-scale-9);
    padding: 0 var(--scale-bravo) 0 var(--scale-bravo);
}

.o-ui.badge.pill.tiny {
    min-height: 1rem;
    min-width: 1rem;
    font-size: var(--type-scale-9);
    padding: 0 var(--scale-bravo) 0 var(--scale-bravo);
}

.o-ui.badge.pill.small {
    min-height: 1.25rem;
    min-width: 1.25rem;
    font-size: var(--type-scale-8);
    padding: 0 0.625rem 0 0.625rem;
}

.o-ui.badge.pill.large {
    font-size: var(--type-scale-6);
    min-height: 2rem;
    min-width: 2rem;
    padding-left: var(--scale-delta);
    padding-right: var(--scale-delta);
}

/* INLINE */
.o-ui.badge.inline {
    border-left: 1px solid var(--cloud-100);
    margin-left: calc(1em / 2);
    padding-left: calc(1em / 2);
}

/* DOT */
.o-ui.badge.dot {
    border-radius: 999px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cloud-50);
    color: var(--marine-500);
    min-height: 1.5rem;
    min-width: 1.5rem;
    font-size: var(--type-scale-7);
}

.o-ui.badge.dot.tiny {
    font-size: var(--type-scale-9);
    min-height: 1rem;
    min-width: 1rem;
}

.o-ui.badge.dot.small {
    font-size: var(--type-scale-8);
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.o-ui.badge.dot.large {
    font-size: var(--type-scale-6);
    min-height: 2rem;
    min-width: 2rem;
}

.o-ui.badge.dot.massive {
    font-size: var(--type-scale-2);
}

/* DOT | Empty */
.o-ui.badge.dot.empty {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: var(--type-scale-4);
}

/* DOT | Empty */
.o-ui.badge.dot.empty.tiny {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: var(--type-scale-7);
}

.o-ui.badge.dot.empty.small {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: var(--type-scale-5);
}

.o-ui.badge.dot.empty.large {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: 1.75rem;
}

.o-ui.badge.dot.empty.big {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: var(--type-scale-3);
}

.o-ui.badge.dot.empty.huge {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: 2.25rem;
}

.o-ui.badge.dot.empty.massive {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: var(--type-scale-2);
}

/* BADGE IN TAG | BADGE */
.o-ui.tag.with-left-badge .badge,
.o-ui.tag.with-right-badge .badge {
    background-color: var(--cloud-100);
}

/* BADGE IN TAG | LEFT > BADGE */
.o-ui.tag.with-left-badge .badge {
    margin-right: var(--scale-bravo);
}

/* BADGE IN TAG | RIGHT > BADGE */
.o-ui.tag.with-right-badge .badge {
    margin-left: var(--scale-bravo);
}

/* BADGE IN OUTLINE TAG | WITH TAG */
.o-ui.tag.outline.with-left-badge .badge,
.o-ui.tag.outline.with-right-badge .badge {
    background-color: var(--cloud-50);
}

/* BADGE IN FLUID TAG | BADGE */
.o-ui.tag.with-right-badge.fluid .badge:last-child {
    margin-left: auto;
}

/* DOT | DISABLED */
.o-ui.badge[disabled] {
    opacity: 0.4;
}

/* ICON | DISABLED */
.o-ui.badge.icon[disabled] {
    opacity: 0.4;
}

/* HIGHLIGHT */
.o-ui.badge.highlight {
    font-weight: 500;
}
