.o-ui-badge {
    display: inline-block;
    position: relative;
}

/* ANCHOR */
.o-ui-badge__anchor {
    position: absolute;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
}

/* ANCHOR | OVERLAP */
.o-ui-badge__anchor--over-rectangle {
    top: 0;
    right: 0;
}

.o-ui-badge__anchor--over-circle {
    top: 14%;
    right: 14%;
}

.o-ui-badge__anchor--over-icon {
    top: 10%;
    right: 10%;
}

/* COUNT */
.o-ui-badge__count {
    background-color: var(--cloud-100);
    color: var(--marine-900);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* COUNT | SIZES */
.o-ui-badge__count.o-ui-badge--small {
    min-height: 1rem;
    padding: 0 0.625rem 0 0.625rem;
}

.o-ui-badge__count.o-ui-badge--medium {
    min-height: 1.25rem;
    padding: 0 var(--scale-bravo) 0 var(--scale-bravo);
}

.o-ui-badge__count.o-ui-badge--large {
    min-height: 1.5rem;
    padding: 0 var(--scale-delta) 0 var(--scale-delta);
}

/* DOT */
.o-ui-badge__dot {
    background-color: var(--cloud-100);
    border-radius: 999px;
}

/* DOT | SIZES */
.o-ui-badge__dot.o-ui-badge--small {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: var(--type-scale-5);
}

.o-ui-badge__dot.o-ui-badge--medium {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: var(--type-scale-4);
}

.o-ui-badge__dot.o-ui-badge--large {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: 1.75rem;
}

/* ICON | OVERLAP */
.o-ui-badge__icon.o-ui-badge__anchor--over-rectangle {
    top: 4%;
    right: 4%;
}

.o-ui-badge__icon.o-ui-badge__anchor--over-circle {
    top: 18%;
    right: 18%;
}

.o-ui-badge__icon.o-ui-badge__anchor--over-icon {
    top: 20%;
    right: 15%;
}
