.o-ui.floating-badge {
    position: relative;
}

.o-ui.floating-badge .anchored-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
}
