/* CHOICE */
.o-ui-modal-choice-container {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    gap: var(--o-ui-global-scale-golf);
}

.o-ui-modal-choice {
    height: 100%;
}
