.o-ui-lozenge {
    display: inline-flex;
    align-items: center;
    background-color: var(--o-ui-bg-alias-accent-light);
    color: var(--o-ui-text-alias-primary);
    padding: 0 var(--o-ui-sp-2);
    border-radius: 4px;
    font-variation-settings: "wght" 600;
    min-height: var(--o-ui-sz-3);
    line-height: var(--o-ui-sz-3);
    width: max-content;
    height: max-content;
}

/* TEXT */
.o-ui-lozenge-text {
    text-transform: inherit;
}

/* HIGHLIGHT */
.o-ui-lozenge.o-ui-lozenge-highlight {
    background-color: var(--o-ui-bg-alias-accent);
}

/* SIZE */
.o-ui-lozenge-sm {
    min-height: var(--o-ui-sz-2);
    line-height: var(--o-ui-sz-2);
}

.o-ui-lozenge-sm .o-ui-lozenge-text {
    text-transform: uppercase;
}

.o-ui-lozenge-lg {
    min-height: var(--o-ui-sz-4);
    line-height: var(--o-ui-sz-4);
}

/* SIZE */
.o-ui-lozenge-fluid {
    width: 100%;
    justify-content: center;
}

/* CONTENT | ICON */
.o-ui-lozenge-has-icon {
    padding-left: calc(var(--o-ui-sp-2) / 2);
}

.o-ui-lozenge-icon {
    margin-right: 0.125rem;
}

/* INFORMATIVE */
.o-ui-lozenge.o-ui-lozenge-informative {
    background-color: var(--o-ui-bg-alias-accent-light);
}

.o-ui-lozenge.o-ui-lozenge-informative.o-ui-lozenge-highlight {
    background-color: var(--o-ui-bg-alias-accent);
    /* For the icon */
    color: var(--o-ui-white);
}

/* SUCCESS */
.o-ui-lozenge.o-ui-lozenge-positive {
    background-color: var(--o-ui-bg-alias-success-light);
}

.o-ui-lozenge.o-ui-lozenge-positive.o-ui-lozenge-highlight {
    background-color: var(--o-ui-bg-alias-success);
    /* For the icon */
    color: var(--o-ui-white);
}

.o-ui-lozenge.o-ui-lozenge-positive.o-ui-lozenge-highlight .o-ui-lozenge-text {
    color: inherit;
}

.o-ui-lozenge.o-ui-lozenge-positive.o-ui-lozenge-highlight .o-ui-lozenge-icon {
    fill: currentColor;
    color: inherit;
}

/* WARNING */
.o-ui-lozenge.o-ui-lozenge-warning {
    background-color: var(--o-ui-bg-alias-warning-light);
}

.o-ui-lozenge.o-ui-lozenge-warning.o-ui-lozenge-highlight {
    background-color: var(--o-ui-bg-alias-warning);
}

.o-ui-lozenge.o-ui-lozenge-warning.o-ui-lozenge-highlight .o-ui-lozenge-icon {
    fill: currentColor;
    color: inherit;
}

/* NEGATIVE */
.o-ui-lozenge.o-ui-lozenge-negative {
    background-color: var(--o-ui-bg-alias-alert-light);
}

.o-ui-lozenge.o-ui-lozenge-negative.o-ui-lozenge-highlight {
    background-color: var(--o-ui-bg-alias-alert);
    /* For the icon */
    color: var(--o-ui-white);
}

.o-ui-lozenge.o-ui-lozenge-negative.o-ui-lozenge-highlight .o-ui-lozenge-text {
    color: var(--o-ui-white);
}

.o-ui-lozenge.o-ui-lozenge-negative.o-ui-lozenge-highlight .o-ui-lozenge-icon {
    fill: currentColor;
    color: inherit;
}
