.bg-apricot-50 {
    background-color: var(--o-ui-apricot-50);
}

.bg-apricot-100 {
    background-color: var(--o-ui-apricot-100);
}

.bg-apricot-200 {
    background-color: var(--o-ui-apricot-200);
}

.bg-apricot-300 {
    background-color: var(--o-ui-apricot-300);
}

.bg-apricot-400 {
    background-color: var(--o-ui-apricot-400);
}

.bg-apricot-500 {
    background-color: var(--o-ui-apricot-500);
}

.bg-apricot-600 {
    background-color: var(--o-ui-apricot-600);
}

.bg-apricot-700 {
    background-color: var(--o-ui-apricot-700);
}

.bg-apricot-800 {
    background-color: var(--o-ui-apricot-800);
}

.bg-apricot-900 {
    background-color: var(--o-ui-apricot-900);
}

.hover-bg-apricot-50:hover {
    background-color: var(--o-ui-apricot-50);
}

.hover-bg-apricot-100:hover {
    background-color: var(--o-ui-apricot-100);
}

.hover-bg-apricot-200:hover {
    background-color: var(--o-ui-apricot-200);
}

.hover-bg-apricot-300:hover {
    background-color: var(--o-ui-apricot-300);
}

.hover-bg-apricot-400:hover {
    background-color: var(--o-ui-apricot-400);
}

.hover-bg-apricot-500:hover {
    background-color: var(--o-ui-apricot-500);
}

.hover-bg-apricot-600:hover {
    background-color: var(--o-ui-apricot-600);
}

.hover-bg-apricot-700:hover {
    background-color: var(--o-ui-apricot-700);
}

.hover-bg-apricot-800:hover {
    background-color: var(--o-ui-apricot-800);
}

.hover-bg-apricot-900:hover {
    background-color: var(--o-ui-apricot-900);
}

.focus-bg-apricot-50:focus {
    background-color: var(--o-ui-apricot-50);
}

.focus-bg-apricot-100:focus {
    background-color: var(--o-ui-apricot-100);
}

.focus-bg-apricot-200:focus {
    background-color: var(--o-ui-apricot-200);
}

.focus-bg-apricot-300:focus {
    background-color: var(--o-ui-apricot-300);
}

.focus-bg-apricot-400:focus {
    background-color: var(--o-ui-apricot-400);
}

.focus-bg-apricot-500:focus {
    background-color: var(--o-ui-apricot-500);
}

.focus-bg-apricot-600:focus {
    background-color: var(--o-ui-apricot-600);
}

.focus-bg-apricot-700:focus {
    background-color: var(--o-ui-apricot-700);
}

.focus-bg-apricot-800:focus {
    background-color: var(--o-ui-apricot-800);
}

.focus-bg-apricot-900:focus {
    background-color: var(--o-ui-apricot-900);
}
