.fill-apricot-50 {
    fill: var(--o-ui-global-apricot-50);
}

.fill-apricot-100 {
    fill: var(--o-ui-global-apricot-100);
}

.fill-apricot-200 {
    fill: var(--o-ui-global-apricot-200);
}

.fill-apricot-300 {
    fill: var(--o-ui-global-apricot-300);
}

.fill-apricot-400 {
    fill: var(--o-ui-global-apricot-400);
}

.fill-apricot-500 {
    fill: var(--o-ui-global-apricot-500);
}

.fill-apricot-600 {
    fill: var(--o-ui-global-apricot-600);
}

.fill-apricot-700 {
    fill: var(--o-ui-global-apricot-700);
}

.fill-apricot-800 {
    fill: var(--o-ui-global-apricot-800);
}

.fill-apricot-900 {
    fill: var(--o-ui-global-apricot-900);
}

.hover-fill-apricot-50:hover {
    fill: var(--o-ui-global-apricot-50);
}

.hover-fill-apricot-100:hover {
    fill: var(--o-ui-global-apricot-100);
}

.hover-fill-apricot-200:hover {
    fill: var(--o-ui-global-apricot-200);
}

.hover-fill-apricot-300:hover {
    fill: var(--o-ui-global-apricot-300);
}

.hover-fill-apricot-400:hover {
    fill: var(--o-ui-global-apricot-400);
}

.hover-fill-apricot-500:hover {
    fill: var(--o-ui-global-apricot-500);
}

.hover-fill-apricot-600:hover {
    fill: var(--o-ui-global-apricot-600);
}

.hover-fill-apricot-700:hover {
    fill: var(--o-ui-global-apricot-700);
}

.hover-fill-apricot-800:hover {
    fill: var(--o-ui-global-apricot-800);
}

.hover-fill-apricot-900:hover {
    fill: var(--o-ui-global-apricot-900);
}

.focus-fill-apricot-50:focus {
    fill: var(--o-ui-global-apricot-50);
}

.focus-fill-apricot-100:focus {
    fill: var(--o-ui-global-apricot-100);
}

.focus-fill-apricot-200:focus {
    fill: var(--o-ui-global-apricot-200);
}

.focus-fill-apricot-300:focus {
    fill: var(--o-ui-global-apricot-300);
}

.focus-fill-apricot-400:focus {
    fill: var(--o-ui-global-apricot-400);
}

.focus-fill-apricot-500:focus {
    fill: var(--o-ui-global-apricot-500);
}

.focus-fill-apricot-600:focus {
    fill: var(--o-ui-global-apricot-600);
}

.focus-fill-apricot-700:focus {
    fill: var(--o-ui-global-apricot-700);
}

.focus-fill-apricot-800:focus {
    fill: var(--o-ui-global-apricot-800);
}

.focus-fill-apricot-900:focus {
    fill: var(--o-ui-global-apricot-900);
}
