.apricot-50 {
    color: var(--o-ui-apricot-50);
}

.apricot-100 {
    color: var(--o-ui-apricot-100);
}

.apricot-200 {
    color: var(--o-ui-apricot-200);
}

.apricot-300 {
    color: var(--o-ui-apricot-300);
}

.apricot-400 {
    color: var(--o-ui-apricot-400);
}

.apricot-500 {
    color: var(--o-ui-apricot-500);
}

.apricot-600 {
    color: var(--o-ui-apricot-600);
}

.apricot-700 {
    color: var(--o-ui-apricot-700);
}

.apricot-800 {
    color: var(--o-ui-apricot-800);
}

.apricot-900 {
    color: var(--o-ui-apricot-900);
}

.hover-apricot-50:hover {
    color: var(--o-ui-apricot-50);
}

.hover-apricot-100:hover {
    color: var(--o-ui-apricot-100);
}

.hover-apricot-200:hover {
    color: var(--o-ui-apricot-200);
}

.hover-apricot-300:hover {
    color: var(--o-ui-apricot-300);
}

.hover-apricot-400:hover {
    color: var(--o-ui-apricot-400);
}

.hover-apricot-500:hover {
    color: var(--o-ui-apricot-500);
}

.hover-apricot-600:hover {
    color: var(--o-ui-apricot-600);
}

.hover-apricot-700:hover {
    color: var(--o-ui-apricot-700);
}

.hover-apricot-800:hover {
    color: var(--o-ui-apricot-800);
}

.hover-apricot-900:hover {
    color: var(--o-ui-apricot-900);
}

.focus-apricot-50:focus {
    color: var(--o-ui-apricot-50);
}

.focus-apricot-100:focus {
    color: var(--o-ui-apricot-100);
}

.focus-apricot-200:focus {
    color: var(--o-ui-apricot-200);
}

.focus-apricot-300:focus {
    color: var(--o-ui-apricot-300);
}

.focus-apricot-400:focus {
    color: var(--o-ui-apricot-400);
}

.focus-apricot-500:focus {
    color: var(--o-ui-apricot-500);
}

.focus-apricot-600:focus {
    color: var(--o-ui-apricot-600);
}

.focus-apricot-700:focus {
    color: var(--o-ui-apricot-700);
}

.focus-apricot-800:focus {
    color: var(--o-ui-apricot-800);
}

.focus-apricot-900:focus {
    color: var(--o-ui-apricot-900);
}
