/*
 * PRIMARY
 */
@import "../../src/primary/_background.css";
@import "../../src/primary/_text.css";
@import "../../src/primary/_fill.css";

/*
 * APRICOT
 */
@import "../../src/themes/apricot/_background.css";
@import "../../src/themes/apricot/_text.css";
@import "../../src/themes/apricot/_fill.css";

/*
 * DESKTOP
 */
@import "../../src/themes/desktop/_background.css";
@import "../../src/themes/desktop/_text.css";
@import "../../src/themes/desktop/_fill.css";

/*
 * OVERCAST
 */
@import "../../src/themes/overcast/_background.css";
@import "../../src/themes/overcast/_text.css";
@import "../../src/themes/overcast/_fill.css";

/*
 * MOONSTONE
 */
@import "../../src/brand/moonstone/_background.css";
@import "../../src/brand/moonstone/_text.css";
@import "../../src/brand/moonstone/_fill.css";

/*
 * SUNRAY
 */
@import "../../src/brand/sunray/_background.css";
@import "../../src/brand/sunray/_text.css";
@import "../../src/brand/sunray/_fill.css";

/*
 * MARINE
 */
@import "../../src/brand/marine/_background.css";
@import "../../src/brand/marine/_text.css";
@import "../../src/brand/marine/_fill.css";

/*
 * CLOUD
 */
@import "../../src/ui/cloud/_background.css";
@import "../../src/ui/cloud/_text.css";
@import "../../src/ui/cloud/_fill.css";

/*
 * NEUTRAL
 */
@import "../../src/ui/neutral/_background.css";
@import "../../src/ui/neutral/_text.css";
@import "../../src/ui/neutral/_fill.css";


/*
 * ALERT
 */
@import "../../src/ui/alert/_background.css";
@import "../../src/ui/alert/_text.css";
@import "../../src/ui/alert/_fill.css";

/* SUCCESS */
@import "../../src/ui/success/_background.css";
@import "../../src/ui/success/_text.css";
@import "../../src/ui/success/_fill.css";

/*
 * WHITE
 */
@import "../../src/ui/white/_background.css";
@import "../../src/ui/white/_text.css";
@import "../../src/ui/white/_fill.css";

/*
 * UTILS
 */
@import "../../src/core/_skins";
