.container {
    padding-left: var(--scale-charlie) !important;
}

.icon {
    line-height: 1;
    margin-right: var(--scale-bravo);
}

.inline .icon {
    position: relative;
    top: -3px;
}

.content {
    line-height: 1;
}

.content > p:first-child {
    margin-top: 0;
}
