:root {
    --o-ui-listbox-option-height: var(--o-ui-scale-golf);
}

.o-ui-listbox {
    width: max-content;
    max-width: 325px;
    max-height: calc(10 * var(--o-ui-listbox-option-height));
    overflow-y: auto;
    background-color: var(--o-ui-background-1);
    outline: none;
    border-radius: var(--o-ui-rounded-border-radius);
    box-shadow: var(--o-ui-shadow-100);
    border: 1px solid var(--o-ui-border-2);
}

.o-ui-listbox-fluid {
    width: 100%;
    max-width: 100%;
}

.o-ui-listbox-option {
    height: var(--o-ui-listbox-option-height);
    padding-right: var(--o-ui-scale-foxtrot);
    padding-left: var(--o-ui-scale-foxtrot);
    display: flex;
    align-items: center;
    position: relative;
}

.o-ui-listbox-option[aria-selected="true"]::before {
    content: "";
    width: var(--o-ui-scale-charlie);
    height: var(--o-ui-scale-charlie);
    mask: url("~@orbit-ui/icons/dist/icon-check-24.svg") center center no-repeat;
    mask-size: var(--o-ui-scale-charlie) var(--o-ui-scale-charlie);
    background-color: currentColor;
    position: absolute;
    left: 6px;
}

.o-ui-listbox-option[aria-disabled="true"] {
    opacity: var(--o-ui-disabled-opacity);
}

.o-ui-listbox-option-description {
    color: var(--o-ui-text-2);
    margin-left: var(--o-ui-scale-bravo);
    cursor: default;
}

.o-ui-listbox-option:focus {
    background-color: var(--o-ui-background-primary-1);
    color: var(--o-ui-static-white);
    outline: none;
}

.o-ui-listbox-option:not([aria-disabled="true"]):hover {
    background-color: var(--o-ui-background-primary-1);
    color: var(--o-ui-static-white);
}

.o-ui-listbox-section {
    font-weight: 500;
    padding-left: var(--o-ui-scale-echo);
    margin: var(--o-ui-scale-bravo) 0;
    cursor: default;
}

/* LABEL */
.o-ui-listbox-option-label {
    cursor: default;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* END ICON */
.o-ui-listbox-option-end-icon {
    margin-left: var(--o-ui-scale-alpha);
}

/* START ICON */
.o-ui-listbox-option-start-icon {
    margin-right: var(--o-ui-scale-alpha);
}

/* SELECT LISTBOX */
