/*
IMPORTANT: The Listbox component hardcoded a few CSS values to enable dynamic scrollable size, do not remove or rename them:
    - Classes: "o-ui-listbox-option" and "o-ui-listbox-section"
*/

#o-ui {
    --o-ui-listbox-border-size: 1px;
    --o-ui-listbox-option-height: var(--o-ui-sp-7);
    --o-ui-listbox-option-checkmark-size: var(--o-ui-sp-3);
}

.o-ui-listbox {
    width: max-content;
    max-width: 325px;
    overflow-y: auto;
    background-color: var(--o-ui-bg-alias-1);
    outline: none;
    border-radius: var(--o-ui-shape-rounded);
    box-shadow: var(--o-ui-bs-alias-lifted);
    border: var(--o-ui-listbox-border-size) solid var(--o-ui-b-alias-2);
}

/* FLUID */
.o-ui-listbox-fluid {
    width: 100%;
    max-width: 100%;
}

/* OPTION */
.o-ui-listbox-option {
    height: var(--o-ui-listbox-option-height);
    padding-right: var(--o-ui-sp-8);
    padding-left: var(--o-ui-sp-3);
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
}

/* OPTION | DESCRIPTION */
.o-ui-listbox-option.o-ui-listbox-option-has-description {
    --o-ui-listbox-option-height: var(--o-ui-sp-9);
    display: grid;
    overflow-x: hidden;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
    grid-auto-flow: column;
    grid-template-areas:
        "aside label"
        "aside description";
    align-content: center;
}

/* OPTION | DESCRIPTION */
.o-ui-listbox-option-description {
    color: var(--o-ui-text-alias-2);
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: description;
    justify-self: start;
    width: 100%;
}

/* OPTION | STATE | SELECTED */
.o-ui-listbox-option[aria-selected="true"]::before {
    content: "";
    width: var(--o-ui-listbox-option-checkmark-size);
    height: var(--o-ui-listbox-option-checkmark-size);
    mask: url("~@orbit-ui/icons/dist/icon-check-24.svg") center center no-repeat;
    mask-size: var(--o-ui-listbox-option-checkmark-size) var(--o-ui-listbox-option-checkmark-size);
    background-color: var(--o-ui-bg-alias-primary-1);
    position: absolute;
    right: 1rem;
}

/* OPTION | STATE | DISABLED */
.o-ui-listbox-option[aria-disabled="true"] {
    opacity: var(--o-ui-disabled-opacity);
}

/* OPTION | STATE | FOCUS */
.o-ui-listbox-option:focus,
.o-ui-listbox-option-focus,
.o-ui-listbox-option.o-ui-focus {
    background-color: var(--o-ui-bg-alias-4);
    outline: none;
}

/* OPTION | STATE | FOCUS | SELECTOR BAR */
.o-ui-listbox-option:focus:after,
.o-ui-listbox-option-focus:after,
.o-ui-listbox-option.o-ui-focus:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: var(--o-ui-listbox-option-height);
    width: 2px;
    background-color: var(--o-ui-b-alias-primary-1);
}

/* OPTION | STATE | HOVER */
.o-ui-listbox-option:not([aria-disabled="true"]):not(.o-ui-listbox-option-no-hover):hover,
.o-ui-listbox-option-hover:not([aria-disabled="true"]) {
    background-color: var(--o-ui-bg-alias-4);
}

/* OPTION | STATE | INVALID */
.o-ui-listbox-invalid .o-ui-listbox-option[aria-selected="true"] .o-ui-listbox-option-label,
.o-ui-listbox-invalid .o-ui-listbox-option[aria-selected="true"] .o-ui-listbox-option-description {
    color: var(--o-ui-text-alias-negative-1);
}

.o-ui-listbox-invalid .o-ui-listbox-option[aria-selected="true"] .o-ui-listbox-option-start-icon,
.o-ui-listbox-invalid .o-ui-listbox-option[aria-selected="true"] .o-ui-listbox-option-end-icon {
    fill: var(--o-ui-text-alias-negative-1);
}

.o-ui-listbox-invalid .o-ui-listbox-option[aria-selected="true"]::before {
    background-color: var(--o-ui-text-alias-negative-1);
}

/* OPTION | STATE | INVALID | FOCUS | SELECTOR BAR */
.o-ui-listbox-invalid .o-ui-listbox-option:focus:after,
.o-ui-listbox-invalid .o-ui-listbox-option-focus:after,
.o-ui-listbox-invalid .o-ui-listbox-option.o-ui-focus:after {
    background-color: var(--o-ui-text-alias-negative-1);
}

/* OPTION | ICONS */
/* OPTION | ICONS | START ICON */
.o-ui-listbox-option-start-icon {
    margin-right: var(--o-ui-sp-1);
    grid-area: aside;
}

/* OPTION | WITH DESCRIPTION | ICONS | START ICON */
.o-ui-listbox-option-has-description .o-ui-listbox-option-start-icon {
    margin-right: var(--o-ui-sp-2);
    align-self: start;
}

/* OPTION | ICONS | END ICON */
.o-ui-listbox-option-end-icon {
    margin-left: var(--o-ui-sp-1);
}

/* SECTION */
.o-ui-listbox-section {
    display: flex;
    font-variation-settings: "wght" 500;
    padding-left: var(--o-ui-sp-3);
    cursor: default;
    line-height: var(--o-ui-lh-1);
    height: var(--o-ui-listbox-option-height);
    color: var(--o-ui-text-alias-3);
    text-transform: uppercase;
    font-size: var(--o-ui-fs-2);
    align-items: center;
}

/* LABEL */
.o-ui-listbox-option-label {
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: var(--o-ui-lh-2);
    justify-self: start;
}

.o-ui-listbox-option-has-description .o-ui-listbox-option-label {
    grid-area: label;
    width: 100%;
}

/* AVATAR */
.o-ui-listbox-option-avatar {
    margin-right: var(--o-ui-sp-2);
    grid-area: aside;
}
