.o-ui-form:not(.o-ui-form-fluid) {
    width: max-content;
}

/* FIELD */
.o-ui-form .o-ui-field {
    margin-bottom: var(--scale-echo);
}

/* FLUID */
.o-ui-form-fluid {
    width: 100%;
}

/* FIELDSET */
.o-ui-form fieldset {
    margin-bottom: 20px;
    padding: 0;
    border: none;
}

.o-ui-form fieldset legend {
    margin-bottom: var(--scale-alpha);
    font-size: var(--type-scale-6);
}

.o-ui-form fieldset .o-ui-form-field:last-child {
    margin-bottom: 0;
}
