.o-ui-form {
    display: grid;
    gap: var(--scale-echo);
    justify-items: start;
}

.o-ui-form .o-ui-form-field {
    margin-bottom: 20px;
}

.o-ui-form-fluid {
    width: 100%;
}

/* Move? */
.o-ui-form > div:not(.o-ui-field) {
    display: contents;
}
