/* SIZE */
.o-ui-text-xs {
    font-size: var(--o-ui-font-sizes-1);
    line-height: var(--o-ui-line-heights-2);
}

.o-ui-text-sm {
    font-size: var(--o-ui-font-sizes-2);
    line-height: var(--o-ui-line-heights-4);
}

.o-ui-text-md {
    font-size: var(--o-ui-font-sizes-3);
    line-height: var(--o-ui-line-heights-5);
}

.o-ui-text-lg {
    font-size: var(--o-ui-font-sizes-4);
    line-height: var(--o-ui-line-heights-6);
}

.o-ui-text-xl {
    font-size: var(--o-ui-font-sizes-5);
    line-height: var(--o-ui-line-heights-4);
}

.o-ui-text-2xl {
    font-size: var(--o-ui-font-sizes-6);
    line-height: var(--o-ui-line-heights-5);
}

.o-ui-text-3xl {
    font-size: var(--o-ui-font-sizes-7);
    line-height: var(--o-ui-line-heights-5);
}

.o-ui-text-4xl {
    font-size: var(--o-ui-font-sizes-8);
    line-height: var(--o-ui-line-heights-3);
}

.o-ui-text-5xl {
    font-size: var(--o-ui-font-sizes-9);
    line-height: var(--o-ui-line-heights-2);
}

.o-ui-text-inherit-size {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

.o-ui-text-inherit-color {
    color: inherit;
}
