.o-ui-tag {
    --o-ui-padding-sm: var(--o-ui-global-scale-delta);
    --o-ui-padding-md: var(--o-ui-global-scale-echo);
    border: none;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    color: var(--o-ui-alias-text-1);
    border-radius: var(--o-ui-shape-pill);
    transition: all 0.1s linear;
    width: max-content;
    height: max-content;
}

/* AS BUTTON */
button.o-ui-tag {
    cursor: pointer;
}

/* AS ANCHOR / BUTTON  */
button.o-ui-tag,
a.o-ui-tag {
    position: relative;
    text-decoration: none;
}

button.o-ui-tag:after,
a.o-ui-tag:after {
    opacity: 0;
    content: "";
    top: calc(-1 * var(--o-ui-focus-ring-outset-outer-offset));
    left: calc(-1 * var(--o-ui-focus-ring-outset-outer-offset));
    right: calc(-1 * var(--o-ui-focus-ring-outset-outer-offset));
    bottom: calc(-1 * var(--o-ui-focus-ring-outset-outer-offset));
    display: block;
    position: absolute;
    box-shadow: 0 0 0 2px var(--o-ui-focus-ring-color);
    border-radius: var(--o-ui-shape-pill);
    transition: var(--o-ui-focus-ring-transition);
}

/* AS ANCHOR / BUTTON | STATE | FOCUS */
button:not([disabled]).o-ui-tag:focus:after,
a:not([disabled]).o-ui-tag:focus:after,
button:not([disabled]).o-ui-tag.o-ui-tag-focus:after,
a:not([disabled]).o-ui-tag.o-ui-tag-focus:after {
    opacity: 1;
}

/* AS BUTTON | STATES */
/* AS BUTTON | STATES | HOVER */
button.o-ui-tag:hover {
    background-color: var(--o-ui-alias-background-2);
}

/* AS ANCHOR */
/* AS ANCHOR | STATES */
/* AS ANCHOR | STATES | HOVER */
a.o-ui-tag:hover {
    background-color: var(--o-ui-alias-background-2);
}

/* SIZE */
/* SIZE | SMALL */
.o-ui-tag-sm {
    min-height: var(--o-ui-global-scale-golf);
    padding: 0 var(--o-ui-padding-sm);
}

/* SIZE */
/* SIZE | MEDIUM */
.o-ui-tag-md {
    min-height: var(--o-ui-global-scale-hotel);
    padding: 0 var(--o-ui-padding-md);
}

/* FLUID */
.o-ui-tag-fluid {
    width: 100%;
    text-align: center;
}

/* SOLID */
.o-ui-tag-solid {
    background-color: var(--o-ui-alias-background-3);
}

/* SOLID | AS ANCHOR / BUTTON | STATES */
/* SOLID | AS ANCHOR / BUTTON | STATES | HOVER */
button.o-ui-tag-solid:hover,
a.o-ui-tag-solid:hover,
button.o-ui-tag-solid.o-ui-tag-hover,
a.o-ui-tag-solid.o-ui-tag-hover {
    background-color: var(--o-ui-alias-background-2);
}

button.o-ui-tag:hover,
a.o-ui-tag:hover {
    background-color: var(--o-ui-alias-background-2);
}

/* SOLID | AS ANCHOR / BUTTON | STATES | ACTIVE */
button.o-ui-tag-solid:active,
a.o-ui-tag-solid:active,
button.o-ui-tag-solid.o-ui-tag-active,
a.o-ui-tag-solid.o-ui-tag-active {
    background-color: var(--o-ui-alias-background-2-hover);
}

/* SOLID | AS ANCHOR / BUTTON | STATES | FOCUS */
button.o-ui-tag-solid:focus,
a.o-ui-tag-solid:focus,
button.o-ui-tag-solid.o-ui-tag-focus,
a.o-ui-tag-solid.o-ui-tag-focus {
    outline: none;
}

/* SOLID | AS ANCHOR / BUTTON | STATES | DISABLED */
button.o-ui-tag-solid[disabled],
button.o-ui-tag-solid.o-ui-tag-disabled,
a.o-ui-tag-solid[disabled],
a.o-ui-tag-solid.o-ui-tag-disabled {
    cursor: not-allowed;
    opacity: var(--o-ui-disabled-opacity);
}

/* SOLID | AS ANCHOR / BUTTON | STATES | DISABLED | HOVER */
button.o-ui-tag-solid[disabled]:hover,
button.o-ui-tag-solid.o-ui-tag-disabled:hover,
button.o-ui-tag-solid[disabled].o-ui-tag-hover,
button.o-ui-tag-solid.o-ui-tag-disabled.o-ui-tag-hover,
a.o-ui-tag-solid[disabled]:hover,
a.o-ui-tag-solid.o-ui-tag-disabled:hover,
a.o-ui-tag-solid[disabled].o-ui-tag-hover,
a.o-ui-tag-solid.o-ui-tag-disabled.o-ui-tag-hover {
    background-color: var(--o-ui-global-background-3);
}

/* SOLID | AS ANCHOR / BUTTON | STATES | DISABLED | FOCUS */
button.o-ui-tag-solid[disabled]:focus,
button.o-ui-tag-solid.o-ui-tag-disabled:focus,
button.o-ui-tag-solid[disabled].o-ui-tag-focus,
button.o-ui-tag-solid.o-ui-tag-disabled.o-ui-tag-focus,
a.o-ui-tag-solid[disabled]:focus,
a.o-ui-tag-solid.o-ui-tag-disabled:focus,
a.o-ui-tag-solid[disabled].o-ui-tag-focus,
a.o-ui-tag-solid.o-ui-tag-disabled.o-ui-tag-focus {
    box-shadow: none;
}

/* OUTLINE */
.o-ui-tag-outline {
    background-color: var(--o-ui-alias-background-1);
    box-shadow: 0 0 0 1px var(--o-ui-alias-border-1) inset;
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES */
/* OUTLINE | AS ANCHOR / BUTTON | STATES | HOVER */
button.o-ui-tag-outline:hover,
a.o-ui-tag-outline:hover,
button.o-ui-tag-outline.o-ui-tag-hover,
a.o-ui-tag-outline.o-ui-tag-hover {
    background-color: transparent;
    box-shadow: 0 0 0 1px var(--o-ui-alias-border-1-hover) inset;
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES | ACTIVE */
button.o-ui-tag-outline:active,
a.o-ui-tag-outline:active,
button.o-ui-tag-outline.o-ui-tag-active,
a.o-ui-tag-outline.o-ui-tag-active {
    background-color: transparent;
    box-shadow: 0 0 0 1px var(--o-ui-alias-border-1-active) inset;
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES | FOCUS */
button.o-ui-tag-outline:focus,
a.o-ui-tag-outline:focus,
button.o-ui-tag-outline.o-ui-tag-focus,
a.o-ui-tag-outline.o-ui-tag-focus {
    outline: none;
    background-color: transparent;
    box-shadow: 0 0 0 var(--o-ui-focus-ring-thickness-sm) var(--o-ui-alias-border-1) inset;
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES | FOCUS & ACTIVE */
a.o-ui-tag-outline:focus:active,
a.o-ui-tag-outline.o-ui-tag-focus:active,
a.o-ui-tag-outline:focus.o-ui-tag-active,
a.o-ui-tag-outline.o-ui-tag-focus.o-ui-tag-active
button.o-ui-tag-outline:focus:active,
button.o-ui-tag-outline.o-ui-tag-focus:active,
button.o-ui-tag-outline:focus.o-ui-tag-active,
button.o-ui-tag-outline.o-ui-tag-focus.o-ui-tag-active {
    box-shadow: 0 0 0 1px var(--o-ui-alias-border-1-active) inset;
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES | FOCUS & HOVER */
a.o-ui-tag-outline:hover:focus,
a.o-ui-tag-outline.o-ui-tag-hover:focus,
a.o-ui-tag-outline:hover.o-ui-tag-focus,
a.o-ui-tag-outline.o-ui-tag-hover.o-ui-tag-focus,
button.o-ui-tag-outline:hover:focus,
button.o-ui-tag-outline.o-ui-tag-hover:focus,
button.o-ui-tag-outline:hover.o-ui-tag-focus,
button.o-ui-tag-outline.o-ui-tag-hover.o-ui-tag-focus {
    box-shadow: 0 0 0 1px var(--o-ui-alias-border-1-hover) inset;
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES | FOCUS & HOVER & ACTIVE */
a.o-ui-tag-outline:hover:focus:active,
a.o-ui-tag-outline.o-ui-tag-hover:focus:active,
a.o-ui-tag-outline:hover.o-ui-tag-focus:active,
a.o-ui-tag-outline.o-ui-tag-hover.o-ui-tag-focus:active,
a.o-ui-tag-outline.o-ui-tag-active:hover:focus,
a.o-ui-tag-outline.o-ui-tag-active.o-ui-tag-hover:focus,
a.o-ui-tag-outline.o-ui-tag-active:hover.o-ui-tag-focus,
a.o-ui-tag-outline.o-ui-tag-active.o-ui-tag-hover.o-ui-tag-focus,
button.o-ui-tag-outline:hover:focus:active,
button.o-ui-tag-outline.o-ui-tag-hover:focus:active,
button.o-ui-tag-outline:hover.o-ui-tag-focus:active,
button.o-ui-tag-outline.o-ui-tag-hover.o-ui-tag-focus:active,
button.o-ui-tag-outline.o-ui-tag-active:hover:focus,
button.o-ui-tag-outline.o-ui-tag-active.o-ui-tag-hover:focus,
button.o-ui-tag-outline.o-ui-tag-active:hover.o-ui-tag-focus,
button.o-ui-tag-outline.o-ui-tag-active.o-ui-tag-hover.o-ui-tag-focus{
    box-shadow: 0 0 0 1px var(--o-ui-alias-border-1-active) inset;
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES | DISABLED */
button.o-ui-tag-outline[disabled],
a.o-ui-tag-outline[disabled],
button.o-ui-tag-outline.o-ui-tag-disabled,
a.o-ui-tag-outline.o-ui-tag-disabled {
    opacity: var(--o-ui-disabled-opacity);
    cursor: not-allowed;
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES | DISABLED | FOCUS */
button.o-ui-tag-outline[disabled]:focus,
a.o-ui-tag-outline[disabled]:focus,
button.o-ui-tag-outline.o-ui-tag-disabled:focus,
a.o-ui-tag-outline.o-ui-tag-disabled:focus,
button.o-ui-tag-outline[disabled].o-ui-tag-focus,
a.o-ui-tag-outline[disabled].o-ui-tag-focus,
button.o-ui-tag-outline.o-ui-tag-disabled.o-ui-tag-focus,
a.o-ui-tag-outline.o-ui-tag-disabled.o-ui-tag-focus {
    box-shadow: 0 0 0 var(--o-ui-focus-ring-thickness-sm) var(--o-ui-alias-background-2) inset;
}

/* OUTLINE | AS ANCHOR / BUTTON | STATES | DISABLED | HOVER */
button.o-ui-tag-outline[disabled]:hover,
a.o-ui-tag-outline[disabled]:hover,
button.o-ui-tag-outline.o-ui-tag-disabled:hover,
a.o-ui-tag-outline.o-ui-tag-disabled:hover,
button.o-ui-tag-outline[disabled].o-ui-tag-hover,
a.o-ui-tag-outline[disabled].o-ui-tag-hover,
button.o-ui-tag-outline.o-ui-tag-disabled.o-ui-tag-hover,
a.o-ui-tag-outline.o-ui-tag-disabled.o-ui-tag-hover {
    box-shadow: 0 0 0 1px var(--o-ui-alias-border-1) inset;
    cursor: not-allowed;
}

/* CONTENT | DOT */
.o-ui-tag:not(.o-ui-tag-fluid) .o-ui-tag-dot {
    margin-right: var(--o-ui-global-scale-bravo);
}

/* CONTENT | START ICON */
.o-ui-tag:not(.o-ui-tag-fluid) .o-ui-tag-start-icon {
    margin-right: var(--o-ui-global-scale-alpha);
}

/* CONTENT | START ICON | SMALL */
.o-ui-tag-has-start-icon.o-ui-tag-sm {
    padding-left: calc(var(--o-ui-padding-sm) / 1.5);
}

/* CONTENT | START ICON | MEDIUM */
.o-ui-tag-has-start-icon.o-ui-tag-md {
    padding-left: calc(var(--o-ui-padding-md) / 1.5);
}

/* CONTENT | END ICON */
.o-ui-tag:not(.o-ui-tag-fluid) .o-ui-tag-end-icon {
    margin-left: var(--o-ui-global-scale-alpha);
}

/* CONTENT | END ICON | SMALL */
.o-ui-tag-has-end-icon.o-ui-tag-sm {
    padding-right: calc(var(--o-ui-padding-sm) / 1.5);
}

/* CONTENT | END ICON | MEDIUM */
.o-ui-tag-has-end-icon.o-ui-tag-md {
    padding-right: calc(var(--o-ui-padding-md) / 1.5);
}

/* CONTENT | TEXT */
.o-ui-tag-text {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* CONTENT | REMOVE BUTTON */
.o-ui-tag-remove-button {
    margin-left: var(--o-ui-global-scale-alpha);
}

/* CONTENT | REMOVE BUTTON | SMALL */
.o-ui-tag-has-remove-button.o-ui-tag-sm {
    padding-right: calc(var(--o-ui-padding-sm) / 1.5);
}

/* CONTENT | REMOVE BUTTON | MEDIUM */
.o-ui-tag-has-remove-button.o-ui-tag-md {
    padding-right: calc(var(--o-ui-padding-md) / 1.5);
}
