.o-ui-tag-list {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.o-ui-tag-list-item,
.o-ui-tag-list-clear-button {
    margin-right: var(--o-ui-global-scale-bravo);
    margin-bottom: var(--o-ui-global-scale-bravo);
}
