/* NORMALIZE */
body {
    font-family: "TT Interphases Variable", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

@media not (prefers-reduced-motion) {
    body {
        scroll-behavior: smooth;
    }
}
