.hover-b--transparent:hover{
    border-color: var(--transparent);
}

.hover-b--inherit:hover {
    border-color: inherit;
}

.focus-b--transparent:focus {
    border-color: var(--transparent);
}

.focus-b--inherit:focus {
    border-color: inherit;
}
