/*

   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

*/

.b--white {
    border-color: var(--white);
}

/* Brand */
.b--marine-50 {
    border-color: var(--marine-50);
}

.b--marine-100 {
    border-color: var(--marine-100);
}

.b--marine-200 {
    border-color: var(--marine-200);
}

.b--marine-300 {
    border-color: var(--marine-300);
}

.b--marine-400 {
    border-color: var(--marine-400);
}

.b--marine-500 {
    border-color: var(--marine-500);
}

.b--marine-600 {
    border-color: var(--marine-600);
}

.b--marine-700 {
    border-color: var(--marine-700);
}

.b--marine-800 {
    border-color: var(--marine-800);
}

.b--marine-900 {
    border-color: var(--marine-900);
}

.b--sunray-50 {
    border-color: var(--sunray-50);
}

.b--sunray-100 {
    border-color: var(--sunray-100);
}

.b--sunray-200 {
    border-color: var(--sunray-200);
}

.b--sunray-300 {
    border-color: var(--sunray-300);
}

.b--sunray-400 {
    border-color: var(--sunray-400);
}

.b--sunray-500 {
    border-color: var(--sunray-500);
}

.b--sunray-600 {
    border-color: var(--sunray-600);
}

.b--sunray-700 {
    border-color: var(--sunray-700);
}

.b--sunray-800 {
    border-color: var(--sunray-800);
}

.b--sunray-900 {
    border-color: var(--sunray-900);
}

.b--moonstone-50 {
    border-color: var(--moonstone-50);
}

.b--moonstone-100 {
    border-color: var(--moonstone-100);
}

.b--moonstone-200 {
    border-color: var(--moonstone-200);
}

.b--moonstone-300 {
    border-color: var(--moonstone-300);
}

.b--moonstone-400 {
    border-color: var(--moonstone-400);
}

.b--moonstone-500 {
    border-color: var(--moonstone-500);
}

.b--moonstone-600 {
    border-color: var(--moonstone-600);
}

.b--moonstone-700 {
    border-color: var(--moonstone-700);
}

.b--moonstone-800 {
    border-color: var(--moonstone-800);
}

.b--moonstone-900 {
    border-color: var(--moonstone-900);
}

.b--cloud-50 {
    border-color: var(--cloud-50);
}

.b--cloud-100 {
    border-color: var(--cloud-100);
}

.b--cloud-200 {
    border-color: var(--cloud-200);
}

.b--cloud-300 {
    border-color: var(--cloud-300);
}

.b--cloud-400 {
    border-color: var(--cloud-400);
}

.b--cloud-500 {
    border-color: var(--cloud-500);
}

.b--cloud-600 {
    border-color: var(--cloud-600);
}

.b--cloud-700 {
    border-color: var(--cloud-700);
}

.b--cloud-800 {
    border-color: var(--cloud-800);
}

.b--cloud-900 {
    border-color: var(--cloud-900);
}

.b--alert-50 {
    border-color: var(--alert-50);
}

.b--alert-100 {
    border-color: var(--alert-100);
}

.b--alert-200 {
    border-color: var(--alert-200);
}

.b--alert-300 {
    border-color: var(--alert-300);
}

.b--alert-400 {
    border-color: var(--alert-400);
}

.b--alert-500 {
    border-color: var(--alert-500);
}

.b--alert-600 {
    border-color: var(--alert-600);
}

.b--alert-700 {
    border-color: var(--alert-700);
}

.b--alert-800 {
    border-color: var(--alert-800);
}

.b--alert-900 {
    border-color: var(--alert-900);
}

.b--success-50 {
    border-color: var(--success-50);
}

.b--success-100 {
    border-color: var(--success-100);
}

.b--success-200 {
    border-color: var(--success-200);
}

.b--success-300 {
    border-color: var(--success-300);
}

.b--success-400 {
    border-color: var(--success-400);
}

.b--success-500 {
    border-color: var(--success-500);
}

.b--success-600 {
    border-color: var(--success-600);
}

.b--success-700 {
    border-color: var(--success-700);
}

.b--success-800 {
    border-color: var(--success-800);
}

.b--success-900 {
    border-color: var(--success-900);
}

/* Vendors */
.b--outlook {
    border-color: var(--outlook);
}

.b--sharepoint {
    border-color: var(--sharepoint);
}

.b--teams {
    border-color: var(--teams);
}

.b--planner {
    border-color: var(--planner);
}

.b--one-drive {
    border-color: var(--one-drive);
}

.b--transparent {
    border-color: var(--transparent);
}

.b--inherit {
    border-color: inherit;
}

/* Allows to reference a primary */

.b--primary-50 {
    border-color: var(--primary-50);
}

.b--primary-100 {
    border-color: var(--primary-100);
}

.b--primary-200 {
    border-color: var(--primary-200);
}

.b--primary-300 {
    border-color: var(--primary-300);
}

.b--primary-400 {
    border-color: var(--primary-400);
}

.b--primary-500 {
    border-color: var(--primary-500);
}

.b--primary-600 {
    border-color: var(--primary-600);
}

.b--primary-700 {
    border-color: var(--primary-700);
}

.b--primary-800 {
    border-color: var(--primary-800);
}

.b--primary-900 {
    border-color: var(--primary-900);
}
