.bs-content-box {
    box-sizing: content-box;
}

@media (--breakpoint-not-small) {
    .bs-content-box-ns {
        box-sizing: content-box;
    }
}

@media (--breakpoint-medium) {
    .bs-content-box-m {
        box-sizing: content-box;
    }
}

@media (--breakpoint-large) {
    .bs-content-box-l {
        box-sizing: content-box;
    }
}
