.shadow-100 {
    box-shadow: var(--o-ui-shadow-100);
}

.shadow-200 {
    box-shadow: var(--o-ui-shadow-200);
}

.shadow-300 {
    box-shadow: var(--o-ui-shadow-300);
}

.shadow-400 {
    box-shadow: var(--o-ui-shadow-400);
}

@media (--breakpoint-not-small) {
    .shadow-100-ns {
        box-shadow: var(--o-ui-shadow-100);
    }
    .shadow-200-ns {
        box-shadow: var(--o-ui-shadow-200);
    }
    .shadow-300-ns {
        box-shadow: var(--o-ui-shadow-300);
    }
    .shadow-400-ns {
        box-shadow: var(--o-ui-shadow-400);
    }
}

@media (--breakpoint-medium) {
    .shadow-100-ns {
        box-shadow: var(--o-ui-shadow-100);
    }
    .shadow-200-m {
        box-shadow: var(--o-ui-shadow-300);
    }
    .shadow-300-m {
        box-shadow: var(--o-ui-shadow-300);
    }
    .shadow-400-m {
        box-shadow: var(--o-ui-shadow-400);
    }
}

@media (--breakpoint-large) {
    .shadow-100-l {
        box-shadow: var(--o-ui-shadow-100);
    }
    .shadow-200-l {
        box-shadow: var(--o-ui-shadow-200);
    }
    .shadow-300-l {
        box-shadow: var(--o-ui-shadow-300);
    }
    .shadow-400-l {
        box-shadow: var(--o-ui-shadow-400);
    }
}
