/*

  BOX-SHADOW
  Docs: http://tachyons.io/docs/themes/box-shadow/

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

 */

.shadow-100 {
    box-shadow: var(--shadow-100);
}

.shadow-200 {
    box-shadow: var(--shadow-200);
}

@media (--breakpoint-not-small) {
    .shadow-100-ns {
        box-shadow: var(--shadow-100);
    }
    .shadow-200-ns {
        box-shadow: var(--shadow-200);
    }
}

@media (--breakpoint-medium) {
    .shadow-100-m {
        box-shadow: var(--shadow-100);
    }
    .shadow-200-m {
        box-shadow: var(--shadow-200);
    }
}

@media (--breakpoint-large) {
    .shadow-100-l {
        box-shadow: var(--shadow-100);
    }
    .shadow-200-l {
        box-shadow: var(--shadow-200);
    }
}
