.hover-shadow-100:hover {
    box-shadow: var(--o-ui-shadow-100);
}
.hover-shadow-200:hover {
    box-shadow: var(--o-ui-shadow-200);
}
.hover-shadow-300:hover {
    box-shadow: var(--o-ui-shadow-300);
}
.hover-shadow-400:hover {
    box-shadow: var(--o-ui-shadow-400);
}

@media (--breakpoint-not-small) {
    .hover-shadow-100-ns:hover {
        box-shadow: var(--o-ui-shadow-100);
    }
    .hover-shadow-200-ns:hover {
        box-shadow: var(--o-ui-shadow-200);
    }
    .hover-shadow-300-ns:hover {
        box-shadow: var(--o-ui-shadow-300);
    }
    .hover-shadow-400-ns:hover {
        box-shadow: var(--o-ui-shadow-400);
    }
}

@media (--breakpoint-medium) {
    .hover-shadow-100-m:hover {
        box-shadow: var(--o-ui-shadow-100);
    }
    .hover-shadow-200-m:hover {
        box-shadow: var(--o-ui-shadow-200);
    }
    .hover-shadow-300-m:hover {
        box-shadow: var(--o-ui-shadow-300);
    }
    .hover-shadow-400-m:hover {
        box-shadow: var(--o-ui-shadow-400);
    }
}

@media (--breakpoint-large) {
    .hover-shadow-100-l:hover {
        box-shadow: var(--o-ui-shadow-100);
    }
    .hover-shadow-200-l:hover{
        box-shadow: var(--o-ui-shadow-200);
    }
    .hover-shadow-300-l:hover {
        box-shadow: var(--o-ui-shadow-300);
    }
    .hover-shadow-400-l:hover{
        box-shadow: var(--o-ui-shadow-400);
    }
}

.focus-shadow-100:focus {
    box-shadow: var(--o-ui-shadow-100);
}
.focus-shadow-200:focus {
    box-shadow: var(--o-ui-shadow-200);
}
.focus-shadow-300:focus {
    box-shadow: var(--o-ui-shadow-300);
}

.focus-shadow-400:focus {
    box-shadow: var(--o-ui-shadow-400);
}

@media (--breakpoint-not-small) {
    .focus-shadow-100-ns:focus {
        box-shadow: var(--o-ui-shadow-100);
    }
    .focus-shadow-200-ns:focus {
        box-shadow: var(--o-ui-shadow-200);
    }
    .focus-shadow-300-ns:focus {
        box-shadow: var(--o-ui-shadow-300);
    }
    .focus-shadow-400-ns:focus {
        box-shadow: var(--o-ui-shadow-400);
    }
}

@media (--breakpoint-medium) {
    .focus-shadow-100-m:focus {
        box-shadow: var(--o-ui-shadow-100);
    }
    .focus-shadow-200-m:focus {
        box-shadow: var(--o-ui-shadow-200);
    }
    .focus-shadow-300-m:focus {
        box-shadow: var(--o-ui-shadow-300);
    }
    .focus-shadow-400-m:focus {
        box-shadow: var(--o-ui-shadow-400);
    }
}

@media (--breakpoint-large) {
    .focus-shadow-100-l:focus {
        box-shadow: var(--o-ui-shadow-100);
    }
    .focus-shadow-200-l:focus{
        box-shadow: var(--o-ui-shadow-200);
    }
    .focus-shadow-300-l:focus {
        box-shadow: var(--o-ui-shadow-300);
    }
    .focus-shadow-400-l:focus{
        box-shadow: var(--o-ui-shadow-400);
    }
}
