.crsr-not-allowed {
    cursor: not-allowed;
}

@media (--breakpoint-not-small) {
    .crsr-not-allowed-ns {
        cursor: not-allowed;
    }
}

@media (--breakpoint-medium) {
    .crsr-not-allowed-m {
        cursor: not-allowed;
    }
}

@media (--breakpoint-large) {
    .crsr-not-allowed-l {
        cursor: not-allowed;
    }
}
