.normal {
    font-weight: normal;
}

.b {
    font-weight: bold;
}

.fw1 {
    font-variation-settings: "wght" 100;
    font-weight: 400!important;
}

.fw2 {
    font-variation-settings: "wght" 200;
    font-weight: 400!important;
}

.fw3 {
    font-variation-settings: "wght" 300;
    font-weight: 400!important;
}

.fw4 {
    font-variation-settings: "wght" 400;
    font-weight: 400!important;
}

.fw5 {
    font-variation-settings: "wght" 500;
    font-weight: 400!important;
}

.fw6 {
    font-variation-settings: "wght" 600;
    font-weight: 400!important;
}

.fw7 {
    font-variation-settings: "wght" 700;
    font-weight: 400!important;
}

.fw8 {
    font-variation-settings: "wght" 800;
    font-weight: 400!important;
}

.fw9 {
    font-variation-settings: "wght" 900;
    font-weight: 400!important;
}

@media (--breakpoint-not-small) {
    .normal-ns {
        font-weight: normal;
    }
    .b-ns {
        font-weight: bold;
    }
    .fw1-ns {
        font-variation-settings: "wght" 100;
        font-weight: 400!important;
    }
    .fw2-ns {
        font-variation-settings: "wght" 200;
        font-weight: 400!important;
    }
    .fw3-ns {
        font-variation-settings: "wght" 300;
        font-weight: 400!important;
    }
    .fw4-ns {
        font-variation-settings: "wght" 400;
        font-weight: 400!important;
    }
    .fw5-ns {
        font-variation-settings: "wght" 500;
        font-weight: 400!important;
    }
    .fw6-ns {
        font-variation-settings: "wght" 600;
        font-weight: 400!important;
    }
    .fw7-ns {
        font-variation-settings: "wght" 700;
        font-weight: 400!important;
    }
    .fw8-ns {
        font-variation-settings: "wght" 800;
        font-weight: 400!important;
    }
    .fw9-ns {
        font-variation-settings: "wght" 900;
        font-weight: 400!important;
    }
}

@media (--breakpoint-medium) {
    .normal-m {
        font-weight: normal;
    }
    .b-m {
        font-weight: bold;
    }
    .fw1-m {
        font-variation-settings: "wght" 100;
        font-weight: 400!important;
    }
    .fw2-m {
        font-variation-settings: "wght" 200;
        font-weight: 400!important;
    }
    .fw3-m {
        font-variation-settings: "wght" 300;
        font-weight: 400!important;
    }
    .fw4-m {
        font-variation-settings: "wght" 400;
        font-weight: 400!important;
    }
    .fw5-m {
        font-variation-settings: "wght" 500;
        font-weight: 400!important;
    }
    .fw6-m {
        font-variation-settings: "wght" 600;
        font-weight: 400!important;
    }
    .fw7-m {
        font-variation-settings: "wght" 700;
        font-weight: 400!important;
    }
    .fw8-m {
        font-variation-settings: "wght" 800;
        font-weight: 400!important;
    }
    .fw9-m {
        font-variation-settings: "wght" 900;
        font-weight: 400!important;
    }
}

@media (--breakpoint-large) {
    .normal-l {
        font-weight: normal;
    }
    .b-l {
        font-weight: bold;
    }
    .fw1-l {
        font-variation-settings: "wght" 100;
        font-weight: 400!important;
    }
    .fw2-l {
        font-variation-settings: "wght" 200;
        font-weight: 400!important;
    }
    .fw3-l {
        font-variation-settings: "wght" 300;
        font-weight: 400!important;
    }
    .fw4-l {
        font-variation-settings: "wght" 400;
        font-weight: 400!important;
    }
    .fw5-l {
        font-variation-settings: "wght" 500;
        font-weight: 400!important;
    }
    .fw6-l {
        font-variation-settings: "wght" 600;
        font-weight: 400!important;
    }
    .fw7-l {
        font-variation-settings: "wght" 700;
        font-weight: 400!important;
    }
    .fw8-l {
        font-variation-settings: "wght" 800;
        font-weight: 400!important;
    }
    .fw9-l {
        font-variation-settings: "wght" 900;
        font-weight: 400!important;
    }
}
