.grid {
    display: grid;
}

.inline-grid {
    display: inline-grid;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-end {
    justify-self: end;
}

.justify-self-center {
    justify-self: center;
}

.justify-grid-start {
    justify-content: start;
}

.justify-grid-end {
    justify-content: end;
}

.items-grid-start {
    align-items: start;
}

.items-grid-end {
    align-items: end;
}

.content-grid-start {
    align-content: start;
}

.content-grid-end {
    align-content: end;
}

.self-grid-start {
    align-self: start;
}

.self-grid-end {
    align-self: end;
}

.auto-flow-row {
    grid-auto-flow: row;
}

.auto-flow-column {
    grid-auto-flow: column;
}

.auto-flow-dense {
    grid-auto-flow: dense;
}

@media (--breakpoint-not-small) {
    .grid-ns {
        display: grid;
    }

    .inline-grid-ns {
        display: inline-grid;
    }

    .justify-self-start-ns {
        justify-self: start;
    }

    .justify-self-end-ns {
        justify-self: end;
    }

    .justify-self-center-ns {
        justify-self: center;
    }

    .justify-grid-start-ns {
        justify-content: start;
    }

    .justify-grid-end-ns {
        justify-content: end;
    }

    .items-grid-start-ns {
        align-items: start;
    }

    .items-grid-end-ns {
        align-items: end;
    }

    .content-grid-start-ns {
        align-content: start;
    }

    .content-grid-end-ns {
        align-content: end;
    }

    .self-grid-start-ns {
        align-self: start;
    }

    .self-grid-end-ns {
        align-self: end;
    }

    .auto-flow-row-ns {
        grid-auto-flow: row;
    }

    .auto-flow-column-ns {
        grid-auto-flow: column;
    }

    .auto-flow-dense-ns {
        grid-auto-flow: dense;
    }
}

@media (--breakpoint-medium) {
    .grid-m {
        display: grid;
    }

    .inline-grid-m {
        display: inline-grid;
    }

    .justify-self-start-m {
        justify-self: start;
    }

    .justify-self-end-m {
        justify-self: end;
    }

    .justify-self-center-m {
        justify-self: center;
    }

    .justify-grid-start-m {
        justify-content: start;
    }

    .justify-grid-end-m {
        justify-content: end;
    }

    .items-grid-start-m {
        align-items: start;
    }

    .items-grid-end-m {
        align-items: end;
    }

    .content-grid-start-m {
        align-content: start;
    }

    .content-grid-end-m {
        align-content: end;
    }

    .self-grid-start-m {
        align-self: start;
    }

    .self-grid-end-m {
        align-self: end;
    }

    .auto-flow-row-m {
        grid-auto-flow: row;
    }

    .auto-flow-column-m {
        grid-auto-flow: column;
    }

    .auto-flow-dense-m {
        grid-auto-flow: dense;
    }
}

@media (--breakpoint-large) {
    .grid-l {
        display: grid;
    }

    .inline-grid-l {
        display: inline-grid;
    }

    .justify-self-start-l {
        justify-self: start;
    }

    .justify-self-end-l {
        justify-self: end;
    }

    .justify-self-center-l {
        justify-self: center;
    }

    .justify-grid-start-l {
        justify-content: start;
    }

    .justify-grid-end-l {
        justify-content: end;
    }

    .items-grid-start-l {
        align-items: start;
    }

    .items-grid-end-l {
        align-items: end;
    }

    .content-grid-start-l {
        align-content: start;
    }

    .content-grid-end-l {
        align-content: end;
    }

    .self-grid-start-l {
        align-self: start;
    }

    .self-grid-end-l {
        align-self: end;
    }

    .auto-flow-row-l {
        grid-auto-flow: row;
    }

    .auto-flow-column-l {
        grid-auto-flow: column;
    }

    .auto-flow-dense-l {
        grid-auto-flow: dense;
    }
}
