.lh1 {
    line-height: var(--o-ui-line-heights-1);
}

.lh2 {
        line-height: var(--o-ui-line-heights-2);
}

.lh3 {
        line-height: var(--o-ui-line-heights-3);
}

.lh4 {
        line-height: var(--o-ui-line-heights-4);
}

.lh5 {
    line-height: var(--o-ui-line-heights-5);
}

.lh6 {
    line-height: var(--o-ui-line-heights-6);
}

@media (--breakpoint-not-small) {
    .lh1-ns {
        line-height: var(--o-ui-line-heights-1);
        }

    .lh2-ns {
        line-height: var(--o-ui-line-heights-2);
    }

    .lh3-ns {
        line-height: var(--o-ui-line-heights-3);
    }

    .lh4-ns {
        line-height: var(--o-ui-line-heights-4);
    }

    .lh5-ns {
        line-height: var(--o-ui-line-heights-5);
    }

    .lh6-ns {
        line-height: var(--o-ui-line-heights-6);
    }
}

@media (--breakpoint-medium) {
    .lh1-m {
        line-height: var(--o-ui-line-heights-1);
        }

    .lh2-m {
            line-height: var(--o-ui-line-heights-2);
        }

    .lh3-m {
            line-height: var(--o-ui-line-heights-3);
    }

    .lh4-m {
            line-height: var(--o-ui-line-heights-4);
    }

    .lh5-m {
        line-height: var(--o-ui-line-heights-5);
    }

    .lh6-m {
        line-height: var(--o-ui-line-heights-6);
    }
}

@media (--breakpoint-large) {
    .lh1--l {
        line-height: var(--o-ui-line-heights-1);
        }

    .lh2--l {
            line-height: var(--o-ui-line-heights-2);
        }

    .lh3--l {
            line-height: var(--o-ui-line-heights-3);
    }

    .lh4--l {
            line-height: var(--o-ui-line-heights-4);
    }

    .lh5--l {
        line-height: var(--o-ui-line-heights-5);
    }

    .lh6--l {
        line-height: var(--o-ui-line-heights-6);
    }
}
