.link {
    text-decoration: none;
    transition: color var(--o-ui-easing-duration-1) var(--o-ui-easing-productive);
}

.link:link, .link:visited {
    transition: color var(--o-ui-easing-duration-1) var(--o-ui-easing-productive);
}

.link:hover {
    transition: color var(--o-ui-easing-duration-1) var(--o-ui-easing-productive);
}

.link:active {
    transition: color var(--o-ui-easing-duration-1) var(--o-ui-easing-productive);
}

.link:focus {
    transition: color var(--o-ui-easing-duration-1) var(--o-ui-easing-productive);
    outline: 1px dotted currentColor;
}
