.lh1 {
    line-height: 1;
}

.lh2 {
    line-height: 1.2;
}

.lh3 {
    line-height: 1.25;
}

.lh4 {
    line-height: 1.3333333;
}

.lh5 {
    line-height: 1.4285714286;
}

.lh6 {
    line-height: 1.5;
}

@media (--breakpoint-not-small) {
    .lh1-ns {
        line-height: 1;
    }
    .lh2-ns {
        line-height: 1.2;
    }
    .lh3-ns {
        line-height: 1.25;
    }
    .lh4-ns {
        line-height: 1.3333333;
    }
    .lh5-ns {
        line-height: 1.4285714286;
    }
    .lh6-ns {
        line-height: 1.5;
    }
}

@media (--breakpoint-medium) {
    .lh1-m {
        line-height: 1;
    }
    .lh2-m {
        line-height: 1.2;
    }
    .lh3-m {
        line-height: 1.25;
    }
    .lh4-m {
        line-height: 1.3333333;
    }
    .lh5-m {
        line-height: 1.4285714286;
    }
    .lh6-m {
        line-height: 1.5;
    }
}

@media (--breakpoint-large) {
    .lh1-l {
        line-height: 1;
    }
    .lh2-l {
        line-height: 1.2;
    }
    .lh3-l {
        line-height: 1.25;
    }
    .lh4-l {
        line-height: 1.3333333;
    }
    .lh5-l {
        line-height: 1.4285714286;
    }
    .lh6-l {
        line-height: 1.5;
    }
}
