.na1 {
    margin: calc(-1 * var(--o-ui-space-1));
}

.na2 {
    margin: calc(-1 * var(--o-ui-space-2));
}

.na3 {
    margin: calc(-1 * var(--o-ui-space-3));
}

.na4 {
    margin: calc(-1 * var(--o-ui-space-4));
}

.na5 {
    margin: calc(-1 * var(--o-ui-space-5));
}

.na6 {
    margin: calc(-1 * var(--o-ui-space-6));
}

.na7 {
    margin: calc(-1 * var(--o-ui-space-7));
}

.na8 {
    margin: calc(-1 * var(--o-ui-space-8));
}

.na9 {
    margin: calc(-1 * var(--o-ui-space-9));
}

.na10 {
    margin: calc(-1 * var(--o-ui-space-10));
}

.na11 {
    margin: calc(-1 * var(--o-ui-space-11));
}

.na12 {
    margin: calc(-1 * var(--o-ui-space-12));
}

.na13 {
    margin: calc(-1 * var(--o-ui-space-13));
}

.nl1 {
    margin-left: calc(-1 * var(--o-ui-space-1));
}

.nl2 {
    margin-left: calc(-1 * var(--o-ui-space-2));
}

.nl3 {
    margin-left: calc(-1 * var(--o-ui-space-3));
}

.nl4 {
    margin-left: calc(-1 * var(--o-ui-space-4));
}

.nl5 {
    margin-left: calc(-1 * var(--o-ui-space-5));
}

.nl6 {
    margin-left: calc(-1 * var(--o-ui-space-6));
}

.nl7 {
    margin-left: calc(-1 * var(--o-ui-space-7));
}

.nl8 {
    margin-left: calc(-1 * var(--o-ui-space-8));
}

.nl9 {
    margin-left: calc(-1 * var(--o-ui-space-9));
}

.nl10 {
    margin-left: calc(-1 * var(--o-ui-space-10));
}

.nl11 {
    margin-left: calc(-1 * var(--o-ui-space-11));
}

.nl12 {
    margin-left: calc(-1 * var(--o-ui-space-12));
}

.nl13 {
    margin-left: calc(-1 * var(--o-ui-space-13));
}

.nr1 {
    margin-right: calc(-1 * var(--o-ui-space-1));
}

.nr2 {
    margin-right: calc(-1 * var(--o-ui-space-2));
}

.nr3 {
    margin-right: calc(-1 * var(--o-ui-space-3));
}

.nr4 {
    margin-right: calc(-1 * var(--o-ui-space-4));
}

.nr5 {
    margin-right: calc(-1 * var(--o-ui-space-5));
}

.nr6 {
    margin-right: calc(-1 * var(--o-ui-space-6));
}

.nr7 {
    margin-right: calc(-1 * var(--o-ui-space-7));
}

.nr8 {
    margin-right: calc(-1 * var(--o-ui-space-8));
}

.nr9 {
    margin-right: calc(-1 * var(--o-ui-space-9));
}

.nr10 {
    margin-right: calc(-1 * var(--o-ui-space-10));
}

.nr11 {
    margin-right: calc(-1 * var(--o-ui-space-11));
}

.nr12 {
    margin-right: calc(-1 * var(--o-ui-space-12));
}

.nr13 {
    margin-right: calc(-1 * var(--o-ui-space-13));
}

.nb1 {
    margin-bottom: calc(-1 * var(--o-ui-space-1));
}

.nb2 {
    margin-bottom: calc(-1 * var(--o-ui-space-2));
}

.nb3 {
    margin-bottom: calc(-1 * var(--o-ui-space-3));
}

.nb4 {
    margin-bottom: calc(-1 * var(--o-ui-space-4));
}

.nb5 {
    margin-bottom: calc(-1 * var(--o-ui-space-5));
}

.nb6 {
    margin-bottom: calc(-1 * var(--o-ui-space-6));
}

.nb7 {
    margin-bottom: calc(-1 * var(--o-ui-space-7));
}

.nb8 {
    margin-bottom: calc(-1 * var(--o-ui-space-8));
}

.nb9 {
    margin-bottom: calc(-1 * var(--o-ui-space-9));
}

.nb10 {
    margin-bottom: calc(-1 * var(--o-ui-space-10));
}

.nb11 {
    margin-bottom: calc(-1 * var(--o-ui-space-11));
}

.nb12 {
    margin-bottom: calc(-1 * var(--o-ui-space-12));
}

.nb13 {
    margin-bottom: calc(-1 * var(--o-ui-space-13));
}

.nt1 {
    margin-top: calc(-1 * var(--o-ui-space-1));
}

.nt2 {
    margin-top: calc(-1 * var(--o-ui-space-2));
}

.nt3 {
    margin-top: calc(-1 * var(--o-ui-space-3));
}

.nt4 {
    margin-top: calc(-1 * var(--o-ui-space-4));
}

.nt5 {
    margin-top: calc(-1 * var(--o-ui-space-5));
}

.nt6 {
    margin-top: calc(-1 * var(--o-ui-space-6));
}

.nt7 {
    margin-top: calc(-1 * var(--o-ui-space-7));
}

.nt8 {
    margin-top: calc(-1 * var(--o-ui-space-8));
}

.nt9 {
    margin-top: calc(-1 * var(--o-ui-space-9));
}

.nt10 {
    margin-top: calc(-1 * var(--o-ui-space-10));
}

.nt11 {
    margin-top: calc(-1 * var(--o-ui-space-11));
}

.nt12 {
    margin-top: calc(-1 * var(--o-ui-space-12));
}

.nt13 {
    margin-top: calc(-1 * var(--o-ui-space-13));
}

@media (--breakpoint-not-small) {
    .na1-ns {
        margin: calc(-1 * var(--o-ui-space-1));
    }
    .na2-ns {
        margin: calc(-1 * var(--o-ui-space-2));
    }
    .na3-ns {
        margin: calc(-1 * var(--o-ui-space-3));
    }
    .na4-ns {
        margin: calc(-1 * var(--o-ui-space-4));
    }
    .na5-ns {
        margin: calc(-1 * var(--o-ui-space-5));
    }
    .na6-ns {
        margin: calc(-1 * var(--o-ui-space-6));
    }
    .na7-ns {
        margin: calc(-1 * var(--o-ui-space-7));
    }
    .na8-ns {
        margin: calc(-1 * var(--o-ui-space-8));
    }
    .na9-ns {
        margin: calc(-1 * var(--o-ui-space-9));
    }
    .na10-ns {
        margin: calc(-1 * var(--o-ui-space-10));
    }
    .na11-ns {
        margin: calc(-1 * var(--o-ui-space-11));
    }
    .na12-ns {
        margin: calc(-1 * var(--o-ui-space-12));
    }
    .na13-ns {
        margin: calc(-1 * var(--o-ui-space-13));
    }
    .nl1-ns {
        margin-left: calc(-1 * var(--o-ui-space-1));
    }
    .nl2-ns {
        margin-left: calc(-1 * var(--o-ui-space-2));
    }
    .nl3-ns {
        margin-left: calc(-1 * var(--o-ui-space-3));
    }
    .nl4-ns {
        margin-left: calc(-1 * var(--o-ui-space-4));
    }
    .nl5-ns {
        margin-left: calc(-1 * var(--o-ui-space-5));
    }
    .nl6-ns {
        margin-left: calc(-1 * var(--o-ui-space-6));
    }
    .nl7-ns {
        margin-left: calc(-1 * var(--o-ui-space-7));
    }
    .nl8-ns {
        margin-left: calc(-1 * var(--o-ui-space-8));
    }
    .nl9-ns {
        margin-left: calc(-1 * var(--o-ui-space-9));
    }
    .nl10-ns {
        margin-left: calc(-1 * var(--o-ui-space-10));
    }
    .nl11-ns {
        margin-left: calc(-1 * var(--o-ui-space-11));
    }
    .nl12-ns {
        margin-left: calc(-1 * var(--o-ui-space-12));
    }
    .nl13-ns {
        margin-left: calc(-1 * var(--o-ui-space-13));
    }
    .nr1-ns {
        margin-right: calc(-1 * var(--o-ui-space-1));
    }
    .nr2-ns {
        margin-right: calc(-1 * var(--o-ui-space-2));
    }
    .nr3-ns {
        margin-right: calc(-1 * var(--o-ui-space-3));
    }
    .nr4-ns {
        margin-right: calc(-1 * var(--o-ui-space-4));
    }
    .nr5-ns {
        margin-right: calc(-1 * var(--o-ui-space-5));
    }
    .nr6-ns {
        margin-right: calc(-1 * var(--o-ui-space-6));
    }
    .nr7-ns {
        margin-right: calc(-1 * var(--o-ui-space-7));
    }
    .nr8-ns {
        margin-right: calc(-1 * var(--o-ui-space-8));
    }
    .nr9-ns {
        margin-right: calc(-1 * var(--o-ui-space-9));
    }
    .nr10-ns {
        margin-right: calc(-1 * var(--o-ui-space-10));
    }
    .nr11-ns {
        margin-right: calc(-1 * var(--o-ui-space-11));
    }
    .nr12-ns {
        margin-right: calc(-1 * var(--o-ui-space-12));
    }
    .nr13-ns {
        margin-right: calc(-1 * var(--o-ui-space-13));
    }
    .nb1-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-1));
    }
    .nb2-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-2));
    }
    .nb3-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-3));
    }
    .nb4-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-4));
    }
    .nb5-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-5));
    }
    .nb6-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-6));
    }
    .nb7-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-7));
    }
    .nb8-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-8));
    }
    .nb9-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-9));
    }
    .nb10-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-10));
    }
    .nb11-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-11));
    }
    .nb12-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-12));
    }
    .nb13-ns {
        margin-bottom: calc(-1 * var(--o-ui-space-13));
    }
    .nt1-ns {
        margin-top: calc(-1 * var(--o-ui-space-1));
    }
    .nt2-ns {
        margin-top: calc(-1 * var(--o-ui-space-2));
    }
    .nt3-ns {
        margin-top: calc(-1 * var(--o-ui-space-3));
    }
    .nt4-ns {
        margin-top: calc(-1 * var(--o-ui-space-4));
    }
    .nt5-ns {
        margin-top: calc(-1 * var(--o-ui-space-5));
    }
    .nt6-ns {
        margin-top: calc(-1 * var(--o-ui-space-6));
    }
    .nt7-ns {
        margin-top: calc(-1 * var(--o-ui-space-7));
    }
    .nt8-ns {
        margin-top: calc(-1 * var(--o-ui-space-8));
    }
    .nt9-ns {
        margin-top: calc(-1 * var(--o-ui-space-9));
    }
    .nt10-ns {
        margin-top: calc(-1 * var(--o-ui-space-10));
    }
    .nt11-ns {
        margin-top: calc(-1 * var(--o-ui-space-11));
    }
    .nt12-ns {
        margin-top: calc(-1 * var(--o-ui-space-12));
    }
    .nt13-ns {
        margin-top: calc(-1 * var(--o-ui-space-13));
    }
}

@media (--breakpoint-medium) {
    .na1-m {
        margin: calc(-1 * var(--o-ui-space-1));
    }
    .na2-m {
        margin: calc(-1 * var(--o-ui-space-2));
    }
    .na3-m {
        margin: calc(-1 * var(--o-ui-space-3));
    }
    .na4-m {
        margin: calc(-1 * var(--o-ui-space-4));
    }
    .na5-m {
        margin: calc(-1 * var(--o-ui-space-5));
    }
    .na6-m {
        margin: calc(-1 * var(--o-ui-space-6));
    }
    .na7-m {
        margin: calc(-1 * var(--o-ui-space-7));
    }
    .na8-m {
        margin: calc(-1 * var(--o-ui-space-8));
    }
    .na9-m {
        margin: calc(-1 * var(--o-ui-space-9));
    }
    .na10-m {
        margin: calc(-1 * var(--o-ui-space-10));
    }
    .na11-m {
        margin: calc(-1 * var(--o-ui-space-11));
    }
    .na12-m {
        margin: calc(-1 * var(--o-ui-space-12));
    }
    .na13-m {
        margin: calc(-1 * var(--o-ui-space-13));
    }
    .nl1-m {
        margin-left: calc(-1 * var(--o-ui-space-1));
    }
    .nl2-m {
        margin-left: calc(-1 * var(--o-ui-space-2));
    }
    .nl3-m {
        margin-left: calc(-1 * var(--o-ui-space-3));
    }
    .nl4-m {
        margin-left: calc(-1 * var(--o-ui-space-4));
    }
    .nl5-m {
        margin-left: calc(-1 * var(--o-ui-space-5));
    }
    .nl6-m {
        margin-left: calc(-1 * var(--o-ui-space-6));
    }
    .nl7-m {
        margin-left: calc(-1 * var(--o-ui-space-7));
    }
    .nl8-m {
        margin-left: calc(-1 * var(--o-ui-space-8));
    }
    .nl9-m {
        margin-left: calc(-1 * var(--o-ui-space-9));
    }
    .nl10-m {
        margin-left: calc(-1 * var(--o-ui-space-10));
    }
    .na11-m {
        margin: calc(-1 * var(--o-ui-space-11));
    }
    .na12-m {
        margin: calc(-1 * var(--o-ui-space-12));
    }
    .na13-m {
        margin: calc(-1 * var(--o-ui-space-13));
    }
    .nr1-m {
        margin-right: calc(-1 * var(--o-ui-space-1));
    }
    .nr2-m {
        margin-right: calc(-1 * var(--o-ui-space-2));
    }
    .nr3-m {
        margin-right: calc(-1 * var(--o-ui-space-3));
    }
    .nr4-m {
        margin-right: calc(-1 * var(--o-ui-space-4));
    }
    .nr5-m {
        margin-right: calc(-1 * var(--o-ui-space-5));
    }
    .nr6-m {
        margin-right: calc(-1 * var(--o-ui-space-6));
    }
    .nr7-m {
        margin-right: calc(-1 * var(--o-ui-space-7));
    }
    .nr8-m {
        margin-right: calc(-1 * var(--o-ui-space-8));
    }
    .nr9-m {
        margin-right: calc(-1 * var(--o-ui-space-9));
    }
    .nr10-m {
        margin-right: calc(-1 * var(--o-ui-space-10));
    }
    .nr11-m {
        margin-right: calc(-1 * var(--o-ui-space-11));
    }
    .nr12-m {
        margin-right: calc(-1 * var(--o-ui-space-12));
    }
    .nr13-m {
        margin-right: calc(-1 * var(--o-ui-space-13));
    }
    .nb1-m {
        margin-bottom: calc(-1 * var(--o-ui-space-1));
    }
    .nb2-m {
        margin-bottom: calc(-1 * var(--o-ui-space-2));
    }
    .nb3-m {
        margin-bottom: calc(-1 * var(--o-ui-space-3));
    }
    .nb4-m {
        margin-bottom: calc(-1 * var(--o-ui-space-4));
    }
    .nb5-m {
        margin-bottom: calc(-1 * var(--o-ui-space-5));
    }
    .nb6-m {
        margin-bottom: calc(-1 * var(--o-ui-space-6));
    }
    .nb7-m {
        margin-bottom: calc(-1 * var(--o-ui-space-7));
    }
    .nb8-m {
        margin-bottom: calc(-1 * var(--o-ui-space-8));
    }
    .nb9-m {
        margin-bottom: calc(-1 * var(--o-ui-space-9));
    }
    .nb10-m {
        margin-bottom: calc(-1 * var(--o-ui-space-10));
    }
    .nb11-m {
        margin-bottom: calc(-1 * var(--o-ui-space-11));
    }
    .nb12-m {
        margin-bottom: calc(-1 * var(--o-ui-space-12));
    }
    .nb13-m {
        margin-bottom: calc(-1 * var(--o-ui-space-13));
    }
    .nt1-m {
        margin-top: calc(-1 * var(--o-ui-space-1));
    }
    .nt2-m {
        margin-top: calc(-1 * var(--o-ui-space-2));
    }
    .nt3-m {
        margin-top: calc(-1 * var(--o-ui-space-3));
    }
    .nt4-m {
        margin-top: calc(-1 * var(--o-ui-space-4));
    }
    .nt5-m {
        margin-top: calc(-1 * var(--o-ui-space-5));
    }
    .nt6-m {
        margin-top: calc(-1 * var(--o-ui-space-6));
    }
    .nt7-m {
        margin-top: calc(-1 * var(--o-ui-space-7));
    }
    .nt8-m {
        margin-top: calc(-1 * var(--o-ui-space-8));
    }
    .nt9-m {
        margin-top: calc(-1 * var(--o-ui-space-9));
    }
    .nt10-m {
        margin-top: calc(-1 * var(--o-ui-space-10));
    }
    .nt11-m {
        margin-top: calc(-1 * var(--o-ui-space-11));
    }
    .nt12-m {
        margin-top: calc(-1 * var(--o-ui-space-12));
    }
    .nt13-m {
        margin-top: calc(-1 * var(--o-ui-space-13));
    }
}

@media (--breakpoint-large) {
    .na1-l {
        margin: calc(-1 * var(--o-ui-space-1));
    }
    .na2-l {
        margin: calc(-1 * var(--o-ui-space-2));
    }
    .na3-l {
        margin: calc(-1 * var(--o-ui-space-3));
    }
    .na4-l {
        margin: calc(-1 * var(--o-ui-space-4));
    }
    .na5-l {
        margin: calc(-1 * var(--o-ui-space-5));
    }
    .na6-l {
        margin: calc(-1 * var(--o-ui-space-6));
    }
    .na7-l {
        margin: calc(-1 * var(--o-ui-space-7));
    }
    .na8-l {
        margin: calc(-1 * var(--o-ui-space-8));
    }
    .na9-l {
        margin: calc(-1 * var(--o-ui-space-9));
    }
    .na10-l {
        margin: calc(-1 * var(--o-ui-space-10));
    }
    .na11-m {
        margin: calc(-1 * var(--o-ui-space-11));
    }
    .na12-m {
        margin: calc(-1 * var(--o-ui-space-12));
    }
    .na13-m {
        margin: calc(-1 * var(--o-ui-space-13));
    }
    .nl1-l {
        margin-left: calc(-1 * var(--o-ui-space-1));
    }
    .nl2-l {
        margin-left: calc(-1 * var(--o-ui-space-2));
    }
    .nl3-l {
        margin-left: calc(-1 * var(--o-ui-space-3));
    }
    .nl4-l {
        margin-left: calc(-1 * var(--o-ui-space-4));
    }
    .nl5-l {
        margin-left: calc(-1 * var(--o-ui-space-5));
    }
    .nl6-l {
        margin-left: calc(-1 * var(--o-ui-space-6));
    }
    .nl7-l {
        margin-left: calc(-1 * var(--o-ui-space-7));
    }
    .nl8-l {
        margin-left: calc(-1 * var(--o-ui-space-8));
    }
    .nl9-l {
        margin-left: calc(-1 * var(--o-ui-space-9));
    }
    .nl10-l {
        margin-left: calc(-1 * var(--o-ui-space-10));
    }
    .nl11-m {
        margin-left: calc(-1 * var(--o-ui-space-11));
    }
    .nl12-m {
        margin-left: calc(-1 * var(--o-ui-space-12));
    }
    .nl13-m {
        margin-left: calc(-1 * var(--o-ui-space-13));
    }
    .nr1-l {
        margin-right: calc(-1 * var(--o-ui-space-1));
    }
    .nr2-l {
        margin-right: calc(-1 * var(--o-ui-space-2));
    }
    .nr3-l {
        margin-right: calc(-1 * var(--o-ui-space-3));
    }
    .nr4-l {
        margin-right: calc(-1 * var(--o-ui-space-4));
    }
    .nr5-l {
        margin-right: calc(-1 * var(--o-ui-space-5));
    }
    .nr6-l {
        margin-right: calc(-1 * var(--o-ui-space-6));
    }
    .nr7-l {
        margin-right: calc(-1 * var(--o-ui-space-7));
    }
    .nr8-l {
        margin-right: calc(-1 * var(--o-ui-space-8));
    }
    .nr9-l {
        margin-right: calc(-1 * var(--o-ui-space-9));
    }
    .nr10-l {
        margin-right: calc(-1 * var(--o-ui-space-10));
    }
    .nr11-m {
        margin-right: calc(-1 * var(--o-ui-space-11));
    }
    .nr12-m {
        margin-right: calc(-1 * var(--o-ui-space-12));
    }
    .nr13-m {
        margin-right: calc(-1 * var(--o-ui-space-13));
    }
    .nb1-l {
        margin-bottom: calc(-1 * var(--o-ui-space-1));
    }
    .nb2-l {
        margin-bottom: calc(-1 * var(--o-ui-space-2));
    }
    .nb3-l {
        margin-bottom: calc(-1 * var(--o-ui-space-3));
    }
    .nb4-l {
        margin-bottom: calc(-1 * var(--o-ui-space-4));
    }
    .nb5-l {
        margin-bottom: calc(-1 * var(--o-ui-space-5));
    }
    .nb6-l {
        margin-bottom: calc(-1 * var(--o-ui-space-6));
    }
    .nb7-l {
        margin-bottom: calc(-1 * var(--o-ui-space-7));
    }
    .nb8-l {
        margin-bottom: calc(-1 * var(--o-ui-space-8));
    }
    .nb9-l {
        margin-bottom: calc(-1 * var(--o-ui-space-9));
    }
    .nb10-l {
        margin-bottom: calc(-1 * var(--o-ui-space-10));
    }
    .nb11-m {
        margin-bottom: calc(-1 * var(--o-ui-space-11));
    }
    .nb12-m {
        margin-bottom: calc(-1 * var(--o-ui-space-12));
    }
    .nb13-m {
        margin-bottom: calc(-1 * var(--o-ui-space-13));
    }
    .nt1-l {
        margin-top: calc(-1 * var(--o-ui-space-1));
    }
    .nt2-l {
        margin-top: calc(-1 * var(--o-ui-space-2));
    }
    .nt3-l {
        margin-top: calc(-1 * var(--o-ui-space-3));
    }
    .nt4-l {
        margin-top: calc(-1 * var(--o-ui-space-4));
    }
    .nt5-l {
        margin-top: calc(-1 * var(--o-ui-space-5));
    }
    .nt6-l {
        margin-top: calc(-1 * var(--o-ui-space-6));
    }
    .nt7-l {
        margin-top: calc(-1 * var(--o-ui-space-7));
    }
    .nt8-l {
        margin-top: calc(-1 * var(--o-ui-space-8));
    }
    .nt9-l {
        margin-top: calc(-1 * var(--o-ui-space-9));
    }
    .nt10-l {
        margin-top: calc(-1 * var(--o-ui-space-10));
    }
    .nt11-m {
        margin-top: calc(-1 * var(--o-ui-space-11));
    }
    .nt12-m {
        margin-top: calc(-1 * var(--o-ui-space-12));
    }
    .nt13-m {
        margin-top: calc(-1 * var(--o-ui-space-13));
    }
}
