.hover-o-100:hover {
    opacity: 1;
}

.hover-o-90:hover {
    opacity: 0.9;
}

.hover-o-80:hover {
    opacity: 0.8;
}

.hover-o-70:hover {
    opacity: 0.7;
}

.hover-o-60:hover {
    opacity: 0.6;
}

.hover-o-50:hover {
    opacity: 0.5;
}

.hover-o-40:hover {
    opacity: 0.4;
}

.hover-o-30:hover {
    opacity: 0.3;
}

.hover-o-20:hover {
    opacity: 0.2;
}

.hover-o-10:hover {
    opacity: 0.1;
}

.hover-o-05:hover {
    opacity: 0.05;
}

.hover-o-025:hover {
    opacity: 0.025;
}

.hover-o-0:hover {
    opacity: 0;
}

.focus-o-100:focus {
    opacity: 1;
}

.focus-o-90:focus {
    opacity: 0.9;
}

.focus-o-80:focus {
    opacity: 0.8;
}

.focus-o-70:focus {
    opacity: 0.7;
}

.focus-o-60:focus {
    opacity: 0.6;
}

.focus-o-50:focus {
    opacity: 0.5;
}

.focus-o-40:focus {
    opacity: 0.4;
}

.focus-o-30:focus {
    opacity: 0.3;
}

.focus-o-20:focus {
    opacity: 0.2;
}

.focus-o-10:focus {
    opacity: 0.1;
}

.focus-o-05:focus {
    opacity: 0.05;
}

.focus-o-025:focus {
    opacity: 0.025;
}

.focus-o-0:focus {
    opacity: 0;
}
