.hover-outline:hover {
    box-shadow: 0px 0px 0px 2px var(--o-ui-primary-200);
}

.hover-outline-transparent:hover {
    box-shadow: 0px 0px 0px 2px var(--o-ui-transparent);
}

.hover-outline-0:hover {
    box-shadow: 0;
}

.focus-outline:focus {
    box-shadow: 0px 0px 0px 2px var(--o-ui-primary-200);
}

.focus-outline-transparent:focus {
    box-shadow: 0px 0px 0px 2px var(--o-ui-transparent);
}

.focus-outline-0:focus {
    box-shadow: 0;
}
