/* Clash with outline in orbit ui */
/* .outline {
    box-shadow: 0px 0px 0px 2px var(--o-ui-primary-200);
} */

.outline-transparent {
    box-shadow: 0px 0px 0px 2px var(--o-ui-transparent);
}

.outline-0 {
    box-shadow: 0;
    outline: none
}
