.hover-color-transparent:hover {
    color: var(--o-ui-transparent);
}

.hover-color-inherit:hover {
    color: inherit;
}

.hover-bg-transparent:hover {
    background-color: var(--o-ui-transparent);
}

.hover-bg-inherit:hover {
    background-color: inherit;
}

.hover-fill-inherit:hover {
    fill: inherit;
}

.hover-fill-current-color:hover {
    fill: currentColor;
}

.focus-color-transparent:focus {
    color: var(--o-ui-transparent);
}

.focus-color-inherit:focus {
    color: inherit;
}

.focus-bg-transparent:focus {
    background-color: var(--o-ui-transparent);
}

.focus-bg-inherit:focus {
    background-color: inherit;
}

.focus-fill-inherit:focus {
    fill: inherit;
}

.focus-fill-current-color:focus {
    fill: currentColor;
}

