/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will
   be set to the current text color.

*/

/* Vendors */
.outlook {
    color: var(--outlook);
}

.sharepoint {
    color: var(--sharepoint);
}

.teams {
    color: var(--teams);
}

.planner {
    color: var(--planner);
}

.one-drive {
    color: var(--one-drive);
}

/* Aliases */
.primary-50 {
    color: var(--primary-50);
}

.primary-100 {
    color: var(--primary-100);
}

.primary-200 {
    color: var(--primary-200);
}

.primary-300 {
    color: var(--primary-300);
}

.primary-400 {
    color: var(--primary-400);
}

.primary-500 {
    color: var(--primary-500);
}

.primary-600 {
    color: var(--primary-600);
}

.primary-700 {
    color: var(--primary-700);
}

.primary-800 {
    color: var(--primary-800);
}

.primary-900 {
    color: var(--primary-900);
}

.color-transparent {
    color: transparent;
}

.color-inherit {
    color: inherit;
}

/* Vendors Background */

.bg-outlook {
    background-color: var(--outlook);
}

.bg-sharepoint {
    background-color: var(--sharepoint);
}

.bg-teams {
    background-color: var(--teams);
}

.bg-planner {
    background-color: var(--planner);
}

.bg-one-drive {
    background-color: var(--one-drive);
}

/* Aliases */
.bg-primary-50 {
    background-color: var(--primary-50);
}

.bg-primary-100 {
    background-color: var(--primary-100);
}

.bg-primary-200 {
    background-color: var(--primary-200);
}

.bg-primary-300 {
    background-color: var(--primary-300);
}

.bg-primary-400 {
    background-color: var(--primary-400);
}

.bg-primary-500 {
    background-color: var(--primary-500);
}

.bg-primary-600 {
    background-color: var(--primary-600);
}

.bg-primary-700 {
    background-color: var(--primary-700);
}

.bg-primary-800 {
    background-color: var(--primary-800);
}

.bg-primary-900 {
    background-color: var(--primary-900);
}

.bg-transparent {
    background-color: var(--transparent);
}

.bg-inherit {
    background-color: inherit;
}

/* Aliases */
.fill-primary-50 {
    fill: var(--primary-50);
}

.fill-primary-100 {
    fill: var(--primary-100);
}

.fill-primary-200 {
    fill: var(--primary-200);
}

.fill-primary-300 {
    fill: var(--primary-300);
}

.fill-primary-400 {
    fill: var(--primary-400);
}

.fill-primary-500 {
    fill: var(--primary-500);
}

.fill-primary-600 {
    fill: var(--primary-600);
}

.fill-primary-700 {
    fill: var(--primary-700);
}

.fill-primary-800 {
    fill: var(--primary-800);
}

.fill-primary-900 {
    fill: var(--primary-900);
}

.fill-transparent:hover,
.fill:focus {
    fill: var(--transparent);
}

.fill-inherit {
    fill: inherit;
}

.fill-current-color {
    fill: currentColor;
}
