.hover-color-transparent:hover,
.hover-transparent-color:focus {
    color: transparent;
}

.hover-color-inherit:hover,
.hover-color-inherit:focus {
    color: inherit;
}

.hover-bg-transparent:hover,
.hover-bg-transparent:focus {
    background-color: var(--transparent);
}

.hover-bg-inherit:hover,
.hover-bg-inherit:focus {
    background-color: inherit;
}

.hover-fill-inherit:hover,
.hover-fill-inherit:focus {
    fill: inherit;
}

.hover-fill-current-color:hover,
.hover-fill-current-color:focus {
    fill: currentColor;
}
