.color-transparent {
    color: transparent;
}

.color-inherit {
    color: inherit;
}

.bg-transparent {
    background-color: var(--transparent);
}

.bg-inherit {
    background-color: inherit;
}

.fill-transparent:hover,
.fill:focus {
    fill: var(--transparent);
}

.fill-inherit {
    fill: inherit;
}

.fill-current-color {
    fill: currentColor;
}
