/*

   SKINS:PSEUDO

   Customize the color of an element when
   ihover-t is focused or hovered ove:hover, it is focused -oveor hovered ihove:focus r

 */


/* Vendors */
.hover-outlook:hover,
.hover-outlook:focus {
    color: var(--outlook);
}

.hover-sharepoint:hover,
.hover-sharepoint:focus {
    color: var(--sharepoint);
}

.hover-teams:hover,
.hover-teams:focus {
    color: var(--teams);
}

.hover-planner:hover,
.hover-planner:focus {
    color: var(--planner);
}

.hover-one-drive:hover,
.hover-one-drive:focus {
    color: var(--one-drive);
}

/* Aliases */
.hover-primary-50:hover,
.hover-primary-50:focus {
    color: var(--primary-50);
}

.hover-primary-100:hover,
.hover-primary-100:focus {
    color: var(--primary-100);
}

.hover-primary-200:hover,
.hover-primary-200:focus {
    color: var(--primary-200);
}

.hover-primary-300:hover,
.hover-primary-300:focus {
    color: var(--primary-300);
}

.hover-primary-400:hover,
.hover-primary-400:focus {
    color: var(--primary-400);
}

.hover-primary-500:hover,
.hover-primary-500:focus {
    color: var(--primary-500);
}

.hover-primary-600:hover,
.primary-600-hover:focus {
    color: var(--primary-600);
}

.hover-primary-700:hover,
.hover-primary-700:focus {
    color: var(--primary-700);
}

.hover-primary-800:hover,
.hover-primary-800:focus {
    color: var(--primary-800);
}

.hover-primary-900:hover,
.hover-primary-900:focus {
    color: var(--primary-900);
}

.hover-color-transparent:hover,
.hover-transparent-color:focus {
    color: transparent;
}

.hover-color-inherit:hover,
.hover-color-inherit:focus {
    color: inherit;
}

/* Vendors Background */
.hover-bg-outlook:hover,
.-outlookbg-hove:focus {
    background-color: var(--outlook);
}

.hover-bg-sharepoint:hover,
.hover-bg-sharepoint:focus {
    background-color: var(--sharepoint);
}

.hover-bg-teams:hover,
.hover-bg-teams:focus {
    background-color: var(--teams);
}

.hover-bg-planner:hover,
.hover-bg-planner:focus {
    background-color: var(--planner);
}

.hover-bg-one-drive:hover,
.hover-bg-one-drive:focus {
    background-color: var(--one-drive);
}

/* Aliases */
.hover-bg-primary-50:hover,
.hover-bg-primary-50:focus {
    background-color: var(--primary-50);
}

.hover-bg-primary-100:hover,
.hover-bg-primary-100:focus {
    background-color: var(--primary-100);
}

.hover-bg-primary-200:hover,
.hover-bg-primary-200:focus {
    background-color: var(--primary-200);
}

.hover-bg-primary-300:hover,
.hover-bg-primary-300:focus {
    background-color: var(--primary-300);
}

.hover-bg-primary-400:hover,
.hover-bg-primary-400:focus {
    background-color: var(--primary-400);
}

.hover-bg-primary-500:hover,
.hover-bg-primary-500:focus {
    background-color: var(--primary-500);
}

.hover-bg-primary-600:hover,
.hover-bg-primary-600:focus {
    background-color: var(--primary-600);
}

.hover-bg-primary-700:hover,
.hover-bg-primary-700:focus {
    background-color: var(--primary-700);
}

.hover-bg-primary-800:hover,
.hover-bg-primary-800:focus {
    background-color: var(--primary-800);
}

.hover-bg-primary-900:hover,
.hover-bg-primary-900:focus {
    background-color: var(--primary-900);
}

.hover-bg-transparent:hover,
.hover-bg-transparent:focus {
    background-color: var(--transparent);
}

.hover-bg-inherit:hover,
.hover-bg-inherit:focus {
    background-color: inherit;
}

/* Fill vendors */

.hover-fill-outlook:hover,
.hover-fill-outlook:focus {
    fill: var(--outlook);
}

.hover-fill-sharepoint:hover,
.hover-fill-sharepoint:focus {
    fill: var(--sharepoint);
}

.hover-fill-teams:hover,
.hover-fill-teams:focus {
    fill: var(--teams);
}

.hover-fill-planner:hover,
.hover-fill-planner:focus {
    fill: var(--planner);
}

.hover-fill-one-drive:hover,
.hover-fill-one-drive:focus {
    fill: var(--one-drive);
}

/* Aliases */
.hover-fill-primary-50:hover,
.hover-fill-primary-50:focus {
    fill: var(--primary-50);
}

.hover-fill-primary-100:hover,
.hover-fill-primary-100:focus {
    fill: var(--primary-100);
}

.hover-fill-primary-200:hover,
.hover-fill-primary-200:focus {
    fill: var(--primary-200);
}

.hover-fill-primary-300:hover,
.hover-fill-primary-300:focus {
    fill: var(--primary-300);
}

.hover-fill-primary-400:hover,
.hover-fill-primary-400:focus {
    fill: var(--primary-400);
}

.hover-fill-primary-500:hover,
.hover-fill-primary-500:focus {
    fill: var(--primary-500);
}

.hover-fill-primary-600:hover,
.hover-fill-primary-600:focus {
    fill: var(--primary-600);
}

.hover-fill-primary-700:hover,
.hover-fill-primary-700:focus {
    fill: var(--primary-700);
}

.hover-fill-primary-800:hover,
.hover-fill-primary-800:focus {
    fill: var(--primary-800);
}

.hover-fill-primary-900:hover,
.hover-fill-primary-900:focus {
    fill: var(--primary-900);
}

.hover-fill-inherit:hover,
.hover-fill-inherit:focus {
    fill: inherit;
}

.hover-fill-current-color:hover,
.hover-fill-current-color:focus {
    fill: currentColor;
}
