.collapse {
    border-collapse: collapse;
    border-spacing: 0;
}

.stripe-light:nth-child(odd) {
    background-color: var(--o-ui-global-moonstone-100);
}

.stripe-dark:nth-child(odd) {
    background-color: var(--o-ui-global-marine-50);
}
