/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

.collapse {
    border-collapse: collapse;
    border-spacing: 0;
}

.stripe-light:nth-child(odd) {
    background-color: var(--moonstone-100);
}

.stripe-dark:nth-child(odd) {
    background-color: var(--marine-50);
}