.f1 {
    font-size: var(--o-ui-font-sizes-9);
}

.f2 {
    font-size: var(--o-ui-font-sizes-8);
}

.f3 {
    font-size: var(--o-ui-font-sizes-7);
}

.f4 {
    font-size: var(--o-ui-font-sizes-6);
}

.f5 {
    font-size: var(--o-ui-font-sizes-5);
}

.f6 {
    font-size: var(--o-ui-font-sizes-4);
}

.f7 {
    font-size: var(--o-ui-font-sizes-3);
}

.f8 {
    font-size: var(--o-ui-font-sizes-2);
}

.f9 {
    font-size: var(--o-ui-font-sizes-1);
}

.f-headline {
    font-size: var(--o-ui-font-sizes-headline);
}

.f-subheadline {
    font-size: var(--o-ui-font-sizes-subheadline);
}

@media (--breakpoint-not-small) {
    .f-headline-ns {
        font-size: var(--o-ui-font-sizes-subheadline);
    }
    .f-subheadline-ns {
        font-size: var(--o-ui-font-sizes-subheadline);
    }
    .f1-ns {
        font-size: var(--o-ui-font-sizes-9);
    }
    .f2-ns {
        font-size: var(--o-ui-font-sizes-8);
    }
    .f3-ns {
        font-size: var(--o-ui-font-sizes-7);
    }
    .f4-ns {
        font-size: var(--o-ui-font-sizes-6);
    }
    .f5-ns {
        font-size: var(--o-ui-font-sizes-5);
    }
    .f6-ns {
        font-size: var(--o-ui-font-sizes-4);
    }
    .f7-ns {
        font-size: var(--o-ui-font-sizes-3);
    }
    .f8-ns {
        font-size: var(--o-ui-font-sizes-2);
    }
    .f9-ns {
        font-size: var(--o-ui-font-sizes-1);
    }
}

@media (--breakpoint-medium) {
    .f-headline-m {
        font-size: var(--o-ui-font-sizes-subheadline);
    }
    .f-subheadline-m {
        font-size: var(--o-ui-font-sizes-subheadline);
    }
    .f1-m {
        font-size: var(--o-ui-font-sizes-9);
    }
    .f2-m {
        font-size: var(--o-ui-font-sizes-8);
    }
    .f3-m {
        font-size: var(--o-ui-font-sizes-7);
    }
    .f4-m {
        font-size: var(--o-ui-font-sizes-6);
    }
    .f5-m {
        font-size: var(--o-ui-font-sizes-5);
    }
    .f6-m {
        font-size: var(--o-ui-font-sizes-4);
    }
    .f7-m {
        font-size: var(--o-ui-font-sizes-3);
    }
    .f8-m {
        font-size: var(--o-ui-font-sizes-2);
    }
    .f9-m {
        font-size: var(--o-ui-font-sizes-1);
    }
}

@media (--breakpoint-large) {
    .f-headline-l {
        font-size: var(--o-ui-font-sizes-headline);
    }
    .f-subheadline-l {
        font-size: var(--o-ui-font-sizes-subheadline);
    }
    .f1-l {
        font-size: var(--o-ui-font-sizes-9);
    }
    .f2-l {
        font-size: var(--o-ui-font-sizes-8);
    }
    .f3-l {
        font-size: var(--o-ui-font-sizes-7);
    }
    .f4-l {
        font-size: var(--o-ui-font-sizes-6);
    }
    .f5-l {
        font-size: var(--o-ui-font-sizes-5);
    }
    .f6-l {
        font-size: var(--o-ui-font-sizes-4);
    }
    .f7-l {
        font-size: var(--o-ui-font-sizes-3);
    }
    .f8-l {
        font-size: var(--o-ui-font-sizes-2);
    }
    .f9-l {
        font-size: var(--o-ui-font-sizes-1);
    }
}
