.usn {
    user-select: none;
}

.usa {
    user-select: all;
}

@media (--breakpoint-not-small) {
    .usn-ns {
        user-select: none;
    }
    .usa-ns {
        user-select: all;
    }
}

@media (--breakpoint-medium) {
    .usn-m {
        user-select: none;
    }
    .usa-m {
        user-select: all;
    }
}

@media (--breakpoint-large) {
    .usn-l {
        user-select: none;
    }
    .usa-l {
        user-select: all;
    }
}
