.fill-primary-50 {
    fill: var(--primary-50);
}

.fill-primary-100 {
    fill: var(--primary-100);
}

.fill-primary-200 {
    fill: var(--primary-200);
}

.fill-primary-300 {
    fill: var(--primary-300);
}

.fill-primary-400 {
    fill: var(--primary-400);
}

.fill-primary-500 {
    fill: var(--primary-500);
}

.fill-primary-600 {
    fill: var(--primary-600);
}

.fill-primary-700 {
    fill: var(--primary-700);
}

.fill-primary-800 {
    fill: var(--primary-800);
}

.fill-primary-900 {
    fill: var(--primary-900);
}

.hover-fill-primary-50:hover,
.hover-fill-primary-50:focus {
    fill: var(--primary-50);
}

.hover-fill-primary-100:hover,
.hover-fill-primary-100:focus {
    fill: var(--primary-100);
}

.hover-fill-primary-200:hover,
.hover-fill-primary-200:focus {
    fill: var(--primary-200);
}

.hover-fill-primary-300:hover,
.hover-fill-primary-300:focus {
    fill: var(--primary-300);
}

.hover-fill-primary-400:hover,
.hover-fill-primary-400:focus {
    fill: var(--primary-400);
}

.hover-fill-primary-500:hover,
.hover-fill-primary-500:focus {
    fill: var(--primary-500);
}

.hover-fill-primary-600:hover,
.hover-fill-primary-600:focus {
    fill: var(--primary-600);
}

.hover-fill-primary-700:hover,
.hover-fill-primary-700:focus {
    fill: var(--primary-700);
}

.hover-fill-primary-800:hover,
.hover-fill-primary-800:focus {
    fill: var(--primary-800);
}

.hover-fill-primary-900:hover,
.hover-fill-primary-900:focus {
    fill: var(--primary-900);
}
