.primary-50 {
    color: var(--o-ui-primary-50);
}

.primary-100 {
    color: var(--o-ui-primary-100);
}

.primary-200 {
    color: var(--o-ui-primary-200);
}

.primary-300 {
    color: var(--o-ui-primary-300);
}

.primary-400 {
    color: var(--o-ui-primary-400);
}

.primary-500 {
    color: var(--o-ui-primary-500);
}

.primary-600 {
    color: var(--o-ui-primary-600);
}

.primary-700 {
    color: var(--o-ui-primary-700);
}

.primary-800 {
    color: var(--o-ui-primary-800);
}

.primary-900 {
    color: var(--o-ui-primary-900);
}

.hover-primary-50:hover {
    color: var(--o-ui-primary-50);
}

.hover-primary-100:hover {
    color: var(--o-ui-primary-100);
}

.hover-primary-200:hover {
    color: var(--o-ui-primary-200);
}

.hover-primary-300:hover {
    color: var(--o-ui-primary-300);
}

.hover-primary-400:hover {
    color: var(--o-ui-primary-400);
}

.hover-primary-500:hover {
    color: var(--o-ui-primary-500);
}

.hover-primary-600:hover {
    color: var(--o-ui-primary-600);
}

.hover-primary-700:hover {
    color: var(--o-ui-primary-700);
}

.hover-primary-800:hover {
    color: var(--o-ui-primary-800);
}

.hover-primary-900:hover {
    color: var(--o-ui-primary-900);
}

.focus-primary-50:focus {
    color: var(--o-ui-primary-50);
}

.focus-primary-100:focus {
    color: var(--o-ui-primary-100);
}

.focus-primary-200:focus {
    color: var(--o-ui-primary-200);
}

.focus-primary-300:focus {
    color: var(--o-ui-primary-300);
}

.focus-primary-400:focus {
    color: var(--o-ui-primary-400);
}

.focus-primary-500:focus {
    color: var(--o-ui-primary-500);
}

.focus-primary-600:focus {
    color: var(--o-ui-primary-600);
}

.focus-primary-700:focus {
    color: var(--o-ui-primary-700);
}

.focus-primary-800:focus {
    color: var(--o-ui-primary-800);
}

.focus-primary-900:focus {
    color: var(--o-ui-primary-900);
}
