.o-ui-select-trigger {
    outline: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--o-ui-text-1);
}

.o-ui-select-trigger-fluid {
    width: 100%;
}

.o-ui-select-trigger-outline,
.o-ui-select-trigger-transparent {
    display: flex;
    align-items: center;
    min-height: var(--o-ui-scale-hotel);
    min-width: 325px;
}

.o-ui-select-trigger-inline {
    display: inline-flex;
    align-items: center;
}

.o-ui-select-trigger-outline {
    min-height: var(--o-ui-scale-hotel);
    padding: 0 var(--o-ui-scale-charlie) 0 var(--o-ui-scale-foxtrot);
    background-color: var(--o-ui-background-1);
    border-radius: var(--o-ui-rounded-border-radius);
    border: 1px solid var(--o-ui-border-1);
}

.o-ui-select-trigger-invalid {
    border: 1px solid red;
}

.o-ui-select-trigger-outline.o-ui-select-trigger-focus,
.o-ui-select-trigger-outline:focus:not(:hover) {
    box-shadow: 0 0 0 2px var(--o-ui-focus-ring-color);
}

/* .o-ui-select-trigger-opened:focus {
    border: 0 !important;
} */

/* SELECT VALUE */
.o-ui-select-value {
    display: flex;
}

.o-ui-select-value,
.o-ui-select-placeholder {
    flex-grow: 1;
    text-align: left;
}

.o-ui-select-value-start-icon {
    margin-right: var(--o-ui-scale-alpha);
}

.o-ui-select-menu-fluid {
    width: 100%;
}

/* TRANSPARENT */
.o-ui-select-trigger-transparent.o-ui-select-trigger-focus,
.o-ui-select-trigger-transparent:focus:not(:hover) {
    box-shadow: 0 2px 0 0 var(--o-ui-border-primary-1);
}

.o-ui-select-menu {
    min-width: 325px;
}
