/* TRIGGER */
.o-ui-select-trigger {
    outline: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--o-ui-text-1);
    transition: all .2s ease-in;
}

/* TRIGGER | ICON ARROW */
.o-ui-select-icon-arrow {
    flex-shrink: 0;
}

/* TRIGGER | FLUID */
.o-ui-select-trigger-ghost.o-ui-select-trigger-fluid,
.o-ui-select-trigger-outline.o-ui-select-trigger-fluid {
    width: 100%;
}

/* TRIGGER | OUTLINE & GHOST */
.o-ui-select-trigger-outline,
.o-ui-select-trigger-ghost {
    display: flex;
    align-items: center;
    min-height: var(--o-ui-scale-hotel);
    overflow: hidden;
    padding: 0 var(--o-ui-scale-charlie) 0;
    border-radius: var(--o-ui-rounded-border-radius);
}

/* TRIGGER | STATE | INVALID */
.o-ui-select-trigger-invalid {
    color: var(--o-ui-text-danger-1);
}

/* TRIGGER | STATE | DISABLED */
.o-ui-select-trigger-ghost[disabled],
.o-ui-select-trigger-outline[disabled] {
    opacity: var(--o-ui-disabled-opacity);
    cursor: not-allowed;
}

/* TRIGGER | GHOST */
.o-ui-select-trigger-ghost {
    border: 1px solid transparent;
}

/* TRIGGER | GHOST | STATE | FOCUS */
.o-ui-select-trigger-ghost:not([disabled]).o-ui-select-trigger-focus,
.o-ui-select-trigger-ghost:not([disabled]):focus:not(:hover),
.o-ui-select-trigger-ghost:not([disabled])[aria-expanded="true"] {
    background: var(--o-ui-background-3);
}

/* TRIGGER | GHOST | STATE | HOVER */
.o-ui-select-trigger-ghost:not([disabled]).o-ui-select-trigger-hover,
.o-ui-select-trigger-ghost:not([disabled]):hover {
    background: var(--o-ui-background-3);
}

/* TRIGGER | GHOST | STATE | INVALID | FOCUS */
.o-ui-select-trigger-ghost:not([disabled]).o-ui-select-trigger-invalid.o-ui-select-trigger-focus,
.o-ui-select-trigger-ghost:not([disabled]):focus:not(:hover).o-ui-select-trigger-invalid {
    box-shadow: 0 2px 0 0 var(--o-ui-border-danger-1);
}

/* TRIGGER | GHOST | PLACEHOLDER / VALUE */
.o-ui-select-trigger-ghost .o-ui-select-placeholder {
    margin-right: var(--o-ui-scale-alpha);
}

/* TRIGGER | OUTLINE */
.o-ui-select-trigger-outline {
    width: 325px;
    background-color: var(--o-ui-background-1);
    border: 1px solid var(--o-ui-border-1);
}

/* TRIGGER | OUTLINE | STATE | OPENED */
.o-ui-select-trigger-outline[aria-expanded="true"] {
    border: 1px solid var(--o-ui-border-1-active);
}

/* TRIGGER | OUTLINE | STATE | HOVER */
.o-ui-select-trigger-outline:not([disabled]):hover,
.o-ui-select-trigger-outline:not([disabled]).o-ui-select-trigger-hover {
    border: 1px solid var(--o-ui-border-1-hover);
}

/* TRIGGER | OUTLINE | STATE | FOCUS */
.o-ui-select-trigger-outline.o-ui-select-trigger-invalid.o-ui-select-trigger-focus,
.o-ui-select-trigger-invalid.o-ui-select-trigger-outline:focus:not(:hover) {
    --o-ui-focus-ring-color: var(--o-ui-border-danger-1);
    border: 1px solid var(--o-ui-border-danger-1);
}

/* TRIGGER | OUTLINE | STATE | INVALID */
.o-ui-select-trigger-invalid.o-ui-select-trigger-outline {
    border: 1px solid var(--o-ui-border-danger-1);
}

/* TRIGGER | OUTLINE | STATE | OPENED | INVALID */
.o-ui-select-trigger-outline[aria-expanded="true"].o-ui-select-trigger-invalid {
    border: 1px solid var(--o-ui-border-danger-1-active);
}

/* TRIGGER | OUTLINE | STATE | HOVER | INVALID */
.o-ui-select-trigger-outline:not([disabled]):hover.o-ui-select-trigger-invalid,
.o-ui-select-trigger-hover.o-ui-select-trigger-outline:not([disabled]).o-ui-select-trigger-invalid {
    border: 1px solid var(--o-ui-border-danger-1-hover);
}

/* TRIGGER | OUTLINE | STATE | FOCUS */
.o-ui-select-trigger-outline:not([disabled]).o-ui-select-trigger-focus,
.o-ui-select-trigger-outline:not([disabled]):focus:not(:hover) {
    box-shadow: 0 0 0 1px var(--o-ui-focus-ring-color);
    border: 1px solid var(--o-ui-border-primary-1);
}

/* TRIGGER | OUTLINE | STATE | FOCUS && HOVER */
.o-ui-select-trigger-outline:not([disabled]):hover:focus {
    border: 1px solid var(--o-ui-border-primary-1);
    box-shadow: 0 0 0 1px var(--o-ui-focus-ring-color);
}

/* TRIGGER | OUTLINE | STATE | INVALID | FOCUS && HOVER */
.o-ui-select-trigger-outline:not([disabled]):hover:focus.o-ui-select-trigger-invalid {
    --o-ui-focus-ring-color: var(--o-ui-border-danger-1);
    border: 1px solid var(--o-ui-border-danger-1);
}

/* SELECT VALUE */
.o-ui-select-value {
    display: flex;
    overflow: hidden;
}

/* SELECT VALUE & PLACEHOLDER */
.o-ui-select-value,
.o-ui-select-placeholder {
    flex-grow: 1;
    text-align: left;
}

/* SELECT VALUE | START ICON */
.o-ui-select-value-start-icon {
    margin-right: var(--o-ui-scale-alpha);
}

/* MENU | FLUID */
.o-ui-select-menu-fluid {
    width: 100%;
}

/* TEXT & PLACEHOLDER OVERFLOW */
.o-ui-select-value-text,
.o-ui-select-placeholder {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
