/* WRAPPER */
.o-ui-dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 1em;
}

/* WRAPPER | SCROLLING */
.o-ui-dialog-wrapper-scrolling {
    align-items: flex-start;
}

/* DIALOG */
.o-ui-dialog {
    position: relative;
    display: grid;
    grid-template-areas:
        "heading header"
        "content content"
        "footer buttons";
    background-color: var(--o-ui-global-white);
}

/* DIALOG | SIZES */
.o-ui-dialog-sm {
    width: 544px;
}

.o-ui-dialog-md {
    width: 800px;
}

.o-ui-dialog-lg {
    width: 960px;
}

.o-ui-dialog-fullscreen {
    width: calc(100% - (2 * var(--o-ui-global-scale-hotel)));
    height: calc(100% - (2 * var(--o-ui-global-scale-hotel)));
}

/* DIALOG | HEADING */
.o-ui-dialog-heading {
    grid-area: "heading";
}

/* DIALOG | HEADER */
.o-ui-dialog-header {
    grid-area: "header";
}

/* DIALOG | CONTENT */
.o-ui-dialog-content {
    grid-area: "content";
}

/* DIALOG | FOOTER */
.o-ui-dialog-footer {
    grid-area: "footer";
}

/* DIALOG | BUTTONS */
.o-ui-dialog-button,
.o-ui-dialog-button-group {
    grid-area: "buttons";
}

/* CLOSE BUTTON */
.o-ui-dialog-close-button {
    position: absolute;
    top: var(--o-ui-global-scale-bravo);
    right: var(--o-ui-global-scale-bravo);
}


