/* WRAPPER */
.o-ui-dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 1em;
}

/* WRAPPER | SCROLLING */
.o-ui-dialog-wrapper-scrolling {
    align-items: flex-start;
}

/* DIALOG */
.o-ui-dialog {
    position: relative;
    background-color: var(--o-ui-global-white);
    border-radius: var(--o-ui-global-scale-bravo);
    display: grid;
    grid-template-areas: "illustration aside";
    grid-template-columns: max-content 1fr;
}

.o-ui-dialog:focus-visible {
    outline: none;
}

.o-ui-dialog::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: var(--o-ui-global-scale-bravo);
    border: var(--o-ui-focus-ring-thickness-md) solid var(--o-ui-focus-ring-color);
    opacity: 0;
}

.o-ui-dialog:focus-visible::before {
    opacity: 1;
}

.o-ui-dialog-aside {
    padding: var(--o-ui-global-scale-india);
    display: grid;
    grid-area: aside;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content max-content;
    grid-template-areas:
        "heading header"
        "content content"
        "footer buttons";
}

/* DIALOG | SIZES */
.o-ui-dialog-sm {
    width: 544px;
}

.o-ui-dialog-md {
    width: 800px;
}

.o-ui-dialog-lg {
    width: 960px;
}

.o-ui-dialog-fullscreen {
    width: calc(100% - (2 * var(--o-ui-global-scale-hotel)));
    min-height: calc(100% - (2 * var(--o-ui-global-scale-hotel)));
}

/* DIALOG | ILLUSTRATION */
.o-ui-dialog-illustration {
    grid-area: illustration;
    width: 256px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

/* DIALOG | HEADING */
.o-ui-dialog-heading {
    grid-area: heading;
    align-self: center;
    margin-bottom: 0;
}

/* DIALOG | HEADER */
.o-ui-dialog-header {
    grid-area: header;
    align-self: center;
    margin-left: var(--o-ui-global-scale-delta);
}

/* DIALOG | CONTENT */
.o-ui-dialog-content {
    grid-area: content;
    margin-top: var(--o-ui-global-scale-delta);
}

/* DIALOG | FOOTER */
.o-ui-dialog-footer {
    grid-area: footer;
    margin-top: var(--o-ui-global-scale-foxtrot);
    align-self: center;
}

/* DIALOG | BUTTONS */
.o-ui-dialog-button,
.o-ui-dialog-button-group {
    grid-area: buttons;
    margin-top: var(--o-ui-global-scale-delta);
}

/* DIALOG | BUTTONS AFTER FOOTER*/
.o-ui-dialog-footer + * {
    margin-left: var(--o-ui-global-scale-delta);
}

/* CLOSE BUTTON */
.o-ui-dialog-close-button {
    position: absolute;
    top: var(--o-ui-global-scale-delta);
    right: var(--o-ui-global-scale-delta);
}
