.o-ui-element,
.o-ui-element::after,
.o-ui-element::before {
    box-sizing: border-box;
}

ul:where(.o-ui-element) {
    margin: 0;
    list-style: none;
    padding: 0;
}

ol:where(.o-ui-element) {
    margin: 0;
    list-style: none;
    padding: 0;
}

button:where(.o-ui-element) {
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}

table:where(.o-ui-element) {
    border-collapse: collapse;
}

a:where(.o-ui-element) {
    color: inherit;
    text-decoration: inherit;
}

button:where(.o-ui-element),
input:where(.o-ui-element),
textarea:where(.o-ui-element) {
    padding: 0;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
}

textarea:where(.o-ui-element) {
    resize: vertical;
}

input:where(.o-ui-element)::placeholder,
textarea:where(.o-ui-element)::placeholder {
    opacity: 1;
    color: #A1A1AA;
}

/* Removing Edge input field decoration. */
input[type="text"]:where(.o-ui-element)::-ms-clear,
input[type="text"]:where(.o-ui-element)::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

img:where(.o-ui-element) {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

p:where(.o-ui-element),
h1:where(.o-ui-element),
h2:where(.o-ui-element),
h3:where(.o-ui-element),
h4:where(.o-ui-element),
h5:where(.o-ui-element),
h6:where(.o-ui-element) {
    margin: 0;
}

h1:where(.o-ui-element),
h2:where(.o-ui-element),
h3:where(.o-ui-element),
h4:where(.o-ui-element),
h5:where(.o-ui-element),
h6:where(.o-ui-element) {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

th:where(.o-ui-element) {
    font-weight: inherit;
}

/* View https://css-tricks.com/slightly-careful-sub-elements-clickable-things */
button:where(.o-ui-element) > * {
    pointer-events: none;
}
