.o-ui-element,
.o-ui-element::after,
.o-ui-element::before {
    box-sizing: border-box;
}

ul.o-ui-element {
    margin: 0;
    list-style: none;
    padding: 0;
}

ol.o-ui-element {
    margin: 0;
    list-style: none;
    padding: 0;
}

button.o-ui-element {
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}

table.o-ui-element {
    border-collapse: collapse;
}

a.o-ui-element {
    color: inherit;
    text-decoration: inherit;
}

button.o-ui-element,
input.o-ui-element,
textarea.o-ui-element {
    padding: 0;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
}

textarea.o-ui-element {
    resize: vertical;
}

input.o-ui-element::placeholder,
textarea.o-ui-element::placeholder {
    opacity: 1;
    color: #A1A1AA;
}

/* Removing Edge input field decoration. */
input[type="text"].o-ui-element::-ms-clear,
input[type="text"].o-ui-element::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

img.o-ui-element {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

p.o-ui-element,
h1.o-ui-element,
h2.o-ui-element,
h3.o-ui-element,
h4.o-ui-element,
h5.o-ui-element,
h6.o-ui-element {
    margin: 0;
}

h1.o-ui-element,
h2.o-ui-element,
h3.o-ui-element,
h4.o-ui-element,
h5.o-ui-element,
h6.o-ui-element {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

th.o-ui-element {
    font-weight: inherit;
}

/* View https://css-tricks.com/slightly-careful-sub-elements-clickable-things */
button.o-ui-element > * {
    pointer-events: none;
}
