.o-ui-p {
    font-weight: 400;
    margin-top: 0;
}

.o-ui-p:last-child {
    margin-bottom: 0;
}

/* SIZE */
.o-ui-p-sm {
    margin-bottom: calc(var(--o-ui-global-type-scale-8) * .75);
}

.o-ui-p-md {
    margin-bottom: calc(var(--o-ui-global-type-scale-7) * .75);
}

.o-ui-p-lg {
    margin-bottom: calc(var(--o-ui-global-type-scale-6) * .75);
}

.o-ui-p-xl {
    margin-bottom: calc(var(--o-ui-global-type-scale-5) * .75);
}

.o-ui-p-2xl {
    margin-bottom: calc(var(--o-ui-global-type-scale-4) * .75);
}

.o-ui-p-inherit-size {
    font-weight: inherit;
    margin-bottom: .75em;
}
