[class^="o-ui-popover"] {
    --o-ui-popover-offset: var(--o-ui-scale-alpha);
    --o-ui-popover-border-color: var(--o-ui-border-2);
    --o-ui-popover-focus-border-color: var(--o-ui-focus-ring-color);
}

.o-ui-popover {
    background-color: var(--o-ui-background-1);
    padding: var(--o-ui-scale-foxtrot);
    border-radius: var(--o-ui-rounded-border-radius);
    box-shadow: var(--o-ui-shadow-200);
    /* Must keep a max width. */
    width: 325px;
    position: relative;
    border: 1px solid var(--o-ui-border-2);
}

.o-ui-popover-overlay:focus > *:first-child {
    border: var(--o-ui-focus-ring-dimension-small) solid var(--o-ui-focus-ring-color);
}

/* FOCUS ARROW  */
.o-ui-popover-overlay:focus {
    --o-ui-popover-border-color: var(--o-ui-focus-ring-color);
}

/* BOTTOM ARROW */
.o-ui-popover-overlay[data-popper-placement="bottom"] .o-ui-overlay-arrow::before,
.o-ui-popover-overlay[data-popper-placement="bottom-start"] .o-ui-overlay-arrow::before,
.o-ui-popover-overlay[data-popper-placement="bottom-end"] .o-ui-overlay-arrow::before {
    border-top: 1px solid var(--o-ui-popover-border-color);
    border-left: 1px solid var(--o-ui-popover-border-color);
}

/* TOP ARROW */
.o-ui-popover-overlay[data-popper-placement="top"] .o-ui-overlay-arrow::before,
.o-ui-popover-overlay[data-popper-placement="top-start"] .o-ui-overlay-arrow::before,
.o-ui-popover-overlay[data-popper-placement="top-end"] .o-ui-overlay-arrow::before {
    border-bottom: 1px solid var(--o-ui-popover-border-color);
    border-right: 1px solid var(--o-ui-popover-border-color);
}

/* RIGHT ARROW */
.o-ui-popover-overlay[data-popper-placement="right"] .o-ui-overlay-arrow::before,
.o-ui-popover-overlay[data-popper-placement="right-start"] .o-ui-overlay-arrow::before,
.o-ui-popover-overlay[data-popper-placement="right-end"] .o-ui-overlay-arrow::before {
    border-bottom: 1px solid var(--o-ui-popover-border-color);
    border-left: 1px solid var(--o-ui-popover-border-color);
}

/* LEFT ARROW */
.o-ui-popover-overlay[data-popper-placement="left"] .o-ui-overlay-arrow::before,
.o-ui-popover-overlay[data-popper-placement="left-start"] .o-ui-overlay-arrow::before,
.o-ui-popover-overlay[data-popper-placement="left-end"] .o-ui-overlay-arrow::before {
    border-top: 1px solid var(--o-ui-popover-border-color);
    border-right: 1px solid var(--o-ui-popover-border-color);
}

/* CLOSE BUTTON */
.o-ui-popover-close-button {
    position: absolute;
    top: var(--o-ui-scale-bravo);
    right: var(--o-ui-scale-bravo);
}

/* HEADER */
.o-ui-popover-header {
    margin-bottom: var(--o-ui-scale-bravo);
}

/* FOOTER */
.o-ui-popover-footer {
    margin-top: var(--o-ui-scale-delta);
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto;
    grid-template-areas: "text button";
}

/* FOOTER | TEXT */
.o-ui-popover-footer-text {
    grid-area: text;
    margin-right: var(--o-ui-scale-bravo);
}

/* IMAGE */
.o-ui-popover img {
    border-radius: var(--o-ui-border-radius-pill);
}

/* BUTTONS */
.o-ui-popover-button {
    grid-area: button;
}

.o-ui-popover-button-group {
    grid-area: button;
}

/* OVERLAY */
/* .o-ui-popover-overlay[data-popper-placement*="top"] {
    border-bottom: var(--o-ui-popover-offset) solid transparent;
}

.o-ui-popover-overlay[data-popper-placement*="bottom"] {
    border-top: var(--o-ui-popover-offset) solid transparent;
}

.o-ui-popover-overlay[data-popper-placement*="right"] {
    border-left: var(--o-ui-popover-offset) solid transparent;
}

.o-ui-popover-overlay[data-popper-placement*="left"] {
    border-right: var(--o-ui-popover-offset) solid transparent;
} */
