.o-ui-popover {
    background-color: var(--o-ui-bg-alias-1);
    padding: var(--o-ui-sp-6);
    padding-top: var(--o-ui-sp-4);
    border-radius: var(--o-ui-shape-rounded);
    box-shadow: var(--o-ui-bs-alias-raised);
    /* Must keep a max width. */
    max-width: 325px;
    width: 100%;
    position: relative;
}

/* HEADER | SECTION */
.o-ui-popover-header-section {
    margin-bottom: var(--o-ui-sp-2);
}

/* CONTENT */
.o-ui-popover-content {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

/* FOOTER | SECTION */
.o-ui-popover-footer-section {
    margin-top: var(--o-ui-sp-4);
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto;
    grid-template-areas: "text button";
}

/* FOOTER | TEXT */
.o-ui-popover-footer {
    grid-area: text;
    margin-right: var(--o-ui-sp-2);
}

/* BUTTONS */
.o-ui-popover-button {
    grid-area: button;
    justify-self: end;
}

.o-ui-popover-button-group {
    grid-area: button;
    justify-self: end;
}
