.o-ui-accordion {
    display: flex;
    flex-direction: column;
    box-shadow: var(--o-ui-alias-elevation-skim);
    border-radius: var(--o-ui-global-scale-bravo);
    overflow-anchor: none;
    width: 100%;
}

/* HEADER */
.o-ui-accordion-header {
    margin-bottom: 0 !important;
}

.o-ui-accordion-header:first-of-type,
.o-ui-accordion-header:first-of-type .o-ui-accordion-trigger {
    border-top: 0;
    border-top-left-radius: var(--o-ui-global-scale-bravo);
    border-top-right-radius: var(--o-ui-global-scale-bravo);
}

.o-ui-accordion-header:nth-last-child(2) .o-ui-accordion-trigger[aria-expanded="false"],
.o-ui-accordion-header:nth-last-child(2) + div .o-ui-accordion-panel {
    border-bottom-left-radius: var(--o-ui-global-scale-bravo);
    border-bottom-right-radius: var(--o-ui-global-scale-bravo);
}

/* TRIGGER */
.o-ui-accordion-trigger {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: var(--o-ui-alias-background-1);
    cursor: pointer;
    border: 0;
    border-top: 1px solid var(--o-ui-alias-border-2);
    transition: background-color .3s ease-in, border-bottom-left-radius 5s linear, border-bottom-right-radius  5s linear;
    width: 100%;
    color: var(--o-ui-alias-text-2);
    line-height: inherit;
    font-weight: inherit;
}

.o-ui-accordion-header-sm .o-ui-accordion-trigger {
    padding: calc(var(--o-ui-global-scale-charlie) - 1px) var(--o-ui-global-scale-echo) var(--o-ui-global-scale-charlie) var(--o-ui-global-scale-foxtrot);
}

.o-ui-accordion-header-md .o-ui-accordion-trigger {
    padding: calc(var(--o-ui-global-scale-delta) - 1px) var(--o-ui-global-scale-echo) var(--o-ui-global-scale-delta) var(--o-ui-global-scale-foxtrot);
}

/* TRIGGER | ICON */
.o-ui-accordion-header-md .o-ui-accordion-trigger-has-icon,
.o-ui-accordion-header-sm .o-ui-accordion-trigger-has-icon{
    padding-left: var(--o-ui-global-scale-echo);
}

/* TRIGGER | TITLE */
.o-ui-accordion-title {
    flex-grow: 1;
}

/* TRIGGER | TITLE | ICON */
.o-ui-accordion-icon + .o-ui-accordion-title {
    margin-left: var(--o-ui-global-scale-alpha);
}

/* PANEL */
.o-ui-accordion-panel {
    color: var(--o-ui-alias-text-1);
    padding-left: var(--o-ui-global-scale-echo);
    padding-right: calc(var(--o-ui-global-scale-foxtrot) + var(--o-ui-global-scale-foxtrot));
    background-color: var(--o-ui-alias-background-1);
}

/* STATES */
/* DISABLED */
.o-ui-accordion-trigger[disabled] {
    cursor: not-allowed;
}

.o-ui-accordion-trigger[disabled] .o-ui-accordion-title,
.o-ui-accordion-trigger[disabled] .o-ui-accordion-arrow {
    opacity: var(--o-ui-disabled-opacity);
}

/* HOVER */
.o-ui-accordion-trigger:not([disabled]):hover ,
.o-ui-accordion-trigger-hover:not([disabled]) {
    color: var(--o-ui-alias-text-2-hover);
}

/* FOCUR */
.o-ui-accordion-trigger:not([disabled]):active,
.o-ui-accordion-trigger-active:not([disabled]) {
    color: var(--o-ui-alias-text-2-active);
}

/* FOCUS */
.o-ui-accordion-trigger::before {
    content: "";
    position: absolute;
    top: 50%;
    left: var(--o-ui-global-scale-bravo);
    right: var(--o-ui-global-scale-bravo);
    bottom: calc(var(--o-ui-global-scale-bravo) - 2px);
    border: var(--o-ui-focus-ring-thickness-md) transparent solid;
    border-radius: var(--o-ui-shape-rounded);
    pointer-events: none;
    height: var(--o-ui-global-scale-golf);
    transform: translateY(-50%);
}

.o-ui-accordion-trigger:focus,
.o-ui-accordion-trigger-focus {
    outline: none;
    position: relative;
}

.o-ui-accordion-trigger:focus::before,
.o-ui-accordion-trigger-focus::before {
    border-color: var(--o-ui-alias-border-primary-1);
}
