.o-ui-accordion {
    display: flex;
    flex-direction: column;
    overflow-anchor: none;
    width: 100%;
}

/* BORDERED */
.o-ui-accordion-contained {
    box-shadow: var(--o-ui-alias-elevation-skim);
    border-radius: var(--o-ui-global-scale-bravo);
    background-color: var(--o-ui-alias-background-1);
}

/* HEADER */
.o-ui-accordion-header {
    margin-bottom: 0;
}

/* HEADER BORDERLESS */
.o-ui-accordion-borderless .o-ui-accordion-header .o-ui-accordion-trigger {
    padding-top: var(--o-ui-global-scale-bravo);
    padding-bottom: var(--o-ui-global-scale-bravo);
}

.o-ui-accordion-header:first-child {
    margin-top: 0;
}

/* TRIGGER */
.o-ui-accordion-trigger {
    outline: none;
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: background-color .3s ease-in, border-bottom-left-radius 5s linear, border-bottom-right-radius 5s linear;
    width: 100%;
    color: var(--o-ui-alias-text-2);
    line-height: inherit;
    font-weight: inherit;
    position: relative;
    padding: 0 var(--o-ui-global-scale-bravo);
}

/* TRIGGER | BORDERED */
.o-ui-accordion-contained .o-ui-accordion-trigger {
    background-color: var(--o-ui-alias-background-1);
    padding: calc(var(--o-ui-global-scale-delta) - 1px) var(--o-ui-global-scale-echo) var(--o-ui-global-scale-delta) var(--o-ui-global-scale-foxtrot);
    border-top: 1px solid var(--o-ui-alias-border-2);
}

/* TRIGGER | BORDERED | HOVER */
.o-ui-accordion .o-ui-accordion-trigger:not([disabled]):hover,
.o-ui-accordion .o-ui-accordion-trigger-hover:not([disabled]) {
    background-color: var(--o-ui-alias-background-accordion-hover);
}

/* TRIGGER | CONTENT */
.o-ui-accordion-trigger-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    line-height: 1;
}

/* TRIGGER | CONTENT | TITLE */
.o-ui-accordion-title {
    line-height: 1;
}

/* TRIGGER | BORDERED | HAS ICON */
.o-ui-accordion-contained .o-ui-accordion-trigger.o-ui-accordion-trigger-has-icon {
    padding-left: var(--o-ui-global-scale-delta);
}

.o-ui-accordion-icon + .o-ui-accordion-title {
    margin-left: var(--o-ui-global-scale-alpha);
}

/* PANEL */
.o-ui-accordion-panel {
    color: var(--o-ui-alias-text-1);
    background-color: var(--o-ui-alias-background-1);
}

/* PANEL | BORDERLESS */
.o-ui-accordion-borderless .o-ui-accordion-panel {
    padding-left: var(--o-ui-global-scale-bravo);
    padding-right: var(--o-ui-global-scale-bravo);
}

/* PANEL | BORDERED */
.o-ui-accordion-contained .o-ui-accordion-panel {
    padding-left: var(--o-ui-global-scale-foxtrot);
    padding-right: calc(var(--o-ui-global-scale-foxtrot) + var(--o-ui-global-scale-foxtrot));
}

/* STATES */
/* DISABLED */
.o-ui-accordion-trigger[disabled] {
    cursor: not-allowed;
}

.o-ui-accordion-trigger[disabled] .o-ui-accordion-title,
.o-ui-accordion-trigger[disabled] .o-ui-accordion-arrow {
    opacity: var(--o-ui-disabled-opacity);
}

/* HOVER */
.o-ui-accordion-trigger:not([disabled]):hover ,
.o-ui-accordion-trigger-hover:not([disabled]) {
    color: var(--o-ui-alias-text-2-hover);
}

/* ACTIVE */
.o-ui-accordion-trigger:not([disabled]):active,
.o-ui-accordion-trigger-active:not([disabled]) {
    color: var(--o-ui-alias-text-2-active);
}

/* FOCUS */
.o-ui-accordion-trigger::before {
    content: "";
    position: absolute;
    border: var(--o-ui-focus-ring-thickness-md) transparent solid;
    border-radius: var(--o-ui-shape-rounded);
    pointer-events: none;
}

/* FOCUS | BORDERLESS */
.o-ui-accordion-borderless .o-ui-accordion-trigger::before {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

/* FOCUS | BORDERED */
.o-ui-accordion-contained .o-ui-accordion-trigger::before {
    left: var(--o-ui-global-scale-delta);
    right: var(--o-ui-global-scale-delta);
    bottom: var(--o-ui-global-scale-bravo);
    top: var(--o-ui-global-scale-bravo);
}

.o-ui-accordion-trigger:focus-visible,
.o-ui-accordion-trigger-focus {
    outline: none;
    position: relative;
}

.o-ui-accordion-trigger:focus-visible::before,
.o-ui-accordion-trigger-focus::before {
    border-color: var(--o-ui-alias-border-primary-1);
}

/* BORDERED | FIRST ITEM | BORDER RADIUS */
.o-ui-accordion-contained .o-ui-accordion-header:first-of-type,
.o-ui-accordion-contained .o-ui-accordion-header:first-of-type .o-ui-accordion-trigger {
    border-top-left-radius: var(--o-ui-global-scale-bravo);
    border-top-right-radius: var(--o-ui-global-scale-bravo);
}

/* BORDERED | LAST ITEM | BORDER RADIUS */
.o-ui-accordion-contained .o-ui-accordion-header:last-of-type,
.o-ui-accordion-contained .o-ui-accordion-header:last-of-type .o-ui-accordion-trigger {
    border-bottom-left-radius: var(--o-ui-global-scale-bravo);
    border-bottom-right-radius: var(--o-ui-global-scale-bravo);
}

/* BORDERED | LAST PANEL | BORDER RADIUS */
.o-ui-accordion-contained .o-ui-accordion-panel:last-of-type,
.o-ui-accordion-contained .o-ui-accordion-panel:last-of-type .o-ui-accordion-trigger {
    border-bottom-left-radius: var(--o-ui-global-scale-bravo);
    border-bottom-right-radius: var(--o-ui-global-scale-bravo);
}
