.o-ui-accordion {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-100);
    border-radius: 8px;
    overflow-anchor: none;
    width: 100%;
}

/* HEADER */
.o-ui-accordion-header {
    margin-bottom: 0 !important;
}

.o-ui-accordion-header:first-of-type,
.o-ui-accordion-header:first-of-type .o-ui-accordion-trigger {
    border-top: 0;
    border-top-left-radius: var(--scale-bravo);
    border-top-right-radius: var(--scale-bravo);
}

.o-ui-accordion-header:nth-last-child(2) .o-ui-accordion-trigger[aria-expanded="false"],
.o-ui-accordion-header:nth-last-child(2) + div .o-ui-accordion-panel {
    border-bottom-left-radius: var(--scale-bravo);
    border-bottom-right-radius: var(--scale-bravo);
}

/* TRIGGER */
.o-ui-accordion-trigger {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: var(--foreground-color-1);
    cursor: pointer;
    border: 0;
    border-top: 1px solid var(--secondary-border);
    transition: background-color .3s ease-in, border-bottom-left-radius 5s linear, border-bottom-right-radius  5s linear;
    width: 100%;
    color: var(--primary-text);
    line-height: inherit;
    font-weight: inherit;
}

.o-ui-accordion-header-sm .o-ui-accordion-trigger {
    padding: calc(var(--scale-charlie) - 1px) var(--scale-echo) var(--scale-charlie) var(--scale-foxtrot);
}

.o-ui-accordion-header-md .o-ui-accordion-trigger {
    padding: calc(var(--scale-delta) - 1px) var(--scale-echo) var(--scale-delta) var(--scale-foxtrot);
}

/* TRIGGER | ICON */
.o-ui-accordion-header-md .o-ui-accordion-trigger-has-icon,
.o-ui-accordion-header-sm .o-ui-accordion-trigger-has-icon{
    padding-left: var(--scale-echo);
}

/* TRIGGER | TITLE */
.o-ui-accordion-title {
    flex-grow: 1;
}

/* TRIGGER | TITLE | ICON */
.o-ui-accordion-icon + .o-ui-accordion-title {
    margin-left: var(--scale-alpha);
}

/* PANEL */
.o-ui-accordion-panel {
    color: var(--primary-text);
    padding-left: var(--scale-echo);
    padding-right: calc(var(--scale-foxtrot) + var(--scale-foxtrot));
    background-color: var(--foreground-color-1);
}

/* STATES */
/* DISABLED */
.o-ui-accordion-trigger[disabled] {
    cursor: not-allowed;
}

.o-ui-accordion-trigger[disabled] .o-ui-accordion-title,
.o-ui-accordion-trigger[disabled] .o-ui-accordion-arrow {
    opacity: var(--o-ui-disabled-opacity);
}

/* HOVER */
.o-ui-accordion-trigger:hover ,
.o-ui-accordion-trigger-hover {
    background-color: var( --foreground-color-3);
}

/* HOVER | DISABLED */
.o-ui-accordion-trigger[disabled]:hover {
    background-color: var(--foreground-color-1);
}

/* FOCUS */
.o-ui-accordion-trigger::before {
    content: "";
    position: absolute;
    top: 50%;
    left: var(--scale-bravo);
    right: var(--scale-bravo);
    bottom: calc(var(--scale-bravo) - 2px);
    border: 2px transparent solid;
    border-radius: var(--o-ui-rounded-border-radius);
    pointer-events: none;
    height: var(--scale-golf);
    transform: translateY(-50%);
}

.o-ui-accordion-trigger:focus,
.o-ui-accordion-trigger-focus {
    outline: none;
    position: relative;
}

.o-ui-accordion-trigger:focus::before,
.o-ui-accordion-trigger-focus::before {
    border-color: var(--brand-border);
}
