/* LIGHT */
.o-ui-light-color-scheme {
    /* FOUNDATIONS */
    --o-ui-background: var(--o-ui-white);
    --o-ui-background-1: var(--o-ui-white);
    --o-ui-background-2: var(--o-ui-cloud-100);
    --o-ui-background-2-hover: var(--o-ui-cloud-200);
    --o-ui-background-2-active: var(--o-ui-cloud-500);
    --o-ui-background-3: var(--o-ui-cloud-50);
    --o-ui-background-4: var(--o-ui-neutral-100);
    --o-ui-background-4-hover: var(--o-ui-neutral-300);
    --o-ui-background-4-active: var(--o-ui-neutral-600);
    --o-ui-background-5: var(--o-ui-marine-500);
    --o-ui-background-5-hover: var(--o-ui-marine-700);
    --o-ui-background-5-active: var(--o-ui-marine-900);
    --o-ui-background-primary: var(--o-ui-primary-500);
    --o-ui-background-primary-hover: var(--o-ui-primary-700);
    --o-ui-background-primary-active: var(--o-ui-primary-900);
    --o-ui-background-primary-focus: var(--o-ui-primary-50);
    --o-ui-background-danger: var(--o-ui-alert-500);
    --o-ui-background-danger-hover: var(--o-ui-alert-700);
    --o-ui-background-danger-active: var(--o-ui-alert-900);
    /* TEXT */
    --o-ui-text-1: var(--o-ui-marine-900);
    --o-ui-text-1-hover: var(--o-ui-marine-900);
    --o-ui-text-1-active: var(--o-ui-marine-900);
    --o-ui-text-2: var(--o-ui-marine-500);
    --o-ui-text-2-hover: var(--o-ui-marine-700);
    --o-ui-text-2-active: var(--o-ui-marine-900);
    --o-ui-text-3: var(--o-ui-cloud-500);
    --o-ui-text-3-hover: var(--o-ui-cloud-700);
    --o-ui-text-3-hover-active: var(--o-ui-cloud-900);
    --o-ui-text-4: var(--o-ui-marine-300);
    --o-ui-text-primary: var(--o-ui-primary-500);
    --o-ui-text-primary-hover: var(--o-ui-primary-700);
    --o-ui-text-primary-active: var(--o-ui-primary-700);
    --o-ui-text-danger: var(--o-ui-alert-500);
    --o-ui-text-danger-hover: var(--o-ui-alert-700);
    --o-ui-text-danger-active: var(--o-ui-alert-900);
    /* ICON */
    --o-ui-icon-1: var(--o-ui-marine-900);
    --o-ui-icon-2: var(--o-ui-marine-500);
    /* BORDER */
    --o-ui-border-1: var(--o-ui-cloud-100);
    --o-ui-border-1-hover: var(--o-ui-cloud-300);
    --o-ui-border-1-active: var(--o-ui-cloud-500);
    --o-ui-border-2: var(--o-ui-cloud-50);
    --o-ui-border-3: var(--o-ui-neutral-500);
    --o-ui-border-3-hover: var(--o-ui-neutral-700);
    --o-ui-border-3-active: var(--o-ui-neutral-900);
    --o-ui-border-4: var(--o-ui-marine-500);
    --o-ui-border-4-hover: var(--o-ui-marine-700);
    --o-ui-border-primary: var(--o-ui-primary-500);
    --o-ui-border-primary-hover: var(--o-ui-primary-700);
    --o-ui-border-primary-active: var(--o-ui-primary-900);
    --o-ui-border-danger: var(--o-ui-alert-500);
    --o-ui-border-danger-hover: var(--o-ui-alert-700);
    --o-ui-border-danger-active: var(--o-ui-alert-900);
    /* INFO */
    --o-ui-info-50: var(--o-ui-marine-50);
    --o-ui-info-100: var(--o-ui-marine-100);
    --o-ui-info-200: var(--o-ui-marine-200);
    --o-ui-info-300: var(--o-ui-marine-300);
    --o-ui-info-400: var(--o-ui-marine-400);
    --o-ui-info-500: var(--o-ui-marine-500);
    --o-ui-info-600: var(--o-ui-marine-600);
    --o-ui-info-700: var(--o-ui-marine-700);
    --o-ui-info-800: var(--o-ui-marine-800);
    --o-ui-info-900: var(--o-ui-marine-900);
    /* SUCCESS */
    --o-ui-success-50: var(--o-ui-green-50);
    --o-ui-success-100: var(--o-ui-green-100);
    --o-ui-success-200: var(--o-ui-green-200);
    --o-ui-success-300: var(--o-ui-green-300);
    --o-ui-success-400: var(--o-ui-green-400);
    --o-ui-success-500: var(--o-ui-green-500);
    --o-ui-success-600: var(--o-ui-green-600);
    --o-ui-success-700: var(--o-ui-green-700);
    --o-ui-success-800: var(--o-ui-green-800);
    --o-ui-success-900: var(--o-ui-green-900);
    /* WARNING */
    --o-ui-warning-50: var(--o-ui-sunray-50);
    --o-ui-warning-100: var(--o-ui-sunray-100);
    --o-ui-warning-200: var(--o-ui-sunray-200);
    --o-ui-warning-300: var(--o-ui-sunray-300);
    --o-ui-warning-400: var(--o-ui-sunray-400);
    --o-ui-warning-500: var(--o-ui-sunray-500);
    --o-ui-warning-600: var(--o-ui-sunray-600);
    --o-ui-warning-700: var(--o-ui-sunray-700);
    --o-ui-warning-800: var(--o-ui-sunray-800);
    --o-ui-warning-900: var(--o-ui-sunray-900);
    /* DANGER */
    --o-ui-danger-50: var(--o-ui-alert-50);
    --o-ui-danger-100: var(--o-ui-alert-100);
    --o-ui-danger-200: var(--o-ui-alert-200);
    --o-ui-danger-300: var(--o-ui-alert-300);
    --o-ui-danger-400: var(--o-ui-alert-400);
    --o-ui-danger-500: var(--o-ui-alert-500);
    --o-ui-danger-600: var(--o-ui-alert-600);
    --o-ui-danger-700: var(--o-ui-alert-700);
    --o-ui-danger-800: var(--o-ui-alert-800);
    --o-ui-danger-900: var(--o-ui-alert-900);
    /* STATIC */
    --o-ui-static-white: var(--o-ui-white);
    /* SHADOWS */
    --o-ui-shadow-lightness: 56%;
    --o-ui-shadow-opacity: .32;
    /* SPINNER */
    --o-ui-loading-spinner-background: rgba(256, 256, 256, 0.5);
}

/* DARK */
.o-ui-dark-color-scheme {
    /* FOUNDATIONS */
    --o-ui-background: hsl(226deg, 20%, 15%);
    --o-ui-background-1: #2B2F3C;
    --o-ui-background-2: var(--o-ui-cloud-800);
    --o-ui-background-2-hover: var(--o-ui-cloud-900);
    --o-ui-background-2-active: var(--o-ui-cloud-600);
    --o-ui-background-3: var(--o-ui-cloud-900);
    --o-ui-background-4: var(--o-ui-neutral-dark-800);
    --o-ui-background-4-hover: var(--o-ui-neutral-dark-300);
    --o-ui-background-4-active: var(--o-ui-neutral-dark-100);
    --o-ui-background-5: var(--o-ui-marine-600);
    --o-ui-background-5-hover: var(--o-ui-marine-500);
    --o-ui-background-5-active: var(--o-ui-marine-400);
    --o-ui-background-primary: var(--o-ui-primary-500);
    --o-ui-background-primary-hover: var(--o-ui-primary-400);
    --o-ui-background-primary-active: var(--o-ui-primary-300);
    --o-ui-background-primary-light: var(--o-ui-neutral-dark-800);
    --o-ui-background-danger: var(--o-ui-alert-700);
    --o-ui-background-danger-hover: var(--o-ui-alert-500);
    --o-ui-background-danger-active: var(--o-ui-alert-400);
    /* TEXT */
    --o-ui-text-1: var(--o-ui-static-white);
    --o-ui-text-1-hover: var(--o-ui-static-white);
    --o-ui-text-1-active: var(--o-ui-static-white);
    --o-ui-text-2: var(--o-ui-cloud-300);
    --o-ui-text-2-hover: var(--o-ui-cloud-100);
    --o-ui-text-2-active: var(--o-ui-cloud-50);
    --o-ui-text-3: var(--o-ui-cloud-700);
    --o-ui-text-3-hover: var(--o-ui-cloud-600);
    --o-ui-text-3-hover-active: var(--o-ui-cloud-500);
    /* @todo / check if this color is needed */
    --o-ui-text-4: var(--o-ui-marine-300);
    --o-ui-text-primary: var(--o-ui-primary-500);
    --o-ui-text-primary-hover: var(--o-ui-primary-400);
    --o-ui-text-primary-active: var(--o-ui-primary-400);
    --o-ui-text-danger: var(--o-ui-alert-700);
    --o-ui-text-danger-hover: var(--o-ui-alert-600);
    --o-ui-text-danger-active: var(--o-ui-alert-500);
    /* ICON */
    --o-ui-icon-1: var(--o-ui-static-white);
    --o-ui-icon-2: var(--o-ui-cloud-500);
    /* BORDER */
    --o-ui-border-1: var(--o-ui-neutral-dark-600);
    --o-ui-border-1-hover: var(--o-ui-neutral-dark-400);
    --o-ui-border-1-active: var(--o-ui-neutral-dark-300);
    --o-ui-border-2: var(--o-ui-neutral-dark-800);
    --o-ui-border-3: var(--o-ui-neutral-dark-400);
    --o-ui-border-4: var(--o-ui-marine-400);
    --o-ui-border-4-hover: var(--o-ui-marine-600);
    --o-ui-border-primary: var(--o-ui-primary-700);
    --o-ui-border-primary-hover: var(--o-ui-primary-400);
    --o-ui-border-primary-active: var(--o-ui-primary-300);
    --o-ui-border-danger: var(--o-ui-alert-700);
    --o-ui-border-danger-hover: var(--o-ui-alert-600);
    --o-ui-border-danger-active: var(--o-ui-alert-500);
    /* INFO */
    --o-ui-info-50: var(--o-ui-marine-900);
    --o-ui-info-500: var(--o-ui-marine-600);
    --o-ui-info-600: var(--o-ui-marine-700);
    --o-ui-info-900: var(--o-ui-marine-50);
    /* SUCCESS */
    --o-ui-success-50: var(--o-ui-green-900);
    --o-ui-success-500: var(--o-ui-green-100);
    --o-ui-success-900: var(--o-ui-green-50);
    /* WARNING */
    --o-ui-warning-50: var(--o-ui-sunray-900);
    --o-ui-warning-500: var(--o-ui-sunray-600);
    --o-ui-warning-900: var(--o-ui-sunray-50);
    /* danger */
    --o-ui-danger-50: var(--o-ui-alert-900);
    --o-ui-danger-500: var(--o-ui-alert-600);
    --o-ui-danger-900: var(--o-ui-alert-50);
    /* STATIC */
    --o-ui-static-white: #FFFFFF;
    /* SHADOWS */
    --o-ui-shadow-lightness: 3%;
    --o-ui-shadow-opacity: 1;
    /* FOCUS */
    --o-ui-focus-ring-color: var(--o-ui-primary-800);
}

/* APRICOT */
.o-ui-light-color-scheme.o-ui-apricot-theme {
    color: var(--o-ui-text-1);
    --o-ui-primary-50: var(--o-ui-apricot-50);
    --o-ui-primary-100: var(--o-ui-apricot-100);
    --o-ui-primary-200: var(--o-ui-apricot-200);
    --o-ui-primary-300: var(--o-ui-apricot-300);
    --o-ui-primary-400: var(--o-ui-apricot-400);
    --o-ui-primary-500: var(--o-ui-apricot-500);
    --o-ui-primary-600: var(--o-ui-apricot-600);
    --o-ui-primary-700: var(--o-ui-apricot-700);
    --o-ui-primary-800: var(--o-ui-apricot-800);
    --o-ui-primary-900: var(--o-ui-apricot-900);
}

.o-ui-dark-color-scheme.o-ui-apricot-theme {
    color: var(--o-ui-text-1);
    --o-ui-primary-50: var(--o-ui-apricot-50);
    --o-ui-primary-100: var(--o-ui-apricot-100);
    --o-ui-primary-200: var(--o-ui-apricot-200);
    --o-ui-primary-300: var(--o-ui-apricot-300);
    --o-ui-primary-400: var(--o-ui-apricot-400);
    --o-ui-primary-500: var(--o-ui-apricot-500);
    --o-ui-primary-600: var(--o-ui-apricot-600);
    --o-ui-primary-700: var(--o-ui-apricot-700);
    --o-ui-primary-800: var(--o-ui-apricot-800);
    --o-ui-primary-900: var(--o-ui-apricot-900);
}

/* OVERCAST */
.o-ui-light-color-scheme.o-ui-overcast-theme {
    color: var(--o-ui-text-1);
    --o-ui-primary-50: var(--o-ui-overcast-50);
    --o-ui-primary-100: var(--o-ui-overcast-100);
    --o-ui-primary-200: var(--o-ui-overcast-200);
    --o-ui-primary-300: var(--o-ui-overcast-300);
    --o-ui-primary-400: var(--o-ui-overcast-400);
    --o-ui-primary-500: var(--o-ui-overcast-500);
    --o-ui-primary-600: var(--o-ui-overcast-600);
    --o-ui-primary-700: var(--o-ui-overcast-700);
    --o-ui-primary-800: var(--o-ui-overcast-800);
    --o-ui-primary-900: var(--o-ui-overcast-900);
}

.o-ui-dark-color-scheme.o-ui-overcast-theme {
    color: var(--o-ui-text-1);
    --o-ui-primary-50: var(--o-ui-overcast-50);
    --o-ui-primary-100: var(--o-ui-overcast-100);
    --o-ui-primary-200: var(--o-ui-overcast-200);
    --o-ui-primary-300: var(--o-ui-overcast-300);
    --o-ui-primary-400: var(--o-ui-overcast-400);
    --o-ui-primary-500: var(--o-ui-overcast-500);
    --o-ui-primary-600: var(--o-ui-overcast-600);
    --o-ui-primary-700: var(--o-ui-overcast-700);
    --o-ui-primary-800: var(--o-ui-overcast-800);
    --o-ui-primary-900: var(--o-ui-overcast-900);
}

/* DESKTOP */
.o-ui-light-color-scheme.o-ui-desktop-theme {
    color: var(--o-ui-text-1);
    --o-ui-primary-50: var(--o-ui-desktop-50);
    --o-ui-primary-100: var(--o-ui-desktop-100);
    --o-ui-primary-200: var(--o-ui-desktop-200);
    --o-ui-primary-300: var(--o-ui-desktop-300);
    --o-ui-primary-400: var(--o-ui-desktop-400);
    --o-ui-primary-500: var(--o-ui-desktop-500);
    --o-ui-primary-600: var(--o-ui-desktop-600);
    --o-ui-primary-700: var(--o-ui-desktop-700);
    --o-ui-primary-800: var(--o-ui-desktop-800);
    --o-ui-primary-900: var(--o-ui-desktop-900);
}

.o-ui-dark-color-scheme.o-ui-desktop-theme {
    color: var(--o-ui-text-1);
    --o-ui-primary-50: var(--o-ui-desktop-50);
    --o-ui-primary-100: var(--o-ui-desktop-100);
    --o-ui-primary-200: var(--o-ui-desktop-200);
    --o-ui-primary-300: var(--o-ui-desktop-300);
    --o-ui-primary-400: var(--o-ui-desktop-400);
    --o-ui-primary-500: var(--o-ui-desktop-500);
    --o-ui-primary-600: var(--o-ui-desktop-600);
    --o-ui-primary-700: var(--o-ui-desktop-700);
    --o-ui-primary-800: var(--o-ui-desktop-800);
    --o-ui-primary-900: var(--o-ui-desktop-900);
}
