/* GLOBAL */
.o-ui-theme {
    /* Radiuses */
    --o-ui-global-pill-border-radius: 999px;
    --o-ui-alias-circular-border-radius: 100%;
    --o-ui-alias-rounded-border-radius: var(--o-ui-global-scale-alpha);
    /* STATES | Disabled */
    --o-ui-global-disabled-opacity: 0.4;
    /* FOCUS RING */
    --o-ui-global-focus-ring-thickness-sm: 1px;
    --o-ui-global-focus-ring-thickness-md: 2px;
    --o-ui-global-focus-ring-thickness-lg: 4px;
    --o-ui-global-focus-ring-inset-sm: 0 0 0 var(--o-ui-global-focus-ring-thickness-sm) var(--o-ui-global-focus-ring-color);
    --o-ui-global-focus-ring-inset-md: 0 0 0 var(--o-ui-global-focus-ring-thickness-md) var(--o-ui-global-focus-ring-color);
    --o-ui-global-focus-ring-inset-lg: 0 0 0 var(--o-ui-global-focus-ring-thickness-lg) var(--o-ui-global-focus-ring-color);
    --o-ui-global-focus-ring-outset-outer-offset: 2px;
    --o-ui-global-focus-ring-outset-inner-offset: 1px;
    --o-ui-global-focus-ring-color: var(--o-ui-alias-border-primary-1);
    --o-ui-global-focus-ring-outset: 0 0 0 var(--o-ui-global-focus-ring-outer-offset) var(--o-ui-global-white), 0 0 0 calc(2px + var(o-ui-global-focus-ring-outset-outer-offset)) var(--o-ui-global-focus-ring-color);
    --o-ui-global-focus-ring-transition: all .2s ease-in;
}

/* LIGHT */
.o-ui-light-color-scheme {
    /* FOUNDATIONS */
    --o-ui-alias-background: var(--o-ui-alias-background-light);
    --o-ui-alias-background-1: var(--o-ui-alias-background-1-light);
    --o-ui-alias-background-2: var(--o-ui-alias-background-2-light);
    --o-ui-alias-background-2-hover: var(--o-ui-alias-background-2-hover-light);
    --o-ui-alias-background-2-active: var(--o-ui-alias-background-2-active-light);
    --o-ui-alias-background-3: var(--o-ui-alias-background-3-light);
    --o-ui-alias-background-4: var(--o-ui-alias-background-4-light);
    --o-ui-alias-background-4-hover: var(--o-ui-alias-background-4-hover-light);
    --o-ui-alias-background-4-active: var(--o-ui-alias-background-4-active-light);
    --o-ui-alias-background-5: var(--o-ui-alias-background-5-light);
    --o-ui-alias-background-5-hover: var(--o-ui-alias-background-5-hover-light);
    --o-ui-alias-background-5-active: var(--o-ui-alias-background-5-active-light);
    --o-ui-alias-background-primary-1: var(--o-ui-alias-background-primary-1-light);
    --o-ui-alias-background-primary-1-hover: var(--o-ui-alias-background-primary-1-hover-light);
    --o-ui-alias-background-primary-1-active: var(--o-ui-alias-background-primary-1-active-light);
    --o-ui-alias-background-primary-1-focus: var(--o-ui-alias-background-primary-focus-light);
    --o-ui-alias-background-primary-2: var(--o-ui-alias-background-primary-2-light);
    --o-ui-alias-background-negative-1: var(--o-ui-alias-background-negative-1-light);
    --o-ui-alias-background-negative-1-hover: var(--o-ui-alias-background-negative-1-hover-light);
    --o-ui-alias-background-negative-1-active: var(--o-ui-alias-background-negative-1-active-light);
    --o-ui-alias-background-negative-2: var(--o-ui-alias-background-negative-2-light);
    --o-ui-alias-background-warning-1: var(--o-ui-alias-background-warning-1-light);
    --o-ui-alias-background-warning-1-hover: var(--o-ui-alias-background-warning-1-hover-light);
    --o-ui-alias-background-warning-1-active: var(--o-ui-alias-background-warning-1-active-light);
    --o-ui-alias-background-warning-2: var(--o-ui-alias-background-warning-2-light);
    --o-ui-alias-background-positive-1: var(--o-ui-alias-background-positive-1-light);
    --o-ui-alias-background-positive-1-hover: var(--o-ui-alias-background-positive-1-hover-light);
    --o-ui-alias-background-positive-1-active: var(--o-ui-alias-background-positive-1-active-light);
    --o-ui-alias-background-positive-2: var(--o-ui-alias-background-positive-2-light);
    --o-ui-alias-background-info-1: var(--o-ui-alias-background-info-1-light);
    --o-ui-alias-background-info-1-hover: var(--o-ui-alias-background-info-1-hover-light);
    --o-ui-alias-background-info-1-active: var(--o-ui-alias-background-info-1-active-light);
    --o-ui-alias-background-input-selection: var(--o-ui-alias-background-input-selection-light);
    /* TEXT */
    --o-ui-alias-text-1: var(--o-ui-alias-text-1-light);
    --o-ui-alias-text-1-hover: var(--o-ui-alias-text-1-hover-light);
    --o-ui-alias-text-1-active: var(--o-ui-alias-text-1-active-light);
    --o-ui-alias-text-2: var(--o-ui-alias-text-2-light);
    --o-ui-alias-text-2-hover: var(--o-ui-alias-text-2-hover-light);
    --o-ui-alias-text-2-active: var(--o-ui-alias-text-2-active-light);
    --o-ui-alias-text-3: var(--o-ui-alias-text-3-light);
    --o-ui-alias-text-3-hover: var(--o-ui-alias-text-3-hover-light);
    --o-ui-alias-text-3-active: var(--o-ui-alias-text-3-active-light);
    --o-ui-alias-text-4: var(--o-ui-alias-text-4-light);
    --o-ui-alias-text-primary-1: var(--o-ui-alias-text-primary-1-light);
    --o-ui-alias-text-primary-1-hover: var(--o-ui-alias-text-primary-1-hover-light);
    --o-ui-alias-text-primary-1-active: var(--o-ui-alias-text-primary-1-active-light);
    --o-ui-alias-text-negative-1: var(--o-ui-alias-text-negative-1-light);
    --o-ui-alias-text-negative-1-hover: var(--o-ui-alias-text-negative-1-hover-light);
    --o-ui-alias-text-negative-1-active: var(--o-ui-alias-text-negative-1-active-light);
    --o-ui-alias-text-negative-2: var(--o-ui-alias-text-negative-2-light);
    --o-ui-alias-text-info-1: var(--o-ui-alias-text-info-1-light);
    --o-ui-alias-text-info-1-hover: var(--o-ui-alias-text-info-1-hover-light);
    --o-ui-alias-text-info-1-active: var(--o-ui-alias-text-info-1-active-light);
    --o-ui-alias-text-positive-1: var(--o-ui-alias-text-positive-1-light);
    --o-ui-alias-text-positive-1-hover: var(--o-ui-alias-text-positive-1-hover-light);
    --o-ui-alias-text-positive-1-active: var(--o-ui-alias-text-positive-1-active-light);
    --o-ui-alias-text-positive-2: var(--o-ui-alias-text-positive-2-light);
    --o-ui-alias-text-warning-1: var(--o-ui-alias-text-warning-1-light);
    --o-ui-alias-text-warning-1-hover: var(--o-ui-alias-text-warning-1-hover-light);
    --o-ui-alias-text-warning-1-active: var(--o-ui-alias-text-warning-1-active-light);
    --o-ui-alias-text-warning-2: var(--o-ui-alias-text-warning-2-light);
    --o-ui-alias-text-input-selection: var(--o-ui-alias-text-input-selection-light);
    --o-ui-alias-text-input-placeholder: var(--o-ui-alias-text-input-placeholder-light);
    /* ICON */
    --o-ui-alias-icon-1: var(--o-ui-alias-icon-1-light);
    --o-ui-alias-icon-2: var(--o-ui-alias-icon-2-light);
    --o-ui-alias-icon-primary-1: var(--o-ui-alias-icon-primary-1-light);
    --o-ui-alias-icon-negative-1: var(--o-ui-alias-icon-negative-1-light);
    --o-ui-alias-icon-negative-2: var(--o-ui-alias-icon-negative-2-light);
    --o-ui-alias-icon-positive-1: var(--o-ui-alias-icon-positive-1-light);
    --o-ui-alias-icon-positive-2: var(--o-ui-alias-icon-positive-2-light);
    --o-ui-alias-icon-warning-1: var(--o-ui-alias-icon-warning-1-light);
    --o-ui-alias-icon-warning-2: var(--o-ui-alias-icon-warning-2-light);
    --o-ui-alias-icon-info-1: var(--o-ui-alias-icon-info-1-light);
    /* BORDER */
    --o-ui-alias-border-1: var(--o-ui-alias-border-1-light);
    --o-ui-alias-border-1-hover: var(--o-ui-alias-border-1-hover-light);
    --o-ui-alias-border-1-active: var(--o-ui-alias-border-1-active-light);
    --o-ui-alias-border-2: var(--o-ui-alias-border-2-light);
    --o-ui-alias-border-3: var(--o-ui-alias-border-3-light);
    --o-ui-alias-border-3-hover: var(--o-ui-alias-border-3-hover-light);
    --o-ui-alias-border-3-active: var(--o-ui-alias-border-3-active-light);
    --o-ui-alias-border-4: var(--o-ui-alias-border-4-light);
    --o-ui-alias-border-4-hover: var(--o-ui-alias-border-4-hover-light);
    --o-ui-alias-border-primary-1: var(--o-ui-alias-border-primary-1-light);
    --o-ui-alias-border-primary-1-hover: var(--o-ui-alias-border-primary-1-hover-light);
    --o-ui-alias-border-primary-1-active: var(--o-ui-alias-border-primary-1-active-light);
    --o-ui-alias-border-negative-1: var(--o-ui-alias-border-negative-1-light);
    --o-ui-alias-border-negative-1-hover: var(--o-ui-alias-border-negative-1-hover-light);
    --o-ui-alias-border-negative-1-active: var(--o-ui-alias-border-negative-1-active-light);
    --o-ui-alias-border-negative-2: var(--o-ui-alias-border-negative-2-light);
    --o-ui-alias-border-warning-1: var(--o-ui-alias-border-warning-1-light);
    --o-ui-alias-border-warning-1-hover: var(--o-ui-alias-border-warning-1-hover-light);
    --o-ui-alias-border-warning-1-active: var(--o-ui-alias-border-warning-1-active-light);
    --o-ui-alias-border-positive-1: var(--o-ui-alias-border-positive-1-light);
    --o-ui-alias-border-positive-1-hover: var(--o-ui-alias-border-positive-1-hover-light);
    --o-ui-alias-border-positive-1-active: var(--o-ui-alias-border-positive-1-active-light);
}

/* DARK */
.o-ui-dark-color-scheme {
    /* FOUNDATIONS */
    --o-ui-alias-background: var(--o-ui-alias-background-dark);
    --o-ui-alias-background-1: var(--o-ui-alias-background-1-dark);
    --o-ui-alias-background-2: var(--o-ui-alias-background-2-dark);
    --o-ui-alias-background-2-hover: var(--o-ui-alias-background-2-hover-dark);
    --o-ui-alias-background-2-active: var(--o-ui-alias-background-2-active-dark);
    --o-ui-alias-background-3: var(--o-ui-alias-background-3-dark);
    --o-ui-alias-background-4: var(--o-ui-alias-background-4-dark);
    --o-ui-alias-background-4-hover: var(--o-ui-alias-background-4-hover-dark);
    --o-ui-alias-background-4-active: var(--o-ui-alias-background-4-active-dark);
    --o-ui-alias-background-5: var(--o-ui-alias-background-5-dark);
    --o-ui-alias-background-5-hover: var(--o-ui-alias-background-5-hover-dark);
    --o-ui-alias-background-5-active: var(--o-ui-alias-background-5-active-dark);
    --o-ui-alias-background-primary-1: var(--o-ui-alias-background-primary-1-dark);
    --o-ui-alias-background-primary-1-hover: var(--o-ui-alias-background-primary-1-hover-dark);
    --o-ui-alias-background-primary-1-active: var(--o-ui-alias-background-primary-1-active-dark);
    --o-ui-alias-background-primary-1-focus: var(--o-ui-alias-background-primary-1-focus-dark);
    --o-ui-alias-background-primary-2: var(--o-ui-alias-background-primary-2-dark);
    --o-ui-alias-background-negative-1: var(--o-ui-alias-background-negative-1-dark);
    --o-ui-alias-background-negative-1-hover: var(--o-ui-alias-background-negative-1-hover-dark);
    --o-ui-alias-background-negative-1-active: var(--o-ui-alias-background-negative-1-active-dark);
    --o-ui-alias-background-negative-2: var(--o-ui-alias-background-negative-2-dark);
    --o-ui-alias-background-warning-1: var(--o-ui-alias-background-warning-1-dark);
    --o-ui-alias-background-warning-1-hover: var(--o-ui-alias-background-warning-1-hover-dark);
    --o-ui-alias-background-warning-1-active: var(--o-ui-alias-background-warning-1-active-dark);
    --o-ui-alias-background-warning-2: var(--o-ui-alias-background-warning-2-dark);
    --o-ui-alias-background-positive-1: var(--o-ui-alias-background-positive-1-dark);
    --o-ui-alias-background-positive-1-hover: var(--o-ui-alias-background-positive-1-hover-dark);
    --o-ui-alias-background-positive-1-active: var(--o-ui-alias-background-positive-1-active-dark);
    --o-ui-alias-background-positive-2: var(--o-ui-alias-background-positive-2-dark);
    --o-ui-alias-background-info-1: var(--o-ui-alias-background-info-1-dark);
    --o-ui-alias-background-info-1-hover: var(--o-ui-alias-background-info-1-hover-dark);
    --o-ui-alias-background-info-1-active: var(--o-ui-alias-background-info-1-active-dark);
    --o-ui-alias-background-info-2: var(--o-ui-alias-background-info-2-dark);
    --o-ui-alias-background-input-selection: var(--o-ui-alias-background-input-selection-dark);
    /* TEXT */
    --o-ui-alias-text-1: var(--o-ui-alias-text-1-dark);
    --o-ui-alias-text-1-hover: var(--o-ui-alias-text-1-hover-dark);
    --o-ui-alias-text-1-active: var(--o-ui-alias-text-1-active-dark);
    --o-ui-alias-text-2: var(--o-ui-alias-text-2-dark);
    --o-ui-alias-text-2-hover: var(--o-ui-alias-text-2-hover-dark);
    --o-ui-alias-text-2-active: var(--o-ui-alias-text-2-active-dark);
    --o-ui-alias-text-3: var(--o-ui-alias-text-3-dark);
    --o-ui-alias-text-3-hover: var(--o-ui-alias-text-3-hover-dark);
    --o-ui-alias-text-3-active: var(--o-ui-alias-text-3-active-dark);
    --o-ui-alias-text-4: var(--o-ui-alias-text-4-dark);
    --o-ui-alias-text-primary-1: var(--o-ui-alias-text-primary-1-dark);
    --o-ui-alias-text-primary-1-hover: var(--o-ui-alias-text-primary-1-hover-dark);
    --o-ui-alias-text-primary-1-active: var(--o-ui-alias-text-primary-1-active-dark);
    --o-ui-alias-text-negative-1: var(--o-ui-alias-text-negative-1-dark);
    --o-ui-alias-text-negative-1-hover: var(--o-ui-alias-text-negative-1-hover-dark);
    --o-ui-alias-text-negative-1-active: var(--o-ui-alias-text-negative-1-active-dark);
    --o-ui-alias-text-negative-2: var(--o-ui-alias-text-negative-2-dark);
    --o-ui-alias-text-info-1: var(--o-ui-alias-text-info-1-dark);
    --o-ui-alias-text-info-1-hover: var(--o-ui-alias-text-info-1-hover-dark);
    --o-ui-alias-text-info-1-active: var(--o-ui-alias-text-info-1-active-dark);
    --o-ui-alias-text-positive-1: var(--o-ui-alias-text-positive-1-dark);
    --o-ui-alias-text-positive-1-hover: var(--o-ui-alias-text-positive-1-hover-dark);
    --o-ui-alias-text-positive-1-active: var(--o-ui-alias-text-positive-1-active-dark);
    --o-ui-alias-text-positive-2: var(--o-ui-alias-text-positive-2-dark);
    --o-ui-alias-text-warning-1: var(--o-ui-alias-text-warning-1-dark);
    --o-ui-alias-text-warning-1-hover: var(--o-ui-alias-text-warning-1-hover-dark);
    --o-ui-alias-text-warning-1-active: var(--o-ui-alias-text-warning-1-active-dark);
    --o-ui-alias-text-warning-2: var(--o-ui-alias-text-warning-2-dark);
    --o-ui-alias-text-input-selection: var(--o-ui-alias-text-input-selection-dark);
    --o-ui-alias-text-input-placeholder: var(--o-ui-alias-text-input-placeholder-dark);
    /* ICON */
    --o-ui-alias-icon-1: var(--o-ui-alias-icon-1-dark);
    --o-ui-alias-icon-2: var(--o-ui-alias-icon-2-dark);
    --o-ui-alias-icon-primary-1: var(--o-ui-alias-icon-primary-1-dark);
    --o-ui-alias-icon-dange-1r: var(--o-ui-alias-icon-negative-1-dark);
    --o-ui-alias-icon-negative-2: var(--o-ui-alias-icon-negative-2-dark);
    --o-ui-alias-icon-positive-1: var(--o-ui-alias-icon-positive-1-dark);
    --o-ui-alias-icon-positive-2: var(--o-ui-alias-icon-positive-2-dark);
    --o-ui-alias-icon-warning-1: var(--o-ui-alias-icon-warning-1-dark);
    --o-ui-alias-icon-warning-2: var(--o-ui-alias-icon-warning-2-dark);
    --o-ui-alias-icon-info-1: var(--o-ui-alias-icon-info-1-dark);
    /* BORDER */
    --o-ui-alias-border-1: var(--o-ui-alias-border-1-dark);
    --o-ui-alias-border-1-hover: var(--o-ui-alias-border-1-hover-dark);
    --o-ui-alias-border-1-active: var(--o-ui-alias-border-1-active-dark);
    --o-ui-alias-border-2: var(--o-ui-alias-border-2-dark);
    --o-ui-alias-border-3: var(--o-ui-alias-border-3-dark);
    --o-ui-alias-border-3-hover: var(--o-ui-alias-border-3-hover-dark);
    --o-ui-alias-border-3-active: var(--o-ui-alias-border-3-active-dark);
    --o-ui-alias-border-4: var(--o-ui-alias-border-4-dark);
    --o-ui-alias-border-4-hover: var(--o-ui-alias-border-4-hover-dark);
    --o-ui-alias-border-primary-1: var(--o-ui-alias-border-primary-1-dark);
    --o-ui-alias-border-primary-1-hover: var(--o-ui-alias-border-primary-1-hover-dark);
    --o-ui-alias-border-primary-1-active: var(--o-ui-alias-border-primary-1-active-dark);
    --o-ui-alias-border-negative-1: var(--o-ui-alias-border-negative-1-dark);
    --o-ui-alias-border-negative-1-hover: var(--o-ui-alias-border-negative-1-hover-dark);
    --o-ui-alias-border-negative1-active: var(--o-ui-alias-border-negative-1-active-dark);
    --o-ui-alias-border-negative-2: var(--o-ui-alias-border-negative-2-dark);
    --o-ui-alias-border-warning-1: var(--o-ui-alias-border-warning-1-dark);
    --o-ui-alias-border-warning-1-hover: var(--o-ui-alias-border-warning-1-hover-dark);
    --o-ui-alias-border-warning-1-active: var(--o-ui-alias-border-warning-1-active-dark);
    --o-ui-alias-border-positive-1: var(--o-ui-alias-border-positive-1-dark);
    --o-ui-alias-border-positive-1-hover: var(--o-ui-alias-border-positive-1-hover-dark);
    --o-ui-alias-border-positive-1-active: var(--o-ui-alias-border-positive-1-active-dark);
}

/* APRICOT */
.o-ui-apricot-theme {
    --o-ui-alias-primary-50: var(--o-ui-global-apricot-50);
    --o-ui-alias-primary-100: var(--o-ui-global-apricot-100);
    --o-ui-alias-primary-200: var(--o-ui-global-apricot-200);
    --o-ui-alias-primary-300: var(--o-ui-global-apricot-300);
    --o-ui-alias-primary-400: var(--o-ui-global-apricot-400);
    --o-ui-alias-primary-500: var(--o-ui-global-apricot-500);
    --o-ui-alias-primary-600: var(--o-ui-global-apricot-600);
    --o-ui-alias-primary-700: var(--o-ui-global-apricot-700);
    --o-ui-alias-primary-800: var(--o-ui-global-apricot-800);
    --o-ui-alias-primary-900: var(--o-ui-global-apricot-900);
}

/* OVERCAST */
.o-ui-overcast-theme {
    --o-ui-alias-primary-50: var(--o-ui-global-overcast-50);
    --o-ui-alias-primary-100: var(--o-ui-global-overcast-100);
    --o-ui-alias-primary-200: var(--o-ui-global-overcast-200);
    --o-ui-alias-primary-300: var(--o-ui-global-overcast-300);
    --o-ui-alias-primary-400: var(--o-ui-global-overcast-400);
    --o-ui-alias-primary-500: var(--o-ui-global-overcast-500);
    --o-ui-alias-primary-600: var(--o-ui-global-overcast-600);
    --o-ui-alias-primary-700: var(--o-ui-global-overcast-700);
    --o-ui-alias-primary-800: var(--o-ui-global-overcast-800);
    --o-ui-alias-primary-900: var(--o-ui-global-overcast-900);
}

/* DESKTOP */
.o-ui-desktop-theme {
    --o-ui-alias-primary-50: var(--o-ui-global-desktop-50);
    --o-ui-alias-primary-100: var(--o-ui-global-desktop-100);
    --o-ui-alias-primary-200: var(--o-ui-global-desktop-200);
    --o-ui-alias-primary-300: var(--o-ui-global-desktop-300);
    --o-ui-alias-primary-400: var(--o-ui-global-desktop-400);
    --o-ui-alias-primary-500: var(--o-ui-global-desktop-500);
    --o-ui-alias-primary-600: var(--o-ui-global-desktop-600);
    --o-ui-alias-primary-700: var(--o-ui-global-desktop-700);
    --o-ui-alias-primary-800: var(--o-ui-global-desktop-800);
    --o-ui-alias-primary-900: var(--o-ui-global-desktop-900);
}
