/* PSEUDO | BACKGROUND */
.o-ui-bg-hover:hover {
    --o-ui-bg-hover: initial;
    background-color: var(--o-ui-bg-hover) !important;
}

.o-ui-bg-focus:focus-visible {
    --o-ui-bg-focus: initial;
    background-color: var(--o-ui-bg-focus) !important;
}
