/* PSEUDO | BORDER */
.o-ui-b-hover:hover {
    --o-ui-b-hover: initial;
    border: var(--o-ui-b-hover) !important;
}

.o-ui-bb-hover:hover {
    --o-ui-bb-hover: initial;
    border-bottom: var(--o-ui-bb-hover) !important;
}

.o-ui-bl-hover:hover {
    --o-ui-bl-hover: initial;
    border-left: var(--o-ui-bl-hover) !important;
}

.o-ui-br-hover:hover {
    --o-ui-br-hover: initial;
    border-right: var(--o-ui-br-hover) !important;
}

.o-ui-bt-hover:hover {
    --o-ui-bt-hover: initial;
    border-top: var(--o-ui-bt-hover) !important;
}

.o-ui-b-focus:focus-visible {
    --o-ui-b-focus: initial;
    border: var(--o-ui-b-focus) !important;
}

.o-ui-bb-focus:focus-visible {
    --o-ui-bb-focus: initial;
    border-bottom: var(--o-ui-bb-focus) !important;
}

.o-ui-bl-focus:focus-visible {
    --o-ui-bl-focus: initial;
    border-left: var(--o-ui-bl-focus) !important;
}

.o-ui-br-focus:focus-visible {
    --o-ui-br-focus: initial;
    border-right: var(--o-ui-br-focus) !important;
}

.o-ui-bt-focus:focus-visible {
    --o-ui-bt-focus: initial;
    border-top: var(--o-ui-bt-focus) !important;
}
