.o-ui-overlay {
    outline: none;
    width: fit-content;
    height: fit-content;
}

/* ARROW */
.o-ui-overlay-arrow,
.o-ui-overlay-arrow::before {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 1;
}

.o-ui-overlay-arrow::before {
    content: "";
    transform: rotate(45deg);
    background: var(--o-ui-background-1);
    border-top: 1px solid var(--o-ui-border-2);
    border-left: 1px solid var(--o-ui-border-2);
}

.o-ui-overlay[data-popper-placement^="top"] > .o-ui-overlay-arrow {
    bottom: calc(-1 * var(--o-ui-scale-alpha));
}

.o-ui-overlay[data-popper-placement^="bottom"] > .o-ui-overlay-arrow {
    top: calc(-1 * var(--o-ui-scale-alpha));
}

.o-ui-overlay[data-popper-placement^="left"] > .o-ui-overlay-arrow {
    right: calc(-1 * var(--o-ui-scale-alpha));
}

.o-ui-overlay[data-popper-placement^="right"] > .o-ui-overlay-arrow {
    left: calc(-1 * var(--o-ui-scale-alpha));
}
