.o-ui-form {
    width: max-content;
    display: grid;
    gap: var(--o-ui-sp-5);
}

/* FLUID */
.o-ui-form-fluid {
    width: 100%;
}

/* FIELDSET */
.o-ui-fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.o-ui-fieldset-label {
    display: inline-block;
    font-size: var(--o-ui-fs-4);
    font-weight: 400;
    font-variation-settings: "wght" 600;
    color: var(--o-ui-text-alias-primary);
    margin-bottom: var(--o-ui-sp-3);
}

.o-ui-fieldset-fields {
    display: grid;
    width: 100%;
    gap: var(--o-ui-sp-5);
}
