.o-ui-tabs-vertical {
    display: flex;
}

.o-ui-tab-list {
    display: flex;
}

.o-ui-tab-list[aria-orientation="horizontal"] {
    /* border-bottom: 2px solid var(--marine-50); */
}

.o-ui-tab-list[aria-orientation="vertical"] {
    flex-direction: column;
    border-left: 2px solid var(--marine-50);
}

/* TAB */
.o-ui-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: var(--scale-bravo);
    border: transparent;
    transition: all 0.2s;
    width: max-content;
    height: max-content;
    cursor: pointer;
    color: var(--marine-900);
    margin-right: var(--scale-charlie);
}

.o-ui-tab:last-child {
    margin-right: v0;
}

.o-ui-tab-list[aria-orientation="horizontal"] .o-ui-tab {
    border-bottom: 2px solid transparent;
}

/* STATE | DISABLED */
.o-ui-tab[aria-disabled="true"] {
    background-color: var(--marine-50);
    color: var(--marine-900);
    opacity: var(--o-ui-disabled-opacity);
    cursor: not-allowed;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* STATE | FOCUS */
.o-ui-tab:focus,
.o-ui-tab-focus {
    outline: 2px solid var(--o-ui-focus-ring-color);
    z-index: 2;
}

.o-ui-tab-panel:focus,
.o-ui-tab-focus {
    outline: 2px solid var(--o-ui-focus-ring-color);
}

/* STATE | SELECTED */
.o-ui-tab-list[aria-orientation="horizontal"] .o-ui-tab[aria-selected="true"] {
    border-bottom: 2px solid var(--primary-900);
    color: var(--primary-900);
}

.o-ui-tab-list[aria-orientation="vertical"] .o-ui-tab[aria-selected="true"] {
    border-left: 2px solid var(--primary-900);
}

/* FLUID */
/* FLUID | HORIZONTAL */
.o-ui-tabs-fluid .o-ui-tab-list[aria-orientation="horizontal"] .o-ui-tab {
    width: 100%;
}

/* FLUID | VERTICAL */
.o-ui-tabs-fluid .o-ui-tab-list[aria-orientation="vertical"] .o-ui-tab {
    height: 100%;
}

/* PANEL */
.o-ui-tab-panel {
    padding: var(--scale-bravo);
}

/* PANEL | HORIZONTAL */
.o-ui-tab-list[aria-orientation="horizontal"] .o-ui-tab-panel {
    margin-top: 2px;
}

/* PANEL | FLUID */
.o-ui-tabs-fluid .o-ui-tab-panel {
    width: 100%;
    height: 100%;
}

/* ICON */
.o-ui-tab-icon + .o-ui-tab-text {
    margin-left: var(--scale-alpha);
}

/* LOZENGE */
.o-ui-tab-text + .o-ui-tab-lozenge {
    margin-left: var(--scale-bravo);
}
