.o-ui-tabs-vertical {
    display: flex;
}

.o-ui-tab-list {
    display: flex;
}

/* .o-ui-tabs-horizontal .o-ui-tab-list {
    border-bottom: 2px solid lightgray;
} */

.o-ui-tab-list[aria-orientation="vertical"] {
    flex-direction: column;
    /* border-left: 2px solid lightgray; */
}

.o-ui-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: var(--scale-bravo);
    border: transparent;
    transition: all 0.2s;
    width: max-content;
    height: max-content;
}

.o-ui-tab-list[aria-orientation="horizontal"] .o-ui-tab {
    border-bottom: 2px solid transparent;
    /* margin-bottom: -2px; */
}

.o-ui-tab-list[aria-orientation="vertical"] .o-ui-tab {
    border-left: 2px solid lightgray;
    /* margin-left: -2px; */
}

.o-ui-tabs-fluid .o-ui-tab-list[aria-orientation="horizontal"] .o-ui-tab {
    width: 100%;
}

.o-ui-tabs-fluid .o-ui-tab-list[aria-orientation="vertical"] .o-ui-tab {
    height: 100%;
}

.o-ui-tab-list[aria-orientation="horizontal"] .o-ui-tab[aria-selected="true"] {
    border-bottom: 2px solid black;
}

.o-ui-tab-list[aria-orientation="vertical"] .o-ui-tab[aria-selected="true"] {
    border-left: 2px solid black;
}

.o-ui-tab-panel {
    padding: var(--scale-bravo);
}

.o-ui-tabs-fluid .o-ui-tab-panel {
    width: 100%;
    height: 100%;
}
