.o-ui-tooltip {
    background-color: var(--o-ui-bg-alias-1);
    border-radius: var(--o-ui-shape-rounded);
    box-shadow: var(--o-ui-bs-alias-raised);
    border: 1px solid var(--o-ui-b-alias-2);
    padding: var(--o-ui-space-3);
    max-width: 325px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

/* We need a .o-ui-tooltip-content class */
/* LEFT ICON */
.o-ui-tooltip .o-ui-icon {
    margin-right: var(--o-ui-space-1);
}

/* RIGHT ICON */
.o-ui-tooltip .o-ui-text + .o-ui-icon  {
    margin-left: var(--o-ui-space-1);
}

/* DISABLED WRAPPER */
.o-ui-tooltip-disabled-wrapper {
    display: inline-block;
}
