.o-ui-icon {
    display: block;
    fill: currentColor;
    width: var(--o-ui-sz-3);
    height: var(--o-ui-sz-3);
}

/* SIZES */
.o-ui-icon-inherit-size {
    width: 1em;
    height: 1em;
}

/* DISABLED */
.o-ui-icon-disabled {
    opacity: var(--o-ui-disabled-opacity);
}
