.background {
    background-color: var(--o-ui-background);
}

.background-1 {
    background-color: var(--o-ui-background-1);
}

.background-2 {
    background-color: var(--o-ui-background-2);
}

.background-2-hover:hover {
    background-color: var(--o-ui-background-2-hover);
}

.background-2-active:active {
    background-color: var(--o-ui-background-2-active);
}

.background-3 {
    background-color: var(--o-ui-background-3);
}

.background-4 {
    background-color: var(--o-ui-background-4);
}

.background-4-hover:hover {
    background-color: var(--o-ui-background-4-hover);
}

.background-4-active:active {
    background-color: var(--o-ui-background-4-active);
}

.background-5 {
    background-color: var(--o-ui-background-5);
}

.background-5-hover:hover {
    background-color: var(--o-ui-background-5-hover);
}

.background-5-active:active {
    background-color: var(--o-ui-background-5-hover);
}

.background-primary {
    background-color: var(--o-ui-background-primary);
}

.background-primary-hover:hover {
    background-color: var(--o-ui-background-primary-hover);
}

.background-primary-active:active {
    background-color: var(--o-ui-background-primary-active);
}

.background-primary-light {
    background-color: var(--o-ui-background-primary-light);
}

.background-danger {
    background-color: var(--o-ui-background-danger);
}

.background-danger-hover:hover {
    background-color: var(--o-ui-background-danger-hover);
}

.background-danger-active:active {
    background-color: var(--o-ui-background-danger-active);
}

.background-danger-pale {
    background-color: var(--o-ui-background-danger-pale);
}

.background-warning {
    background-color: var(--o-ui-background-warning);
}

.background-warning-hover:hover {
    background-color: var(--o-ui-background-warning-hover);
}

.background-warning-active:active {
    background-color: var(--o-ui-background-warning-active);
}

.background-warning-pale {
    background-color: var(--o-ui-background-warning-pale);
}

.background-positive {
    background-color: var(--o-ui-background-warning-positive);
}

.background-positive-hover:hover {
    background-color: var(--o-ui-background-warning-hover);
}

.background-positive-active:active {
    background-color: var(--o-ui-background-warning-active);
}

.background-positive-pale {
    background-color: var(--o-ui-background-positive-pale);
}

.background-info {
    background-color: var(--o-ui-background-info);
}

.background-info-hover:hover {
    background-color: var(--o-ui-background-info-hover);
}

.background-info-active:active {
    background-color: var(--o-ui-background-info-active);
}

.background-input-selection {
    background-color: var(--o-ui-background-input-selection);
}

    /* TEXT */
.text-1 {
    color: var(--o-ui-text-1);
}

.text-1-hover:hover {
    color: var(--o-ui-text-1-hover);
}

.text-1-active:active {
    color: var(--o-ui-text-1-active);
}

.text-2 {
    color: var(--o-ui-text-2);
}

.text-2-hover:hover {
    color: var(--o-ui-text-2-hover);
}

.text-2-active:active {
    color: var(--o-ui-text-2-active);
}

.text-3 {
    color: var(--o-ui-text-3);
}

.text-3-hover:hover {
    color: var(--o-ui-text-3-hover);
}

.text-3-active:active {
    color: var(--o-ui-text-3-active);
}

.text-4 {
    color: var(--o-ui-text-4);
}

.text-primary {
    color: var(--o-ui-text-primary);
}

.text-primary-hover:hover {
    color: var(--o-ui-text-primary-hover);
}

.text-primary-active:active {
    color: var(--o-ui-text-primary-active);
}

.text-danger {
    color: var(--o-ui-text-danger);
}

.text-danger-hover:hover {
    color: var(--o-ui-text-danger-hover);
}

.text-danger-active:active {
    color: var(--o-ui-text-danger-active);
}

.text-danger-strong {
    color: var(--o-ui-text-danger-strong);
}

.text-warning {
    color: var(--o-ui-text-warning);
}

.text-warning-hover:hover {
    color: var(--o-ui-text-warning-hover);
}

.text-warning-active:active {
    color: var(--o-ui-text-warning-active);
}

.text-warning-strong {
    color: var(--o-ui-text-warning-strong);
}

.text-positive {
    color: var(--o-ui-text-positive);
}

.text-positive-hover:hover {
    color: var(--o-ui-text-positive-hover);

}

.text-positive-active:active {
    color: var(--o-ui-text-positive-active);
}

.text-positive-strong {
    color: var(--o-ui-text-positive-strong);
}

.text-info {
    color: var(--o-ui-text-info);
}

.text-info-hover:hover {
    color: var(--o-ui-text-info-hover);
}

.text-info-active:active {
    color: var(--o-ui-text-info-active);
}

.text-input-selection {
    color: var(--o-ui-text-input-selection);
}

    /* ICON */
.icon-1 {
    fill: var(--o-ui-icon-1);
}

.icon-2 {
    fill: var(--o-ui-icon-2);
}

.icon-primary {
    fill: var(--o-ui-icon-primary);
}

.icon-danger {
    fill: var(--o-ui-icon-danger);
}

.icon-positive {
    fill: var(--o-ui-icon-positive);
}

.icon-warning {
    fill: var(--o-ui-icon-warning);
}

.icon-info {
    fill: var(--o-ui-icon-info);
}

    /* BORDER */
.border-1 {
    border-color: var(--o-ui-border-1);
}

.border-1-hover:hover {
    border-color: var(--o-ui-border-1-hover);
}

.border-1-active:active {
    border-color: var(--o-ui-border-1-active);
}

.border-2 {
    border-color: var(--o-ui-border-2);

}

.border-3 {
    border-color: var(--o-ui-border-3);
}

.border-4 {
    border-color: var(--o-ui-border-4);
}

.border-4-hover:hover {
    border-color: var(--o-ui-border-4-hover);
}

.border-primary {
    border-color: var(--o-ui-border-primary);
}

.border-primary-hover:hover {
    border-color: var(--o-ui-border-primary-hover);
}

.border-primary-active:active {
    border-color: var(--o-ui-border-primary-active);
}

.border-danger {
    border-color: var(--o-ui-border-danger);
}

.border-danger-hover:hover {
    border-color: var(--o-ui-border-danger-hover);
}

.border-danger-active:active {
    border-color: var(--o-ui-border-danger-active);
}

.border-danger-pale {
    border-color: var(--o-ui-border-danger-pale);
}

.border-warning {
    border-color: var(--o-ui-border-warning);
}

.border-warning-hover:hover {
    border-color: var(--o-ui-border-warning-hover);
}

.border-warning-active:active {
    border-color: var(--o-ui-border-warning-active);
}

.border-positive {
    border-color: var(--o-ui-border-positive);
}

.border-positive-hover:hover {
    border-color: var(--o-ui-border-positive-hover);
}

.border-positive-active:active {
    border-color: var(--o-ui-border-positive-active);
}

.border-info {
    border-color: var(--o-ui-border-info);
}

.border-info-hover:hover {
    border-color: var(--o-ui-border-info-hover);
}

.border-info-active:active {
    border-color: var(--o-ui-border-info-active);
}

/* STATIC */
.static-white {
    color: #FFFFFF;
}
