.highlight {
    background-color: var(--o-ui-bg-alias-accent-light);
    padding: var(--o-ui-sp-3);
    border-radius: var(--o-ui-br-3);
}

.highlight p {
    padding: 0;
    margin: 0;
    padding-top: calc(var(--o-ui-sp-3) / 2);
    padding-bottom: calc(var(--o-ui-sp-3) / 2);
}
