.o-ui-message {
    display: flex;
    align-items: flex-start;
    padding: var(--o-ui-sp-3);
    width: 100%;
    height: max-content;
    border-radius: var(--o-ui-shape-rounded);
    padding-top: var(--o-ui-sp-2);
    padding-bottom: var(--o-ui-sp-2);
}

/* ICON */
.o-ui-message-icon {
    margin-top: calc(var(--o-ui-sp-2) / 2);
    margin-bottom: calc(var(--o-ui-sp-2) / 2);
    margin-right: var(--o-ui-sp-2);
    flex-shrink: 0;
}

.o-ui-message-content {
    flex-grow: 1;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding-top: calc(var(--o-ui-sp-3) / 2);
    padding-bottom: calc(var(--o-ui-sp-3) / 2);
}

/* ACTION */
.o-ui-message-action {
    margin-left: var(--o-ui-sp-3);
    /* Ugly fix unti Chroma have decent support for height: min-content + absolute */
    height: auto !important;
}

/* DISMISS */
.o-ui-message-dismiss {
    margin-left: var(--o-ui-sp-2);
}

/* TONE | INFORMATIVE */
.o-ui-message-informative {
    background-color: var(--o-ui-bg-alias-info-1);
    color: var(--o-ui-text-alias-info-1);
}

.o-ui-message-informative .o-ui-message-icon {
    fill: var(--o-ui-icon-alias-info-1);
}

/* TONE | WARNING */
.o-ui-message-warning {
    background-color: var(--o-ui-bg-alias-warning-2);
    color: var(--o-ui-text-alias-warning-2);
}

.o-ui-message-warning .o-ui-message-icon {
    fill: var(--o-ui-icon-alias-warning-2);
}

/* TONE | POSITIVE */
.o-ui-message-positive {
    background-color: var(--o-ui-bg-alias-positive-2);
    color: var(--o-ui-text-alias-positive-2);
}

.o-ui-message-positive .o-ui-message-icon {
    fill: var(--o-ui-icon-alias-positive-2);
}

/* TONE | NEGATIVE */
.o-ui-message-negative {
    background-color: var(--o-ui-bg-alias-negative-2);
    color: var(--o-ui-text-alias-negative-2);
}

.o-ui-message-negative .o-ui-message-icon {
    fill: var(--o-ui-icon-alias-negative-2);
}
