.o-ui-sb-snippet {
    box-shadow: rgba(0,0,0,0.2) 0 2px 5px 0;
    border-radius: 4px;
}

.o-ui-sb-snippet pre.prism-code {
    padding: var(--scale-echo) !important;
    font-size: 15px;
    border-radius: 4px;
}
