.sbdocs {
    font-family: Calibre, Arial, Helvetica, sans-serif !important;
}

.sbdocs.sbdocs-wrapper {
    padding-top: 30px;
    padding-bottom: 140px;
}

.sbdocs.sbdocs-preview,
.sbdocs.sbdocs-pre {
    border: none;
    box-shadow: var(--shadow-4);
}

.sbdocs-preview {
    overflow: visible !important;
}

.sbdocs-preview > div > div {
    overflow: visible !important;
}

.sbdocs-preview:hover {
    z-index: 3;
}

.sbdocs.sbdocs-content {
    max-width: 1200px;
}

.sbdocs.sbdocs-p {
    font-size: 1.125rem;
    color: var(--marine-900);
}

.sbdocs.sbdocs-h1 {
    font-weight: 600;
    color: var(--marine-900);
}

.sbdocs.sbdocs-h2 {
    margin: 24px 0 18px;
    color: var(--marine-900);
    border-bottom: none;
}

.sbdocs.sbdocs-h3 {
    color: var(--marine-900);
}

.sbdocs.sbdocs-a {
    font-size: 1.125rem;
    color: var(--primary-700);
}

.sbdocs.sbdocs-a:hover {
    text-decoration: underline;
}

.sbdocs button[role="tab"] {
    font-size: 16px;
    font-weight: 600;
}

.sbdocs.sbdocs-h1,
.sbdocs.sbdocs-h2,
.sbdocs.sbdocs-h3 {
    /* fixing the default position relative on all titles in shared.tsx */
    position: initial !important;
}

.docblock-propstable {
    min-width: 220px;
}

.docblock-propstable-head th {
    font-weight: 600 !important;
    color: var(--marine-500) !important;
}

.sbdocs.sbdocs-table thead th {
    font-weight: 600 !important;
}

.docblock-source {
    box-shadow: none !important;
    border: none !important;
}

.sbdocs .docblock-emptyblock {
    font-weight: 600;
    color: var(--cloud-500);
    background-color: var(--cloud-50);
    border: 1px dashed var(--cloud-100);
}
