.sbdocs.sbdocs-wrapper {
    padding-top: 30px;
    padding-bottom: 140px;
}

.sbdocs.sbdocs-content > div > div {
    overflow: visible;
}

.sbdocs.sbdocs-content {
    max-width: 1200px !important;
}

.sbdocs {
    font-family: Calibre, Arial, Helvetica, sans-serif !important;
}

.sbdocs-p {
    font-size: 1.125rem !important;
    color: var(--marine-900) !important;
}

.sbdocs-h1 {
    font-weight: 700 !important;
    color: var(--marine-900) !important;
}

.sbdocs-h2 {
    margin: 24px 0 18px !important;
    color: var(--marine-900) !important;
}

.sbdocs-h3 {
    color: var(--marine-900) !important;
}

.sbdocs-table {
    min-width: 220px;
}

.docblock-propstable {
    color: var(--cloud-500) !important;
}

.docblock-propstable tbody td div + div span {
    color: var(--cloud-500) !important;
}

.docblock-propstable tbody td,
.docblock-propstable thead th {
    color: var(--marine-500) !important;
}

.docblock-emptyblock {
    color: var(--cloud-500) !important;
}

.sbdocs .docblock-propstable tbody {
    border: 1px var(--cloud-50) solid;
    box-shadow: var(--shadow-4) !important;
}

.sbdocs .docblock-propstable thead th {
    font-size: 1rem;
    padding-bottom: 16px !important;
}

.sbdocs .docblock-propstable tbody tr:not(:first-child) {
    border-top: 1px solid var(--cloud-50) !important;
}

.sbdocs .docblock-emptyblock {
    background-color: var(--cloud-50);
    border: 1px dashed var(--cloud-100);
}

.sbdocs .sbdocs-table tr td,
.sbdocs .sbdocs-table tr th {
    font-size: 1.125rem;
}

.sbdocs .sbdocs-a {
    font-size: 1.125rem;
    color: var(--primary-700);
}

.sbdocs .sbdocs-a:hover {
    text-decoration: underline;
}
