.bg-red {
    background: red !important;
}

.bg-red-inner > * {
    background: red !important;
}

.border-red {
    border: 1px solid red !important;
}

.fill-red {
    fill: red !important;
}

.bg-blue {
    background: blue !important;
}

.paused::after {
    animation: 0 !important;
}

.paused::before {
    animation: 0 !important;
}

.paused {
    animation: 0 !important;
}

.paused > * {
    animation: 0 !important;
}

.paused > *::before {
    animation: 0 !important;
}

.paused > *::after {
    animation: 0 !important;
}
