.o-ui-lozenge {
    display: inline-flex;
    align-items: center;
    background-color: var(--o-ui-alias-bg-3);
    color: var(--o-ui-alias-text-1);
    text-transform: uppercase;
    padding: 0 var(--o-ui-space-2);
    border-radius: 4px;
    min-height: var(--o-ui-space-5);
    line-height: var(--o-ui-space-5);
    width: max-content;
    height: max-content;
}

/* SIZE */
.o-ui-lozenge-sm {
    min-height: var(--o-ui-space-4);
    line-height: var(--o-ui-space-4);
}

.o-ui-lozenge-lg {
    min-height: var(--o-ui-space-6);
    line-height: var(--o-ui-space-6);
}

/* CONTENT | ICON */
.o-ui-lozenge-has-icon {
    padding-left: calc(var(--o-ui-space-2) / 2);
}

.o-ui-lozenge-icon {
    margin-right: 0.125rem;
}

/* PRIMARY */
.o-ui-lozenge.o-ui-lozenge-primary {
    background-color: var(--o-ui-alias-bg-primary-1);
    color: var(--o-ui-white);
}

.o-ui-lozenge.o-ui-lozenge-primary .o-ui-lozenge-text {
    color: var(--o-ui-white);
}

.o-ui-lozenge.o-ui-lozenge-primary .o-ui-lozenge-icon {
    fill: currentColor;
    color: inherit;
}
