.o-ui-lozenge {
    display: inline-flex;
    align-items: center;
    background-color: var(--foreground-color-3);
    color: var(--primary-text);
    text-transform: uppercase;
    padding: 0 var(--scale-bravo);
    border-radius: 4px;
    min-height: var(--scale-echo);
    line-height: var(--scale-echo);
    width: max-content;
    height: max-content;
}

/* SIZE */
.o-ui-lozenge-sm {
    min-height: var(--scale-delta);
    line-height: var(--scale-delta);
}

.o-ui-lozenge-lg {
    min-height: var(--scale-foxtrot);
    line-height: var(--scale-foxtrot);
}

/* CONTENT | ICON */
.o-ui-lozenge-has-icon {
    padding-left: calc(var(--scale-bravo) / 2);
}

.o-ui-lozenge-icon {
    margin-right: 0.125rem;
}

/* PRIMARY */
.o-ui-lozenge.o-ui-lozenge-primary {
    background-color: var(--foreground-color-brand);
    color: var(--static-white);
}

.o-ui-lozenge.o-ui-lozenge-primary .o-ui-lozenge-text {
    color: var(--static-white);
}

.o-ui-lozenge.o-ui-lozenge-primary .o-ui-lozenge-icon {
    fill: currentColor;
    color: inherit;
}
