html * {
    /* LIGHT */
    --o-ui-background-light: var(--o-ui-white);
    --o-ui-background-1-light: var(--o-ui-white);
    --o-ui-background-2-light: var(--o-ui-cloud-100);
    --o-ui-background-2-hover-light: var(--o-ui-cloud-200);
    --o-ui-background-2-active-light: var(--o-ui-cloud-500);
    --o-ui-background-3-light: var(--o-ui-cloud-50);
    --o-ui-background-4-light: var(--o-ui-neutral-100);
    --o-ui-background-4-hover-light: var(--o-ui-neutral-300);
    --o-ui-background-4-active-light: var(--o-ui-neutral-600);
    --o-ui-background-5-light: var(--o-ui-marine-500);
    --o-ui-background-5-hover-light: var(--o-ui-marine-700);
    --o-ui-background-5-active-light: var(--o-ui-marine-900);
    --o-ui-background-primary-light: var(--o-ui-primary-500);
    --o-ui-background-primary-1-hover-light: var(--o-ui-primary-700);
    --o-ui-background-primary-1-active-light: var(--o-ui-primary-900);
    --o-ui-background-primary-1-focus-light: var(--o-ui-primary-50);
    --o-ui-background-danger-1-light: var(--o-ui-alert-500);
    --o-ui-background-danger-1-hover-light: var(--o-ui-alert-700);
    --o-ui-background-danger-1-active-light: var(--o-ui-alert-900);
    --o-ui-background-danger-2-light: var(--o-ui-alert-50);
    --o-ui-background-warning-1-light: var(--o-ui-sunray-50);
    --o-ui-background-warning-1-hover-light: var(--o-ui-sunray-700);
    --o-ui-background-warning-1-active-light: var(--o-ui-sunray-900);
    --o-ui-background-warning-2-light: var(--o-ui-sunray-50);
    --o-ui-background-positive-1-light: var(--o-ui-green-500);
    --o-ui-background-positive-1-hover-light: var(--o-ui-green-700);
    --o-ui-background-positive-1-active-light: var(--o-ui-green-900);
    --o-ui-background-positive-2-light: var(--o-ui-green-50);
    --o-ui-background-info-1-light: var(--o-ui-marine-50);
    --o-ui-background-info-1-hover-light: var(--o-ui-marine-100);
    --o-ui-background-info-active-light: var(--o-ui-marine-300);
    --o-ui-background-input-selection-light: var(--o-ui-primary-100);
    /* DARK */
    --o-ui-background-dark: hsl(226deg, 20%, 15%);
    --o-ui-background-1-dark: #2B2F3C;
    --o-ui-background-2-dark: var(--o-ui-cloud-800);
    --o-ui-background-2-hover-dark: var(--o-ui-cloud-900);
    --o-ui-background-2-active-dark: var(--o-ui-cloud-600);
    --o-ui-background-3-dark: var(--o-ui-cloud-900);
    --o-ui-background-4-dark: var(--o-ui-neutral-dark-800);
    --o-ui-background-4-hover-dark: var(--o-ui-neutral-dark-300);
    --o-ui-background-4-active-dark: var(--o-ui-neutral-dark-100);
    --o-ui-background-5-dark: var(--o-ui-marine-600);
    --o-ui-background-5-hover-dark: var(--o-ui-marine-500);
    --o-ui-background-5-active-dark: var(--o-ui-marine-400);
    --o-ui-background-primary-1-dark: var(--o-ui-primary-700);
    --o-ui-background-primary-1-hover-dark: var(--o-ui-primary-500);
    --o-ui-background-primary-1-active-dark: var(--o-ui-primary-400);
    --o-ui-background-primary-1-focus-dark: var(--o-ui-neutral-dark-800);
    --o-ui-background-danger-1-dark: var(--o-ui-alert-700);
    --o-ui-background-danger-1-hover-dark: var(--o-ui-alert-500);
    --o-ui-background-danger-1-active-dark: var(--o-ui-alert-400);
    --o-ui-background-danger-2-dark: var(--o-ui-alert-900);
    --o-ui-background-warning-1-dark: var(--o-ui-sunray-700);
    --o-ui-background-warning-1-hover-dark: var(--o-ui-sunray-500);
    --o-ui-background-warning-1-active-dark: var(--o-ui-sunray-400);
    --o-ui-background-warning-2-dark: var(--o-ui-sunray-900);
    --o-ui-background-positive-1-dark: var(--o-ui-green-700);
    --o-ui-background-positive-1-hover-dark: var(--o-ui-green-500);
    --o-ui-background-positive-1-active-dark: var(--o-ui-green-400);
    --o-ui-background-positive-2-dark: var(--o-ui-green-900);
    --o-ui-background-info-1-dark: var(--o-ui-marine-600);
    --o-ui-background-info-1-hover-dark: var(--o-ui-marine-400);
    --o-ui-background-info-1-active-dark: var(--o-ui-marine-300);
    --o-ui-background-input-selection-dark: var(--o-ui-primary-900);
}
