html * {
    /* LIGHT */
    --o-ui-border-1-light: var(--o-ui-cloud-100);
    --o-ui-border-1-hover-light: var(--o-ui-cloud-300);
    --o-ui-border-1-active-light: var(--o-ui-cloud-500);
    --o-ui-border-2-light: var(--o-ui-cloud-50);
    --o-ui-border-3-light: var(--o-ui-neutral-500);
    --o-ui-border-3-hover-light: var(--o-ui-neutral-700);
    --o-ui-border-3-active-light: var(--o-ui-neutral-900);
    --o-ui-border-4-light: var(--o-ui-marine-500);
    --o-ui-border-4-hover-light: var(--o-ui-marine-700);
    --o-ui-border-primary-light: var(--o-ui-primary-500);
    --o-ui-border-primary-hover-light: var(--o-ui-primary-700);
    --o-ui-border-primary-active-light: var(--o-ui-primary-900);
    --o-ui-border-danger-1-light: var(--o-ui-alert-500);
    --o-ui-border-danger-1-hover-light: var(--o-ui-alert-700);
    --o-ui-border-danger-1-active-light: var(--o-ui-alert-900);
    --o-ui-border-danger-2-light: var(--o-ui-alert-200);
    --o-ui-border-warning-1-light: var(--o-ui-sunray-500);
    --o-ui-border-warning-1-hover-light: var(--o-ui-sunray-700);
    --o-ui-border-warning-1-active-light: var(--o-ui-sunray-900);
    --o-ui-border-positive-1-light: var(--o-ui-green-500);
    --o-ui-border-positive-1-hover-light: var(--o-ui-green-700);
    --o-ui-border-positive-1-active-light: var(--o-ui-green-900);
    /* DARK */
    --o-ui-border-1-dark: var(--o-ui-neutral-dark-600);
    --o-ui-border-1-hover-dark: var(--o-ui-neutral-dark-400);
    --o-ui-border-1-active-dark: var(--o-ui-neutral-dark-300);
    --o-ui-border-2-dark: var(--o-ui-neutral-dark-800);
    --o-ui-border-3-dark: var(--o-ui-neutral-dark-400);
    --o-ui-border-4-dark: var(--o-ui-marine-400);
    --o-ui-border-4-hover-dark: var(--o-ui-marine-600);
    --o-ui-border-primary-1-dark: var(--o-ui-primary-700);
    --o-ui-border-primary-1-hover-dark: var(--o-ui-primary-400);
    --o-ui-border-primary-1-active-dark: var(--o-ui-primary-300);
    --o-ui-border-danger-1-dark: var(--o-ui-alert-700);
    --o-ui-border-danger-1-hover-dark: var(--o-ui-alert-600);
    --o-ui-border-danger-1-active-dark: var(--o-ui-alert-500);
    --o-ui-border-danger-2-dark: var(--o-ui-alert-200);
    --o-ui-border-warning-1-dark: var(--o-ui-sunray-700);
    --o-ui-border-warning-1-hover-dark: var(--o-ui-sunray-600);
    --o-ui-border-warning-1-active-dark: var(--o-ui-sunray-500);
    --o-ui-border-positive-1-dark: var(--o-ui-green-700);
    --o-ui-border-positive-1-hover-dark: var(--o-ui-green-600);
    --o-ui-border-positive-1-active-dark: var(--o-ui-green-500);
    --o-ui-border-info-1-dark: var(--o-ui-marine-100);
    --o-ui-border-info-1-hover-dark: var(--o-ui-marine-300);
    --o-ui-border-info-1-active-dark: var(--o-ui-marine-400);
}
