[class^="o-ui"] {
    /* LIGHT */
    --o-ui-icon-1-light: var(--o-ui-marine-900);
    --o-ui-icon-2-light: var(--o-ui-marine-500);
    --o-ui-icon-primary-1-light: var(--o-ui-primary-500);
    --o-ui-icon-danger-1-light: var(--o-ui-alert-500);
    --o-ui-icon-danger-2-light: var(--o-ui-alert-900);
    --o-ui-icon-positive-1-light: var(--o-ui-green-500);
    --o-ui-icon-positive-2-light: var(--o-ui-green-900);
    --o-ui-icon-warning-1-light: var(--o-ui-sunray-500);
    --o-ui-icon-warning-2-light: var(--o-ui-sunray-900);
    --o-ui-icon-info-1-light: var(--o-ui-marine-500);
    /* DARK */
    --o-ui-icon-1-dark: var(--o-ui-static-white);
    --o-ui-icon-2-dark: var(--o-ui-cloud-500);
    --o-ui-icon-primary-1-dark: var(--o-ui-primary-700);
    --o-ui-icon-danger-1-dark: var(--o-ui-alert-700);
    --o-ui-icon-danger-2-dark: var(--o-ui-alert-50);
    --o-ui-icon-positive-1-dark: var(--o-ui-green-700);
    --o-ui-icon-positive-2-dark: var(--o-ui-green-50);
    --o-ui-icon-warning-1-dark: var(--o-ui-sunray-700);
    --o-ui-icon-warning-2-dark: var(--o-ui-sunray-50);
    --o-ui-icon-info-1-dark: var(--o-ui-marine-100);
}
