html * {
    /* LIGHT */
    --o-ui-text-1-light: var(--o-ui-marine-900);
    --o-ui-text-1-hover-light: var(--o-ui-marine-900);
    --o-ui-text-1-active-light: var(--o-ui-marine-900);
    --o-ui-text-2-light: var(--o-ui-marine-500);
    --o-ui-text-2-hover-light: var(--o-ui-marine-700);
    --o-ui-text-2-active-light: var(--o-ui-marine-900);
    --o-ui-text-3-light: var(--o-ui-cloud-500);
    --o-ui-text-3-hover-light: var(--o-ui-cloud-700);
    --o-ui-text-3-active-light: var(--o-ui-cloud-900);
    --o-ui-text-4-light: var(--o-ui-marine-300);
    --o-ui-text-primary-light: var(--o-ui-primary-500);
    --o-ui-text-primary-hover-light: var(--o-ui-primary-700);
    --o-ui-text-primary-active-light: var(--o-ui-primary-700);
    --o-ui-text-danger-light: var(--o-ui-alert-500);
    --o-ui-text-danger-hover-light: var(--o-ui-alert-700);
    --o-ui-text-danger-active-light: var(--o-ui-alert-900);
    --o-ui-text-danger-strong-light: var(--o-ui-alert-900);
    --o-ui-text-info-light: var(--o-ui-marine-500);
    --o-ui-text-info-hover-light: var(--o-ui-marine-700);
    --o-ui-text-info-active-light: var(--o-ui-marine-900);
    --o-ui-text-positive-light: var(--o-ui-green-500);
    --o-ui-text-positive-hover-light: var(--o-ui-green-700);
    --o-ui-text-positive-active-light: var(--o-ui-green-900);
    --o-ui-text-positive-strong-light: var(--o-ui-green-900);
    --o-ui-text-warning-light: var(--o-ui-sunray-500);
    --o-ui-text-warning-hover-light: var(--o-ui-sunray-700);
    --o-ui-text-warning-active-light: var(--o-ui-sunray-900);
    --o-ui-text-warning-strong-light: var(--o-ui-sunray-900);
    --o-ui-text-input-selection-light: var(--o-ui-marine-500);
    --o-ui-text-input-placeholder-light: var(--o-ui-marine-200);
    /* DARK */
    --o-ui-text-1-dark: var(--o-ui-static-white);
    --o-ui-text-1-hover-dark: var(--o-ui-static-white);
    --o-ui-text-1-active-dark: var(--o-ui-static-white);
    --o-ui-text-2-dark: var(--o-ui-cloud-300);
    --o-ui-text-2-hover-dark: var(--o-ui-cloud-100);
    --o-ui-text-2-active-dark: var(--o-ui-cloud-50);
    --o-ui-text-3-dark: var(--o-ui-cloud-700);
    --o-ui-text-3-hover-dark: var(--o-ui-cloud-600);
    --o-ui-text-3-active-dark: var(--o-ui-cloud-500);
    --o-ui-text-4-dark: var(--o-ui-marine-300);
    --o-ui-text-primary-dark: var(--o-ui-primary-500);
    --o-ui-text-primary-hover-dark: var(--o-ui-primary-400);
    --o-ui-text-primary-active-dark: var(--o-ui-primary-400);
    --o-ui-text-danger-dark: var(--o-ui-alert-700);
    --o-ui-text-danger-hover-dark: var(--o-ui-alert-600);
    --o-ui-text-danger-active-dark: var(--o-ui-alert-500);
    --o-ui-text-danger-strong-dark: var(--o-ui-alert-50);
    --o-ui-text-warning-dark: var(--o-ui-sunray-700);
    --o-ui-text-warning-hover-dark: var(--o-ui-sunray-600);
    --o-ui-text-warning-active-dark: var(--o-ui-sunray-500);
    --o-ui-text-warning-strong-dark: var(--o-ui-sunray-50);
    --o-ui-text-positive-dark: var(--o-ui-green-700);
    --o-ui-text-positive-hover-dark: var(--o-ui-green-600);
    --o-ui-text-positive-active-dark: var(--o-ui-green-500);
    --o-ui-text-positive-strong-dark: var(--o-ui-green-50);
    --o-ui-text-info-dark: var(--o-ui-marine-100);
    --o-ui-text-info-hover-dark: var(--o-ui-marine-300);
    --o-ui-text-info-active-dark: var(--o-ui-marine-400);
    --o-ui-text-input-selection-dark: var(--o-ui-static-white);
    --o-ui-text-input-placeholder-dark: var(--o-ui-marine-200);
}
