.o-ui-sb-gallery-preview-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.o-ui-sb-gallery-preview-container {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.o-ui-sb-gallery-view-button {
    display: flex;
    background: none;
    border: none;
    padding: 0.75rem;
    outline: none;
    cursor: pointer;
}

.o-ui-sb-gallery-view-button-wrapper {
    display: flex;
    flex: 1;
    gap: 1.25rem;
    align-items: center;
    font-size: 0.875rem;
}

.o-ui-sb-gallery-view-button::-moz-focus-inner {
    border: 0;
}
