.o-ui-image {
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

/* SHAPE | ROUNDED */
.o-ui-image-rounded {
    border-radius: var(--o-ui-global-rounded-border-radius);
}

/* SHAPE | CIRCULAR */
.o-ui-image-circular {
    border-radius: var(--o-ui-global-circular-border-radius);
}

/* DARK MODE */
.o-ui-dark-color-scheme .o-ui-image {
    opacity: 0.75;
}
