.o-ui-image {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    opacity: var(--image-opacity);
}

/* SHAPE | ROUNDED */
.o-ui-image-rounded {
    border-radius: var(--o-ui-rounded-border-radius);
}

/* SHAPE | CIRCULAR */
.o-ui-image-circular {
    border-radius: var(--o-ui-circular-border-radius);
}
