.o-ui-disclosure-arrow {
    flex-shrink: 0;
    transition: transform .15s linear;
    stroke: currentColor;
}

.o-ui-disclosure-arrow-up {
    transform: rotate(-90deg);
}

.o-ui-disclosure-arrow-down {
    transform: rotate(90deg);
}
