/* SECTION */
.o-ui-disclosure-content-collapsing {
    overflow-y: hidden;
}

.o-ui-disclosure-content-collapsed {
    display: none;
}

.o-ui-disclosure-content-expanding {
    overflow-y: hidden;
    height: 0;
    opacity: 0;
}

/* CONTENT */
.o-ui-disclosure-content-inner {
    padding-top: var(--o-ui-space-5);
    padding-bottom: var(--o-ui-space-5);
    color: var(--o-ui-text-alias-1);
}
