.o-ui-disclosure-content {
    padding: var(--scale-charlie) 0;
}

.o-ui-disclosure-content-collapsing {
    position: relative;
    overflow: hidden;
}

.o-ui-disclosure-content-collapsed {
    display: none;
}

.o-ui-disclosure-content-expanding {
    height: 0;
    overflow: hidden;
}

.o-ui-disclosure-content-expanded {
    height: auto;
}
