@import "../../input/src/Input.css";

.o-ui-text-area textarea {
    --o-ui-textarea-padding: var(--o-ui-space-3);
    resize: "vertical";
    /* Fixes a bug where Firefox adds one more row than the one specified. */
    overflow-x: hidden;
    padding: var(--o-ui-space-2) var(--o-ui-textarea-padding);
    min-height: var(--o-ui-space-13);
}

/* TRANSPARENT */
.o-ui-text-area.o-ui-input-transparent textarea {
    padding: 0;
}
