.item {
    flex-direction: column;
    flex: 0 1 calc(20% - 10px);
    margin: 0 10px 30px 0;
}

.name {
    padding-bottom: .75rem;
    text-align: center;
}

.variants {
    display: flex;
    justify-content: center;
}
