.fill-neutral-dark-1 {
    fill: var(--o-ui-neutral-dark-1);
}

.fill-neutral-dark-2 {
    fill: var(--o-ui-neutral-dark-2);
}

.fill-neutral-dark-3 {
    fill: var(--o-ui-neutral-dark-3);
}

.fill-neutral-dark-4 {
    fill: var(--o-ui-neutral-dark-4);
}

.fill-neutral-dark-5 {
    fill: var(--o-ui-neutral-dark-5);
}

.fill-neutral-dark-6 {
    fill: var(--o-ui-neutral-dark-6);
}

.fill-neutral-dark-7 {
    fill: var(--o-ui-neutral-dark-7);
}

.fill-neutral-dark-8 {
    fill: var(--o-ui-neutral-dark-8);
}

.fill-neutral-dark-9 {
    fill: var(--o-ui-neutral-dark-9);
}

.fill-neutral-dark-10 {
    fill: var(--o-ui-neutral-dark-10);
}

.hover-fill-neutral-dark-1:hover {
    fill: var(--o-ui-neutral-dark-1);
}

.hover-fill-neutral-dark-2:hover {
    fill: var(--o-ui-neutral-dark-2);
}

.hover-fill-neutral-dark-3:hover {
    fill: var(--o-ui-neutral-dark-3);
}

.hover-fill-neutral-dark-4:hover {
    fill: var(--o-ui-neutral-dark-4);
}

.hover-fill-neutral-dark-5:hover {
    fill: var(--o-ui-neutral-dark-5);
}

.hover-fill-neutral-dark-6:hover {
    fill: var(--o-ui-neutral-dark-6);
}

.hover-fill-neutral-dark-7:hover {
    fill: var(--o-ui-neutral-dark-7);
}

.hover-fill-neutral-dark-8:hover {
    fill: var(--o-ui-neutral-dark-8);
}

.hover-fill-neutral-dark-9:hover {
    fill: var(--o-ui-neutral-dark-9);
}

.hover-fill-neutral-dark-10:hover {
    fill: var(--o-ui-neutral-dark-10);
}

.focus-fill-neutral-dark-1:focus {
    fill: var(--o-ui-neutral-dark-1);
}

.focus-fill-neutral-dark-2:focus {
    fill: var(--o-ui-neutral-dark-2);
}

.focus-fill-neutral-dark-3:focus {
    fill: var(--o-ui-neutral-dark-3);
}

.focus-fill-neutral-dark-4:focus {
    fill: var(--o-ui-neutral-dark-4);
}

.focus-fill-neutral-dark-5:focus {
    fill: var(--o-ui-neutral-dark-5);
}

.focus-fill-neutral-dark-6:focus {
    fill: var(--o-ui-neutral-dark-6);
}

.focus-fill-neutral-dark-7:focus {
    fill: var(--o-ui-neutral-dark-7);
}

.focus-fill-neutral-dark-8:focus {
    fill: var(--o-ui-neutral-dark-8);
}

.focus-fill-neutral-dark-9:focus {
    fill: var(--o-ui-neutral-dark-9);
}

.focus-fill-neutral-dark-10:focus {
    fill: var(--o-ui-neutral-dark-10);
}
