.neutral-dark-50 {
    color: var(--o-ui-global-neutral-dark-50);
}

.neutral-dark-100 {
    color: var(--o-ui-global-neutral-dark-100);
}

.neutral-dark-200 {
    color: var(--o-ui-global-neutral-dark-200);
}

.neutral-dark-300 {
    color: var(--o-ui-global-neutral-dark-300);
}

.neutral-dark-400 {
    color: var(--o-ui-global-neutral-dark-400);
}

.neutral-dark-500 {
    color: var(--o-ui-global-neutral-dark-500);
}

.neutral-dark-600 {
    color: var(--o-ui-global-neutral-dark-600);
}

.neutral-dark-700 {
    color: var(--o-ui-global-neutral-dark-700);
}

.neutral-dark-800 {
    color: var(--o-ui-global-neutral-dark-800);
}

.neutral-dark-900 {
    color: var(--o-ui-global-neutral-dark-900);
}

.hover-neutral-dark-50:hover {
    color: var(--o-ui-global-neutral-dark-50);
}

.hover-neutral-dark-100:hover {
    color: var(--o-ui-global-neutral-dark-100);
}

.hover-neutral-dark-200:hover {
    color: var(--o-ui-global-neutral-dark-200);
}

.hover-neutral-dark-300:hover {
    color: var(--o-ui-global-neutral-dark-300);
}

.hover-neutral-dark-400:hover {
    color: var(--o-ui-global-neutral-dark-400);
}

.hover-neutral-dark-500:hover {
    color: var(--o-ui-global-neutral-dark-500);
}

.hover-neutral-dark-600:hover {
    color: var(--o-ui-global-neutral-dark-600);
}

.hover-neutral-dark-700:hover {
    color: var(--o-ui-global-neutral-dark-700);
}

.hover-neutral-dark-800:hover {
    color: var(--o-ui-global-neutral-dark-800);
}

.hover-neutral-dark-900:hover {
    color: var(--o-ui-global-neutral-dark-900);
}

.focus-neutral-dark-50:focus {
    color: var(--o-ui-global-neutral-dark-50);
}

.focus-neutral-dark-100:focus {
    color: var(--o-ui-global-neutral-dark-100);
}

.focus-neutral-dark-200:focus {
    color: var(--o-ui-global-neutral-dark-200);
}

.focus-neutral-dark-300:focus {
    color: var(--o-ui-global-neutral-dark-300);
}

.focus-neutral-dark-400:focus {
    color: var(--o-ui-global-neutral-dark-400);
}

.focus-neutral-dark-500:focus {
    color: var(--o-ui-global-neutral-dark-500);
}

.focus-neutral-dark-600:focus {
    color: var(--o-ui-global-neutral-dark-600);
}

.focus-neutral-dark-700:focus {
    color: var(--o-ui-global-neutral-dark-700);
}

.focus-neutral-dark-800:focus {
    color: var(--o-ui-global-neutral-dark-800);
}

.focus-neutral-dark-900:focus {
    color: var(--o-ui-global-neutral-dark-900);
}
