.b--beetle-50 {
    border-color: var(--o-ui-global-beetle-50);
}

.b--beetle-100 {
    border-color: var(--o-ui-global-beetle-100);
}

.b--beetle-200 {
    border-color: var(--o-ui-global-beetle-200);
}

.b--beetle-300 {
    border-color: var(--o-ui-global-beetle-300);
}

.b--beetle-400 {
    border-color: var(--o-ui-global-beetle-400);
}

.b--beetle-500 {
    border-color: var(--o-ui-global-beetle-500);
}

.b--beetle-600 {
    border-color: var(--o-ui-global-beetle-600);
}

.b--beetle-700 {
    border-color: var(--o-ui-global-beetle-700);
}

.b--beetle-800 {
    border-color: var(--o-ui-global-beetle-800);
}

.b--beetle-900 {
    border-color: var(--o-ui-global-beetle-900);
}

.hover-b--beetle-50:hover {
    border-color: var(--o-ui-global-beetle-50);
}

.hover-b--beetle-100:hover {
    border-color: var(--o-ui-global-beetle-100);
}

.hover-b--beetle-200:hover {
    border-color: var(--o-ui-global-beetle-200);
}

.hover-b--beetle-300:hover {
    border-color: var(--o-ui-global-beetle-300);
}

.hover-b--beetle-400:hover {
    border-color: var(--o-ui-global-beetle-400);
}

.hover-b--beetle-500:hover {
    border-color: var(--o-ui-global-beetle-500);
}

.hover-b--beetle-600:hover {
    border-color: var(--o-ui-global-beetle-600);
}

.hover-b--beetle-700:hover {
    border-color: var(--o-ui-global-beetle-700);
}

.hover-b--beetle-800:hover {
    border-color: var(--o-ui-global-beetle-800);
}

.hover-b--beetle-900:hover {
    border-color: var(--o-ui-global-beetle-900);
}

.focus-b--beetle-50:focus {
    border-color: var(--o-ui-global-beetle-50);
}

.focus-b--beetle-100:focus {
    border-color: var(--o-ui-global-beetle-100);
}

.focus-b--beetle-200:focus {
    border-color: var(--o-ui-global-beetle-200);
}

.focus-b--beetle-300:focus {
    border-color: var(--o-ui-global-beetle-300);
}

.focus-b--beetle-400:focus {
    border-color: var(--o-ui-global-beetle-400);
}

.focus-b--beetle-500:focus {
    border-color: var(--o-ui-global-beetle-500);
}

.focus-b--beetle-600:focus {
    border-color: var(--o-ui-global-beetle-600);
}

.focus-b--beetle-700:focus {
    border-color: var(--o-ui-global-beetle-700);
}

.focus-b--beetle-800:focus {
    border-color: var(--o-ui-global-beetle-800);
}

.focus-b--beetle-900:focus {
    border-color: var(--o-ui-global-beetle-900);
}
