.fill-beetle-50 {
    fill: var(--o-ui-global-beetle-50);
}

.fill-beetle-100 {
    fill: var(--o-ui-global-beetle-100);
}

.fill-beetle-200 {
    fill: var(--o-ui-global-beetle-200);
}

.fill-beetle-300 {
    fill: var(--o-ui-global-beetle-300);
}

.fill-beetle-400 {
    fill: var(--o-ui-global-beetle-400);
}

.fill-beetle-500 {
    fill: var(--o-ui-global-beetle-500);
}

.fill-beetle-600 {
    fill: var(--o-ui-global-beetle-600);
}

.fill-beetle-700 {
    fill: var(--o-ui-global-beetle-700);
}

.fill-beetle-800 {
    fill: var(--o-ui-global-beetle-800);
}

.fill-beetle-900 {
    fill: var(--o-ui-global-beetle-900);
}

.hover-fill-beetle-50:hover {
    fill: var(--o-ui-global-beetle-50);
}

.hover-fill-beetle-100:hover {
    fill: var(--o-ui-global-beetle-100);
}

.hover-fill-beetle-200:hover {
    fill: var(--o-ui-global-beetle-200);
}

.hover-fill-beetle-300:hover {
    fill: var(--o-ui-global-beetle-300);
}

.hover-fill-beetle-400:hover {
    fill: var(--o-ui-global-beetle-400);
}

.hover-fill-beetle-500:hover {
    fill: var(--o-ui-global-beetle-500);
}

.hover-fill-beetle-600:hover {
    fill: var(--o-ui-global-beetle-600);
}

.hover-fill-beetle-700:hover {
    fill: var(--o-ui-global-beetle-700);
}

.hover-fill-beetle-800:hover {
    fill: var(--o-ui-global-beetle-800);
}

.hover-fill-beetle-900:hover {
    fill: var(--o-ui-global-beetle-900);
}

.focus-fill-beetle-50:focus {
    fill: var(--o-ui-global-beetle-50);
}

.focus-fill-beetle-100:focus {
    fill: var(--o-ui-global-beetle-100);
}

.focus-fill-beetle-200:focus {
    fill: var(--o-ui-global-beetle-200);
}

.focus-fill-beetle-300:focus {
    fill: var(--o-ui-global-beetle-300);
}

.focus-fill-beetle-400:focus {
    fill: var(--o-ui-global-beetle-400);
}

.focus-fill-beetle-500:focus {
    fill: var(--o-ui-global-beetle-500);
}

.focus-fill-beetle-600:focus {
    fill: var(--o-ui-global-beetle-600);
}

.focus-fill-beetle-700:focus {
    fill: var(--o-ui-global-beetle-700);
}

.focus-fill-beetle-800:focus {
    fill: var(--o-ui-global-beetle-800);
}

.focus-fill-beetle-900:focus {
    fill: var(--o-ui-global-beetle-900);
}
