.stroke-beetle-1 {
    stroke: var(--o-ui-beetle-1);
}

.stroke-beetle-2 {
    stroke: var(--o-ui-beetle-2);
}

.stroke-beetle-3 {
    stroke: var(--o-ui-beetle-3);
}

.stroke-beetle-4 {
    stroke: var(--o-ui-beetle-4);
}

.stroke-beetle-5 {
    stroke: var(--o-ui-beetle-5);
}

.stroke-beetle-6 {
    stroke: var(--o-ui-beetle-6);
}

.stroke-beetle-7 {
    stroke: var(--o-ui-beetle-7);
}

.stroke-beetle-8 {
    stroke: var(--o-ui-beetle-8);
}

.stroke-beetle-9 {
    stroke: var(--o-ui-beetle-9);
}

.stroke-beetle-10 {
    stroke: var(--o-ui-beetle-10);
}

.hover-stroke-beetle-1:hover {
    stroke: var(--o-ui-beetle-1);
}

.hover-stroke-beetle-2:hover {
    stroke: var(--o-ui-beetle-2);
}

.hover-stroke-beetle-3:hover {
    stroke: var(--o-ui-beetle-3);
}

.hover-stroke-beetle-4:hover {
    stroke: var(--o-ui-beetle-4);
}

.hover-stroke-beetle-5:hover {
    stroke: var(--o-ui-beetle-5);
}

.hover-stroke-beetle-6:hover {
    stroke: var(--o-ui-beetle-6);
}

.hover-stroke-beetle-7:hover {
    stroke: var(--o-ui-beetle-7);
}

.hover-stroke-beetle-8:hover {
    stroke: var(--o-ui-beetle-8);
}

.hover-stroke-beetle-9:hover {
    stroke: var(--o-ui-beetle-9);
}

.hover-stroke-beetle-10:hover {
    stroke: var(--o-ui-beetle-10);
}

.focus-stroke-beetle-1:focus {
    stroke: var(--o-ui-beetle-1);
}

.focus-stroke-beetle-2:focus {
    stroke: var(--o-ui-beetle-2);
}

.focus-stroke-beetle-3:focus {
    stroke: var(--o-ui-beetle-3);
}

.focus-stroke-beetle-4:focus {
    stroke: var(--o-ui-beetle-4);
}

.focus-stroke-beetle-5:focus {
    stroke: var(--o-ui-beetle-5);
}

.focus-stroke-beetle-6:focus {
    stroke: var(--o-ui-beetle-6);
}

.focus-stroke-beetle-7:focus {
    stroke: var(--o-ui-beetle-7);
}

.focus-stroke-beetle-8:focus {
    stroke: var(--o-ui-beetle-8);
}

.focus-stroke-beetle-9:focus {
    stroke: var(--o-ui-beetle-9);
}

.focus-stroke-beetle-10:focus {
    stroke: var(--o-ui-beetle-10);
}
