.stroke-beetle-50 {
    stroke: var(--o-ui-beetle-50);
}

.stroke-beetle-100 {
    stroke: var(--o-ui-beetle-100);
}

.stroke-beetle-200 {
    stroke: var(--o-ui-beetle-200);
}

.stroke-beetle-300 {
    stroke: var(--o-ui-beetle-300);
}

.stroke-beetle-400 {
    stroke: var(--o-ui-beetle-400);
}

.stroke-beetle-500 {
    stroke: var(--o-ui-beetle-500);
}

.stroke-beetle-600 {
    stroke: var(--o-ui-beetle-600);
}

.stroke-beetle-700 {
    stroke: var(--o-ui-beetle-700);
}

.stroke-beetle-800 {
    stroke: var(--o-ui-beetle-800);
}

.stroke-beetle-900 {
    stroke: var(--o-ui-beetle-900);
}

.hover-stroke-beetle-50:hover {
    stroke: var(--o-ui-beetle-50);
}

.hover-stroke-beetle-100:hover {
    stroke: var(--o-ui-beetle-100);
}

.hover-stroke-beetle-200:hover {
    stroke: var(--o-ui-beetle-200);
}

.hover-stroke-beetle-300:hover {
    stroke: var(--o-ui-beetle-300);
}

.hover-stroke-beetle-400:hover {
    stroke: var(--o-ui-beetle-400);
}

.hover-stroke-beetle-500:hover {
    stroke: var(--o-ui-beetle-500);
}

.hover-stroke-beetle-600:hover {
    stroke: var(--o-ui-beetle-600);
}

.hover-stroke-beetle-700:hover {
    stroke: var(--o-ui-beetle-700);
}

.hover-stroke-beetle-800:hover {
    stroke: var(--o-ui-beetle-800);
}

.hover-stroke-beetle-900:hover {
    stroke: var(--o-ui-beetle-900);
}

.focus-stroke-beetle-50:focus {
    stroke: var(--o-ui-beetle-50);
}

.focus-stroke-beetle-100:focus {
    stroke: var(--o-ui-beetle-100);
}

.focus-stroke-beetle-200:focus {
    stroke: var(--o-ui-beetle-200);
}

.focus-stroke-beetle-300:focus {
    stroke: var(--o-ui-beetle-300);
}

.focus-stroke-beetle-400:focus {
    stroke: var(--o-ui-beetle-400);
}

.focus-stroke-beetle-500:focus {
    stroke: var(--o-ui-beetle-500);
}

.focus-stroke-beetle-600:focus {
    stroke: var(--o-ui-beetle-600);
}

.focus-stroke-beetle-700:focus {
    stroke: var(--o-ui-beetle-700);
}

.focus-stroke-beetle-800:focus {
    stroke: var(--o-ui-beetle-800);
}

.focus-stroke-beetle-900:focus {
    stroke: var(--o-ui-beetle-900);
}
