.beetle-1 {
    color: var(--o-ui-beetle-1);
}

.beetle-2 {
    color: var(--o-ui-beetle-2);
}

.beetle-3 {
    color: var(--o-ui-beetle-3);
}

.beetle-4 {
    color: var(--o-ui-beetle-4);
}

.beetle-5 {
    color: var(--o-ui-beetle-5);
}

.beetle-6 {
    color: var(--o-ui-beetle-6);
}

.beetle-7 {
    color: var(--o-ui-beetle-7);
}

.beetle-8 {
    color: var(--o-ui-beetle-8);
}

.beetle-9 {
    color: var(--o-ui-beetle-9);
}

.beetle-10 {
    color: var(--o-ui-beetle-10);
}

.hover-beetle-1:hover {
    color: var(--o-ui-beetle-1);
}

.hover-beetle-2:hover {
    color: var(--o-ui-beetle-2);
}

.hover-beetle-3:hover {
    color: var(--o-ui-beetle-3);
}

.hover-beetle-4:hover {
    color: var(--o-ui-beetle-4);
}

.hover-beetle-5:hover {
    color: var(--o-ui-beetle-5);
}

.hover-beetle-6:hover {
    color: var(--o-ui-beetle-6);
}

.hover-beetle-7:hover {
    color: var(--o-ui-beetle-7);
}

.hover-beetle-8:hover {
    color: var(--o-ui-beetle-8);
}

.hover-beetle-9:hover {
    color: var(--o-ui-beetle-9);
}

.hover-beetle-10:hover {
    color: var(--o-ui-beetle-10);
}

.focus-beetle-1:focus {
    color: var(--o-ui-beetle-1);
}

.focus-beetle-2:focus {
    color: var(--o-ui-beetle-2);
}

.focus-beetle-3:focus {
    color: var(--o-ui-beetle-3);
}

.focus-beetle-4:focus {
    color: var(--o-ui-beetle-4);
}

.focus-beetle-5:focus {
    color: var(--o-ui-beetle-5);
}

.focus-beetle-6:focus {
    color: var(--o-ui-beetle-6);
}

.focus-beetle-7:focus {
    color: var(--o-ui-beetle-7);
}

.focus-beetle-8:focus {
    color: var(--o-ui-beetle-8);
}

.focus-beetle-9:focus {
    color: var(--o-ui-beetle-9);
}

.focus-beetle-10:focus {
    color: var(--o-ui-beetle-10);
}
