.o-ui-dot {
    --o-ui-dot-color: var(--cloud-100);
}

.o-ui-dot:before {
    content: "";
    display: inline-block;
    border-radius: 999px;
    background-color: var(--o-ui-dot-color);
}

/* SIZES */
.o-ui-dot--tiny:before {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: var(--type-scale-7);
}

.o-ui-dot--small:before {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: var(--type-scale-6);
}

.o-ui-dot--medium:before {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: var(--type-scale-5);
}

.o-ui-dot--large:before {
    min-width: 0.5em;
    min-height: 0.5em;
    font-size: var(--type-scale-4);
}

/* LABELED */
.o-ui-dot--labeled {
    display: inline-flex;
    align-items: center;
}

.o-ui-dot--labeled.o-ui-dot--tiny:before {
    margin-right: var(--scale-bravo);
}

.o-ui-dot--labeled.o-ui-dot--small:before {
    margin-right: var(--scale-bravo);
}

.o-ui-dot--labeled.o-ui-dot--medium:before {
    margin-right: var(--scale-bravo);
}

.o-ui-dot--labeled.o-ui-dot--large:before {
    margin-right: var(--scale-bravo);
}

/* DISABLED */
.o-ui-dot[disabled],
.o-ui-dot[disabled]:before {
    opacity: var(--o-ui-disabled-opacity);
}
