.o-ui.presets {
    min-width: 200px;
    border-top-left-radius: var(--o-ui-global-scale-alpha);
    border-bottom-left-radius: var(--o-ui-global-scale-alpha);
}

.o-ui.presets .values {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
