.o-ui-input-group {
    display: inline-flex;
    align-items: center;
    width: max-content;
}

.o-ui-input-group-fluid {
    width: 100%;
}

/* TEXT INPUT */
.o-ui-input-group-has-text-input:not(.o-ui-input-group-fluid) {
    width: 325px;
}

.o-ui-input-group .o-ui-input-group-text-input {
    width: 100%;
}

/* STATES */
.o-ui-input-group:not(:focus-within) > *:not(.o-ui-input-group-text-addon):hover {
    z-index: 2;
}

.o-ui-input-group > *:focus,
.o-ui-input-group > *:focus-within,
.o-ui-input-group [class*="-focus"] {
    z-index: 2;
}

/* INVALID */
.o-ui-input-group-input.o-ui-input-invalid {
    z-index: 3;
}

/* ADDON */
.o-ui-input-group > :first-child:not(.o-ui-input-group-input) {
    margin-right: -1px;
}

.o-ui-input-group > :last-child:not(.o-ui-input-group-input) {
    margin-left: -1px;
}

/* ADDON | START */
.o-ui-input-group-input:not(:first-child),
.o-ui-input-group-input:not(:first-child) input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.o-ui-input-group-addon:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
}

/* ADDON | END */
.o-ui-input-group-input:not(:last-child),
.o-ui-input-group-input:not(:last-child) input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.o-ui-input-group-addon:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex-shrink: 0;
}

/* TEXT ADDON */
.o-ui-input-group-text-addon {
    display: flex;
    align-items: center;
    padding: 0 var(--o-ui-space-3);
    min-height: var(--o-ui-space-8);
    border-radius: var(--o-ui-shape-rounded);
    border: 1px solid var(--o-ui-b-alias-1);
    color: var(--o-ui-text-alias-1);
    background-color: var(--o-ui-bg-alias-3);
    flex-shrink: 0;
}

/* TEXT ADDON | DISABLED */
.o-ui-input-group-addon[disabled] {
    opacity: var(--o-ui-disabled-opacity);
}

/* SELECT ADDON */
.o-ui-input-group-select-addon {
    width: auto !important;
    min-width: 85px;
}
