.bg-green-50 {
    background-color: var(--o-ui-green-50);
}

.bg-green-100 {
    background-color: var(--o-ui-green-100);
}

.bg-green-200 {
    background-color: var(--o-ui-green-200);
}

.bg-green-300 {
    background-color: var(--o-ui-green-300);
}

.bg-green-400 {
    background-color: var(--o-ui-green-400);
}

.bg-green-500 {
    background-color: var(--o-ui-green-500);
}

.bg-green-600 {
    background-color: var(--o-ui-green-600);
}

.bg-green-700 {
    background-color: var(--o-ui-green-700);
}

.bg-green-800 {
    background-color: var(--o-ui-green-800);
}

.bg-green-900 {
    background-color: var(--o-ui-green-900);
}

.hover-bg-green-50:hover {
    background-color: var(--o-ui-green-50);
}

.hover-bg-green-100:hover {
    background-color: var(--o-ui-green-100);
}

.hover-bg-green-200:hover {
    background-color: var(--o-ui-green-200);
}

.hover-bg-green-300:hover {
    background-color: var(--o-ui-green-300);
}

.hover-bg-green-400:hover {
    background-color: var(--o-ui-green-400);
}

.hover-bg-green-500:hover {
    background-color: var(--o-ui-green-500);
}

.hover-bg-green-600:hover {
    background-color: var(--o-ui-green-600);
}

.hover-bg-green-700:hover {
    background-color: var(--o-ui-green-700);
}

.hover-bg-green-800:hover {
    background-color: var(--o-ui-green-800);
}

.hover-bg-green-900:hover {
    background-color: var(--o-ui-green-900);
}

.focus-bg-green-50:focus {
    background-color: var(--o-ui-green-50);
}

.focus-bg-green-100:focus {
    background-color: var(--o-ui-green-100);
}

.focus-bg-green-200:focus {
    background-color: var(--o-ui-green-200);
}

.focus-bg-green-300:focus {
    background-color: var(--o-ui-green-300);
}

.focus-bg-green-400:focus {
    background-color: var(--o-ui-green-400);
}

.focus-bg-green-500:focus {
    background-color: var(--o-ui-green-500);
}

.focus-bg-green-600:focus {
    background-color: var(--o-ui-green-600);
}

.focus-bg-green-700:focus {
    background-color: var(--o-ui-green-700);
}

.focus-bg-green-800:focus {
    background-color: var(--o-ui-green-800);
}

.focus-bg-green-900:focus {
    background-color: var(--o-ui-green-900);
}
