.b--success-50 {
    border-color: var(--o-ui-success-50);
}

.b--success-100 {
    border-color: var(--o-ui-success-100);
}

.b--success-200 {
    border-color: var(--o-ui-success-200);
}

.b--success-300 {
    border-color: var(--o-ui-success-300);
}

.b--success-400 {
    border-color: var(--o-ui-success-400);
}

.b--success-500 {
    border-color: var(--o-ui-success-500);
}

.b--success-600 {
    border-color: var(--o-ui-success-600);
}

.b--success-700 {
    border-color: var(--o-ui-success-700);
}

.b--success-800 {
    border-color: var(--o-ui-success-800);
}

.b--success-900 {
    border-color: var(--o-ui-success-900);
}

.hover-b--success-50:hover {
    border-color: var(--o-ui-success-50);
}

.hover-b--success-100:hover {
    border-color: var(--o-ui-success-100);
}

.hover-b--success-200:hover {
    border-color: var(--o-ui-success-200);
}

.hover-b--success-300:hover {
    border-color: var(--o-ui-success-300);
}

.hover-b--success-400:hover {
    border-color: var(--o-ui-success-400);
}

.hover-b--success-500:hover {
    border-color: var(--o-ui-success-500);
}

.hover-b--success-600:hover {
    border-color: var(--o-ui-success-600);
}

.hover-b--success-700:hover {
    border-color: var(--o-ui-success-700);
}

.hover-b--success-800:hover {
    border-color: var(--o-ui-success-800);
}

.hover-b--success-900:hover {
    border-color: var(--o-ui-success-900);
}

.focus-b--success-50:focus {
    border-color: var(--o-ui-success-50);
}

.focus-b--success-100:focus {
    border-color: var(--o-ui-success-100);
}

.focus-b--success-200:focus {
    border-color: var(--o-ui-success-200);
}

.focus-b--success-300:focus {
    border-color: var(--o-ui-success-300);
}

.focus-b--success-400:focus {
    border-color: var(--o-ui-success-400);
}

.focus-b--success-500:focus {
    border-color: var(--o-ui-success-500);
}

.focus-b--success-600:focus {
    border-color: var(--o-ui-success-600);
}

.focus-b--success-700:focus {
    border-color: var(--o-ui-success-700);
}

.focus-b--success-800:focus {
    border-color: var(--o-ui-success-800);
}

.focus-b--success-900:focus {
    border-color: var(--o-ui-success-900);
}
