.fill-success-50 {
    fill: var(--success-50);
}

.fill-success-100 {
    fill: var(--success-100);
}

.fill-success-200 {
    fill: var(--success-200);
}

.fill-success-300 {
    fill: var(--success-300);
}

.fill-success-400 {
    fill: var(--success-400);
}

.fill-success-500 {
    fill: var(--success-500);
}

.fill-success-600 {
    fill: var(--success-600);
}

.fill-success-700 {
    fill: var(--success-700);
}

.fill-success-800 {
    fill: var(--success-800);
}

.fill-success-900 {
    fill: var(--success-900);
}

.hover-fill-success-50:hover,
.hover-fill-success-50:focus {
    fill: var(--success-50);
}

.hover-fill-success-100:hover,
.hover-fill-success-100:focus {
    fill: var(--success-100);
}

.hover-fill-success-200:hover,
.hover-fill-success-200:focus {
    fill: var(--success-200);
}

.hover-fill-success-300:hover,
.hover-fill-success-300:focus {
    fill: var(--success-300);
}

.hover-fill-success-400:hover,
.hover-fill-success-400:focus {
    fill: var(--success-400);
}

.hover-fill-success-500:hover,
.hover-fill-success-500:focus {
    fill: var(--success-500);
}

.hover-fill-success-600:hover,
.hover-fill-success-600:focus {
    fill: var(--success-600);
}

.hover-fill-success-700:hover,
.hover-fill-success-700:focus {
    fill: var(--success-700);
}

.hover-fill-success-800:hover,
.hover-fill-success-800:focus {
    fill: var(--success-800);
}

.hover-fill-success-900:hover,
.hover-fill-success-900:focus {
    fill: var(--success-900);
}
