.title-trigger {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--type-scale-7);
    line-height: 1;
}

.title-trigger:focus {
    background-color: var(--primary-50);
    outline: none;
    border-radius: 2px;
}

.title-trigger .icon {
    margin: 0 0 0 0.5rem;
}

.title-trigger.small {
    font-size: var(--type-scale-8);
}

.title-trigger.large {
    font-size: var(--type-scale-6);
}
