.header {
    font-size: var(--type-scale-8);
    letter-spacing: -0.25px;
    display: flex;
    align-items: center;
    color: var(--marine-900);
    font-weight: 500;
    text-transform: uppercase;
    margin: 1rem 0 0.5rem 0;
    padding: 0 1rem;
}

.header .text {
    line-height: 1;
}
