.o-ui.calendar {
    box-shadow: var(--shadow-200);
    background-color: var(--foreground-color-1);
    border: 1px solid var(--cloud-100);
    border-radius: var(--scale-alpha);
}

.o-ui.calendar .CalendarMonth_table {
    margin-top: var(--scale-bravo) !important;
}

.o-ui.calendar .CalendarDay__default {
    border: none !important;
    background-color: var(--foreground-color-1) !important;
    color: var(--marine-700) !important;
    font-size: 1rem !important;
    transition: box-shadow .15s ease-in;
}

.o-ui.calendar .DayPicker {
    border-radius: var(--scale-alpha);
}

.o-ui.calendar .DayPicker__horizontal {
    background-color: var(--foreground-color-1) !important;
}

.o-ui.calendar .CalendarMonth {
    background-color: var(--foreground-color-1) !important;
}

.o-ui.calendar .CalendarDay__selected {
    background: var(--primary-500) !important;
    color: var(--white) !important;
}

.o-ui.calendar .CalendarMonthGrid {
    background-color: var(--foreground-color-1) !important;
}

.o-ui.calendar .CalendarDay__selected_span {
    background: var(--primary-50) !important;
}

.o-ui.calendar .CalendarDay__hovered_span {
    background: var(--primary-50) !important;
}

.o-ui.calendar .CalendarMonth_caption {
    font-size: 24px !important;
    color: var(--marine-900) !important;
    padding-top: 1.25rem !important;
    padding-bottom: 2.5rem !important;
    line-height: 1 !important;
}

.o-ui.calendar .DayPickerNavigation_button__default {
    border: 0 !important;
}

.o-ui.calendar .CalendarDay__blocked_calendar {
    background: var(--transparent) !important;
    color: var(--cloud-400) !important;
}

.o-ui.calendar .DayPickerNavigation {
    display: flex;
    justify-content: space-between;
    padding: 0 24px !important;
}

.o-ui.calendar .DayPickerNavigation_button {
    margin-top: 17px !important;
}

.o-ui.calendar .DayPickerNavigation_button__horizontalDefault {
    padding: 0 !important;
}

.o-ui.calendar .DayPickerNavigation_button__disabled {
    border: 0 !important;
}

.o-ui.calendar .DayPicker_weekHeader_li small {
    font-size: 0.875rem !important;
    color: var(--cloud-900) !important;
}

.o-ui.calendar .CalendarDay__default:hover {
    background: var(--cloud-100) !important;
}

.o-ui.calendar .CalendarDay__default:focus {
    outline: none !important;
    box-shadow: inset var(--o-ui-focus-ring) !important;
}

.o-ui.calendar .DayPickerNavigation_button > div {
    border-radius: var(--scale-alpha);
}

.o-ui.calendar .DayPickerNavigation_button > div:focus {
    outline: none !important;
    box-shadow: var(--o-ui-focus-ring) !important;
}

.o-ui.calendar .CalendarDay__blocked_calendar:hover,
.o-ui.calendar .CalendarDay__blocked_calendar:focus {
    background: var(--transparent) !important;
    color: var(--cloud-400) !important;
}

.o-ui.calendar .CalendarDay__selected:hover,
.o-ui.calendar .CalendarDay__selected:active {
    background: var(--primary-500) !important;
}

.o-ui.calendar .CalendarDay__selected_span:hover,
.o-ui.calendar .CalendarDay__selected_span:active {
    background: var(--primary-50) !important;
}

.o-ui.calendar .CalendarDay__default.CalendarDay__selected:focus {
    background: var(--primary-500) !important;
    color: var(--white) !important;
}

.o-ui.calendar .CalendarDay__blocked_calendar.CalendarDay__selected {
    background: var(--primary-500) !important;
    color: var(--white) !important;
    opacity: 0.6 !important;
}

.o-ui.calendar .CalendarDay__blocked_calendar.CalendarDay__selected_span {
    background: var(--primary-50) !important;
    opacity: 0.6 !important;
}

.o-ui.calendar .DayPickerNavigation_button__disabled path {
    fill: var(--cloud-100) !important;
}
