.bg-botanic-50 {
    background-color: var(--o-ui-global-botanic-50);
}

.bg-botanic-100 {
    background-color: var(--o-ui-global-botanic-100);
}

.bg-botanic-200 {
    background-color: var(--o-ui-global-botanic-200);
}

.bg-botanic-300 {
    background-color: var(--o-ui-global-botanic-300);
}

.bg-botanic-400 {
    background-color: var(--o-ui-global-botanic-400);
}

.bg-botanic-500 {
    background-color: var(--o-ui-global-botanic-500);
}

.bg-botanic-600 {
    background-color: var(--o-ui-global-botanic-600);
}

.bg-botanic-700 {
    background-color: var(--o-ui-global-botanic-700);
}

.bg-botanic-800 {
    background-color: var(--o-ui-global-botanic-800);
}

.bg-botanic-900 {
    background-color: var(--o-ui-global-botanic-900);
}

.hover-bg-botanic-50:hover {
    background-color: var(--o-ui-global-botanic-50);
}

.hover-bg-botanic-100:hover {
    background-color: var(--o-ui-global-botanic-100);
}

.hover-bg-botanic-200:hover {
    background-color: var(--o-ui-global-botanic-200);
}

.hover-bg-botanic-300:hover {
    background-color: var(--o-ui-global-botanic-300);
}

.hover-bg-botanic-400:hover {
    background-color: var(--o-ui-global-botanic-400);
}

.hover-bg-botanic-500:hover {
    background-color: var(--o-ui-global-botanic-500);
}

.hover-bg-botanic-600:hover {
    background-color: var(--o-ui-global-botanic-600);
}

.hover-bg-botanic-700:hover {
    background-color: var(--o-ui-global-botanic-700);
}

.hover-bg-botanic-800:hover {
    background-color: var(--o-ui-global-botanic-800);
}

.hover-bg-botanic-900:hover {
    background-color: var(--o-ui-global-botanic-900);
}

.focus-bg-botanic-50:focus {
    background-color: var(--o-ui-global-botanic-50);
}

.focus-bg-botanic-100:focus {
    background-color: var(--o-ui-global-botanic-100);
}

.focus-bg-botanic-200:focus {
    background-color: var(--o-ui-global-botanic-200);
}

.focus-bg-botanic-300:focus {
    background-color: var(--o-ui-global-botanic-300);
}

.focus-bg-botanic-400:focus {
    background-color: var(--o-ui-global-botanic-400);
}

.focus-bg-botanic-500:focus {
    background-color: var(--o-ui-global-botanic-500);
}

.focus-bg-botanic-600:focus {
    background-color: var(--o-ui-global-botanic-600);
}

.focus-bg-botanic-700:focus {
    background-color: var(--o-ui-global-botanic-700);
}

.focus-bg-botanic-800:focus {
    background-color: var(--o-ui-global-botanic-800);
}

.focus-bg-botanic-900:focus {
    background-color: var(--o-ui-global-botanic-900);
}
