.b--botanic-50 {
    border-color: var(--o-ui-botanic-50);
}

.b--botanic-100 {
    border-color: var(--o-ui-botanic-100);
}

.b--botanic-200 {
    border-color: var(--o-ui-botanic-200);
}

.b--botanic-300 {
    border-color: var(--o-ui-botanic-300);
}

.b--botanic-400 {
    border-color: var(--o-ui-botanic-400);
}

.b--botanic-500 {
    border-color: var(--o-ui-botanic-500);
}

.b--botanic-600 {
    border-color: var(--o-ui-botanic-600);
}

.b--botanic-700 {
    border-color: var(--o-ui-botanic-700);
}

.b--botanic-800 {
    border-color: var(--o-ui-botanic-800);
}

.b--botanic-900 {
    border-color: var(--o-ui-botanic-900);
}

.hover-b--botanic-50:hover {
    border-color: var(--o-ui-botanic-50);
}

.hover-b--botanic-100:hover {
    border-color: var(--o-ui-botanic-100);
}

.hover-b--botanic-200:hover {
    border-color: var(--o-ui-botanic-200);
}

.hover-b--botanic-300:hover {
    border-color: var(--o-ui-botanic-300);
}

.hover-b--botanic-400:hover {
    border-color: var(--o-ui-botanic-400);
}

.hover-b--botanic-500:hover {
    border-color: var(--o-ui-botanic-500);
}

.hover-b--botanic-600:hover {
    border-color: var(--o-ui-botanic-600);
}

.hover-b--botanic-700:hover {
    border-color: var(--o-ui-botanic-700);
}

.hover-b--botanic-800:hover {
    border-color: var(--o-ui-botanic-800);
}

.hover-b--botanic-900:hover {
    border-color: var(--o-ui-botanic-900);
}

.focus-b--botanic-50:focus {
    border-color: var(--o-ui-botanic-50);
}

.focus-b--botanic-100:focus {
    border-color: var(--o-ui-botanic-100);
}

.focus-b--botanic-200:focus {
    border-color: var(--o-ui-botanic-200);
}

.focus-b--botanic-300:focus {
    border-color: var(--o-ui-botanic-300);
}

.focus-b--botanic-400:focus {
    border-color: var(--o-ui-botanic-400);
}

.focus-b--botanic-500:focus {
    border-color: var(--o-ui-botanic-500);
}

.focus-b--botanic-600:focus {
    border-color: var(--o-ui-botanic-600);
}

.focus-b--botanic-700:focus {
    border-color: var(--o-ui-botanic-700);
}

.focus-b--botanic-800:focus {
    border-color: var(--o-ui-botanic-800);
}

.focus-b--botanic-900:focus {
    border-color: var(--o-ui-botanic-900);
}
