.stroke-botanic-1 {
    stroke: var(--o-ui-botanic-1);
}

.stroke-botanic-2 {
    stroke: var(--o-ui-botanic-2);
}

.stroke-botanic-3 {
    stroke: var(--o-ui-botanic-3);
}

.stroke-botanic-4 {
    stroke: var(--o-ui-botanic-4);
}

.stroke-botanic-5 {
    stroke: var(--o-ui-botanic-5);
}

.stroke-botanic-6 {
    stroke: var(--o-ui-botanic-6);
}

.stroke-botanic-7 {
    stroke: var(--o-ui-botanic-7);
}

.stroke-botanic-8 {
    stroke: var(--o-ui-botanic-8);
}

.stroke-botanic-9 {
    stroke: var(--o-ui-botanic-9);
}

.stroke-botanic-10 {
    stroke: var(--o-ui-botanic-10);
}

.hover-stroke-botanic-1:hover {
    stroke: var(--o-ui-botanic-1);
}

.hover-stroke-botanic-2:hover {
    stroke: var(--o-ui-botanic-2);
}

.hover-stroke-botanic-3:hover {
    stroke: var(--o-ui-botanic-3);
}

.hover-stroke-botanic-4:hover {
    stroke: var(--o-ui-botanic-4);
}

.hover-stroke-botanic-5:hover {
    stroke: var(--o-ui-botanic-5);
}

.hover-stroke-botanic-6:hover {
    stroke: var(--o-ui-botanic-6);
}

.hover-stroke-botanic-7:hover {
    stroke: var(--o-ui-botanic-7);
}

.hover-stroke-botanic-8:hover {
    stroke: var(--o-ui-botanic-8);
}

.hover-stroke-botanic-9:hover {
    stroke: var(--o-ui-botanic-9);
}

.hover-stroke-botanic-10:hover {
    stroke: var(--o-ui-botanic-10);
}

.focus-stroke-botanic-1:focus {
    stroke: var(--o-ui-botanic-1);
}

.focus-stroke-botanic-2:focus {
    stroke: var(--o-ui-botanic-2);
}

.focus-stroke-botanic-3:focus {
    stroke: var(--o-ui-botanic-3);
}

.focus-stroke-botanic-4:focus {
    stroke: var(--o-ui-botanic-4);
}

.focus-stroke-botanic-5:focus {
    stroke: var(--o-ui-botanic-5);
}

.focus-stroke-botanic-6:focus {
    stroke: var(--o-ui-botanic-6);
}

.focus-stroke-botanic-7:focus {
    stroke: var(--o-ui-botanic-7);
}

.focus-stroke-botanic-8:focus {
    stroke: var(--o-ui-botanic-8);
}

.focus-stroke-botanic-9:focus {
    stroke: var(--o-ui-botanic-9);
}

.focus-stroke-botanic-10:focus {
    stroke: var(--o-ui-botanic-10);
}
