.botanic-1 {
    color: var(--o-ui-botanic-1);
}

.botanic-2 {
    color: var(--o-ui-botanic-2);
}

.botanic-3 {
    color: var(--o-ui-botanic-3);
}

.botanic-4 {
    color: var(--o-ui-botanic-4);
}

.botanic-5 {
    color: var(--o-ui-botanic-5);
}

.botanic-6 {
    color: var(--o-ui-botanic-6);
}

.botanic-7 {
    color: var(--o-ui-botanic-7);
}

.botanic-8 {
    color: var(--o-ui-botanic-8);
}

.botanic-9 {
    color: var(--o-ui-botanic-9);
}

.botanic-10 {
    color: var(--o-ui-botanic-10);
}

.hover-botanic-1:hover {
    color: var(--o-ui-botanic-1);
}

.hover-botanic-2:hover {
    color: var(--o-ui-botanic-2);
}

.hover-botanic-3:hover {
    color: var(--o-ui-botanic-3);
}

.hover-botanic-4:hover {
    color: var(--o-ui-botanic-4);
}

.hover-botanic-5:hover {
    color: var(--o-ui-botanic-5);
}

.hover-botanic-6:hover {
    color: var(--o-ui-botanic-6);
}

.hover-botanic-7:hover {
    color: var(--o-ui-botanic-7);
}

.hover-botanic-8:hover {
    color: var(--o-ui-botanic-8);
}

.hover-botanic-9:hover {
    color: var(--o-ui-botanic-9);
}

.hover-botanic-10:hover {
    color: var(--o-ui-botanic-10);
}

.focus-botanic-1:focus {
    color: var(--o-ui-botanic-1);
}

.focus-botanic-2:focus {
    color: var(--o-ui-botanic-2);
}

.focus-botanic-3:focus {
    color: var(--o-ui-botanic-3);
}

.focus-botanic-4:focus {
    color: var(--o-ui-botanic-4);
}

.focus-botanic-5:focus {
    color: var(--o-ui-botanic-5);
}

.focus-botanic-6:focus {
    color: var(--o-ui-botanic-6);
}

.focus-botanic-7:focus {
    color: var(--o-ui-botanic-7);
}

.focus-botanic-8:focus {
    color: var(--o-ui-botanic-8);
}

.focus-botanic-9:focus {
    color: var(--o-ui-botanic-9);
}

.focus-botanic-10:focus {
    color: var(--o-ui-botanic-10);
}
