.o-ui-p-2xs {
    font-size: var(--type-scale-9);
    line-height: 1;
    font-weight: 400;
    margin-bottom: calc(var(--type-scale-9) * .75);
    margin-top: 0;
}

.o-ui-p-xs {
    font-size: var(--type-scale-8);
    line-height: 1.4285714286;
    font-weight: 400;
    margin-bottom: calc(var(--type-scale-8) * .75);
    margin-top: 0;
}

.o-ui-p-sm {
    font-size: var(--type-scale-7);
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: calc(var(--type-scale-7) * .75);
    margin-top: 0;
}

.o-ui-p-md {
    font-size: var(--type-scale-6);
    line-height: 1.33333;
    font-weight: 400;
    margin-bottom: calc(var(--type-scale-6) * .75);
    margin-top: 0;
}

.o-ui-p-lg {
    font-size: var(--type-scale-5);
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: calc(var(--type-scale-5) * .75);
    margin-top: 0;
}

.o-ui-p-xl {
    font-size: var(--type-scale-4);
    line-height: 1.33333;
    font-weight: 400;
    margin-bottom: calc(var(--type-scale-4) * .75);
    margin-top: 0;
}

.o-ui-p-xs:last-child,
.o-ui-p-sm:last-child,
.o-ui-p-md:last-child,
.o-ui-p-lg:last-child,
.o-ui-p-xl:last-child {
    margin-bottom: 0;
}
