.o-ui-p-2xs {
    font-size: var(--type-scale-9);
    line-height: 1;
    font-weight: 400;
}

.o-ui-p-xs {
    font-size: var(--type-scale-8);
    line-height: 1.4285714286;
    font-weight: 400;
}

.o-ui-p-sm {
    font-size: var(--type-scale-7);
    line-height: 1.25;
    font-weight: 400;
}

.o-ui-p-md {
    font-size: var(--type-scale-6);
    line-height: 1.33333;
    font-weight: 400;
}

.o-ui-p-lg {
    font-size: var(--type-scale-5);
    line-height: 1.2;
    font-weight: 400;
}

.o-ui-p-xl {
    font-size: var(--type-scale-4);
    line-height: 1.33333;
    font-weight: 400;
}
