.o-ui-text {
    display: inline-flex;
    align-items: center;
    white-space: pre-wrap;
}

.o-ui-text-xs {
    font-size: var(--type-scale-9);
}

.o-ui-text-sm {
    font-size: var(--type-scale-8);
}

.o-ui-text-md {
    font-size: var(--type-scale-7);
}

.o-ui-text-lg {
    font-size: var(--type-scale-6);
}

.o-ui-text-xl {
    font-size: var(--type-scale-5);
}

.o-ui-text-2xl {
    font-size: var(--type-scale-4);
}

.o-ui-text-3xl {
    font-size: var(--type-scale-3);
}

.o-ui-text-4xl {
    font-size: var(--type-scale-2);
}

.o-ui-text-5xl {
    font-size: var(--type-scale-1);
}

.o-ui-text-inherit {
    font-size: 1em;
}
