.o-ui-autocomplete-menu {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border: 1px solid var(--o-ui-border-2);
    border-radius: var(--o-ui-scale-alpha);
    box-shadow: var(--o-ui-shadow-100);
    background-color: var(--o-ui-background-1);
    font-size: var(--o-ui-type-scale-7);
    line-height: 1;
    position: relative;
    cursor: default;
}

.o-ui-autocomplete-no-results {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: var(--o-ui-scale-hotel);
    padding-left: var(--o-ui-scale-charlie);
    height: calc(var(--o-ui-scale-golf) + 2px);
    display: flex;
    align-items: center;
}
