:root {
    --o-ui-button-padding-mini: var(--scale-bravo);
    --o-ui-button-padding-tiny: var(--scale-charlie);
    --o-ui-button-padding-small: var(--scale-delta);
    --o-ui-button-padding-medium: var(--scale-echo);
    --o-ui-button-padding-large: var(--scale-foxtrot);
    --o-ui-button-height-mini: var(--scale-echo);
    --o-ui-button-height-tiny: var(--scale-foxtrot);
    --o-ui-button-height-small: var(--scale-golf);
    --o-ui-button-height-medium: var(--scale-hotel);
    --o-ui-button-height-large: var(--scale-india);
    --o-ui-button-padding-ratio-factor: 1.5;
}

.o-ui-button {
    padding: 0;
    display: grid;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    transition: all .12s ease-in;
}

.o-ui-button .icon {
    transition: all .12s ease-in;
}

/* ANCHOR */
a.o-ui-button {
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* BUTTON | SOLID */
.o-ui-button-solid {
    border: none;
    background-color: var(--marine-500);
    color: var(--white);
}

/* BUTTON | ROUNDED */
.o-ui-button--rounded {
    border-radius: var(--scale-alpha);
}

/* BUTTON | SOLID | STATE | HOVER */
.o-ui-button-solid:hover,
.o-ui-button-solid.hover {
    background-color: var(--marine-700);
}

/* BUTTON | SOLID | STATE | DISABLED | HOVER */
.o-ui-button-solid[disabled]:hover,
.o-ui-button-solid.o-ui-button-disabled:hover,
.o-ui-button-solid[disabled].o-ui-button-hover,
.o-ui-button-solid.o-ui-button-disabled.o-ui-button-hover {
    background-color: var(--marine-500);
}

/* BUTTON | SOLID | STATE | FOCUS */
.o-ui-button-solid:focus,
.o-ui-button-solid.o-ui-button-focus {
    box-shadow: var(--o-ui-outline);
    z-index: 2;
}

/* BUTTON | SOLID | STATE | ACTIVE */
.o-ui-button-solid:active,
.o-ui-button-solid.o-ui-button-active {
    background-color: var(--marine-900);
}

/* BUTTON | SOLID | STATE | DISABLED | ACTIVE */
.o-ui-button-solid:active[disabled],
.o-ui-button-solid.o-ui-button-active[disabled],
.o-ui-button-solid:active.o-ui-button-disabled,
.o-ui-button-solid.o-ui-button-active:disabled {
    background-color: var(--marine-500);
}

/* BUTTON | SOLID | ICON */
.o-ui-button-solid .icon {
    fill: var(--white);
}

/* BUTTON | SOLID | SIZES */
.o-ui-button-solid.o-ui-button-mini {
    padding: 0 var(--o-ui-button-padding-mini);
    min-height: var(--o-ui-button-height-mini);
    font-size: var(--type-scale-9);
}

.o-ui-button-solid.o-ui-button-pill.o-ui-button-mini {
    border-radius: calc(var(--o-ui-button-height-mini) / 2);
}

.o-ui-button-solid.o-ui-button-tiny {
    padding: 0 var(--o-ui-button-padding-tiny);
    min-height: var(--o-ui-button-height-tiny);
    font-size: var(--type-scale-8);
}

.o-ui-button-solid.o-ui-button-pill.o-ui-button-tiny {
    border-radius: calc(var(--o-ui-button-height-tiny) / 2);
}

.o-ui-button-solid.o-ui-button-small {
    padding: 0 var(--o-ui-button-padding-small);
    min-height: var(--o-ui-button-height-small);
    font-size: var(--type-scale-7);
}

.o-ui-button-solid.o-ui-button-pill.o-ui-button-small {
    border-radius: calc(var(--o-ui-button-height-small) / 2);
}

.o-ui-button-solid.o-ui-button-medium {
    padding: 0 var(--o-ui-button-padding-medium);
    min-height: var(--o-ui-button-height-medium);
    font-size: var(--type-scale-6);
}

.o-ui-button-solid.o-ui-button-pill.o-ui-button-medium {
    border-radius: calc(var(--o-ui-button-height-medium) / 2);
}

.o-ui-button-solid.o-ui-button-large {
    padding: 0 var(--o-ui-button-padding-large);
    min-height: var(--o-ui-button-height-large);
    font-size: var(--type-scale-5);
}

.o-ui-button-solid.o-ui-button-pill.o-ui-button-large {
    border-radius: calc(var(--o-ui-button-height-large) / 2);
}

/* BUTTON | SOLID | PRIMARY */
.o-ui-button-solid.o-ui-button-primary {
    background-color: var(--primary-500);
}

/* BUTTON | SOLID | PRIMARY | HOVER */
.o-ui-button-solid.o-ui-button-primary:hover,
.o-ui-button-solid.o-ui-button-primary.o-ui-button-hover {
    background-color: var(--primary-700);
}

/* BUTTON | SOLID | PRIMARY | FOCUS */
.o-ui-button-solid.o-ui-button-primary:focus,
.o-ui-button-solid.o-ui-button-primary.o-ui-button-focus {
    background-color: var(--primary-500);
}

/* BUTTON | SOLID | PRIMARY | ACTIVE */
.o-ui-button-solid.o-ui-button-primary:active,
.o-ui-button-solid.o-ui-button-primary.o-ui-button-active {
    background-color: var(--primary-500);
}

/* BUTTON | SOLID | SECONDARY */
.o-ui-button-solid.o-ui-button-secondary {
    background-color: var(--cloud-100);
    color: var(--marine-900);
}

/* BUTTON | SOLID | SECONDARY | ICON */
.o-ui-button-solid.o-ui-button-secondary .icon {
    fill: var(--marine-900);
}

/* BUTTON | SOLID | DANGER */
.o-ui-button-solid.o-ui-button-danger {
    background-color: var(--alert-500);
}

/* BUTTON | SOLID | DANGER | HOVER */
.o-ui-button-solid.danger:hover,
.o-ui-button-solid.o-ui-button-danger.hover {
    background-color: var(--alert-700);
}

/* BUTTON | SOLID | DANGER | FOCUS */
.o-ui-button-solid.o-ui-button-danger:focus,
.o-ui-button-solid.o-ui-button-danger.o-ui-button-focus {
    background-color: var(--alert-500);
}

/* BUTTON | SOLID | DANGER | ACTIVE */
.o-ui-button-solid.danger:active,
.o-ui-button-solid.o-ui-button-danger.o-ui-button-active {
    background-color: var(--alert-900);
}

/* BUTTON | OUTLINE */
.o-ui-button-outline {
    border: none;
    background-color: var(--white);
    color: var(--marine-500);
    box-shadow: 0 0 0 1px var(--marine-500) inset;
}

/* BUTTON | OUTLINE | ROUNDED */
.o-ui-button-outline.o-ui-button-rounded {
    border-radius: var(--scale-alpha);
}

/* BUTTON | OUTLINE | ICON */
.o-ui-button-outline .icon {
    fill: currentColor;
}

/* BUTTON | OUTLINE | HOVER */
.o-ui-button-outline:hover,
.o-ui-button-outline.hover {
    box-shadow: 0 0 0 1px var(--marine-700) inset;
    color: var(--marine-700);
}

/* BUTTON | OUTLINE | FOCUS */
.o-ui-button-outline:focus,
.o-ui-button-outline.focus {
    box-shadow: 0 0 0 1px var(--marine-700) inset, var(--o-ui-outline);
    z-index: 2;
}

/* BUTTON | OUTLINE | ACTIVE */
.o-ui-button-outline:active,
.o-ui-button-outline.o-ui-button-active {
    box-shadow: 0 0 0 1px var(--marine-500) inset;
    color: var(--white);
    background-color: var(--marine-500);
}

/* BUTTON | OUTLINE | ACTIVE | FOCUS */
.outline.o-ui-button-focus:active,
.outline.o-ui-button-focus.o-ui-button-active,
.outline:focus:active,
.outline:focus.o-ui-button-active {
    box-shadow: 0 0 0 1px var(--marine-500) inset, var(--o-ui-outline);
}

/* BUTTON | OUTLINE | ACTIVE | DISABLED */
.o-ui-button-outline[disabled]:active,
.o-ui-button-outline[disabled].o-ui-button-active,
.o-ui-button-outline.o-ui-button-disabled:active,
.o-ui-button-outline.o-ui-button-disabled.o-ui-button-active {
    box-shadow: 0 0 0 1px var(--marine-500) inset;
    color: var(--marine-500);
    background-color: var(--white);
}

/* BUTTON | OUTLINE | PRIMARY */
.o-ui-button-outline.o-ui-button-primary {
    box-shadow: 0 0 0 1px var(--primary-500) inset;
    color: var(--primary-500);
}

/* BUTTON | OUTLINE | PRIMARY | HOVER */
.outline.primary:hover,
.outline.o-ui-button-primary.o-ui-button-hover {
    box-shadow: 0 0 0 1px var(--primary-700) inset;
    color: var(--primary-700);
}

/* BUTTON | OUTLINE | PRIMARY | FOCUS */
.o-ui-button-outline.o-ui-button-primary:focus,
.o-ui-button-outline.o-ui-button-primary.o-ui-button-focus {
    box-shadow: 0 0 0 1px var(--primary-700) inset, var(--o-ui-outline);
    z-index: 2;
}

/* BUTTON | OUTLINE | PRIMARY | ACTIVE */
.outline.o-ui-button-primary:active,
.outline.o-ui-button-primary.o-ui-button-active {
    box-shadow: 0 0 0 1px var(--primary-500) inset;
    color: var(--white);
    background-color: var(--primary-500);
}

/* BUTTON | OUTLINE | SECONDARY */
.o-ui-button-outline.o-ui-button-secondary {
    box-shadow: 0 0 0 1px var(--cloud-200) inset;
    color: var(--cloud-500);
}

/* BUTTON | OUTLINE | SECONDARY | HOVER */
.outline.o-ui-button-secondary:hover,
.outline.o-ui-button-secondary.o-ui-button-hover {
    box-shadow: 0 0 0 1px var(--cloud-500) inset;
}

/* BUTTON | OUTLINE | SECONDARY | FOCUS */
.o-ui-button-outline.o-ui-button-secondary:focus,
.o-ui-button-outline.o-ui-button-secondary.o-ui-button-focus {
    box-shadow: 0 0 0 1px var(--cloud-200) inset, var(--o-ui-outline);
    z-index: 2;
}

/* BUTTON | OUTLINE | SECONDARY | ACTIVE */
.o-ui-button-outline.o-ui-button-secondary:active,
.o-ui-button-outline.o-ui-button-secondary.o-ui-button-active {
    box-shadow: 0 0 0 1px var(--cloud-700) inset;
}

/* BUTTON | OUTLINE | DANGER */
.o-ui-button-outline.o-ui-button-danger {
    box-shadow: 0 0 0 1px var(--alert-500) inset;
    color: var(--alert-500);
}

/* BUTTON | OUTLINE | DANGER | HOVER */
.o-ui-button-outline.o-ui-button-danger:hover,
.o-ui-button-outline.o-ui-button-danger.o-ui-button-hover {
    box-shadow: 0 0 0 1px var(--alert-700) inset;
}

/* BUTTON | OUTLINE | DANGER | FOCUS */
.o-ui-button-outline.o-ui-button-danger:focus,
.o-ui-button-outline.o-ui-button-danger.o-ui-button-focus {
    box-shadow: 0 0 0 1px var(--alert-500) inset, var(--o-ui-outline);
    z-index: 2;
}

/* BUTTON | OUTLINE | DANGER | ACTIVE */
.o-ui-button-outline.o-ui-button-danger:active,
.o-ui-button-outline.o-ui-button-danger.o-ui-button-active {
    box-shadow: 0 0 0 1px var(--alert-500) inset;
    color: var(--white);
    background-color: var(--alert-500);
}

/* BUTTON | OUTLINE | DANGER | ICON */
.o-ui-button-outline.o-ui-button-danger .icon {
    fill: var(--alert-500);
}

.o-ui-button-outline.o-ui-button-danger.o-ui-button-active .icon {
    fill: var(--white);
}

/* BUTTON | OUTLINE | SIZES */
.o-ui-button-outline.o-ui-button-mini {
    padding: 0 var(--o-ui-button-padding-mini);
    min-height: var(--o-ui-button-height-mini);
    font-size: var(--type-scale-9);
}

.o-ui-button-outline.o-ui-button-pill.o-ui-button-mini {
    border-radius: calc(var(--o-ui-button-height-mini) / 2);
}

.o-ui-button-outline.o-ui-button-rounded.o-ui-button-mini {
    padding: 0;
}

.o-ui-button-outline.o-ui-button-tiny {
    padding: 0 var(--o-ui-button-padding-tiny);
    min-height: var(--o-ui-button-height-tiny);
    font-size: var(--type-scale-8);
}

.o-ui-button-outline.o-ui-button-pill.o-ui-button-tiny {
    border-radius: calc(var(--o-ui-button-height-tiny) / 2);
}

.o-ui-button-outline.o-ui-button-rounded.o-ui-button-tiny {
    padding: 0;
}

.o-ui-button-outline.o-ui-button-small {
    padding: 0 var(--o-ui-button-padding-small);
    min-height: var(--o-ui-button-height-small);
    font-size: var(--type-scale-7);
}

.o-ui-button-outline.o-ui-button-small.o-ui-button-rounded {
    padding: 0;
}

.o-ui-button-outline.o-ui-button-pill.o-ui-button-small {
    border-radius: calc(var(--o-ui-button-height-small) / 2);
}

.o-ui-button-outline.o-ui-button-medium {
    padding: 0 var(--o-ui-button-padding-medium);
    min-height: var(--o-ui-button-height-medium);
}

.o-ui-button-outline.o-ui-button-pill.o-ui-button-medium {
    border-radius: calc(var(--o-ui-button-height-medium) / 2);
}

.o-ui-button-outline.o-ui-button-large {
    padding: 0 var(--o-ui-button-padding-large);
    min-height: var(--o-ui-button-height-large);
    font-size: var(--type-scale-5);
}

.o-ui-button-outline.o-ui-button-large.o-ui-button-rounded {
    padding: 0;
}

.o-ui-button-outline.o-ui-button-pill.o-ui-button-large {
    border-radius: calc(var(--o-ui-button-height-large) / 2);
}

/* BUTTON | LINK */
.o-ui-button-link {
    border: none;
    background-color: var(--transparent);
    color: var(--marine-900);
    padding: 0;
}

.o-ui-button-link .icon {
    fill: currentColor;
}

/* BUTTON | LINK | STATE | HOVER */
.o-ui-button-link:hover,
.o-ui-button-link.o-ui-button-hover {
    color: var(--marine-700);
}

/* BUTTON | LINK | TEXT | STATE | HOVER */
.o-ui-button-link:hover .o-ui-button-text,
.o-ui-button-link.o-ui-button-hover .o-ui-button-text {
    text-decoration: underline;
}

/* BUTTON | LINK | STATE | FOCUS */
.o-ui-button-link:focus,
.o-ui-button-link.o-ui-button-focus {
    background-color: var(--marine-50);
    border-radius: 0.25rem;
    box-shadow: 0 0 0 2px var(--marine-50);
}

/* BUTTON | LINK | STATE | ACTIVE */
.o-ui-button-link:active,
.o-ui-button-link.o-ui-button-active {
    color: var(--marine-900);
}

.o-ui-button-link:active .o-ui-button-text,
.o-ui-button-link.o-ui-button-active .o-ui-button-text {
    text-decoration: underline;
}

/* BUTTON | LINK | SIZE */
.o-ui-button-link.o-ui-button-mini {
    font-size: var(--type-scale-9);
}

.o-ui-button-link.o-ui-button-tiny {
    font-size: var(--type-scale-8);
}

.o-ui-button-link.o-ui-button-small {
    font-size: var(--type-scale-7);
}

.o-ui-button-link.o-ui-button-medium {
    font-size: var(--type-scale-6);
}

.o-ui-button-link.o-ui-button-large {
    font-size: var(--type-scale-5);
}

/* BUTTON | LINK | STATE | DISABLED */
.o-ui-button[disabled].o-ui-button-link:hover .o-ui-button-text,
.o-ui-button[disabled].link.hover .o-ui-button-text,
.disabled.o-ui-button-link:hover .o-ui-button-text,
.disabled.o-ui-button-link.o-ui-button-hover .o-ui-button-text {
    text-decoration: none;
}

/* BUTTON | LINK | PRIMARY */
.o-ui-button-link.o-ui-button-primary {
    color: var(--primary-500);
}

/* BUTTON | LINK | PRIMARY | STATE | HOVER */
.o-ui-button-link.o-ui-button-primary:hover,
.o-ui-button-link.o-ui-button-primary.hover {
    color: var(--primary-700);
}

/* BUTTON | LINK | PRIMARY | STATE | FOCUS */
.o-ui-button-link.o-ui-button-primary:focus,
.o-ui-button-link.o-ui-button-primary.o-ui-button-focus {
    background-color: var(--primary-50);
    box-shadow: 0 0 0 2px var(--primary-50);
}

/* BUTTON | LINK | PRIMARY | STATE | ACTIVE */
.o-ui-button-link.o-ui-button-primary:active,
.link.o-ui-button-primary.o-ui-button-active {
    color: var(--primary-900);
}

/* BUTTON | LINK | SECONDARY */
.o-ui-button-link.o-ui-button-secondary {
    color: var(--cloud-500);
}

/* BUTTON | LINK | SECONDARY | STATE | FOCUS */
.o-ui-button-link.o-ui-button-secondary:focus,
.o-ui-button-link.o-ui-button-secondary.o-ui-button-focus {
    background-color: var(--cloud-50);
    box-shadow: 0 0 0 2px var(--cloud-50);
}

/* BUTTON | LINK | SECONDARY | STATE | HOVER */
.o-ui-button-link.o-ui-button-secondary:hover,
.o-ui-button-link.o-ui-button-secondary.o-ui-button-hover {
    color: var(--cloud-700);
}

/* BUTTON | LINK | SECONDARY | STATE | ACTIVE */
.o-ui-button-link.o-ui-button-secondary:active,
.o-ui-button-link.o-ui-button-secondary.o-ui-button-active {
    color: var(--cloud-900);
}

/* BUTTON | LINK | DANGER */
.o-ui-button-link.o-ui-button-danger {
    color: var(--alert-500);
}

/* BUTTON | LINK | DANGER | STATE | FOCUS */
.o-ui-button-link.o-ui-button-danger:focus,
.o-ui-button-link.o-ui-button-danger.o-ui-button-focus {
    background-color: var(--alert-50);
    box-shadow: 0 0 0 2px var(--alert-50);
}

/* BUTTON | LINK | DANGER | STATE | HOVER */
.o-ui-button-link.o-ui-button-danger:hover,
.o-ui-button-link.o-ui-button-danger.o-ui-button-hover {
    color: var(--alert-700);
}

/* BUTTON | LINK | DANGER | STATE | ACTIVE */
.o-ui-button-link.o-ui-button-danger:active,
.o-ui-button-link.o-ui-button-danger.o-ui-button-active {
    color: var(--alert-900);
}

/* BUTTON | GHOST */
.o-ui-button-ghost {
    background-color: transparent;
    border: none;
    color: var(--marine-500);
}

/* BUTTON | GHOST ROUNDED */
.o-ui-button-ghost.o-ui-button-rounded {
    border-radius: var(--scale-alpha);
}

/* BUTTON | GHOST | HOVER */
.o-ui-button-ghost:hover,
.o-ui-button-ghost.hover {
    background-color: var(--cloud-50);
    color: var(--marine-700);
}

/* BUTTON | GHOST | LOADING */
.o-ui-button-ghost.o-ui-button-loading {
    background-color: var(--cloud-50);
}

/* BUTTON | GHOST | FOCUS */
.o-ui-button-ghost:focus,
.o-ui-button-ghost.o-ui-button-focus {
    box-shadow: var(--o-ui-outline);
    z-index: 2;
}

/* BUTTON | GHOST | ACTIVE */
.o-ui-button-ghost:active,
.o-ui-button-ghost.o-ui-button-active {
    color: var(--marine-900);
}

/* BUTTON | GHOST | DISABLED */
.o-ui-button-ghost[disabled]:hover,
.o-ui-button-ghost[disabled].o-ui-button-hover,
.o-ui-button-ghost.o-ui-button-disabled:hover,
.o-ui-button-ghost.o-ui-button-disabled.o-ui-button-hover {
    background-color: var(--white);
}

/* BUTTON | GHOST | ICON  */
.o-ui-button-ghost .icon {
    fill: currentColor;
}

/* BUTTON | SOLID | SIZES */
.o-ui-button-ghost.o-ui-button-mini {
    padding: 0 var(--o-ui-button-padding-mini);
    min-height: var(--o-ui-button-height-mini);
    font-size: var(--type-scale-9);
}

.ghost.pill.mini {
    border-radius: calc(var(--o-ui-button-height-mini) / 2);
}

.ghost.tiny {
    padding: 0 var(--o-ui-button-padding-tiny);
    min-height: var(--o-ui-button-height-tiny);
    font-size: var(--type-scale-8);
}

.ghost.pill.tiny {
    border-radius: calc(var(--o-ui-button-height-tiny) / 2);
}

.o-ui-button-ghost.o-ui-button-small {
    padding: 0 var(--o-ui-button-padding-small);
    min-height: var(--o-ui-button-height-small);
    font-size: var(--type-scale-7);
}

.o-ui-button-ghost.o-ui-button-pill.o-ui-button-small {
    border-radius: calc(var(--o-ui-button-height-small) / 2);
}

.o-ui-button-ghost.o-ui-button-medium {
    padding: 0 var(--o-ui-button-padding-medium);
    min-height: var(--o-ui-button-height-medium);
}

.o-ui-button-ghost.o-ui-button-pill.o-ui-button-medium {
    border-radius: calc(var(--o-ui-button-height-medium) / 2);
}

.o-ui-button-ghost.o-ui-button-large {
    padding: 0 var(--o-ui-button-padding-large);
    min-height: var(--o-ui-button-height-large);
    font-size: var(--type-scale-5);
}

.o-ui-button-ghost.o-ui-button-pill.o-ui-button-large {
    border-radius: calc(var(--o-ui-button-height-large) / 2);
}

/* BUTTON | GHOST | PRIMARY */
.o-ui-button-ghost.o-ui-button-primary {
    color: var(--primary-500);
}

/* BUTTON | GHOST | SECONDARY */
.o-ui-button-ghost.o-ui-button-secondary {
    color: var(--marine-300);
}

/* BUTTON | GHOST | DANGER */
.o-ui-button-ghost.o-ui-button-danger {
    color: var(--alert-500);
}

/* BUTTON | FLUID */
.o-ui-button-fluid {
    width: 100%;
    justify-content: center;
}

/* BUTTON | FLUID | TEXT */
.o-ui-button-fluid .o-ui-button-text {
    flex-grow: 1;
}

/* BUTTON | FLUID | WITH ICON LEFT | SIZES */
/* BUTTON | FLUID | WITH ICON LEFT | MEDIUM */
/* .fluid.with-icon {
    padding-left: var(--o-ui-button-padding-medium);
} */

/* BUTTON | FLUID | WITH ICON LEFT | MINI */
/* .fluid.with-icon.mini {
    padding-left: var(--o-ui-button-padding-mini);
} */

/* BUTTON | FLUID | WITH ICON LEFT | WITH BADGE | TINY */
/* .fluid.with-icon.tiny {
    padding-left: var(--o-ui-button-padding-tiny);
} */

/* BUTTON | FLUID | WITH ICON LEFT | WITH BADGE | SMALL */
/* .fluid.with-icon.small {
    padding-left: var(--o-ui-button-padding-small);
} */

/* BUTTON | FLUID | WITH ICON LEFT | WITH BADGE | LARGE */
/* .fluid.with-icon.large {
    padding-left: var(--o-ui-button-padding-large);
} */

/* BUTTON | FLUID | WITH BADGE | SIZES */
/* BUTTON | FLUID | WITH BADGE | MEDIUM */
/* .fluid.with-badge {
    padding-right: var(--o-ui-button-padding-medium);
} */

/* BUTTON | FLUID | WITH BADGE | MINI */
/* .fluid.with-badge.mini {
    padding-right: var(--o-ui-button-padding-mini);
} */

/* BUTTON | FLUID | WITH BADGE | WITH BADGE | TINY */
/* .fluid.with-badge.tiny {
    padding-right: var(--o-ui-button-padding-tiny);
} */

/* BUTTON | FLUID | WITH BADGE | WITH BADGE | SMALL */
/* .fluid.with-badge.small {
    padding-right: var(--o-ui-button-padding-small);
} */

/* BUTTON | FLUID | WITH BADGE | WITH BADGE | LARGE */
/* .fluid.with-badge.large {
    padding-right: var(--o-ui-button-padding-large);
} */

/* BUTTON | LOADING */
.o-ui-button-loading {
    position: relative;
}

.o-ui-button-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    border: 2px solid var(--marine-200);
    border-top-color: var(--white);
    animation: o-ui-button-spinner 1s linear infinite;
    transform: translate(-50%, -50%) rotate(0deg);
}

@keyframes o-ui-button-spinner {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* BUTTON | LOADING | ELEMENTS */
.o-ui-button-loading > * {
    visibility: hidden;
}

/* BUTTON | LOADING | SIZE */
.o-ui-button-loading.o-ui-button-mini:before {
    width: 0.75rem;
    height: 0.75rem;
}

.o-ui-button-loading.o-ui-button-tiny:before {
    width: 0.825rem;
    height: 0.825rem;
}

.o-ui-button-loading.o-ui-button-small:before {
    width: 1.25rem;
    height: 1.25rem;
}

.o-ui-button-loading.o-ui-button-medium:before {
    width: 1.5rem;
    height: 1.5rem;
}

.o-ui-button-loading.o-ui-button-large:before {
    width: 1.75rem;
    height: 1.75rem;
}

/* BUTTON | SOLID | LOADING | PRIMARY */
.o-ui-button-loading.o-ui-button-solid.o-ui-button-primary:before {
    border: 2px solid var(--primary-800);
    border-top-color: var(--white);
}

/* BUTTON | SOLID | LOADING | SECONDARY */
.o-ui-button-loading.o-ui-button-solid.o-ui-button-secondary:before {
    border: 2px solid var(--cloud-300);
    border-top-color: var(--white);
}

/* BUTTON | SOLID | LOADING | DANGER */
.o-ui-button-loading.o-ui-button-solid.o-ui-button-danger:before {
    border: 2px solid var(--alert-300);
    border-top-color: var(--white);
}

/* BUTTON | OUTLINE | LOADING | PRIMARY */
.o-ui-button-loading.o-ui-button-outline:before {
    border: 2px solid var(--marine-100);
    border-top-color: var(--marine-300);
}

/* BUTTON | OUTLINE | LOADING | PRIMARY */
.o-ui-button-loading.o-ui-button-outline.o-ui-button-primary:before {
    border: 2px solid var(--primary-100);
    border-top-color: var(--primary-500);
}

/* BUTTON | OUTLINE | LOADING | SECONDARY */
.o-ui-button-loading.o-ui-button-outline.o-ui-button-secondary:before {
    border: 2px solid var(--cloud-100);
    border-top-color: var(--cloud-500);
}

/* BUTTON | OUTLINE | LOADING | DANGER */
.o-ui-button-loading.o-ui-button-outline.o-ui-button-danger:before {
    border: 2px solid var(--alert-100);
    border-top-color: var(--alert-500);
}

/* BUTTON | GHOST | LOADING | PRIMARY */
.o-ui-button-loading.o-ui-button-ghost:before {
    border: 2px solid var(--marine-100);
    border-top-color: var(--marine-300);
}

/* BUTTON | GHOST | LOADING | PRIMARY */
.o-ui-button-loading.o-ui-button-ghost.o-ui-button-primary:before {
    border: 2px solid var(--primary-100);
    border-top-color: var(--primary-500);
}

/* BUTTON | GHOST | LOADING | SECONDARY */
.o-ui-button-loading.o-ui-button-ghost.o-ui-button-secondary:before {
    border: 2px solid var(--cloud-100);
    border-top-color: var(--cloud-500);
}

/* BUTTON | GHOST | LOADING | DANGER */
.o-ui-button-loading.o-ui-button-ghost.o-ui-button-danger:before {
    border: 2px solid var(--alert-100);
    border-top-color: var(--alert-500);
}

/* BUTTON | DISABLED */
.o-ui-button-disabled,
.o-ui-button[disabled] {
    opacity: var(--o-ui-disabled-opacity);
    cursor: not-allowed;
}

/* BUTTON | CIRCULAR */
.o-ui-button-circular {
    border-radius: 100%;
    padding: var(--scale-alpha);
    min-width: var(--scale-hotel);
    justify-content: center;
}

/* BUTTON | CIRCULAR | MINI */
.o-ui-button-circular.o-ui-button-mini {
    min-width: var(--scale-echo);
    min-height: var(--scale-echo);
    padding: 0 var(--scale-alpha);
}

/* BUTTON | CIRCULAR | TINY */
.o-ui-button-circular.o-ui-button-tiny {
    min-width: var(--scale-foxtrot);
    min-height: var(--scale-foxtrot);
    padding: 0 var(--scale-alpha);
}

/* BUTTON | CIRCULAR | SMALL */
.o-ui-button-circular.o-ui-button-small {
    min-width: var(--scale-golf);
    min-height: var(--scale-golf);
    padding: 0 var(--scale-alpha);
}

/* BUTTON | CIRCULAR | MEDIUM */
.o-ui-button-circular.o-ui-button-medium {
    min-width: var(--scale-hotel=);
    min-height: var(--scale-hotel);
    padding: 0 var(--scale-alpha);
}

/* BUTTON | CIRCULAR | LARGE */
.o-ui-button-circular.o-ui-button-large {
    min-width: var(--scale-india);
    min-height: var(--scale-india);
    padding: 0 var(--scale-bravo);
}

/* BUTTON | ROUNDED */
.o-ui-button-rounded {
    justify-content: center;
}

/* BUTTON | ROUNDED | MINI */
.o-ui-button-rounded.o-ui-button-mini {
    min-width: var(--scale-echo);
    min-height: var(--scale-echo);
    padding: 0;
}

/* BUTTON | ROUNDED | TINY */
.o-ui-button-rounded.o-ui-button-tiny {
    min-width: var(--scale-foxtrot);
    min-height: var(--scale-foxtrot);
    padding: 0;
    text-align: center;
}

/* BUTTON | ROUNDED | TINY | TEXT */
.o-ui-button-rounded.o-ui-button-tiny .o-ui-button-text {
    padding-left: var(--scale-alpha);
    padding-right: var(--scale-alpha);
}

/* BUTTON | ROUNDED | MINI | TEXT */
.o-ui-button-rounded.o-ui-button-mini .o-ui-button-text {
    padding-left: var(--scale-alpha);
    padding-right: var(--scale-alpha);
}

/* BUTTON | ROUNDED | SMALL */
.o-ui-button-rounded.o-ui-button-small {
    min-width: var(--scale-golf);
    min-height: var(--scale-golf);
    padding: 0;
}

/* BUTTON | ROUNDED | MEDIUM */
.o-ui-button-rounded.o-ui-button-medium {
    padding: 0;
    min-width: var(--scale-hotel);
}

/* BUTTON | ROUNDED | LARGE */
.o-ui-button-rounded.o-ui-button-large {
    min-width: var(--scale-india);
    min-height: var(--scale-india);
    padding: 0;
}

/* BUTTON | ROUNDED | TEXT */
.o-ui-button-rounded .o-ui-button-text {
    padding-left: var(--scale-bravo);
    padding-right: var(--scale-bravo);
}

/* BUTTON | WITH RIGHT ICON | ROUNDED | TEXT */
/* .rounded.with-icon .o-ui-button-text {
    padding-right: 0;
} */

/* BUTTON | WITH RIGHT ICON | ROUNDED | ICON */
/* .rounded.with-icon .icon:last-child {
    margin-right: var(--scale-alpha);
} */

/* BUTTON | CONTENT */
/* BUTTON | CONTENT | BADGE */
/* .with-badge  {
    padding-right: calc(var(--o-ui-button-padding-medium) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | CONTENT | BADGE | ROUNDED */
/* .with-badge.rounded  {
    padding-right: 0;
} */

/* BUTTON | CONTENT | BADGE | ROUNDED | BADGE */
/* .with-badge.rounded .badge  {
    margin-right: var(--scale-bravo);
} */

/* BUTTON | CONTENT | BADGE | MINI | ROUNDED | BADGE */
/* .with-badge.rounded.mini .badge  {
    margin-right: var(--scale-alpha);
} */

/* BUTTON | CONTENT | BADGE | TINY | ROUNDED | BADGE */
/* .with-badge.rounded.tiny .badge  {
    margin-right: var(--scale-alpha);
} */

/* BUTTON | SIZE | MINI | CONTENT | BADGE */
/* .with-badge.mini  {
    padding-right: calc(var(--o-ui-button-padding-mini) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | CONTENT | BADGE | ROUNDED | MINI */
/* .with-badge.rounded.mini  {
    padding-right: 0;
} */

/* BUTTON | SIZE | TINY | CONTENT | BADGE */
/* .with-badge.tiny  {
    padding-right: calc(var(--o-ui-button-padding-tiny) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | CONTENT | BADGE | ROUNDED | TINY */
/* .with-badge.rounded.tiny  {
    padding-right: 0;
} */

/* BUTTON | SIZE | SMALL | CONTENT | BADGE */
/* .with-badge.small  {
    padding-right: calc(var(--o-ui-button-padding-small) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | CONTENT | BADGE | ROUNDED | SMALL */
/* .with-badge.rounded.small  {
    padding-right: 0;
} */

/* BUTTON | SIZE | LARGE | CONTENT | BADGE */
/* .with-badge.large  {
    padding-right: calc(var(--o-ui-button-padding-large) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | CONTENT | BADGE | ROUNDED | LARGE */
/* .with-badge.rounded.large  {
    padding-right: 0;
} */

/* LINK */
/* .link.with-badge  {
    padding-right: 0;
}

.with-badge .o-ui-button-text {
    margin-right: var(--scale-bravo);
} */

/* BUTTON | CONTENT | ICON */
/* BUTTON | CONTENT | ICON | LEFT */
/* .with-icon {
    padding-left: calc(var(--o-ui-button-padding-medium) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | CONTENT | ICON | LEFT | ROUNDED */
/* .with-icon.rounded {
    padding-left: 0;
} */

/* BUTTON | SIZE | MINI | CONTENT | ICON | LEFT */
/* .mini.with-icon {
    padding-left: calc(var(--o-ui-button-padding-mini) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | SIZE | MINI | CONTENT | ICON | LEFT | ROUNDED */
/* .mini.with-icon.rounded {
    padding-left: 0;
} */

/* BUTTON | SIZE | TINY | CONTENT | ICON | LEFT */
/* .tiny.with-icon {
    padding-left: calc(var(--o-ui-button-padding-tiny) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | SIZE | TINY | CONTENT | ICON | LEFT */
/* .tiny.with-icon.rounded {
    padding-left: 0;
} */

/* BUTTON | SIZE | SMALL | CONTENT | ICON | LEFT */
/* .small.with-icon {
    padding-left: calc(var(--o-ui-button-padding-small) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | SIZE | SMALL | CONTENT | ICON | LEFT | ROUNDED */
/* .small.with-icon.rounded {
    padding-left: 0;
} */

/* BUTTON | SIZE | LARGE | CONTENT | ICON | LEFT */
/* .large.with-icon {
    padding-left: calc(var(--o-ui-button-padding-large) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | SIZE | LARGE | CONTENT | ICON | LEFT | ROUNDED */
/* .large.with-icon.rounded {
    padding-left: 0;
} */

/* BUTTON | LINK | CONTENT | ICON */
/* BUTTON | LINK | CONTENT | ICON | LEFT */
/* .with-icon.link {
    padding-left: 0;
} */

/* BUTTON | CONTENT | ICON | LEFT | TEXT */
/* .with-icon .o-ui-button-text {
    margin-left: var(--scale-alpha);
} */

/* BUTTON | CONTENT | ICON | LEFT | RIGHT */
/* .with-icon .o-ui-button-text {
    margin-right: var(--scale-alpha);
} */

/* BUTTON | CONTENT | ICON | RIGHT */
/* .with-icon {
    padding-right: calc(var(--o-ui-button-padding-medium) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | CONTENT | ICON | RIGHT | ROUNDED */
/* .with-icon.rounded {
    padding-right: 0;
} */

/* BUTTON | SIZE | MINI | CONTENT | ICON | RIGHT */
/* .mini.with-icon {
    padding-right: calc(var(--o-ui-button-padding-mini) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | SIZE | MINI | CONTENT | ICON | RIGHT | ROUNDED */
/* .with-icon.mini.rounded {
    padding-right: 0;
} */

/* BUTTON | SIZE | TINY | CONTENT | ICON | RIGHT */
/* .tiny.with-icon {
    padding-right: calc(var(--o-ui-button-padding-tiny) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | SIZE | TINY | CONTENT | ICON | RIGHT | ROUNDED */
/* .with-icon.tiny.rounded {
    padding-right: 0;
} */

/* BUTTON | SIZE | SMALL | CONTENT | ICON | RIGHT */
/* .small.with-icon {
    padding-right: calc(var(--o-ui-button-padding-small) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | SIZE | TINY | CONTENT | ICON | RIGHT | ROUNDED */
/* .with-icon.small.rounded {
    padding-right: 0;
} */

/* BUTTON | SIZE | LARGE | CONTENT | ICON | RIGHT */
/* .large.with-icon {
    padding-right: calc(var(--o-ui-button-padding-large) / var(--o-ui-button-padding-ratio-factor));
} */

/* BUTTON | SIZE | TINY | CONTENT | ICON | RIGHT | ROUNDED */
/* .with-icon.large.rounded {
    padding-right: 0;
} */

/* BUTTON | LINK | CONTENT | ICON | RIGHT */
/* .link.with-icon  {
    padding-right: 0;
} */
