@import "./Button.css";

.o-ui-text-button {
    --o-ui-text-button-rounded-padding-sm: var(--o-ui-global-scale-delta);
    --o-ui-text-button-rounded-padding-md: var(--o-ui-global-scale-echo);
    --o-ui-text-button-pill-padding-sm: var(--o-ui-global-scale-delta);
    --o-ui-text-button-pill-padding-md: var(--o-ui-global-scale-echo);
    --o-ui-text-button-pill-padding-ratio-factor: 1.5;
    --o-ui-text-button-rounded-padding-ratio-factor: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
}

/* CONTENT | ICON | START */
.o-ui-text-button:not(.o-ui-button-fluid) .o-ui-button-start-icon + .o-ui-button-text {
    margin-left: var(--o-ui-global-scale-alpha);
}

/* CONTENT | ICON | END */
.o-ui-text-button:not(.o-ui-button-fluid) .o-ui-button-end-icon {
    margin-left: var(--o-ui-global-scale-alpha);
}

/* SIZES */
/* ROUNDED | SIZES */
.o-ui-text-button.o-ui-button-rounded.o-ui-button-sm {
    padding: 0 var(--o-ui-text-button-pill-padding-sm);
}

.o-ui-text-button.o-ui-button-rounded.o-ui-button-md {
    padding: 0 var(--o-ui-text-button-pill-padding-md);
}

/* ROUNDED | CONTENT | ICON | SIZES */
/* LEFT */
.o-ui-text-button.o-ui-button-rounded.o-ui-button-has-start-icon.o-ui-button-sm {
    padding-left: calc(var(--o-ui-text-button-rounded-padding-sm) / var(--o-ui-text-button-rounded-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-rounded.o-ui-button-has-start-icon.o-ui-button-md {
    padding-left: calc(var(--o-ui-text-button-rounded-padding-md) / var(--o-ui-text-button-rounded-padding-ratio-factor));
}

/* RIGHT */
.o-ui-text-button.o-ui-button-rounded.o-ui-button-has-end-icon.o-ui-button-sm {
    padding-right: calc(var(--o-ui-text-button-rounded-padding-sm) / var(--o-ui-text-button-rounded-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-rounded.o-ui-button-has-end-icon.o-ui-button-md {
    padding-right: calc(var(--o-ui-text-button-rounded-padding-md) / var(--o-ui-text-button-rounded-padding-ratio-factor));
}

/* PILL SIZES */
.o-ui-text-button.o-ui-button-pill.o-ui-button-sm {
    padding: 0 var(--o-ui-text-button-rounded-padding-sm);
}

.o-ui-text-button.o-ui-button-pill.o-ui-button-md {
    padding: 0 var(--o-ui-text-button-rounded-padding-md);
}

/* PILL | CONTENT | ICON | SIZES */
/* LEFT */
.o-ui-text-button.o-ui-button-pill.o-ui-button-has-start-icon.o-ui-button-sm {
    padding-left: calc(var(--o-ui-text-button-pill-padding-sm) / var(--o-ui-text-button-pill-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-pill.o-ui-button-has-start-icon.o-ui-button-md {
    padding-left: calc(var(--o-ui-text-button-pill-padding-md) / var(--o-ui-text-button-pill-padding-ratio-factor));
}

/* RIGHT */
.o-ui-text-button.o-ui-button-pill.o-ui-button-has-end-icon.o-ui-button-sm {
    padding-right: calc(var(--o-ui-text-button-pill-padding-sm) / var(--o-ui-text-button-pill-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-pill.o-ui-button-has-end-icon.o-ui-button-md {
    padding-right: calc(var(--o-ui-text-button-pill-padding-md) / var(--o-ui-text-button-pill-padding-ratio-factor));
}

/* CONTENT | ICON | LINK */
.o-ui-text-button.o-ui-button-pill.o-ui-button-has-start-icon.o-ui-button-link,
.o-ui-text-button.o-ui-button-pill.o-ui-button-has-end-icon.o-ui-button-link {
    padding-left: 0;
}
