:root {
    --o-ui-button-rounded-padding-2xs: var(--scale-bravo);
    --o-ui-button-rounded-padding-xs: var(--scale-charlie);
    --o-ui-button-rounded-padding-sm: var(--scale-delta);
    --o-ui-button-rounded-padding-md: var(--scale-echo);
    --o-ui-button-rounded-padding-lg: var(--scale-foxtrot);
    --o-ui-button-pill-padding-2xs: var(--scale-alpha);
    --o-ui-button-pill-padding-xs: var(--scale-alpha);
    --o-ui-button-pill-padding-sm: var(--scale-charlie);
    --o-ui-button-pill-padding-md: var(--scale-delta);
    --o-ui-button-pill-padding-lg: var(--scale-echo);
    --o-ui-button-pill-padding-ratio-factor: 1.5;
    --o-ui-button-rounded-padding-ratio-factor: 2;
}

.o-ui-text-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: max-content;
}

/* SIZES */
/* ROUNDED | SIZES */
.o-ui-text-button.o-ui-button-rounded.o-ui-button-2xs {
    padding: 0 var(--o-ui-button-pill-padding-2xs);
}

.o-ui-text-button.o-ui-button-rounded.o-ui-button-xs {
    padding: 0 var(--o-ui-button-pill-padding-xs);
}

.o-ui-text-button.o-ui-button-rounded.o-ui-button-sm {
    padding: 0 var(--o-ui-button-pill-padding-sm);
}

.o-ui-text-button.o-ui-button-rounded.o-ui-button-md {
    padding: 0 var(--o-ui-button-pill-padding-md);
}

.o-ui-text-button.o-ui-button-rounded.o-ui-button-lg {
    padding: 0 var(--o-ui-button-pill-padding-lg);
}

/* ROUNDED | CONTENT | ICON | SIZES */
.o-ui-text-button.o-ui-button-rounded.o-ui-button-has-icon.o-ui-button-2xs {
    padding-left: calc(var(--o-ui-button-rounded-padding-2xs) / var(--o-ui-button-rounded-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-rounded.o-ui-button-has-icon.o-ui-button-xs {
    padding-left: calc(var(--o-ui-button-rounded-padding-xs) / var(--o-ui-button-rounded-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-rounded.o-ui-button-has-icon.o-ui-button-sm {
    padding-left: calc(var(--o-ui-button-rounded-padding-sm) / var(--o-ui-button-rounded-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-rounded.o-ui-button-has-icon.o-ui-button-md {
    padding-left: calc(var(--o-ui-button-rounded-padding-md) / var(--o-ui-button-rounded-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-rounded.o-ui-button-has-icon.o-ui-button-lg {
    padding-left: calc(var(--o-ui-button-rounded-padding-lg) / var(--o-ui-button-rounded-padding-ratio-factor));
}

/* PILL SIZES */
.o-ui-text-button.o-ui-button-pill.o-ui-button-2xs {
    padding: 0 var(--o-ui-button-rounded-padding-2xs);
}

.o-ui-text-button.o-ui-button-pill.o-ui-button-xs {
    padding: 0 var(--o-ui-button-rounded-padding-xs);
}

.o-ui-text-button.o-ui-button-pill.o-ui-button-sm {
    padding: 0 var(--o-ui-button-rounded-padding-sm);
}

.o-ui-text-button.o-ui-button-pill.o-ui-button-md {
    padding: 0 var(--o-ui-button-rounded-padding-md);
}

.o-ui-text-button.o-ui-button-pill.o-ui-button-lg {
    padding: 0 var(--o-ui-button-rounded-padding-lg);
}

/* PILL | CONTENT | ICON | SIZES */
.o-ui-text-button.o-ui-button-pill.o-ui-button-has-icon.o-ui-button-2xs {
    padding-left: calc(var(--o-ui-button-pill-padding-2xs) / var(--o-ui-button-pill-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-pill.o-ui-button-has-icon.o-ui-button-xs {
    padding-left: calc(var(--o-ui-button-pill-padding-xs) / var(--o-ui-button-pill-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-pill.o-ui-button-has-icon.o-ui-button-sm {
    padding-left: calc(var(--o-ui-button-pill-padding-sm) / var(--o-ui-button-pill-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-pill.o-ui-button-has-icon.o-ui-button-md {
    padding-left: calc(var(--o-ui-button-pill-padding-md) / var(--o-ui-button-pill-padding-ratio-factor));
}

.o-ui-text-button.o-ui-button-pill.o-ui-button-has-icon.o-ui-button-lg {
    padding-left: calc(var(--o-ui-button-pill-padding-lg) / var(--o-ui-button-pill-padding-ratio-factor));
}

/* CONTENT | ICON | LINK */
.o-ui-text-button.o-ui-button-pill.o-ui-button-has-icon.o-ui-button-link {
    padding-left: 0;
}
