.o-ui-p {
    font-variation-settings: "wght" 400;
}

.o-ui-p:last-child {
    margin-bottom: 0;
}

/* SIZE */
.o-ui-p-sm {
    margin-bottom: calc(var(--o-ui-fs-2) * .75);
}

.o-ui-p-md {
    margin-bottom: calc(var(--o-ui-fs-3) * .75);
}

.o-ui-p-lg {
    margin-bottom: calc(var(--o-ui-fs-4) * .75);
}

.o-ui-p-xl {
    margin-bottom: calc(var(--o-ui-fs-5) * .75);
}

.o-ui-p-2xl {
    margin-bottom: calc(var(--o-ui-fs-6) * .75);
}

.o-ui-p-inherit-size {
    font-weight: inherit;
    margin-bottom: .75em;
}
