.icon {
    width: 80px;
    height: 80px;
}

.iconWrapper {
    position: absolute;
    right: 0;
    top: 0;
}

.icon:hover :global(.octo-arm) {
    animation: tail 0.8s infinite linear;
}

@keyframes tail {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(deg);
    }
}
