/* SIZES */
.o-ui-icon-3xs {
    width: var(--scale-bravo);
    height: var(--scale-bravo);
}

.o-ui-icon-2xs {
    width: var(--scale-charlie);
    height: var(--scale-charlie);
}

.o-ui-icon-xs {
    width: var(--scale-delta);
    height: var(--scale-delta);
}

.o-ui-icon-sm {
    width: var(--scale-echo);
    height: var(--scale-echo);
}

.o-ui-icon-md {
    width: var(--scale-foxtrot);
    height: var(--scale-foxtrot);
}

.o-ui-icon-lg {
    width: var(--scale-golf);
    height: var(--scale-golf);
}

.o-ui-icon-xl {
    width: var(--scale-hotel);
    height: var(--scale-hotel);
}

.o-ui-icon-2xl {
    width: var(--scale-india);
    height: var(--scale-india);
}

.o-ui-icon-3xl {
    width: var(--scale-juliett);
    height: var(--scale-juliett);
}

.o-ui-icon-inherit {
    width: 1em;
    height: 1em;
}

/* DISABLED */
.o-ui-icon-disabled {
    opacity: var(--o-ui-disabled-opacity);
}
