.o-ui-icon {
    display: block;
    fill: currentColor;
}

/* SIZES */
.o-ui-icon-2xs {
    width: var(--o-ui-space-3);
    height: var(--o-ui-space-3);
}

.o-ui-icon-xs {
    width: var(--o-ui-space-4);
    height: var(--o-ui-space-4);
}

.o-ui-icon-sm {
    width: var(--o-ui-space-5);
    height: var(--o-ui-space-5);
}

.o-ui-icon-md {
    width: var(--o-ui-space-6);
    height: var(--o-ui-space-6);
}

.o-ui-icon-lg {
    width: var(--o-ui-space-7);
    height: var(--o-ui-space-7);
}

.o-ui-icon-xl {
    width: var(--o-ui-space-8);
    height: var(--o-ui-space-8);
}

.o-ui-icon-inherit-size {
    width: 1em;
    height: 1em;
}

/* DISABLED */
.o-ui-icon-disabled {
    opacity: var(--o-ui-disabled-opacity);
}
