.previewIcon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    outline: none;
}

.viewContainer {
    position: absolute;
    opacity: 0;
    transition: opacity .15s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
    background-color: #0E1C3D;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.previewIcon:hover .viewContainer,
.previewIcon:focus .viewContainer,
.previewIcon:active .viewContainer {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.viewButton {
    position: absolute;
    color: #FFF;
    font-weight: 500;
    font-size: .75rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding: 0;
    outline: inherit;
}

.viewButton::-moz-focus-inner {
    border: 0;
}
