.b--overcast-50 {
    border-color: var(--overcast-50);
}

.b--overcast-100 {
    border-color: var(--overcast-100);
}

.b--overcast-200 {
    border-color: var(--overcast-200);
}

.b--overcast-300 {
    border-color: var(--overcast-300);
}

.b--overcast-400 {
    border-color: var(--overcast-400);
}

.b--overcast-500 {
    border-color: var(--overcast-500);
}

.b--overcast-600 {
    border-color: var(--overcast-600);
}

.b--overcast-700 {
    border-color: var(--overcast-700);
}

.b--overcast-800 {
    border-color: var(--overcast-800);
}

.b--overcast-900 {
    border-color: var(--overcast-900);
}

.hover-b--overcast-50:hover,
.hover-b--overcast-50:focus {
    border-color: var(--overcast-50);
}

.hover-b--overcast-100:hover,
.hover-b--overcast-100:focus {
    border-color: var(--overcast-100);
}

.hover-b--overcast-200:hover,
.hover-b--overcast-200:focus {
    border-color: var(--overcast-200);
}

.hover-b--overcast-300:hover,
.hover-b--overcast-300:focus {
    border-color: var(--overcast-300);
}

.hover-b--overcast-400:hover,
.hover-b--overcast-400:focus {
    border-color: var(--overcast-400);
}

.hover-b--overcast-500:hover,
.hover-b--overcast-500:focus {
    border-color: var(--overcast-500);
}

.hover-b--overcast-600:hover,
.hover-b--overcast-600:focus {
    border-color: var(--overcast-600);
}

.hover-b--overcast-700:hover,
.hover-b--overcast-700:focus {
    border-color: var(--overcast-700);
}

.hover-b--overcast-800:hover,
.hover-b--overcast-800:focus {
    border-color: var(--overcast-800);
}

.hover-b--overcast-900:hover,
.hover-b--overcast-900:focus {
    border-color: var(--overcast-900);
}
