.b--cloud-1 {
    border-color: var(--o-ui-cloud-1);
}

.b--cloud-2 {
    border-color: var(--o-ui-cloud-2);
}

.b--cloud-3 {
    border-color: var(--o-ui-cloud-3);
}

.b--cloud-4 {
    border-color: var(--o-ui-cloud-4);
}

.b--cloud-5 {
    border-color: var(--o-ui-cloud-5);
}

.b--cloud-6 {
    border-color: var(--o-ui-cloud-6);
}

.b--cloud-7 {
    border-color: var(--o-ui-cloud-7);
}

.b--cloud-8 {
    border-color: var(--o-ui-cloud-8);
}

.b--cloud-9 {
    border-color: var(--o-ui-cloud-9);
}

.b--cloud-10 {
    border-color: var(--o-ui-cloud-10);
}

.hover-b--cloud-1:hover {
    border-color: var(--o-ui-cloud-1);
}

.hover-b--cloud-2:hover {
    border-color: var(--o-ui-cloud-2);
}

.hover-b--cloud-3:hover {
    border-color: var(--o-ui-cloud-3);
}

.hover-b--cloud-4:hover {
    border-color: var(--o-ui-cloud-4);
}

.hover-b--cloud-5:hover {
    border-color: var(--o-ui-cloud-5);
}

.hover-b--cloud-6:hover {
    border-color: var(--o-ui-cloud-6);
}

.hover-b--cloud-7:hover {
    border-color: var(--o-ui-cloud-7);
}

.hover-b--cloud-8:hover {
    border-color: var(--o-ui-cloud-8);
}

.hover-b--cloud-9:hover {
    border-color: var(--o-ui-cloud-9);
}

.hover-b--cloud-10:hover {
    border-color: var(--o-ui-cloud-10);
}

.focus-b--cloud-1:focus {
    border-color: var(--o-ui-cloud-1);
}

.focus-b--cloud-2:focus {
    border-color: var(--o-ui-cloud-2);
}

.focus-b--cloud-3:focus {
    border-color: var(--o-ui-cloud-3);
}

.focus-b--cloud-4:focus {
    border-color: var(--o-ui-cloud-4);
}

.focus-b--cloud-5:focus {
    border-color: var(--o-ui-cloud-5);
}

.focus-b--cloud-6:focus {
    border-color: var(--o-ui-cloud-6);
}

.focus-b--cloud-7:focus {
    border-color: var(--o-ui-cloud-7);
}

.focus-b--cloud-8:focus {
    border-color: var(--o-ui-cloud-8);
}

.focus-b--cloud-9:focus {
    border-color: var(--o-ui-cloud-9);
}

.focus-b--cloud-10:focus {
    border-color: var(--o-ui-cloud-10);
}
