.stroke-cloud-1 {
    stroke: var(--o-ui-cloud-1);
}

.stroke-cloud-2 {
    stroke: var(--o-ui-cloud-2);
}

.stroke-cloud-3 {
    stroke: var(--o-ui-cloud-3);
}

.stroke-cloud-4 {
    stroke: var(--o-ui-cloud-4);
}

.stroke-cloud-5 {
    stroke: var(--o-ui-cloud-5);
}

.stroke-cloud-6 {
    stroke: var(--o-ui-cloud-6);
}

.stroke-cloud-7 {
    stroke: var(--o-ui-cloud-7);
}

.stroke-cloud-8 {
    stroke: var(--o-ui-cloud-8);
}

.stroke-cloud-9 {
    stroke: var(--o-ui-cloud-9);
}

.stroke-cloud-10 {
    stroke: var(--o-ui-cloud-10);
}

.hover-stroke-cloud-1:hover {
    stroke: var(--o-ui-cloud-1);
}

.hover-stroke-cloud-2:hover {
    stroke: var(--o-ui-cloud-2);
}

.hover-stroke-cloud-3:hover {
    stroke: var(--o-ui-cloud-3);
}

.hover-stroke-cloud-4:hover {
    stroke: var(--o-ui-cloud-4);
}

.hover-stroke-cloud-5:hover {
    stroke: var(--o-ui-cloud-5);
}

.hover-stroke-cloud-6:hover {
    stroke: var(--o-ui-cloud-6);
}

.hover-stroke-cloud-7:hover {
    stroke: var(--o-ui-cloud-7);
}

.hover-stroke-cloud-8:hover {
    stroke: var(--o-ui-cloud-8);
}

.hover-stroke-cloud-9:hover {
    stroke: var(--o-ui-cloud-9);
}

.hover-stroke-cloud-10:hover {
    stroke: var(--o-ui-cloud-10);
}

.focus-stroke-cloud-1:focus {
    stroke: var(--o-ui-cloud-1);
}

.focus-stroke-cloud-2:focus {
    stroke: var(--o-ui-cloud-2);
}

.focus-stroke-cloud-3:focus {
    stroke: var(--o-ui-cloud-3);
}

.focus-stroke-cloud-4:focus {
    stroke: var(--o-ui-cloud-4);
}

.focus-stroke-cloud-5:focus {
    stroke: var(--o-ui-cloud-5);
}

.focus-stroke-cloud-6:focus {
    stroke: var(--o-ui-cloud-6);
}

.focus-stroke-cloud-7:focus {
    stroke: var(--o-ui-cloud-7);
}

.focus-stroke-cloud-8:focus {
    stroke: var(--o-ui-cloud-8);
}

.focus-stroke-cloud-9:focus {
    stroke: var(--o-ui-cloud-9);
}

.focus-stroke-cloud-10:focus {
    stroke: var(--o-ui-cloud-10);
}
