.cloud-1 {
    color: var(--o-ui-cloud-1);
}

.cloud-2 {
    color: var(--o-ui-cloud-2);
}

.cloud-3 {
    color: var(--o-ui-cloud-3);
}

.cloud-4 {
    color: var(--o-ui-cloud-4);
}

.cloud-5 {
    color: var(--o-ui-cloud-5);
}

.cloud-6 {
    color: var(--o-ui-cloud-6);
}

.cloud-7 {
    color: var(--o-ui-cloud-7);
}

.cloud-8 {
    color: var(--o-ui-cloud-8);
}

.cloud-9 {
    color: var(--o-ui-cloud-9);
}

.cloud-10 {
    color: var(--o-ui-cloud-10);
}

.hover-cloud-1:hover {
    color: var(--o-ui-cloud-1);
}

.hover-cloud-2:hover {
    color: var(--o-ui-cloud-2);
}

.hover-cloud-3:hover {
    color: var(--o-ui-cloud-3);
}

.hover-cloud-4:hover {
    color: var(--o-ui-cloud-4);
}

.hover-cloud-5:hover {
    color: var(--o-ui-cloud-5);
}

.hover-cloud-6:hover {
    color: var(--o-ui-cloud-6);
}

.hover-cloud-7:hover {
    color: var(--o-ui-cloud-7);
}

.hover-cloud-8:hover {
    color: var(--o-ui-cloud-8);
}

.hover-cloud-9:hover {
    color: var(--o-ui-cloud-9);
}

.hover-cloud-10:hover {
    color: var(--o-ui-cloud-10);
}

.focus-cloud-1:focus {
    color: var(--o-ui-cloud-1);
}

.focus-cloud-2:focus {
    color: var(--o-ui-cloud-2);
}

.focus-cloud-3:focus {
    color: var(--o-ui-cloud-3);
}

.focus-cloud-4:focus {
    color: var(--o-ui-cloud-4);
}

.focus-cloud-5:focus {
    color: var(--o-ui-cloud-5);
}

.focus-cloud-6:focus {
    color: var(--o-ui-cloud-6);
}

.focus-cloud-7:focus {
    color: var(--o-ui-cloud-7);
}

.focus-cloud-8:focus {
    color: var(--o-ui-cloud-8);
}

.focus-cloud-9:focus {
    color: var(--o-ui-cloud-9);
}

.focus-cloud-10:focus {
    color: var(--o-ui-cloud-10);
}
