.cloud-50 {
    color: var(--cloud-50);
}

.cloud-100 {
    color: var(--cloud-100);
}

.cloud-200 {
    color: var(--cloud-200);
}

.cloud-300 {
    color: var(--cloud-300);
}

.cloud-400 {
    color: var(--cloud-400);
}

.cloud-500 {
    color: var(--cloud-500);
}

.cloud-600 {
    color: var(--cloud-600);
}

.cloud-700 {
    color: var(--cloud-700);
}

.cloud-800 {
    color: var(--cloud-800);
}

.cloud-900 {
    color: var(--cloud-900);
}

.hover-cloud-50:hover {
    color: var(--cloud-50);
}

.hover-cloud-100:hover {
    color: var(--cloud-100);
}

.hover-cloud-200:hover {
    color: var(--cloud-200);
}

.hover-cloud-300:hover {
    color: var(--cloud-300);
}

.hover-cloud-400:hover {
    color: var(--cloud-400);
}

.hover-cloud-500:hover {
    color: var(--cloud-500);
}

.hover-cloud-600:hover {
    color: var(--cloud-600);
}

.hover-cloud-700:hover {
    color: var(--cloud-700);
}

.hover-cloud-800:hover {
    color: var(--cloud-800);
}

.hover-cloud-900:hover {
    color: var(--cloud-900);
}

.focus-cloud-50:focus {
    color: var(--cloud-50);
}

.focus-cloud-100:focus {
    color: var(--cloud-100);
}

.focus-cloud-200:focus {
    color: var(--cloud-200);
}

.focus-cloud-300:focus {
    color: var(--cloud-300);
}

.focus-cloud-400:focus {
    color: var(--cloud-400);
}

.focus-cloud-500:focus {
    color: var(--cloud-500);
}

.focus-cloud-600:focus {
    color: var(--cloud-600);
}

.focus-cloud-700:focus {
    color: var(--cloud-700);
}

.focus-cloud-800:focus {
    color: var(--cloud-800);
}

.focus-cloud-900:focus {
    color: var(--cloud-900);
}
