.b--sunray-1 {
    border-color: var(--o-ui-sunray-1);
}

.b--sunray-2 {
    border-color: var(--o-ui-sunray-2);
}

.b--sunray-3 {
    border-color: var(--o-ui-sunray-3);
}

.b--sunray-4 {
    border-color: var(--o-ui-sunray-4);
}

.b--sunray-5 {
    border-color: var(--o-ui-sunray-5);
}

.b--sunray-6 {
    border-color: var(--o-ui-sunray-6);
}

.b--sunray-7 {
    border-color: var(--o-ui-sunray-7);
}

.b--sunray-8 {
    border-color: var(--o-ui-sunray-8);
}

.b--sunray-9 {
    border-color: var(--o-ui-sunray-9);
}

.b--sunray-10 {
    border-color: var(--o-ui-sunray-10);
}

.hover-b--sunray-1:hover {
    border-color: var(--o-ui-sunray-1);
}

.hover-b--sunray-2:hover {
    border-color: var(--o-ui-sunray-2);
}

.hover-b--sunray-3:hover {
    border-color: var(--o-ui-sunray-3);
}

.hover-b--sunray-4:hover {
    border-color: var(--o-ui-sunray-4);
}

.hover-b--sunray-5:hover {
    border-color: var(--o-ui-sunray-5);
}

.hover-b--sunray-6:hover {
    border-color: var(--o-ui-sunray-6);
}

.hover-b--sunray-7:hover {
    border-color: var(--o-ui-sunray-7);
}

.hover-b--sunray-8:hover {
    border-color: var(--o-ui-sunray-8);
}

.hover-b--sunray-9:hover {
    border-color: var(--o-ui-sunray-9);
}

.hover-b--sunray-10:hover {
    border-color: var(--o-ui-sunray-10);
}

.focus-b--sunray-1:focus {
    border-color: var(--o-ui-sunray-1);
}

.focus-b--sunray-2:focus {
    border-color: var(--o-ui-sunray-2);
}

.focus-b--sunray-3:focus {
    border-color: var(--o-ui-sunray-3);
}

.focus-b--sunray-4:focus {
    border-color: var(--o-ui-sunray-4);
}

.focus-b--sunray-5:focus {
    border-color: var(--o-ui-sunray-5);
}

.focus-b--sunray-6:focus {
    border-color: var(--o-ui-sunray-6);
}

.focus-b--sunray-7:focus {
    border-color: var(--o-ui-sunray-7);
}

.focus-b--sunray-8:focus {
    border-color: var(--o-ui-sunray-8);
}

.focus-b--sunray-9:focus {
    border-color: var(--o-ui-sunray-9);
}

.focus-b--sunray-10:focus {
    border-color: var(--o-ui-sunray-10);
}
