.stoke-sunray-1 {
    stoke: var(--o-ui-sunray-1);
}

.stoke-sunray-2 {
    stoke: var(--o-ui-sunray-2);
}

.stoke-sunray-3 {
    stoke: var(--o-ui-sunray-3);
}

.stoke-sunray-4 {
    stoke: var(--o-ui-sunray-4);
}

.stoke-sunray-5 {
    stoke: var(--o-ui-sunray-5);
}

.stoke-sunray-6 {
    stoke: var(--o-ui-sunray-6);
}

.stoke-sunray-7 {
    stoke: var(--o-ui-sunray-7);
}

.stoke-sunray-8 {
    stoke: var(--o-ui-sunray-8);
}

.stoke-sunray-9 {
    stoke: var(--o-ui-sunray-9);
}

.stoke-sunray-10 {
    stoke: var(--o-ui-sunray-10);
}

.hover-stoke-sunray-1:hover {
    stoke: var(--o-ui-sunray-1);
}

.hover-stoke-sunray-2:hover {
    stoke: var(--o-ui-sunray-2);
}

.hover-stoke-sunray-3:hover {
    stoke: var(--o-ui-sunray-3);
}

.hover-stoke-sunray-4:hover {
    stoke: var(--o-ui-sunray-4);
}

.hover-stoke-sunray-5:hover {
    stoke: var(--o-ui-sunray-5);
}

.hover-stoke-sunray-6:hover {
    stoke: var(--o-ui-sunray-6);
}

.hover-stoke-sunray-7:hover {
    stoke: var(--o-ui-sunray-7);
}

.hover-stoke-sunray-8:hover {
    stoke: var(--o-ui-sunray-8);
}

.hover-stoke-sunray-9:hover {
    stoke: var(--o-ui-sunray-9);
}

.hover-stoke-sunray-10:hover {
    stoke: var(--o-ui-sunray-10);
}

.focus-stoke-sunray-1:focus {
    stoke: var(--o-ui-sunray-1);
}

.focus-stoke-sunray-2:focus {
    stoke: var(--o-ui-sunray-2);
}

.focus-stoke-sunray-3:focus {
    stoke: var(--o-ui-sunray-3);
}

.focus-stoke-sunray-4:focus {
    stoke: var(--o-ui-sunray-4);
}

.focus-stoke-sunray-5:focus {
    stoke: var(--o-ui-sunray-5);
}

.focus-stoke-sunray-6:focus {
    stoke: var(--o-ui-sunray-6);
}

.focus-stoke-sunray-7:focus {
    stoke: var(--o-ui-sunray-7);
}

.focus-stoke-sunray-8:focus {
    stoke: var(--o-ui-sunray-8);
}

.focus-stoke-sunray-9:focus {
    stoke: var(--o-ui-sunray-9);
}

.focus-stoke-sunray-10:focus {
    stroke: var(--o-ui-sunray-10);
}

