.sunray-1 {
    color: var(--o-ui-sunray-1);
}

.sunray-2 {
    color: var(--o-ui-sunray-2);
}

.sunray-3 {
    color: var(--o-ui-sunray-3);
}

.sunray-4 {
    color: var(--o-ui-sunray-4);
}

.sunray-5 {
    color: var(--o-ui-sunray-5);
}

.sunray-6 {
    color: var(--o-ui-sunray-6);
}

.sunray-7 {
    color: var(--o-ui-sunray-7);
}

.sunray-8 {
    color: var(--o-ui-sunray-8);
}

.sunray-9 {
    color: var(--o-ui-sunray-9);
}

.sunray-10 {
    color: var(--o-ui-sunray-10);
}

.hover-sunray-1:hover {
    color: var(--o-ui-sunray-1);
}

.hover-sunray-2:hover {
    color: var(--o-ui-sunray-2);
}

.hover-sunray-3:hover {
    color: var(--o-ui-sunray-3);
}

.hover-sunray-4:hover {
    color: var(--o-ui-sunray-4);
}

.hover-sunray-5:hover {
    color: var(--o-ui-sunray-5);
}

.hover-sunray-6:hover {
    color: var(--o-ui-sunray-6);
}

.hover-sunray-7:hover {
    color: var(--o-ui-sunray-7);
}

.hover-sunray-8:hover {
    color: var(--o-ui-sunray-8);
}

.hover-sunray-9:hover {
    color: var(--o-ui-sunray-9);
}

.hover-sunray-10:hover {
    color: var(--o-ui-sunray-10);
}

.focus-sunray-1:focus {
    color: var(--o-ui-sunray-1);
}

.focus-sunray-2:focus {
    color: var(--o-ui-sunray-2);
}

.focus-sunray-3:focus {
    color: var(--o-ui-sunray-3);
}

.focus-sunray-4:focus {
    color: var(--o-ui-sunray-4);
}

.focus-sunray-5:focus {
    color: var(--o-ui-sunray-5);
}

.focus-sunray-6:focus {
    color: var(--o-ui-sunray-6);
}

.focus-sunray-7:focus {
    color: var(--o-ui-sunray-7);
}

.focus-sunray-8:focus {
    color: var(--o-ui-sunray-8);
}

.focus-sunray-9:focus {
    color: var(--o-ui-sunray-9);
}

.focus-sunray-10:focus {
    color: var(--o-ui-sunray-10);
}
