/* border-colors */
.b--overcast-50 {
    border-color: var(--overcast-50);
}

.b--overcast-100 {
    border-color: var(--overcast-100);
}

.b--overcast-200 {
    border-color: var(--overcast-200);
}

.b--overcast-300 {
    border-color: var(--overcast-300);
}

.b--overcast-400 {
    border-color: var(--overcast-400);
}

.b--overcast-500 {
    border-color: var(--overcast-500);
}

.b--overcast-600 {
    border-color: var(--overcast-600);
}

.b--overcast-700 {
    border-color: var(--overcast-700);
}

.b--overcast-800 {
    border-color: var(--overcast-800);
}

.b--overcast-900 {
    border-color: var(--overcast-900);
}

/* border-colors-pseudo */

.hover-b--overcast-50:hover {
    border-color: var(--overcast-50);
}

.hover-b--overcast-100:hover {
    border-color: var(--overcast-100);
}

.hover-b--overcast-200:hover {
    border-color: var(--overcast-200);
}

.hover-b--overcast-300:hover {
    border-color: var(--overcast-300);
}

.hover-b--overcast-400:hover {
    border-color: var(--overcast-400);
}

.hover-b--overcast-500:hover {
    border-color: var(--overcast-500);
}

.hover-b--overcast-600:hover {
    border-color: var(--overcast-600);
}

.hover-b--overcast-700:hover {
    border-color: var(--overcast-700);
}

.hover-b--overcast-800:hover {
    border-color: var(--overcast-800);
}

.hover-b--overcast-900:hover {
    border-color: var(--overcast-900);
}

.bg-hover-overcast-50:hover,
.bg-hover-overcast-50:focus {
    background-color: var(--overcast-50);
}

.bg-hover-overcast-100:hover,
.bg-hover-overcast-100:focus {
    background-color: var(--overcast-100);
}

.bg-hover-overcast-200:hover,
.bg-hover-overcast-200:focus {
    background-color: var(--overcast-200);
}

.bg-hover-overcast-300:hover,
.bg-hover-overcast-300:focus {
    background-color: var(--overcast-300);
}

.bg-hover-overcast-400:hover,
.bg-hover-overcast-400:focus {
    background-color: var(--overcast-400);
}

.bg-hover-overcast-500:hover,
.bg-hover-overcast-500:focus {
    background-color: var(--overcast-500);
}

.bg-hover-overcast-600:hover,
.bg-hover-overcast-600:focus {
    background-color: var(--overcast-600);
}

.bg-hover-overcast-700:hover,
.bg-hover-overcast-700:focus {
    background-color: var(--overcast-700);
}

.bg-hover-overcast-800:hover,
.bg-hover-overcast-800:focus {
    background-color: var(--overcast-800);
}

.bg-hover-overcast-900:hover,
.bg-hover-overcast-900:focus {
    background-color: var(--overcast-900);
}

/* skins */

.overcast-50 {
    color: var(--overcast-50);
}

.overcast-100 {
    color: var(--overcast-100);
}

.overcast-200 {
    color: var(--overcast-200);
}

.overcast-300 {
    color: var(--overcast-300);
}

.overcast-400 {
    color: var(--overcast-400);
}

.overcast-500 {
    color: var(--overcast-500);
}

.overcast-600 {
    color: var(--overcast-600);
}

.overcast-700 {
    color: var(--overcast-700);
}

.overcast-800 {
    color: var(--overcast-800);
}

.overcast-900 {
    color: var(--overcast-900);
}

.bg-overcast-50 {
    background-color: var(--overcast-50);
}

.bg-overcast-100 {
    background-color: var(--overcast-100);
}

.bg-overcast-200 {
    background-color: var(--overcast-200);
}

.bg-overcast-300 {
    background-color: var(--overcast-300);
}

.bg-overcast-400 {
    background-color: var(--overcast-400);
}

.bg-overcast-500 {
    background-color: var(--overcast-500);
}

.bg-overcast-600 {
    background-color: var(--overcast-600);
}

.bg-overcast-700 {
    background-color: var(--overcast-700);
}

.bg-overcast-800 {
    background-color: var(--overcast-800);
}

.bg-overcast-900 {
    background-color: var(--overcast-900);
}

.fill-overcast-50 {
    fill: var(--overcast-50);
}

.fill-overcast-100 {
    fill: var(--overcast-100);
}

.fill-overcast-200 {
    fill: var(--overcast-200);
}

.fill-overcast-300 {
    fill: var(--overcast-300);
}

.fill-overcast-400 {
    fill: var(--overcast-400);
}

.fill-overcast-500 {
    fill: var(--overcast-500);
}

.fill-overcast-600 {
    fill: var(--overcast-600);
}

.fill-overcast-700 {
    fill: var(--overcast-700);
}

.fill-overcast-800 {
    fill: var(--overcast-800);
}

.fill-overcast-900 {
    fill: var(--overcast-900);
}

/* skins-pseudo */

.hover-overcast-50:hover,
.hover-overcast-50:focus {
    color: var(--overcast-50);
}

.hover-overcast-100:hover,
.hover-overcast-100:focus {
    color: var(--overcast-100);
}

.hover-overcast-200:hover,
.hover-overcast-200:focus {
    color: var(--overcast-200);
}

.hover-overcast-300:hover,
.hover-overcast-300:focus {
    color: var(--overcast-300);
}

.hover-overcast-400:hover,
.hover-overcast-400:focus {
    color: var(--overcast-400);
}

.hover-overcast-500:hover,
.hover-overcast-500:focus {
    color: var(--overcast-500);
}

.hover-overcast-600:hover,
.hover-overcast-600:focus {
    color: var(--overcast-600);
}

.hover-overcast-700:hover,
.hover-overcast-700:focus {
    color: var(--overcast-700);
}

.hover-overcast-800:hover,
.hover-overcast-800:focus {
    color: var(--overcast-800);
}

.hover-overcast-900:hover,
.hover-overcast-900:focus {
    color: var(--overcast-900);
}

.fill-hover-overcast-50:hover,
.fill-hover-overcast-50:focus {
    fill: var(--overcast-50);
}

.fill-hover-overcast-100:hover,
.fill-hover-overcast-100:focus {
    fill: var(--overcast-100);
}

.fill-hover-overcast-200:hover,
.fill-hover-overcast-200:focus {
    fill: var(--overcast-200);
}

.fill-hover-overcast-300:hover,
.fill-hover-overcast-300:focus {
    fill: var(--overcast-300);
}

.fill-hover-overcast-400:hover,
.fill-hover-overcast-400:focus {
    fill: var(--overcast-400);
}

.fill-hover-overcast-500:hover,
.fill-hover-overcast-500:focus {
    fill: var(--overcast-500);
}

.fill-hover-overcast-600:hover,
.fill-hover-overcast-600:focus {
    fill: var(--overcast-600);
}

.fill-hover-overcast-700:hover,
.fill-hover-overcast-700:focus {
    fill: var(--overcast-700);
}

.fill-hover-overcast-800:hover,
.fill-hover-overcast-800:focus {
    fill: var(--overcast-800);
}

.fill-hover-overcast-900:hover,
.fill-hover-overcast-900:focus {
    fill: var(--overcast-900);
}
