.o-ui-switch {
    display: inline-grid;
    align-items: center;
    grid-template-columns: max-content auto max-content max-content;
    grid-template-areas: "switch label icon counter";
    cursor: pointer;
    line-height: 1;
    max-width: 100%;
    width: max-content;
}

/* SWITCH */
.o-ui-switch .o-ui-switch-control {
    grid-area: switch;
    display: inline-block;
    background-color: var(--cloud-200);
    border-radius: var(--scale-charlie);
    position: relative;
    flex-shrink: 0;
}

.o-ui-switch .o-ui-switch-control::before {
    content: "";
    display: inline-block;
    background-color: var(--white);
    border-radius: 100%;
    position: absolute;
    transform: translate(2px, 2px);
    transition: transform .1875s ease-in;
}

/* LABEL */
.o-ui-switch .o-ui-switch-label {
    grid-area: label;
    margin-left: var(--scale-bravo);
    line-height: 1.15;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline;
}

/* LABEL | REVERSE */
.o-ui-switch-reverse .o-ui-switch-label {
    margin-left: 0;
    margin-right: var(--scale-bravo);
}

/* ICON */
.o-ui-switch .o-ui-switch-icon {
    grid-area: icon;
    margin-left: var(--scale-alpha);
}

/* ICON | REVERSE */
.o-ui-switch-reverse .o-ui-switch-icon {
    margin-left: 0;
    margin-right: var(--scale-alpha);
}

/* COUNTER */
.o-ui-switch .o-ui-switch-counter {
    grid-area: counter;
    margin-left: var(--scale-bravo);
}

/* COUNTER | REVERSE */
.o-ui-switch-reverse .o-ui-switch-counter {
    margin-left: 0;
    margin-right: var(--scale-alpha);
}

/* REVERSE */
.o-ui-switch-reverse {
    grid-template-areas: "counter icon label switch";
}

/* INVALID */
.o-ui-switch-invalid .o-ui-switch-label {
    color: var(--alert-500);
}

.o-ui-switch-invalid .o-ui-switch-control {
    background-color: var(--alert-100);
}

.o-ui-switch-checked.o-ui-switch-invalid .o-ui-switch-control {
    background-color: var(--alert-500);
}

/* STATE */
/* STATE | CHECKED */
.o-ui-switch-checked .o-ui-switch-control {
    background-color: var(--primary-500);
}

.o-ui-switch-checked .o-ui-switch-control::before {
    transform: translate(calc(var(--scale-hotel) / 2 + 2px), 2px);
}

/* STATE | FOCUS */
.o-ui-switch input[type="checkbox"]:focus + .o-ui-switch-control,
.o-ui-switch-focus .o-ui-switch-control {
    box-shadow: var(--o-ui-outline);
}

/* STATE | DISABLED */
.o-ui-switch[disabled],
.o-ui-switch-disabled {
    opacity: var(--o-ui-disabled-opacity);
    cursor: not-allowed;
}

/* SIZING */
/* SMALL */
.o-ui-switch-small .o-ui-switch-control {
    width: var(--scale-golf);
    height: var(--scale-delta);
}

/* .o-ui-switch-small .o-ui-switch-label {
    font-size: var(--type-scale-8);
} */

.o-ui-switch-small .o-ui-switch-control::before {
    width: var(--scale-charlie);
    height: var(--scale-charlie);
}

.o-ui-switch-small.o-ui-switch-checked .o-ui-switch-control::before {
    transform: translate(calc(var(--scale-golf) / 2 + 2px), 2px);
}

/* MEDIUM */
.o-ui-switch-medium .o-ui-switch-control {
    width: var(--scale-hotel);
    height: var(--scale-echo);
}

/* .o-ui-switch-medium .o-ui-switch-label {
    font-size: var(--type-scale-7);
} */

.o-ui-switch-medium .o-ui-switch-control::before {
    width: var(--scale-delta);
    height: var(--scale-delta);
}

.o-ui-switch-medium.o-ui-switch-checked .o-ui-switch-control::before {
    transform: translate(calc(var(--scale-hotel) / 2 + 2px), 2px);
}

/* LARGE */
.o-ui-switch-large .o-ui-switch-control {
    width: var(--scale-india);
    height: var(--scale-foxtrot);
}

/* .o-ui-switch-large .o-ui-switch-label {
    font-size: var(--type-scale-6);
} */

.o-ui-switch-large .o-ui-switch-control::before {
    width: var(--scale-echo);
    height: var(--scale-echo);
}

.o-ui-switch-large.o-ui-switch-checked .o-ui-switch-control::before {
    transform: translate(calc(var(--scale-india) / 2 + 2px), 2px);
}

/* IN FIELD */
/* SWITCH */
.o-ui-switch-small.o-ui-switch-as-field {
    min-height: var(--scale-echo);
}

.o-ui-switch-medium.o-ui-switch-as-field {
    min-height: var(--scale-foxtrot);
}

.o-ui-switch-large.o-ui-switch-as-field {
    min-height: var(--scale-golf);
}
