.o-ui-input {
    --o-ui-padding: var(--scale-charlie);
    --o-ui-padding-with-icon: var(--scale-golf);
    --o-ui-padding-with-button: var(--scale-hotel);
    --o-ui-padding-loading: var(--scale-golf);
    --o-ui-border-color: var(--cloud-200);
    --o-ui-background-color: var(--cloud-100);
    display: inline-block;
    position: relative;
    transition: var(--o-ui-focus-ring-transition);
    color: var(--marine-900);
    width: 325px;
}

.o-ui-input input {
    -webkit-appearance: none;
    min-height: var(--scale-hotel);
}

.o-ui-input input,
.o-ui-input textarea {
    font-size: var(--type-scale-7);
    padding: 0 var(--o-ui-padding);
    border-radius: var(--o-ui-rounded-border-radius);
    border: 1px solid var(--o-ui-border-color);
    color: var(--marine-900);
    width: 100%;
    background-color: var(--foreground-color-1);
    transition: all .12s ease-in, padding 0s linear;
}

.o-ui-input input::selection,
.o-ui-input textarea::selection {
    background-color: var(--primary-50);
    color: var(--marine-500);
}

/* PLACEHOLDER */
.o-ui-input input::placeholder,
.o-ui-input textarea::placeholder {
    color: var(--marine-200);
}

/* TRANSPARENT */
.o-ui-input-transparent.o-ui-input input,
.o-ui-input-transparent.o-ui-input textarea {
    background-color: transparent;
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 0 0 var(--neutral-400);
    padding-left: 0;
    padding-right: 0;
}

/* TRANSPARENT | STATE | FOCUS */
.o-ui-input.o-ui-input-transparent input:focus,
.o-ui-input.o-ui-input-transparent.o-ui-input-focus input,
.o-ui-input.o-ui-input-transparent textarea:focus,
.o-ui-input.o-ui-input-transparent.o-ui-input-focus textarea {
    box-shadow: 0 2px 0 0 var(--primary-500);
}

/* TRANSPARENT | STATE | DISABLED */
.o-ui-input.o-ui-input-transparent input:disabled,
.o-ui-input.o-ui-input-transparent textarea:disabled {
    background-color: var(--transparent);
}

.o-ui-input input:disabled::placeholder,
.o-ui-input textarea:disabled::placeholder {
    color: var(--var-marine-500);
}

/* FLUID */
.o-ui-input.o-ui-input-fluid {
    width: 100%;
}

/* INVALID */
.o-ui-input-invalid input,
.o-ui-input-invalid textarea {
    --o-ui-border-color: var(--alert-500);
}

.o-ui-input-fluid input,
.o-ui-input-fluid textarea {
    width: 100%;
}

/* INVALID */
.o-ui-input-invalid {
    --o-ui-focus-ring-color: var(--alert-500);
}

.o-ui-input.o-ui-input-invalid input:focus,
.o-ui-input.o-ui-input-invalid-focus {
    box-shadow: var(--o-ui-focus-ring-inset-sm);
    border-color: var(--alert-500);
}

/* INVALID | TRANSPARENT */
.o-ui-input.o-ui-input-invalid.o-ui-input-transparent input,
.o-ui-input.o-ui-input-invalid.o-ui-input-transparent textarea {
    box-shadow: 0 1px 0 0 var(--alert-200);
}

/* INVALID | TRANSPARENT | STATE | FOCUS */
.o-ui-input.o-ui-input-invalid.o-ui-input-transparent input:focus,
.o-ui-input.o-ui-input-invalid.o-ui-input-transparent.o-ui-input-focus input,
.o-ui-input.o-ui-input-invalid.o-ui-input-transparent textarea:focus,
.o-ui-input.o-ui-input-invalid.o-ui-input-transparent.o-ui-input-focus textarea {
    box-shadow: 0 2px 0 0 var(--alert-500);
}

/* ICON */
.o-ui-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
    left: calc((var(--o-ui-padding-with-icon) - var(--scale-echo) ) / 2);
}

/* ICON | MEDIUM */
.o-ui-input-has-icon input {
    padding-left: var(--o-ui-padding-with-icon);
}

/* TRANSPARENT | ICON */
.o-ui-input-transparent .o-ui-input-icon {
    left: 0;
}

.o-ui-input-has-icon.o-ui-input-transparent.o-ui-input input {
    padding-left: var(--scale-foxtrot);
}

/* BUTTON */
.o-ui-input-button {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: calc( (var(--o-ui-padding-with-button) - var(--scale-echo)) / 2 );
}

.o-ui-input-has-button.o-ui-input input,
.o-ui-input-has-button.o-ui-input.o-ui-text-area textarea {
    padding-right: var(--o-ui-padding-with-button);
}

/* TRANSPARENT | BUTTON */
.o-ui-input-transparent .o-ui-input-button {
    right: 0;
}

/* STATES */
/* STATES | FOCUS */
.o-ui-input input:focus,
.o-ui-input-focus input,
.o-ui-input textarea:focus,
.o-ui-input-focus textarea {
    outline: none;
    box-shadow: var(--o-ui-focus-ring-inset-sm);
    border-color: var(--primary-500);
}

/* STATES | DISABLED */
.o-ui-input input:disabled,
.o-ui-input textarea:disabled {
    opacity: var(--o-ui-disabled-opacity);
    background-color: var(--o-ui-background-color);
    cursor: not-allowed;
}

/* STATES | LOADING */
@keyframes o-ui-input-spinner {
    0% {
        transform: translate(0, -50%) rotate(0deg);
    }
    100% {
        transform: translate(0, -50%) rotate(360deg);
    }
}

.o-ui-input-loading::before {
    content: "";
    position: absolute;
    top: 50%;
    z-index: 1;
    border-radius: 50px;
    border: 2px solid var(--marine-100);
    border-top-color: var(--marine-300);
    transform: translate(0, -50%) rotate(0deg);
    animation: o-ui-input-spinner 1s linear infinite;
}

.o-ui-input-loading .o-ui-button {
    display: none;
}

.o-ui-input-loading.o-ui-input::before {
    width: 1.25rem;
    height: 1.25rem;
    right: calc((var(--o-ui-padding-loading) - 1.25rem) / 2);
}

.o-ui-input-loading.o-ui-input input {
    padding-right: var(--o-ui-padding-loading);
}
