.o-ui-input-label {
    color: var(--marine-200);
    padding-bottom: var(--scale-alpha);
    min-height: var(--scale-echo);
}

/* DESCRIPTION */
.o-ui-input-label-has-description {
    display: flex;
    align-items: center;
}

.o-ui-input-description {
    margin-left: var(--scale-alpha);
}
