:root {
    --padding-small: var(--scale-delta);
    --padding-default: var(--scale-echo);
    --padding-large: var(--scale-foxtrot);
    --padding-small-with-icon: var(--scale-foxtrot);
    --padding-default-with-icon: var(--scale-golf);
    --padding-large-with-icon: var(--scale-hotel);
    --padding-small-with-button: var(--scale-golf);
    --padding-default-with-button: var(--scale-hotel);
    --padding-large-with-button: var(--scale-india);
    --border-color: var(--cloud-200);
    --border-radius: var(--scale-alpha);
    --background-color: var(--cloud-100);
    --background-opacity: 0.4;
}

.o-ui.input {
    display: inline-block;
    position: relative;
    transition: all .12s ease-in;
    width: 325px;
}

/* PLACEHOLDER COLOR */
.o-ui.input input::placeholder {
    color: var(--marine-300);
}

.o-ui.input input {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    color: var(--marine-900);
    padding: 0 var(--padding-default);
    min-height: var(--scale-hotel);
    width: 100%;
    background-color: var(--white);
    transition: all .12s ease-in;
}

.o-ui.input input::selection {
    background-color: var(--primary-50);
    color: var(--marine-500);
}

/* TRANSPARENT */
.o-ui.input.transparent input {
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 1px 0 0 var(--neutral-400);
}

/* TRANSPARENT | SMALL */
.o-ui.input.transparent.small input {
    padding-left: 0;
    padding-right: 0;
}

/* TRANSPARENT | LARGE */
.o-ui.input.transparent.large input {
    padding-left: 0;
    padding-right: 0;
}

/* TRANSPARENT | STATE | FOCUS */
.o-ui.input.transparent input:focus,
.o-ui.input.transparent input.focus {
    box-shadow: 0 1px 0 0 var(--primary-200);
}

/* TRANSPARENT | ICON | LEFT */
.o-ui.input.transparent.with-left-icon .icon,
.o-ui.input.transparent.with-left-icon.small .icon,
.o-ui.input.transparent.with-left-icon.large .icon {
    left: 0;
}

/* FLUID */
.o-ui.input.fluid {
    width: 100%;
}

/* INVALID */
.o-ui.input.invalid input {
    --border-color: var(--alert-500);
    color: var(--alert-500);
}

.o-ui.input.fluid input {
    width: 100%;
}

/* INVALID | TRANSPARENT */
.o-ui.input.invalid.transparent input {
    box-shadow: 0 1px 0 0 var(--alert-200);
}

/* INVALID | TRANSPARENT | STATE | FOCUS */
.o-ui.input.invalid.transparent input:focus,
.o-ui.input.invalid.transparent input.focus {
    box-shadow: 0 1px 0 0 var(--alert-500);
}

/* ICON | LEFT */
.o-ui.input.with-left-icon .icon {
    position: absolute;
    top: 50%;
    left: calc((var(--padding-default-with-icon) - var(--scale-echo) ) / 2);
    transform: translateY(-50%);
    width: var(--scale-echo);
    height: var(--scale-echo);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.o-ui.input.with-left-icon input {
    padding-left: var(--padding-default-with-icon);
}

/* ICON | TRANSPARENT */
.o-ui.input.with-left-icon.transparent input {
    padding-left: var(--scale-foxtrot);
}

/* ICON | LEFT | SMALL */
.o-ui.input.with-left-icon.small input {
    padding-left: var(--padding-small-with-icon);
}

.o-ui.input.with-left-icon.small .icon {
    left: calc((var(--padding-small-with-icon) - var(--scale-delta) ) / 2);
}

/* ICON | LEFT | SMALL | TRANSPARENT */
.o-ui.input.with-left-icon.transparent.small input {
    padding-left: var(--scale-echo);
}

/* ICON | LEFT | LARGE */
.o-ui.input.with-left-icon.large input {
    padding-left: var(--padding-large-with-icon);
}

.o-ui.input.with-left-icon.large .icon {
    left: calc((var(--padding-large-with-icon) - var(--scale-foxtrot) ) / 2);
}

/* ICON | LEFT | LARGE | TRANSPARENT */
.o-ui.input.with-left-icon.transparent.large input {
    padding-left: var(--scale-golf);
}

/* ICON | RIGHT */
.o-ui.input.with-right-icon input {
    padding-right: var(--padding-default-with-icon);
}

.o-ui.input.with-right-icon .icon {
    position: absolute;
    top: 50%;
    right: calc((var(--padding-default-with-icon) - var(--scale-echo) ) / 2);
    transform: translateY(-50%);
    width: var(--scale-echo);
    height: var(--scale-echo);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ICON | RIGHT | SMALL */
.o-ui.input.with-right-icon.small input {
    padding-right: var(--padding-small-with-icon);
}

.o-ui.input.with-right-icon.small .icon {
    right: calc((var(--padding-small-with-icon) - var(--scale-delta) ) / 2);
}

/* ICON | RIGHT | LARGE */
.o-ui.input.with-right-icon.large input {
    padding-right: var(--padding-large-with-icon);
}

.o-ui.input.with-right-icon.large .icon {
    right: calc((var(--padding-large-with-icon) - var(--scale-foxtrot) ) / 2);
}

/* BUTTON */
.o-ui.input.with-button input {
    padding-right: var(--padding-default-with-button);
}

.o-ui.input.with-button .button {
    position: absolute;
    top: 50%;
    right: calc( (var(--padding-default-with-button) - var(--scale-foxtrot)) / 2 );
    transform: translateY(-50%);
    width: var(--scale-echo);
    height: var(--scale-echo);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* BUTTON | SMALL  */
.o-ui.input.with-button.small input {
    padding-right: var(--padding-small-with-button);
}

.o-ui.input.with-button.small .button {
    right: calc( (var(--padding-small-with-button) - var(--scale-echo)) / 2 );
}

/* BUTTON | LARGE  */
.o-ui.input.with-button.large input {
    padding-right: var(--padding-large-with-button);
}

.o-ui.input.with-button.large .button {
    right: calc( (var(--padding-large-with-button) - var(--scale-golf)) / 2 );
}

/* STATES */
/* STATES | FOCUS */
.o-ui.input input:focus,
.o-ui.input input.focus {
    outline: none;
    box-shadow: var(--o-ui-outline);
}

/* STATES | DISABLED */
.o-ui.input input:disabled,
.o-ui.input input.disabled {
    opacity: var(--background-opacity);
    background-color: var(--background-color);
}

/* STATES | LOADING */
@keyframes loading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.o-ui.input.loading::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
    border: 2px solid var(--marine-100);
    border-top-color: var(--marine-300);
    animation: loading 1s linear infinite;
    transform: translate(-50%, -50%) rotate(0deg);
}

.o-ui.input.loading input {
    padding-right: var(--scale-india);
}

.o-ui.input.loading .icon,
.o-ui.input.loading .button {
    display: none;
}

/* SIZES | SMALL | LOADING */
.o-ui.input.loading.small::before {
    width: 1.25rem;
    height: 1.25rem;
}

.o-ui.input.loading.small input {
    padding-right: var(--scale-hotel);
}

/* SIZES | LARGE | LOADING */
.o-ui.input.loading.large::before {
    width: 1.75rem;
    height: 1.75rem;
}

.o-ui.input.loading.large input {
    padding-right: var(--scale-juliett);
}

/* SIZES */
/* SIZES | SMALL */
.o-ui.input.small input {
    font-size: var(--type-scale-8);
    min-height: var(--scale-golf);
    padding: 0 var(--padding-small);
}

/* SIZES | LARGE */
.o-ui.input.large input {
    font-size: var(--type-scale-6);
    min-height: var(--scale-india);
    padding: 0 var(--padding-large);
}

/* LABEL / MESSAGE */
.o-ui.input.with-label,
.o-ui.input.with-message {
    display: inline-flex;
    flex-direction: column;
}
