@import "./Input.css";

:root {
    --o-ui-spinner-width: var(--scale-foxtrot);
}

/* INPUT */
.o-ui-number-input input::-webkit-inner-spin-button,
.o-ui-number-input input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.o-ui-number-input input {
    -moz-appearance: textfield;
}

.o-ui-number-input input:focus ,
.o-ui-input-focus.o-ui-number-input input,
.o-ui-number-input input:hover,
.o-ui-input-hover.o-ui-number-input input {
    padding-right: calc(var(--o-ui-spinner-width) + 2px);
}

.o-ui-number-input {
    width: 150px;
}

/* INPUT | FOCUS */
/* .o-ui-number-input input:focus,
.o-ui-number-input.o-ui-input-focus input,
.o-ui-number-input:hover input,
.o-ui-number-input.o-ui-input-hover input {
    padding-right: calc(var(--o-ui-spinner-width) + var(--scale-alpha));
} */

/* SPINNER */
.o-ui-number-input-spinner {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    width: var(--o-ui-spinner-width);
    margin: 1px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.o-ui-number-input-spinner-increment,
.o-ui-number-input-spinner-decrement {
    display: flex;
    justify-content: center;
    flex: 1 1 0%;
    padding: 0;
    margin: 0;
    border: 0;
    border-left: 1px solid var(--o-ui-border-color);
    outline: none;
    cursor: pointer;
    background-color: var(--o-ui-neutral-100);
}

.o-ui-number-input-spinner-increment {
    border-top-right-radius: var(--o-ui-border-radius);
    border-bottom: 1px solid var(--o-ui-border-color);
}

.o-ui-number-input-spinner-decrement {
    border-bottom-right-radius: var(--o-ui-border-radius);
}

/* SPINNER | VISIBLE */
.o-ui-number-input:hover .o-ui-number-input-spinner,
.o-ui-input-hover .o-ui-number-input-spinner,
.o-ui-number-input input:focus + .o-ui-number-input-spinner,
.o-ui-input-focus .o-ui-number-input-spinner {
    visibility: visible;
}

/* SPINNER | SMALL */
.o-ui-input-small .o-ui-number-input-spinner {
    min-height: calc(var(--scale-golf) - 2px);
}

/* SPINNER | MEDIUM */
.o-ui-input-medium .o-ui-number-input-spinner {
    min-height: calc(var(--scale-hotel) - 2px);
}

/* SPINNER | LARGE */
.o-ui-input-large .o-ui-number-input-spinner {
    min-height: calc(var(--scale-india) - 2px);
}

/* SPINNER | ACTIVE */
.o-ui-number-input-spinner-increment:active,
.o-ui-number-input-spinner-decrement:active {
    background-color: var(--neutral-300);
}

.o-ui-number-input-spinner-increment:disabled,
.o-ui-number-input-spinner-decrement:disabled {
    visibility: hidden;
}

/* SPINNER | LOADING */
.o-ui-input-loading .o-ui-number-input-spinner {
    display: none;
}

/* SPINNER | TRANSPARENT */
.o-ui-input-transparent .o-ui-number-input-spinner-increment,
.o-ui-input-transparent .o-ui-number-input-spinner-decrement {
    background: none;
    border: 0;
}

.o-ui-input-transparent .o-ui-number-input-spinner-increment {
    border: 0;
}

/* SPINNER | TRANSPARENT | ACTIVE */
.o-ui-input-transparent .o-ui-number-input-spinner-increment:active,
.o-ui-input-transparent .o-ui-number-input-spinner-decrement:active {
    background-color: var(--neutral-300);
}
