@import "./Input.css";

:root {
    --o-ui-resize: vertical;
    --o-ui-textarea-padding-small: var(--scale-bravo);
    --o-ui-textarea-padding-medium: var(--scale-charlie);
    --o-ui-textarea-padding-large: var(--scale-delta);
}

.o-ui-text-area textarea {
    resize: var(--o-ui-resize);
    /* Fixes a bug where Firefox adds one more row than the one specified. */
    overflow-x: hidden;
}

/* SIZES */
/* SIZES | SMALL */
.o-ui-text-area.o-ui-input-small textarea {
    padding: var(--scale-bravo) var(--o-ui-textarea-padding-small);
    min-height: 60px;
}

/* SIZES | MEDIUM */
.o-ui-text-area.o-ui-input-medium textarea {
    padding: var(--scale-bravo) var(--o-ui-textarea-padding-medium);
    min-height: 80px;
}

/* SIZES | LARGE */
.o-ui-text-area.o-ui-input-large textarea {
    padding: var(--scale-bravo) var(--o-ui-textarea-padding-large);
    line-height: 1.3333333;
    min-height: 100px;
}
