/* PREVIEW */
.o-ui-sb-preview {
    margin: var(--o-ui-global-scale-golf) 0 var(--o-ui-global-scale-hotel);
    border-radius: 4px;
    box-shadow: var(--o-ui-glboal-shadow-200);
}

/* STORY */
.o-ui-sb-preview-story {
    padding: var(--o-ui-global-scale-golf) var(--o-ui-global-scale-echo);
}

/* SOURCE */
.o-ui-sb-preview-source {
    position: relative;
}

/* SOURCE | EDITABLE LABEL */
.o-ui-sb-preview-editable-label {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--o-ui-global-white);
    z-index: 1;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

/* SOURCE | EDITOR */
.o-ui-sb-preview-editor {
    font-size: 15px;
}

.o-ui-sb-preview-editor .npm__react-simple-code-editor__textarea,
.o-ui-sb-preview-editor pre {
    padding: var(--o-ui-global-scale-echo) !important;
}

/* SOURCE | ERROR */
.o-ui-sb-preview-error {
    background-color: var(--o-ui-global-beetle-50);
    color: var(--o-ui-global-beetle-900);
    font-size: 15px;
    padding: var(--o-ui-global-scale-charlie) var(--o-ui-global-scale-echo);
    margin: 0;
}
