/* PREVIEW */
.o-ui-sb-preview {
    margin: var(--o-ui-sp-7) 0 var(--o-ui-sp-8);
    border-radius: 4px;
    box-shadow: var(--o-ui-bs-alias-raised);
}

/* STORY */
.o-ui-sb-preview-story {
    padding: var(--o-ui-sp-7) var(--o-ui-sp-5);
}

/* SOURCE */
.o-ui-sb-preview-source {
    position: relative;
}

/* SOURCE | EDITABLE LABEL */
.o-ui-sb-preview-editable-label {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--o-ui-white);
    z-index: 1;
    font-size: 0.625rem;
    font-weight: 400;
    font-variation-settings: "wght" 500;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

/* SOURCE | EDITOR */
.o-ui-sb-preview-editor {
    font-size: 15px;
}

.o-ui-sb-preview-editor .npm__react-simple-code-editor__textarea,
.o-ui-sb-preview-editor pre {
    padding: var(--o-ui-sp-5) !important;
}

/* SOURCE | ERROR */
.o-ui-sb-preview-error {
    background-color: var(--o-ui-beetle-1);
    color: var(--o-ui-beetle-10);
    font-size: 15px;
    padding: var(--o-ui-sp-3) var(--o-ui-sp-5);
    margin: 0;
}
