.o-ui {
    --o-ui-button-height-sm: var(--o-ui-sz-5);
    --o-ui-button-height-md: var(--o-ui-sz-6);
    --o-ui-button-loading-spinner-background: rgba(256, 256, 256, 0.5);
}

/* SHARED */
.o-ui-button {
    padding: 0;
    line-height: var(--o-ui-lh-1);
    cursor: pointer;
    font-variation-settings: "wght" 500;
    transition: all var(--o-ui-easing-duration-2) var(--o-ui-easing-productive);
    border: none;
    text-align: center;
    position: relative;
    max-width: max-content;
    width: 100%;
}

/* STATES | FOCUS */
.o-ui-button:focus-visible,
.o-ui-button-focus {
    z-index: 2;
    outline: none;
}

.o-ui-button:focus-visible:after {
    opacity: 1;
}

/* STATES | FOCUS | FOCUS RING */
.o-ui-button:after {
    opacity: 0;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    box-shadow: 0 0 0 var(--o-ui-focus-ring-thickness-md) var(--o-ui-focus-ring-color);
    border-radius: inherit;
    transition: var(--o-ui-focus-ring-transition);
}

/* TEXT */
.o-ui-button-text {
    flex-grow: 1;
    line-height: 1;
}

/* ANCHOR */
a.o-ui-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
}

/* SIZES */
.o-ui-button-sm {
    min-height: var(--o-ui-button-height-sm);
}

.o-ui-button-md {
    min-height: var(--o-ui-button-height-md);
}

/* SOLID | PRIMARY */
.o-ui-button-solid.o-ui-button-primary {
    color: var(--o-ui-text-alias-static-white);
    background-color: var(--o-ui-bg-alias-accent);
}

/* SOLID | PRIMARY | HOVER */
.o-ui-button-solid:not([disabled]).o-ui-button-primary:hover,
.o-ui-button-solid:not([disabled]).o-ui-button-primary.o-ui-button-hover {
    background-color: var(--o-ui-bg-alias-accent-hover);
}

/* SOLID | PRIMARY | HOVER | ACTIVE */
.o-ui-button-solid:not([disabled]).o-ui-button-primary:hover:active,
.o-ui-button-solid:not([disabled]).o-ui-button-primary.o-ui-button-hover.o-ui-button-active {
    background-color: var(--o-ui-bg-alias-accent-active);
}

/* SOLID | PRIMARY | FOCUS */
.o-ui-button-solid.o-ui-button-primary:focus-visible,
.o-ui-button-solid:not([disabled]).o-ui-button-primary.o-ui-button-focus {
    background-color: var(--o-ui-bg-alias-accent);
}

/* SOLID | PRIMARY | HOVER | FOCUS */
.o-ui-button-solid.o-ui-button-primary:hover:focus-visible,
.o-ui-button-solid.o-ui-button-primary.o-ui-button-hover.o-ui-button-focus {
    background-color: var(--o-ui-bg-alias-accent-hover);
}

/* SOLID | PRIMARY | ACTIVE | FOCUS */
.o-ui-button-solid.o-ui-button-primary:active:focus-visible,
.o-ui-button-solid:not([disabled]).o-ui-button-primary.o-ui-button-active.o-ui-button-focus {
    background-color: var(--o-ui-bg-alias-accent-active);
}

/* SOLID | PRIMARY | ACTIVE */
.o-ui-button-solid.o-ui-button-primary:active,
.o-ui-button-solid:not([disabled]).o-ui-button-primary.o-ui-button-active {
    background-color: var(--o-ui-bg-alias-accent-active);
}

/* SOLID | SECONDARY */
.o-ui-button-solid.o-ui-button-secondary {
    color: var(--o-ui-text-alias-static-white);
    background-color: var(--o-ui-bg-alias-basic);
}

/* SOLID | SECONDARY | HOVER */
.o-ui-button-solid:not([disabled]).o-ui-button-secondary:hover,
.o-ui-button-solid:not([disabled]).o-ui-button-secondary.o-ui-button-hover {
    background-color: var(--o-ui-bg-alias-basic-hover);
}

/* SOLID | SECONDARY | ACTIVE */
.o-ui-button-solid.o-ui-button-secondary:active,
.o-ui-button-solid.o-ui-button-secondary:active:hover,
.o-ui-button-solid:not([disabled]).o-ui-button-secondary.o-ui-button-active {
    background-color: var(--o-ui-bg-alias-basic-active);
}

/* SOLID | DANGER */
.o-ui-button-solid.o-ui-button-danger {
    background-color: var(--o-ui-bg-alias-alert);
    color: var(--o-ui-text-alias-static-white);
}

/* SOLID | DANGER | HOVER */
.o-ui-button-solid.o-ui-button-danger:hover,
.o-ui-button-solid:not([disabled]).o-ui-button-danger.o-ui-button-hover {
    background-color: var(--o-ui-bg-alias-alert-hover);
}

/* SOLID | DANGER | ACTIVE */
.o-ui-button-solid.o-ui-button-danger:active,
.o-ui-button-solid:not([disabled]).o-ui-button-danger.o-ui-button-active {
    background-color: var(--o-ui-bg-alias-alert-active);
}

/* OUTLINE | PRIMARY */
.o-ui-button-outline.o-ui-button-primary {
    box-shadow: 0 0 0 1px var(--o-ui-b-alias-accent) inset;
    color: var(--o-ui-text-alias-accent);
}

/* OUTLINE | PRIMARY | HOVER */
.o-ui-button-outline:not([disabled]).o-ui-button-primary:hover,
.o-ui-button-outline:not([disabled]).o-ui-button-primary.o-ui-button-hover {
    box-shadow: 0 0 0 1px var(--o-ui-b-alias-accent-hover) inset;
    background-color: var(--o-ui-bg-alias-accent-transparent-hover);
}

/* OUTLINE | PRIMARY | ACTIVE */
.o-ui-button-outline.o-ui-button-primary:active,
.o-ui-button-outline.o-ui-button-primary:active:hover,
.o-ui-button-outline:not([disabled]).o-ui-button-primary.o-ui-button-active {
    box-shadow: 0 0 0 1px var(--o-ui-b-alias-accent-active) inset;
    background-color: var(--o-ui-bg-alias-accent-transparent-active);
}

/* OUTLINE | SECONDARY */
.o-ui-button-outline.o-ui-button-secondary {
    box-shadow: 0 0 0 1px var(--o-ui-b-alias-high-contrast) inset;
    color: var(--o-ui-text-alias-primary);
}

/* OUTLINE | SECONDARY | HOVER */
.o-ui-button-outline:not([disabled]).o-ui-button-secondary:hover,
.o-ui-button-outline:not([disabled]).o-ui-button-secondary.o-ui-button-hover {
    background-color: var(--o-ui-bg-alias-basic-transparent-hover);
}

/* OUTLINE | SECONDARY | ACTIVE */
.o-ui-button-outline.o-ui-button-secondary:active,
.o-ui-button-outline.o-ui-button-secondary:active:hover,
.o-ui-button-outline:not([disabled]).o-ui-button-secondary.o-ui-button-active {
    background-color: var(--o-ui-bg-alias-basic-transparent-active);
}

/* OUTLINE | DANGER */
.o-ui-button-outline.o-ui-button-danger {
    box-shadow: 0 0 0 1px var(--o-ui-b-alias-alert) inset;
    color: var(--o-ui-text-alias-alert);
}

/* OUTLINE | DANGER | HOVER */
.o-ui-button-outline:not([disabled]).o-ui-button-danger:hover,
.o-ui-button-outline:not([disabled]).o-ui-button-danger.o-ui-button-hover {
    box-shadow: 0 0 0 1px var(--o-ui-b-alias-alert-hover) inset;
    background-color: var(--o-ui-bg-alias-alert-transparent-hover);
}

/* OUTLINE | DANGER | ACTIVE */
.o-ui-button-outline.o-ui-button-danger:active,
.o-ui-button-outline.o-ui-button-danger:active:hover,
.o-ui-button-outline:not([disabled]).o-ui-button-danger.o-ui-button-active {
    box-shadow: 0 0 0 1px var(--o-ui-b-alias-alert-active) inset;
    background-color: var(--o-ui-bg-alias-alert-transparent-active);
}

/* OUTLINE | DANGER | ACTIVE | FOCUS */
.o-ui-button-outline.o-ui-button-danger:active:focus-visible,
.o-ui-button-outline:not([disabled]).o-ui-button-danger.o-ui-button-active.o-ui-button-focus {
    color: var(--o-ui-white);
}

/* GHOST */
.o-ui-button-ghost {
    background-color: var(--o-ui-transparent);
    border: none;
}

/* GHOST | FOCUS */
.o-ui-button-ghost:after {
    top: calc(var(--o-ui-focus-ring-outset-inner-offset));
    left: calc(var(--o-ui-focus-ring-outset-inner-offset));
    right: calc(var(--o-ui-focus-ring-outset-inner-offset));
    bottom: calc(var(--o-ui-focus-ring-outset-inner-offset));
}

.o-ui-button-ghost:focus-visible:after,
.o-ui-button-ghost:not([disabled]).o-ui-button-focus:after {
    opacity: 1;
}

/* GHOST | PRIMARY */
.o-ui-button-ghost.o-ui-button-primary {
    color: var(--o-ui-text-alias-accent);
}

/* GHOST | PRIMARY | HOVER */
.o-ui-button-ghost.o-ui-button-primary:hover,
.o-ui-button-ghost.o-ui-button-hover.o-ui-button-primary {
    background-color: var(--o-ui-bg-alias-accent-transparent-hover);
}

/* GHOST | PRIMARY | ACTIVE */
.o-ui-button-ghost:not([disabled]).o-ui-button-primary:active,
.o-ui-button-ghost:not([disabled]).o-ui-button-active.o-ui-button-primary {
    background-color: var(--o-ui-bg-alias-accent-transparent-active);
}

/* GHOST | SECONDARY */
.o-ui-button-ghost.o-ui-button-secondary {
    color: var(--o-ui-text-alias-primary);
}

/* GHOST | SECONDARY | HOVER */
.o-ui-button-ghost:not([disabled]).o-ui-button-secondary:hover,
.o-ui-button-ghost:not([disabled]).o-ui-button-hover.o-ui-button-secondary {
    background-color: var(--o-ui-bg-alias-basic-transparent-hover);
}

/* GHOST | SECONDARY | ACTIVE */
.o-ui-button-ghost.o-ui-button-secondary:active,
.o-ui-button-ghost.o-ui-button-secondary:active:hover,
.o-ui-button-ghost:not([disabled]).o-ui-button-active.o-ui-button-secondary {
    background-color: var(--o-ui-bg-alias-basic-transparent-active);
}

/* GHOST | DANGER */
.o-ui-button-ghost.o-ui-button-danger {
    color: var(--o-ui-text-alias-alert);
}

/* GHOST | DANGER | HOVER */
.o-ui-button-ghost:not([disabled]).o-ui-button-danger:hover,
.o-ui-button-ghost:not([disabled]).o-ui-button-hover.o-ui-button-danger {
    background-color: var(--o-ui-bg-alias-alert-transparent-hover);
}

/* GHOST | DANGER | ACTIVE */
.o-ui-button-ghost.o-ui-button-danger:active,
.o-ui-button-ghost.o-ui-button-danger:active:hover,
.o-ui-button-ghost:not([disabled]).o-ui-button-active.o-ui-button-danger {
    background-color: var(--o-ui-bg-alias-alert-transparent-active);
}

/* FLUID */
.o-ui-button-fluid {
    max-width: 100%;
}

/* LOADING */
.o-ui-button-loading:before {
    content: "";
    border-radius: 50px;
    border: 2px solid var(--o-ui-b-alias-low-contrast);
    border-top-color: var(--o-ui-b-alias-high-contrast);
    animation: o-ui-button-spinner 1s linear infinite;
    transform: rotate(0deg);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.o-ui-button-loading > * {
    visibility: hidden;
}

/* LOADING | SOLID */
.o-ui-button-loading.o-ui-button-solid:before {
    border: solid 2px var(--o-ui-button-loading-spinner-background);
    border-top-color: var(--o-ui-white);
}

@keyframes o-ui-button-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* LOADING | SIZES */
.o-ui-button-loading.o-ui-button-sm:before {
    width: 1.25rem;
    height: 1.25rem;
}

.o-ui-button-loading.o-ui-button-md:before {
    width: 1.5rem;
    height: 1.5rem;
}

.o-ui-button[disabled],
.o-ui-button-disabled {
    opacity: var(--o-ui-disabled-opacity);
    cursor: not-allowed;
}

/* CIRCULAR */
.o-ui-button-circular {
    border-radius: var(--o-ui-shape-circular);
}

/* CIRCULAR | SIZES */
.o-ui-button-circular.o-ui-button-sm {
    min-width: var(--o-ui-sz-5);
    padding: 0 var(--o-ui-sp-1);
}

.o-ui-button-circular.o-ui-button-md {
    min-width: var(--o-ui-sz-6);
    padding: 0 var(--o-ui-sp-1);
}

/* ROUNDED */
.o-ui-button-rounded {
    border-radius: var(--o-ui-shape-rounded);
}

/* INHERIT */
/* INHERIT | GHOST */
.o-ui-button-inherit-style.o-ui-button-ghost {
    color: inherit;
}

.o-ui-button-inherit-style.o-ui-button-loading.o-ui-button-ghost::before {
    border-color: hsla(0, 0%, 0%, 0.25);
    border-top-color: currentColor;
}

/* GHOST | INHERIT | ACTIVE */
.o-ui-button-ghost.o-ui-button-inherit-style:active,
.o-ui-button-ghost:not([disabled]).o-ui-button-active.o-ui-button-inherit-style {
    color: inherit;
}

/* INHERIT | OUTLINE */
.o-ui-button-inherit-style.o-ui-button-outline {
    color: inherit;
    box-shadow: 0 0 0 1px currentColor inset;
}

.o-ui-button:hover.o-ui-button-inherit-style.o-ui-button-outline,
.o-ui-button-hover.o-ui-button-inherit-style.o-ui-button-outline {
    background-color: rgba(0, 0, 0, 0.04);
    color: inherit;
    box-shadow: 0 0 0 1px currentColor inset;
}

/* INHERIT | OUTLINE | ACTIVE */
.o-ui-button:active.o-ui-button-inherit-style.o-ui-button-outline,
.o-ui-button-active.o-ui-button-inherit-style.o-ui-button-outline {
    background-color: currentColor;
    color: inherit;
    box-shadow: 0 0 0 1px currentColor inset;
}

.o-ui-button:active.o-ui-button-inherit-style.o-ui-button-outline .o-ui-button-text,
.o-ui-button-active.o-ui-button-inherit-style.o-ui-button-outline .o-ui-button-text,
.o-ui-button:active.o-ui-button-inherit-style.o-ui-button-outline .o-ui-button-end-icon,
.o-ui-button-active.o-ui-button-inherit-style.o-ui-button-outline .o-ui-button-end-icon,
.o-ui-button:active.o-ui-button-inherit-style.o-ui-button-outline .o-ui-button-start-icon,
.o-ui-button-active.o-ui-button-inherit-style.o-ui-button-outline .o-ui-button-start-icon,
.o-ui-button-active.o-ui-button-inherit-style.o-ui-button-outline .o-ui-button-counter,
.o-ui-button:active.o-ui-button-inherit-style.o-ui-button-outline .o-ui-button-counter {
    color: var(--o-ui-white);
}

/* INHERIT | OUTLINE | LOADING */
.o-ui-button-inherit-style.o-ui-button-loading.o-ui-button-outline::before {
    border-color: rgba(0, 0, 0, 0.25);
    border-top-color: currentColor;
}

/* INHERIT | SOLID */
.o-ui-button-inherit-style.o-ui-button-solid {
    color: inherit;
    background-color: currentColor;
}

.o-ui-button-inherit-style.o-ui-button-solid .o-ui-button-start-icon,
.o-ui-button-inherit-style.o-ui-button-solid .o-ui-button-end-icon {
    fill: var(--o-ui-white);
    color: var(--o-ui-white);
    opacity: .9;
}

.o-ui-button-inherit-style.o-ui-button-solid .o-ui-button-text {
    color: var(--o-ui-white);
    opacity: .9;
}

.o-ui-button:hover.o-ui-button-inherit-style.o-ui-button-solid,
.o-ui-button-hover:not([disabled]).o-ui-button-inherit-style.o-ui-button-solid {
    background-color: currentColor;
}

.o-ui-button:hover.o-ui-button-inherit-style.o-ui-button-solid .o-ui-button-text,
.o-ui-button-hover.o-ui-button-inherit-style.o-ui-button-solid .o-ui-button-text,
.o-ui-button:hover.o-ui-button-inherit-style.o-ui-button-solid .o-ui-button-start-icon,
.o-ui-button-hover.o-ui-button-inherit-style.o-ui-button-solid .o-ui-button-start-icon,
.o-ui-button:hover.o-ui-button-inherit-style.o-ui-button-solid .o-ui-button-end-icon,
.o-ui-button-hover.o-ui-button-inherit-style.o-ui-button-solid .o-ui-button-end-icon {
    opacity: 1;
}

.o-ui-button:active.o-ui-button-inherit-style.o-ui-button-solid,
.o-ui-button-active:not([disabled]).o-ui-button-inherit-style.o-ui-button-solid {
    background-color: currentColor;
}

.o-ui-button-inherit-style.o-ui-button-loading.o-ui-button-solid::before {
    border-color: rgba(255, 255, 255, 0.1);
    border-top-color: var(--o-ui-white);
}

/* INHERIT | SOLID | COUNTER */
.o-ui-button-inherit-style.o-ui-button-solid .o-ui-button-counter {
    color: var(--o-ui-white) !important;
    opacity: .9;
}

.o-ui-button:hover.o-ui-button-solid .o-ui-button-counter,
.o-ui-button-hover:not([disabled]).o-ui-button-solid .o-ui-button-counter {
    opacity: 1;
}
