.o-ui-menu-arrow {
    flex-shrink: 0;
    /* transition: transform .3s ease-in; */
    fill: currentColor;
}

.o-ui-menu-arrow-up {
    transform: rotate(-90deg);
}

.o-ui-menu-arrow-down {
    transform: rotate(90deg);
}
