body {
    font-family: "TT Interphases Variable", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

@media not (prefers-reduced-motion) {
    body {
        scroll-behavior: smooth;
    }
}
