.o-ui-field {
    display: grid;
    align-items: center;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
        "label"
        "input"
        "message";
    row-gap: 0;
}

/* FLUID */
.o-ui-field-fluid {
    width: 100%;
}

/* LABEL */
.o-ui-field .o-ui-field-label {
    grid-area: label;
}

.o-ui-field .o-ui-field-label-md {
    padding-bottom: var(--scale-bravo);
}

.o-ui-field .o-ui-field-label-lg {
    padding-bottom: var(--scale-bravo);
}

/* INPUT */
.o-ui-field-input {
    grid-area: input;
}

/* MESSAGE */
.o-ui-field .o-ui-field-message {
    grid-area: message;
}

.o-ui-field .o-ui-field-message-sm {
    padding-top: var(--scale-alpha);
}

.o-ui-field .o-ui-field-message-md {
    padding-top: var(--scale-bravo);
}

.o-ui-field .o-ui-field-message-lg {
    padding-top: var(--scale-bravo);
}
