.o-ui-field {
    display: inline-grid;
    align-items: center;
    grid-template-areas:
        "label"
        "input"
        "message";
    row-gap: var(--scale-alpha);
}

/* FLUID */
.o-ui-field-fluid {
    width: 100%;
}

/* LABEL */
.o-ui-field-label {
    grid-area: label;
}

/* INPUT */
.o-ui-field-input {
    grid-area: input;
}

/* MESSAGE */
.o-ui-field-message {
    grid-area: message;
}
