.o-ui-field-message {
    max-width: 50ch;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

/* FLUID */
.o-ui-field-message-fluid {
    max-width: 100%;
}

/* NEUTRAL */
.o-ui-field-message-neutral {
    color: var(--o-ui-alias-text-2);
}

/* VALID */
.o-ui-field-message-success {
    color: var(--o-ui-botanic-500);
}

/* INVALID */
.o-ui-field-message-error {
    color: var(--o-ui-alias-text-negative-1);
}
