.o-ui-field-message {
    max-width: 50ch;
}

/* FLUID */
.o-ui-field-message-fluid {
    max-width: 100%;
}

/* NEUTRAL */
.o-ui-field-message-neutral {
    color: var(--o-ui-alias-text-4);
}

/* VALID */
.o-ui-field-message-positive {
    color: var(--o-ui-global-botanic-500);
}

/* INVALID */
.o-ui-field-message-error {
    color: var(--o-ui-alias-text-negative-1);
}
