.bg-moonstone-1 {
    background-color: var(--o-ui-moonstone-1);
}

.bg-moonstone-2 {
    background-color: var(--o-ui-moonstone-2);
}

.bg-moonstone-3 {
    background-color: var(--o-ui-moonstone-3);
}

.bg-moonstone-4 {
    background-color: var(--o-ui-moonstone-4);
}

.bg-moonstone-5 {
    background-color: var(--o-ui-moonstone-5);
}

.bg-moonstone-6 {
    background-color: var(--o-ui-moonstone-6);
}

.bg-moonstone-7 {
    background-color: var(--o-ui-moonstone-7);
}

.bg-moonstone-8 {
    background-color: var(--o-ui-moonstone-8);
}

.bg-moonstone-9 {
    background-color: var(--o-ui-moonstone-9);
}

.bg-moonstone-10 {
    background-color: var(--o-ui-moonstone-10);
}

.hover-bg-moonstone-1:hover {
    background-color: var(--o-ui-moonstone-1);
}

.hover-bg-moonstone-2:hover {
    background-color: var(--o-ui-moonstone-2);
}

.hover-bg-moonstone-3:hover {
    background-color: var(--o-ui-moonstone-3);
}

.hover-bg-moonstone-4:hover {
    background-color: var(--o-ui-moonstone-4);
}

.hover-bg-moonstone-5:hover {
    background-color: var(--o-ui-moonstone-5);
}

.hover-bg-moonstone-6:hover {
    background-color: var(--o-ui-moonstone-6);
}

.hover-bg-moonstone-7:hover {
    background-color: var(--o-ui-moonstone-7);
}

.hover-bg-moonstone-8:hover {
    background-color: var(--o-ui-moonstone-8);
}

.hover-bg-moonstone-9:hover {
    background-color: var(--o-ui-moonstone-9);
}

.hover-bg-moonstone-10:hover {
    background-color: var(--o-ui-moonstone-10);
}

.focus-bg-moonstone-1:focus {
    background-color: var(--o-ui-moonstone-1);
}

.focus-bg-moonstone-2:focus {
    background-color: var(--o-ui-moonstone-2);
}

.focus-bg-moonstone-3:focus {
    background-color: var(--o-ui-moonstone-3);
}

.focus-bg-moonstone-4:focus {
    background-color: var(--o-ui-moonstone-4);
}

.focus-bg-moonstone-5:focus {
    background-color: var(--o-ui-moonstone-5);
}

.focus-bg-moonstone-6:focus {
    background-color: var(--o-ui-moonstone-6);
}

.focus-bg-moonstone-7:focus {
    background-color: var(--o-ui-moonstone-7);
}

.focus-bg-moonstone-8:focus {
    background-color: var(--o-ui-moonstone-8);
}

.focus-bg-moonstone-9:focus {
    background-color: var(--o-ui-moonstone-9);
}

.focus-bg-moonstone-10:focus {
    background-color: var(--o-ui-moonstone-10);
}
