.fill-moonstone-50 {
    fill: var(--o-ui-moonstone-50);
}

.fill-moonstone-100 {
    fill: var(--o-ui-moonstone-100);
}

.fill-moonstone-200 {
    fill: var(--o-ui-moonstone-200);
}

.fill-moonstone-300 {
    fill: var(--o-ui-moonstone-300);
}

.fill-moonstone-400 {
    fill: var(--o-ui-moonstone-400);
}

.fill-moonstone-500 {
    fill: var(--o-ui-moonstone-500);
}

.fill-moonstone-600 {
    fill: var(--o-ui-moonstone-600);
}

.fill-moonstone-700 {
    fill: var(--o-ui-moonstone-700);
}

.fill-moonstone-800 {
    fill: var(--o-ui-moonstone-800);
}

.fill-moonstone-900 {
    fill: var(--o-ui-moonstone-900);
}

.hover-fill-moonstone-50:hover {
    fill: var(--o-ui-moonstone-50);
}

.hover-fill-moonstone-100:hover {
    fill: var(--o-ui-moonstone-100);
}

.hover-fill-moonstone-200:hover {
    fill: var(--o-ui-moonstone-200);
}

.hover-fill-moonstone-300:hover {
    fill: var(--o-ui-moonstone-300);
}

.hover-fill-moonstone-400:hover {
    fill: var(--o-ui-moonstone-400);
}

.hover-fill-moonstone-500:hover {
    fill: var(--o-ui-moonstone-500);
}

.hover-fill-moonstone-600:hover {
    fill: var(--o-ui-moonstone-600);
}

.hover-fill-moonstone-700:hover {
    fill: var(--o-ui-moonstone-700);
}

.hover-fill-moonstone-800:hover {
    fill: var(--o-ui-moonstone-800);
}

.hover-fill-moonstone-900:hover {
    fill: var(--o-ui-moonstone-900);
}

.focus-fill-moonstone-50:focus {
    fill: var(--o-ui-moonstone-50);
}

.focus-fill-moonstone-100:focus {
    fill: var(--o-ui-moonstone-100);
}

.focus-fill-moonstone-200:focus {
    fill: var(--o-ui-moonstone-200);
}

.focus-fill-moonstone-300:focus {
    fill: var(--o-ui-moonstone-300);
}

.focus-fill-moonstone-400:focus {
    fill: var(--o-ui-moonstone-400);
}

.focus-fill-moonstone-500:focus {
    fill: var(--o-ui-moonstone-500);
}

.focus-fill-moonstone-600:focus {
    fill: var(--o-ui-moonstone-600);
}

.focus-fill-moonstone-700:focus {
    fill: var(--o-ui-moonstone-700);
}

.focus-fill-moonstone-800:focus {
    fill: var(--o-ui-moonstone-800);
}

.focus-fill-moonstone-900:focus {
    fill: var(--o-ui-moonstone-900);
}
