.moonstone-50 {
    color: var(--o-ui-global-moonstone-50);
}

.moonstone-100 {
    color: var(--o-ui-global-moonstone-100);
}

.moonstone-200 {
    color: var(--o-ui-global-moonstone-200);
}

.moonstone-300 {
    color: var(--o-ui-global-moonstone-300);
}

.moonstone-400 {
    color: var(--o-ui-global-moonstone-400);
}

.moonstone-500 {
    color: var(--o-ui-global-moonstone-500);
}

.moonstone-600 {
    color: var(--o-ui-global-moonstone-600);
}

.moonstone-700 {
    color: var(--o-ui-global-moonstone-700);
}

.moonstone-800 {
    color: var(--o-ui-global-moonstone-800);
}

.moonstone-900 {
    color: var(--o-ui-global-moonstone-900);
}

.hover-moonstone-50:hover {
    color: var(--o-ui-global-moonstone-50);
}

.hover-moonstone-100:hover {
    color: var(--o-ui-global-moonstone-100);
}

.hover-moonstone-200:hover {
    color: var(--o-ui-global-moonstone-200);
}

.hover-moonstone-300:hover {
    color: var(--o-ui-global-moonstone-300);
}

.hover-moonstone-400:hover {
    color: var(--o-ui-global-moonstone-400);
}

.hover-moonstone-500:hover {
    color: var(--o-ui-global-moonstone-500);
}

.hover-moonstone-600:hover {
    color: var(--o-ui-global-moonstone-600);
}

.hover-moonstone-700:hover {
    color: var(--o-ui-global-moonstone-700);
}

.hover-moonstone-800:hover {
    color: var(--o-ui-global-moonstone-800);
}

.hover-moonstone-900:hover {
    color: var(--o-ui-global-moonstone-900);
}

.focus-moonstone-50:focus {
    color: var(--o-ui-global-moonstone-50);
}

.focus-moonstone-100:focus {
    color: var(--o-ui-global-moonstone-100);
}

.focus-moonstone-200:focus {
    color: var(--o-ui-global-moonstone-200);
}

.focus-moonstone-300:focus {
    color: var(--o-ui-global-moonstone-300);
}

.focus-moonstone-400:focus {
    color: var(--o-ui-global-moonstone-400);
}

.focus-moonstone-500:focus {
    color: var(--o-ui-global-moonstone-500);
}

.focus-moonstone-600:focus {
    color: var(--o-ui-global-moonstone-600);
}

.focus-moonstone-700:focus {
    color: var(--o-ui-global-moonstone-700);
}

.focus-moonstone-800:focus {
    color: var(--o-ui-global-moonstone-800);
}

.focus-moonstone-900:focus {
    color: var(--o-ui-global-moonstone-900);
}
