.moonstone-1 {
    color: var(--o-ui-moonstone-1);
}

.moonstone-2 {
    color: var(--o-ui-moonstone-2);
}

.moonstone-3 {
    color: var(--o-ui-moonstone-3);
}

.moonstone-4 {
    color: var(--o-ui-moonstone-4);
}

.moonstone-5 {
    color: var(--o-ui-moonstone-5);
}

.moonstone-6 {
    color: var(--o-ui-moonstone-6);
}

.moonstone-7 {
    color: var(--o-ui-moonstone-7);
}

.moonstone-8 {
    color: var(--o-ui-moonstone-8);
}

.moonstone-9 {
    color: var(--o-ui-moonstone-9);
}

.moonstone-10 {
    color: var(--o-ui-moonstone-10);
}

.hover-moonstone-1:hover {
    color: var(--o-ui-moonstone-1);
}

.hover-moonstone-2:hover {
    color: var(--o-ui-moonstone-2);
}

.hover-moonstone-3:hover {
    color: var(--o-ui-moonstone-3);
}

.hover-moonstone-4:hover {
    color: var(--o-ui-moonstone-4);
}

.hover-moonstone-5:hover {
    color: var(--o-ui-moonstone-5);
}

.hover-moonstone-6:hover {
    color: var(--o-ui-moonstone-6);
}

.hover-moonstone-7:hover {
    color: var(--o-ui-moonstone-7);
}

.hover-moonstone-8:hover {
    color: var(--o-ui-moonstone-8);
}

.hover-moonstone-9:hover {
    color: var(--o-ui-moonstone-9);
}

.hover-moonstone-10:hover {
    color: var(--o-ui-moonstone-10);
}

.focus-moonstone-1:focus {
    color: var(--o-ui-moonstone-1);
}

.focus-moonstone-2:focus {
    color: var(--o-ui-moonstone-2);
}

.focus-moonstone-3:focus {
    color: var(--o-ui-moonstone-3);
}

.focus-moonstone-4:focus {
    color: var(--o-ui-moonstone-4);
}

.focus-moonstone-5:focus {
    color: var(--o-ui-moonstone-5);
}

.focus-moonstone-6:focus {
    color: var(--o-ui-moonstone-6);
}

.focus-moonstone-7:focus {
    color: var(--o-ui-moonstone-7);
}

.focus-moonstone-8:focus {
    color: var(--o-ui-moonstone-8);
}

.focus-moonstone-9:focus {
    color: var(--o-ui-moonstone-9);
}

.focus-moonstone-10:focus {
    color: var(--o-ui-moonstone-10);
}
