.o-ui-divider-has-label {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--o-ui-text-2);
}

.o-ui-divider {
    align-self: stretch;
}

/* HORIZONTAL */
.o-ui-divider[aria-orientation="horizontal"] {
    margin: var(--o-ui-scale-delta) 0;
    height: 0;
}

.o-ui-divider[aria-orientation="horizontal"]:not(.o-ui-divider-has-label) {
    border-bottom: 1px solid var(--o-ui-border-3);
}

/* LABELLED */
.o-ui-divider-label {
    max-width: 40ch;
}

/* HORIZONTAL | LABELLED */
.o-ui-divider-has-label[aria-orientation="horizontal"]::before,
.o-ui-divider-has-label[aria-orientation="horizontal"]::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--o-ui-border-3);
}

.o-ui-divider-has-label[aria-orientation="horizontal"]::before {
    margin-right: var(--o-ui-scale-charlie);
}

.o-ui-divider-has-label[aria-orientation="horizontal"]::after {
    margin-left: var(--o-ui-scale-charlie);
}

/* VERTICAL */
.o-ui-divider[aria-orientation="vertical"] {
    margin: 0 var(--o-ui-scale-bravo);
    width: max-content;
    height: auto;
    min-height: 100%;
}

.o-ui-divider[aria-orientation="vertical"]:not(.o-ui-divider-has-label) {
    border-left: 1px solid var(--o-ui-border-3);
}

/* VERTICAL | LABELLED */
.o-ui-divider-has-label[aria-orientation="vertical"] {
    flex-direction: column;
}

.o-ui-divider-has-label[aria-orientation="vertical"]::before,
.o-ui-divider-has-label[aria-orientation="vertical"]::after {
    content: "";
    flex: 1;
    border-left: 1px solid var(--o-ui-border-3);
}

.o-ui-divider-has-label[aria-orientation="vertical"]::before {
    margin-bottom: var(--o-ui-scale-bravo);
}

.o-ui-divider-has-label[aria-orientation="vertical"]::after {
    margin-top: var(--o-ui-scale-bravo);
}
