.o-ui-tile {
    width: 100%;
    min-width: 100px;
    border: 1px solid var(--o-ui-alias-border-1);
    background-color: var(--o-ui-alias-background-1);
    padding: 0;
    color: var(--o-ui-alias-text-primary);
    border-radius: var(--o-ui-shape-rounded);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all var(--o-ui-easing-duration-2) var(--o-ui-easing-focus);
    position: relative;
    cursor: pointer;
    text-align: center;
}

.o-ui-tile[aria-checked="true"],
.o-ui-tile[aria-pressed="true"] {
    background-color: var(--o-ui-alias-background-4);
    border-color: var(--o-ui-alias-border-1-active);
}

.o-ui-tile:hover:not([disabled]),
.o-ui-tile-hover:not([disabled]) {
    border-color: var(--o-ui-alias-border-1-hover);
}

.o-ui-tile:active,
.o-ui-tile-active {
    border-color: var(--o-ui-alias-border-1-active);
}

.o-ui-tile:after {
    opacity: 0;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    box-shadow: 0 0 0 var(--o-ui-focus-ring-thickness-md) var(--o-ui-focus-ring-color);
    border-radius: inherit;
    transition: var(--o-ui-focus-ring-transition);
}

.o-ui-tile:focus,
.o-ui-tile:focus-visible,
.o-ui-tile-focus {
    outline: none;
}

.o-ui-tile:focus-visible:after,
.o-ui-tile-focus:after {
    opacity: 1;
}

.o-ui-tile-thumbnail {
    align-self: stretch;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.o-ui-tile-image {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.o-ui-tile-illustration {
    padding: var(--o-ui-global-scale-golf);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.o-ui-tile-main {
    padding: var(--o-ui-global-scale-golf);
}

.o-ui-tile-thumbnail + .o-ui-tile-main {
    padding: var(--o-ui-global-scale-foxtrot) var(--o-ui-global-scale-golf) var(--o-ui-global-scale-golf) var(--o-ui-global-scale-golf);
}

/* DISABLED */
.o-ui-tile[disabled] {
    opacity: var(--o-ui-disabled-opacity);
    cursor: not-allowed;
}
