.o-ui-sb-component-info {
    margin: var(--scale-foxtrot) 0;
}

.o-ui-sb-component-info-compact {
    margin: var(--scale-delta) 0;
}

.o-ui-sb-component-info-item {
    display: flex;
    align-items: center;
    min-height: 28px;
}

.o-ui-sb-component-info-title {
    display: inline-block !important;
    color: var(--marine-500) !important;
    font-weight: 500 !important;
    font-size: var(--type-scale-7) !important;
    font-style: normal !important;
    width: var(--scale-mike) !important;
    margin: 0 !important;
    min-width: 80px;
}

.o-ui-sb-component-info-compact .o-ui-sb-component-info-title {
    width: var(--scale-kilo) !important;
}

.o-ui-sb-component-info-value {
    display: flex !important;
    font-size: var(--type-scale-8) !important;
    font-variant: normal !important;
    margin: 0 !important;
    overflow-x: auto;
    overflow-y: hidden;
}

.o-ui-sb-component-info-value a {
    font-size: var(--type-scale-7) !important;
}

.o-ui-sb-component-info code {
    white-space: nowrap;
    padding: 8px 0;
}
