.o-ui-sb-component-info {
    margin: var(--o-ui-sp-6) 0 var(--o-ui-sp-7) 0;
}

.o-ui-sb-component-info-compact {
    margin: var(--o-ui-sp-4) 0;
}

.o-ui-sb-component-info-item {
    display: flex;
    align-items: center;
    min-height: 28px;
}

.o-ui-sb-component-info-title {
    display: inline-block !important;
    color: var(--o-ui-text-alias-2) !important;
    font-variation-settings: "wght" 500 !important;
    font-size: var(--o-ui-fs-3) !important;
    font-style: normal !important;
    width: var(--o-ui-sz-11) !important;
    margin: 0 !important;
    min-width: 80px;
}

.o-ui-sb-component-info-value {
    display: flex !important;
    font-size: var(--o-ui-fs-3) !important;
    font-variant: normal !important;
    margin: 0 !important;
    overflow-x: auto;
    overflow-y: hidden;
}

.o-ui-sb-component-info-value a {
    font-size: var(--o-ui-fs-3) !important;
}

.o-ui-sb-component-info-value ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    column-gap: 8px;
}

.o-ui-sb-component-info code {
    white-space: nowrap;
}
