/*

   BORDER COLORS PSEUDO
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

*/

.hover-b--white:hover {
    border-color: var(--white);
}

/* Brand */
.hover-b--marine-50:hover {
    border-color: var(--marine-50)
}

.hover-b--marine-100:hover {
    border-color: var(--marine-100)
}

.hover-b--marine-200:hover {
    border-color: var(--marine-200)
}

.hover-b--marine-300:hover {
    border-color: var(--marine-300)
}

.hover-b--marine-400:hover {
    border-color: var(--marine-400)
}

.hover-b--marine-500:hover {
    border-color: var(--marine-500)
}

.hover-b--marine-600:hover {
    border-color: var(--marine-600)
}

.hover-b--marine-700:hover {
    border-color: var(--marine-700)
}

.hover-b--marine-800:hover {
    border-color: var(--marine-800)
}

.hover-b--marine-900:hover {
    border-color: var(--marine-900)
}

.hover-b--sunray-50:hover {
    border-color: var(--sunray-50)
}

.hover-b--sunray-100:hover {
    border-color: var(--sunray-100)
}

.hover-b--sunray-200:hover {
    border-color: var(--sunray-200)
}

.hover-b--sunray-300:hover {
    border-color: var(--sunray-300)
}

.hover-b--sunray-400:hover {
    border-color: var(--sunray-400)
}

.hover-b--sunray-500:hover {
    border-color: var(--sunray-500)
}

.hover-b--sunray-600:hover {
    border-color: var(--sunray-600)
}

.hover-b--sunray-700:hover {
    border-color: var(--sunray-700)
}

.hover-b--sunray-800:hover {
    border-color: var(--sunray-800)
}

.hover-b--sunray-900:hover {
    border-color: var(--sunray-900)
}

.hover-b--moonstone-50:hover {
    border-color: var(--moonstone-50)
}

.hover-b--moonstone-100:hover {
    border-color: var(--moonstone-100)
}

.hover-b--moonstone-200:hover {
    border-color: var(--moonstone-200)
}

.hover-b--moonstone-300:hover {
    border-color: var(--moonstone-300)
}

.hover-b--moonstone-400:hover {
    border-color: var(--moonstone-400)
}

.hover-b--moonstone-500:hover {
    border-color: var(--moonstone-500)
}

.hover-b--moonstone-600:hover {
    border-color: var(--moonstone-600)
}

.hover-b--moonstone-700:hover {
    border-color: var(--moonstone-700)
}

.hover-b--moonstone-800:hover {
    border-color: var(--moonstone-800)
}

.hover-b--moonstone-900:hover {
    border-color: var(--moonstone-900)
}

.hover-b--apricot-50:hover {
    border-color: var(--apricot-50)
}

.hover-b--apricot-100:hover {
    border-color: var(--apricot-100)
}

.hover-b--apricot-200:hover {
    border-color: var(--apricot-200)
}

.hover-b--apricot-300:hover {
    border-color: var(--apricot-300)
}

.hover-b--apricot-400:hover {
    border-color: var(--apricot-400)
}

.hover-b--apricot-500:hover {
    border-color: var(--apricot-500)
}

.hover-b--apricot-600:hover {
    border-color: var(--apricot-600)
}

.hover-b--apricot-700:hover {
    border-color: var(--apricot-700)
}

.hover-b--apricot-800:hover {
    border-color: var(--apricot-800)
}

.hover-b--apricot-900:hover {
    border-color: var(--apricot-900)
}

.hover-b--desktop-50:hover {
    border-color: var(--desktop-50)
}

.hover-b--desktop-100:hover {
    border-color: var(--desktop-100)
}

.hover-b--desktop-200:hover {
    border-color: var(--desktop-200)
}

.hover-b--desktop-300:hover {
    border-color: var(--desktop-300)
}

.hover-b--desktop-400:hover {
    border-color: var(--desktop-400)
}

.hover-b--desktop-500:hover {
    border-color: var(--desktop-500)
}

.hover-b--desktop-600:hover {
    border-color: var(--desktop-600)
}

.hover-b--desktop-700:hover {
    border-color: var(--desktop-700)
}

.hover-b--desktop-800:hover {
    border-color: var(--desktop-800)
}

.hover-b--desktop-900:hover {
    border-color: var(--desktop-900)
}

.hover-b--overcast-50:hover {
    border-color: var(--overcast-50)
}

.hover-b--overcast-100:hover {
    border-color: var(--overcast-100)
}

.hover-b--overcast-200:hover {
    border-color: var(--overcast-200)
}

.hover-b--overcast-300:hover {
    border-color: var(--overcast-300)
}

.hover-b--overcast-400:hover {
    border-color: var(--overcast-400)
}

.hover-b--overcast-500:hover {
    border-color: var(--overcast-500)
}

.hover-b--overcast-600:hover {
    border-color: var(--overcast-600)
}

.hover-b--overcast-700:hover {
    border-color: var(--overcast-700)
}

.hover-b--overcast-800:hover {
    border-color: var(--overcast-800)
}

.hover-b--overcast-900:hover {
    border-color: var(--overcast-900)
}

.hover-b--cloud-50:hover {
    border-color: var(--cloud-50)
}

.hover-b--cloud-100:hover {
    border-color: var(--cloud-100)
}

.hover-b--cloud-200:hover {
    border-color: var(--cloud-200)
}

.hover-b--cloud-300:hover {
    border-color: var(--cloud-300)
}

.hover-b--cloud-400:hover {
    border-color: var(--cloud-400)
}

.hover-b--cloud-500:hover {
    border-color: var(--cloud-500)
}

.hover-b--cloud-600:hover {
    border-color: var(--cloud-600)
}

.hover-b--cloud-700:hover {
    border-color: var(--cloud-700)
}

.hover-b--cloud-800:hover {
    border-color: var(--cloud-800)
}

.hover-b--cloud-900:hover {
    border-color: var(--cloud-900)
}

.hover-b--alert-50:hover {
    border-color: var(--alert-50)
}

.hover-b--alert-100:hover {
    border-color: var(--alert-100)
}

.hover-b--alert-200:hover {
    border-color: var(--alert-200)
}

.hover-b--alert-300:hover {
    border-color: var(--alert-300)
}

.hover-b--alert-400:hover {
    border-color: var(--alert-400)
}

.hover-b--alert-500:hover {
    border-color: var(--alert-500)
}

.hover-b--alert-600:hover {
    border-color: var(--alert-600)
}

.hover-b--alert-700:hover {
    border-color: var(--alert-700)
}

.hover-b--alert-800:hover {
    border-color: var(--alert-800)
}

.hover-b--alert-900:hover {
    border-color: var(--alert-900)
}

.hover-b--success-50:hover {
    border-color: var(--success-50)
}

.hover-b--success-100:hover {
    border-color: var(--success-100)
}

.hover-b--success-200:hover {
    border-color: var(--success-200)
}

.hover-b--success-300:hover {
    border-color: var(--success-300)
}

.hover-b--success-400:hover {
    border-color: var(--success-400)
}

.hover-b--success-500:hover {
    border-color: var(--success-500)
}

.hover-b--success-600:hover {
    border-color: var(--success-600)
}

.hover-b--success-700:hover {
    border-color: var(--success-700)
}

.hover-b--success-800:hover {
    border-color: var(--success-800)
}

.hover-b--success-900:hover {
    border-color: var(--success-900)
}


/* Vendors */
.hover-b--outlook:hover {
    border-color: var(--outlook);
}

.hover-b--sharepoint:hover {
    border-color: var(--sharepoint);
}

.hover-b--teams:hover {
    border-color: var(--teams);
}

.hover-b--planner:hover {
    border-color: var(--planner);
}

.hover-b--one-drive:hover {
    border-color: var(--one-drive);
}

.hover-b--transparent:hover {
    border-color: var(--transparent);
}

.hover-b--inherit:hover {
    border-color: inherit;
}

/* Allows to reference a primary */

.hover-b--primary-50:hover {
    border-color: var(--primary-50);
}

.hover-b--primary-100:hover {
    border-color: var(--primary-100);
}

.hover-b--primary-200:hover {
    border-color: var(--primary-200);
}

.hover-b--primary-300:hover {
    border-color: var(--primary-300);
}

.hover-b--primary-400:hover {
    border-color: var(--primary-400);
}

.hover-b--primary-500:hover {
    border-color: var(--primary-500);
}

.hover-b--primary-600:hover {
    border-color: var(--primary-600);
}

.hover-b--primary-700:hover {
    border-color: var(--primary-700);
}

.hover-b--primary-800:hover {
    border-color: var(--primary-800);
}

.hover-b--primary-900:hover {
    border-color: var(--primary-900);
}
