/*

    OPACITY PSEUDO
    Docs: http://tachyons.io/docs/themes/opacity/

*/

.hover-o-100:hover {
    opacity: 1;
}

.hover-o-90:hover {
    opacity: 0.9;
}

.hover-o-80:hover {
    opacity: 0.8;
}

.hover-o-70:hover {
    opacity: 0.7;
}

.hover-o-60:hover {
    opacity: 0.6;
}

.hover-o-50:hover {
    opacity: 0.5;
}

.hover-o-40:hover {
    opacity: 0.4;
}

.hover-o-30:hover {
    opacity: 0.3;
}

.hover-o-20:hover {
    opacity: 0.2;
}

.hover-o-10:hover {
    opacity: 0.1;
}

.hover-o-05:hover {
    opacity: 0.05;
}

.hover-o-025:hover {
    opacity: 0.025;
}

.hover-o-0:hover {
    opacity: 0;
}
