/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

.collapse {
    border-collapse: collapse;
    border-spacing: 0;
}

.stripe-light:nth-child(odd) {
    background-color: var(--white-10);
}

.stripe-dark:nth-child(odd) {
    background-color: var(--black-10);
}