.o-ui {
    --o-ui-avatar-2xs: var(--o-ui-sp-5);
    --o-ui-avatar-xs: var(--o-ui-sp-6);
    --o-ui-avatar-sm: var(--o-ui-sp-7);
    --o-ui-avatar-md: var(--o-ui-sp-8);
    --o-ui-avatar-lg: var(--o-ui-sp-9);
    --o-ui-avatar-xl: var(--o-ui-sp-10);
    --o-ui-avatar-2xl: var(--o-ui-sp-11);
}

.o-ui-avatar {
    display: inline-flex;
    flex-shrink: 0;
    border-radius: var(--o-ui-shape-circular);
    overflow: hidden;
}

/* SIZES */
.o-ui-avatar-2xs {
    width: var(--o-ui-sp-5);
    height: var(--o-ui-sp-5);
}

.o-ui-avatar-xs {
    width: var(--o-ui-sp-6);
    height: var(--o-ui-sp-6);
}

.o-ui-avatar-sm {
    width: var(--o-ui-sp-7);
    height: var(--o-ui-sp-7);
}

.o-ui-avatar-md {
    width: var(--o-ui-sp-8);
    height: var(--o-ui-sp-8);
}

.o-ui-avatar-lg {
    width: var(--o-ui-sp-9);
    height: var(--o-ui-sp-9);
}

.o-ui-avatar-xl {
    width: var(--o-ui-sp-10);
    height: var(--o-ui-sp-10);
}

.o-ui-avatar-2xl {
    width: var(--o-ui-sp-11);
    height: var(--o-ui-sp-11);
}

/* IMAGE */
.o-ui-avatar-image {
    width: 100%;
    height: 100%;
}

/* TEXT */
.o-ui-avatar-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--o-ui-white);
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color var(--o-ui-easing-duration-2) var(--o-ui-easing-productive);
}

/* GROUPS */
.o-ui-avatar-group {
    display: inline-flex;
    align-items: center;
    width: max-content;
}

/* GROUPS | REMAININGS */
.o-ui-avatar-group-remainings {
    background-color: var(--o-ui-bg-alias-3);
}

.o-ui-avatar-group-remainings .o-ui-avatar-text {
    color: var(--o-ui-text-alias-2);
}

/* GROUPS | REMAININGS | TOOLTIP */
.o-ui-avatar-group-remainings-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.o-ui-avatar-group-remainings-list-item:not(:last-child) {
    margin-bottom: var(--o-ui-sp-2);
}

.o-ui-avatar-group-remainings-list-item-avatar {
    margin-right: var(--o-ui-sp-2);
}
