.o-ui {
    --o-ui-avatar-xs: 24px;
    --o-ui-avatar-sm: 32px;
    --o-ui-avatar-md: 40px;
    --o-ui-avatar-lg: 48px;
    --o-ui-avatar-xl: 56px;
    --o-ui-avatar-2xl: 64px;
}

.o-ui-avatar {
    display: inline-flex;
    border-radius: 100%;
    overflow: hidden;
}

/* SIZES */
.o-ui-avatar-xs {
    width: var(--o-ui-avatar-xs);
    height: var(--o-ui-avatar-xs);
}

.o-ui-avatar-sm {
    width: var(--o-ui-avatar-sm);
    height: var(--o-ui-avatar-sm);
}

.o-ui-avatar-md {
    width: var(--o-ui-avatar-md);
    height: var(--o-ui-avatar-md);
}

.o-ui-avatar-lg {
    width: var(--o-ui-avatar-lg);
    height: var(--o-ui-avatar-lg);
}

.o-ui-avatar-xl {
    width: var(--o-ui-avatar-xl);
    height: var(--o-ui-avatar-xl);
}

.o-ui-avatar-2xl {
    width: var(--o-ui-avatar-2xl);
    height: var(--o-ui-avatar-2xl);
}

/* IMAGE */
.o-ui-avatar-image {
    width: 100%;
    height: 100%;
}

/* INTIALS */
.o-ui-avatar-initials {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--o-ui-global-white);
    width: 100%;
    height: 100%;
}

/* GROUPS */
.o-ui-avatar-group {
    display: inline-flex;
    align-items: center;
}

/* GROUPS | REMAININGS */
.o-ui-remaining-avatars {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    background-color: var(--o-ui-global-cloud-50);
    color: var(--o-ui-global-marine-400);
}

/* GROUPS | REMAININGS | SIZES */
.o-ui-remaining-avatars-xs {
    width: var(--o-ui-avatar-xs);
    height: var(--o-ui-avatar-xs);
}

.o-ui-remaining-avatars-sm {
    width: var(--o-ui-avatar-sm);
    height: var(--o-ui-avatar-sm);
}

.o-ui-remaining-avatars-md {
    width: var(--o-ui-avatar-md);
    height: var(--o-ui-avatar-md);
}

.o-ui-remaining-avatars-lg {
    width: var(--o-ui-avatar-lg);
    height: var(--o-ui-avatar-lg);
}

.o-ui-remaining-avatars-xl {
    width: var(--o-ui-avatar-xl);
    height: var(--o-ui-avatar-xl);
}

.o-ui-remaining-avatars-2xl {
    width: var(--o-ui-avatar-2xl);
    height: var(--o-ui-avatar-2xl);
}
