.sbdocs,
.sbdocs.sbdocs-content,
/* TODO: when the sbdocs preview has been merged, remove sbdocs-preview from here */
.sbdocs-preview {
    font-family: Calibre, Arial, Helvetica, sans-serif !important;
}

.sbdocs.sbdocs-wrapper {
    padding-top: 32px;
    padding-bottom: 148px;
}

.sbdocs.sbdocs-content {
    max-width: 1200px;
}

.sbdocs-preview,
.sbdocs.sbdocs-pre {
    /* until PR is merged to add .sbdocs to the sbdocs preview compenent escape hatch */
    border: none !important;
    box-shadow: var(--shadow-4) !important;
}

.sbdocs-preview,
.sbdocs-preview > div > div {
    overflow: visible !important;
}

.sbdocs.sbdocs-p {
    font-size: 1.125rem;
    color: var(--marine-900);
}

.sbdocs.sbdocs-h1 {
    font-weight: 600;
}

.sbdocs.sbdocs-h2 {
    margin: 24px 0 18px;
    border-bottom: none;
}

.sbdocs.sbdocs-p,
.sbdocs.sbdocs-h1,
.sbdocs.sbdocs-h2,
.sbdocs.sbdocs-h3,
.sbdocs.sbdocs-h4,
.sbdocs.sbdocs-h5,
.sbdocs.sbdocs-h6 {
    color: var(--marine-900);
}

.sbdocs.sbdocs-h1,
.sbdocs.sbdocs-h2,
.sbdocs.sbdocs-h3,
.sbdocs.sbdocs-h4,
.sbdocs.sbdocs-h5,
.sbdocs.sbdocs-h6 {
    /* fixing the default position relative on all titles in shared.tsx */
    position: initial;
}

.sbdocs.sbdocs-a {
    font-size: 1.125rem;
    color: var(--primary-700);
}

.sbdocs.sbdocs-a:hover,
.sbdocs.sbdocs-a:focus {
    text-decoration: underline;
}

.docblock-propstable {
    min-width: 220px;
}

.docblock-propstable-head th {
    font-weight: 600 !important;
    color: var(--marine-500) !important;
}

.sbdocs.sbdocs-table {
    width: 100%;
    max-width: 800px;
}

.sbdocs.sbdocs-table tr {
    border-top: 1px solid var(--cloud-100);
}

.sbdocs.sbdocs-table thead tr {
    border-top: 1px solid var(--cloud-100);
}

.sbdocs.sbdocs-table tr th {
    font-weight: 600;
}
.sbdocs.sbdocs-table tr td,
.sbdocs.sbdocs-table tr th {
    border: 1px solid var(--cloud-100);
}

/* PR to be made for an escape hatch */
.sbdocs button[role="tab"] {
    font-size: 16px;
    font-weight: 600;
}

.docblock-source {
    box-shadow: none !important;
    border: none !important;
}

.docblock-emptyblock {
    font-weight: 600;
    color: var(--cloud-500);
    background-color: var(--cloud-50);
    border: 1px dashed var(--cloud-100);
}
