:root {
    /* Use this var only when the element is not affected by the font-family specified in Storybook docs theme */
    --orbit-font-family: "TT Interphases Variable", Arial, Helvetica, sans-serif;
}

/* LAYOUT */
.sbdocs.sbdocs-wrapper {
    padding: 2rem 2rem 1rem 2rem;
}

.sbdocs.sbdocs-content {
    max-width: 1280px;
    font-size: var(--o-ui-fs-4);
}

/* STORY */
.docs-story div + div > button {
    font-variation-settings: "wght" 500;
    font-size: var(--o-ui-fs-2);
}

/* ARGS TABLE */
.docblock-argstable {
    min-width: 220px;
    margin-bottom: 0;
}

/* ARGS TABLE | HEADER */
.docblock-argstable-head,
.docblock-argstable-body {
    font-size: var(--o-ui-fs-3) !important;
}

.docblock-argstable-head tr th {
    font-variation-settings: "wght" 500 !important;
    font-weight: 400;
    color: var(--o-ui-text-alias-primary) !important;
}

/* ARGS TABLE | HEADER | RESET */
.docblock-argstable-head button {
    background-color: var(--o-ui-bg-alias-accent) !important;
    box-shadow: none;
}

.docblock-argstable-head button:focus {
    box-shadow: none;
}

.docblock-argstable-head button:hover {
    background-color: var(--o-ui-accent-8) !important;
}

.docblock-argstable-head button svg path {
    fill: var(--o-ui-white) !important;
}

/* ARGS TABLE | BODY  */
.docblock-argstable-body td > span {
    font-variation-settings: "wght" 500 !important;
    font-weight: 400;
}

.docblock-argstable-body td > label > span {
    font-variation-settings: "wght" 500 !important;
    font-weight: 400;
}

.docblock-argstable-body td label input[type=radio] {
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.docblock-argstable-body td label input[type=radio]:focus {
    outline-offset: 1px;
}

.docblock-argstable-body td label span {
    font-size: var(--o-ui-fs-2) !important;
}

.docblock-argstable-body td label input[type="radio"] {
    width: 1rem !important;
    height: 1rem !important;
}

.docblock-argstable-body td input[type="number"],
.docblock-argstable-body td input[type="text"],
.docblock-argstable-body td textarea {
    font-size: var(--o-ui-fs-2);
}

.docblock-argstable-body a {
    color: var(--o-ui-accent-6) !important;
}

.docblock-argstable-body button {
    color: var(--o-ui-accent-6) !important;
    font-family: var(--orbit-font-family) !important;
    font-size: var(--o-ui-fs-2) !important;
    padding-left: 2px !important;
}

/* EMPTY BLOCK */
.docblock-emptyblock {
    color: var(--o-ui-neutral-6) !important;
    border: 1px dashed var(--o-ui-neutral-2) !important;
}

.docblock-emptyblock a {
    color: var(--o-ui-accent-6) !important;
}

/* SOURCE BLOCK */
.docblock-source {
    margin-top: var(--o-ui-sp-7) !important;
    margin-bottom: 35px !important;
}

.sbdocs.sbdocs-preview,
.sbdocs.sbdocs-pre {
    border: none;
    box-shadow: var(--o-ui-bs-alias-raised);
}

.sbdocs.sbdocs-preview,
.sbdocs.sbdocs-preview > div > div {
    overflow: visible;
}

.sbdocs.sbdocs-preview div[scale] {
    transform: none !important;
}

/* ELEMENTS | TEXT */
.sbdocs.sbdocs-h1,
.sbdocs.sbdocs-h2,
.sbdocs.sbdocs-h3,
.sbdocs.sbdocs-h4,
.sbdocs.sbdocs-h5,
.sbdocs.sbdocs-h6,
.sbdocs.sbdocs-p  {
    color: var(--o-ui-text-alias-primary);
}

/* ELEMENTS | HEADER */
.sbdocs.sbdocs-h1,
.sbdocs.sbdocs-h2,
.sbdocs.sbdocs-h3,
.sbdocs.sbdocs-h4,
.sbdocs.sbdocs-h5,
.sbdocs.sbdocs-h6 {
    font-variation-settings: "wght" 500;
    font-weight: 400;
    /* fixing the default position relative on all titles in shared.tsx */
    position: initial;
}

.sbdocs.sbdocs-h1 {
    font-size: var(--o-ui-fs-9);
    line-height: var(--o-ui-lh-6);
}

.sbdocs.sbdocs-h1,
.sbdocs .sbdocs-title {
    font-variation-settings: "wght" 500;
}

.sbdocs.sbdocs-h2 {
    border-bottom: 1px solid var(--o-ui-neutral-2);
}

.sbdocs.sbdocs-h2,
.sbdocs.sbdocs-h2:first-of-type {
    margin: 1.5rem 0;
    font-size: var(--o-ui-fs-7);
}

.sbdocs.sbdocs.sbdocs-h3 {
    margin: var(--o-ui-sp-7) 0 var(--o-ui-sp-4);
    font-size: var(--o-ui-fs-6);
    line-height: var(--o-ui-lh-5);
}

.sbdocs.sbdocs.sbdocs-h4 {
    font-size: var(--o-ui-fs-5);
    line-height: var(--o-ui-lh-4);
    margin: var(--o-ui-sp-6) 0 var(--o-ui-sp-2);
}

.sbdocs.sbdocs-h2 + .sbdocs.sbdocs-p,
.sbdocs.sbdocs-h3 + .sbdocs.sbdocs-p,
.sbdocs.sbdocs-h4 + .sbdocs.sbdocs-p {
    margin: 0 0 1rem 0;
}

.sbdocs.sbdocs-p {
    max-width: 75ch;
}

/* ELEMENTS | CODE | IN PARAGRAPH */
.sbdocs .sbdocs-p code {
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    font-size: 15px !important;
}

/* ELEMENTS | LINK */
.sbdocs.sbdocs-a {
    font-size: var(--o-ui-fs-4);
    color: var(--o-ui-text-alias-accent) !important;
    text-decoration: underline;
}

.sbdocs.sbdocs-a:hover,
.sbdocs.sbdocs-a:focus {
    text-decoration: underline;
    outline: none;
}

/* ELEMENTS | LINK | IN PARAGRAGH */
.sbdocs.sbdocs-p .sbdocs-a {
    font-size: inherit;
}

.sbdocs.sbdocs-a:focus {
    border-radius: var(--o-ui-br-rounded);
    background-color: rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
}

.sbdocs .sbdocs-a code {
    color: var(--o-ui-accent-6);
}

/* ELEMENTS | TYPOGRAPHY */
.sbdocs.sbdocs-p,
.sbdocs.sbdocs-span {
    font-size: var(--o-ui-fs-4);
    line-height: var(--o-ui-lh-6);
    max-width: 90ch;
}

/* ELEMENTS | TABLE */
.sbdocs.sbdocs-table tr {
    border-top: 1px solid var(--o-ui-neutral-2);
}

.sbdocs.sbdocs-table .thead tr th {
    background-color: var(--o-ui-bg-alias-mid-break);
    color: inherit;
}

.sbdocs.sbdocs-table thead tr {
    border-top: 1px solid var(--o-ui-b-alias-low-break);
    border-left: 1px solid var(--o-ui-b-alias-low-break);
    border-right: 1px solid var(--o-ui-b-alias-low-break);
    color: var(--o-ui-text-alias-primary);
}

.sbdocs.sbdocs-table tr th {
    font-weight: 400;
    font-variation-settings: "wght" 600;
    font-size: var(--o-ui-fs-4);
}

.sbdocs.sbdocs-table td {
    font-size: var(--o-ui-fs-3);
}

.sbdocs.sbdocs-table td.code {
    font-size: var(--o-ui-fs-2);
}

.sbdocs.sbdocs-table tr td,
.sbdocs.sbdocs-table tr th {
    border-top: 1px solid var(--o-ui-b-alias-low-break);
    border-bottom: 1px solid var(--o-ui-b-alias-low-break);
    border-left: 0;
    border-right: 0;
    color: var(--o-ui-text-alias-primary);
    background-color: var(--o-ui-bg-alias-default);
}

.sbdocs.sbdocs-table tbody {
    border: 1px solid var(--o-ui-b-alias-low-break);
}

.sbdocs.sbdocs-table a {
    font-size: var(--o-ui-fs-3) !important;
}

.sbdocs.sbdocs-table .code a {
    font-family: Consolas, monaco, monospace !important;
}

.sbdocs.sbdocs-table .example {
    color: var(--o-ui-text-alias-primary);
}

.sbdocs.sbdocs-table b,
.sbdocs.sbdocs-table strong {
    font-variation-settings: "wght" 600;
    font-weight: 400;
}

.sbdocs.sbdocs-table .sbdocs.sbdocs-img {
    max-width: none;
}

/* ELEMENTS | SUMMARY */
.sb-show-main summary {
    font-size: var(--o-ui-fs-4);
    cursor: pointer;
    line-height: var(--o-ui-lh-4);
}

.sb-show-main details {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--o-ui-purple-1);
}

.sb-show-main details + details {
    margin-top: var(--o-ui-sp-4);
}

.sbdocs details .docblock-source {
    box-shadow: none !important;
    border: none !important;
    margin: var(--o-ui-sp-4) 0 !important;
}

/* ELEMENTS | BLOCKQUOTE */
.sbdocs.sbdocs-blockquote {
    padding: var(--o-ui-sp-3) var(--o-ui-sp-4) var(--o-ui-sp-3) var(--o-ui-sp-3);
    background-color: var(--o-ui-purple-1);
    font-size: 15px !important;
}

.sbdocs.sbdocs-blockquote p {
    font-size: 15px;
}

/* ELEMENTS | KBD */
.sbdocs kbd {
    line-height: var(--o-ui-lh-1);
    margin: 0 2px;
    padding: 3px 5px;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 13px;
    border: 1px solid #EEE;
    color: rgba(51,51,51,0.9);
    background-color: #F8F8F8;
}

/* ELEMENTS | LIST */
.sbdocs.sbdocs-li {
    font-size: var(--o-ui-fs-4) !important;
}

/* ELEMENTS | STRONG */
.sbdocs strong {
    font-variation-settings: "wght" 500;
    font-weight: 400;
}

/* ELEMENTS | LINK ICON */
.sbdocs.sbdocs-h1 a {
    margin-left: -28px;
}

.sbdocs.sbdocs-h1 a svg {
    width: var(--o-ui-sz-4);
    height: var(--o-ui-sz-4);
}

.code {
    font-family: Consolas, monaco, monospace !important;
}

.w-100 {
    width: 100%;
}

/* LOADER */
.o-ui-sb-loading {
    position: absolute;
    background-color: var(--o-ui-bg-alias-hard-break);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.o-ui-sb-loading:before {
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    border: 2px solid var(--o-ui-b-alias-low-break);
    border-top-color: var(--o-ui-white);
    animation: o-ui-sb-spinner 1s linear infinite;
    transform: translate(-50%, -50%) rotate(0deg);
}

@keyframes o-ui-sb-spinner {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Token Specific Styles */
.token-table tr td:last-child {
    padding: 0 0 0 13px !important;
}
