.b--desktop-50 {
    border-color: var(--desktop-50);
}

.b--desktop-100 {
    border-color: var(--desktop-100);
}

.b--desktop-200 {
    border-color: var(--desktop-200);
}

.b--desktop-300 {
    border-color: var(--desktop-300);
}

.b--desktop-400 {
    border-color: var(--desktop-400);
}

.b--desktop-500 {
    border-color: var(--desktop-500);
}

.b--desktop-600 {
    border-color: var(--desktop-600);
}

.b--desktop-700 {
    border-color: var(--desktop-700);
}

.b--desktop-800 {
    border-color: var(--desktop-800);
}

.b--desktop-900 {
    border-color: var(--desktop-900);
}

.hover-b--desktop-50:hover,
.hover-b--desktop-50:focus {
    border-color: var(--desktop-50);
}

.hover-b--desktop-100:hover,
.hover-b--desktop-100:focus {
    border-color: var(--desktop-100);
}

.hover-b--desktop-200:hover,
.hover-b--desktop-200:focus {
    border-color: var(--desktop-200);
}

.hover-b--desktop-300:hover,
.hover-b--desktop-300:focus {
    border-color: var(--desktop-300);
}

.hover-b--desktop-400:hover,
.hover-b--desktop-400:focus {
    border-color: var(--desktop-400);
}

.hover-b--desktop-500:hover,
.hover-b--desktop-500:focus {
    border-color: var(--desktop-500);
}

.hover-b--desktop-600:hover,
.hover-b--desktop-600:focus {
    border-color: var(--desktop-600);
}

.hover-b--desktop-700:hover,
.hover-b--desktop-700:focus {
    border-color: var(--desktop-700);
}

.hover-b--desktop-800:hover,
.hover-b--desktop-800:focus {
    border-color: var(--desktop-800);
}

.hover-b--desktop-900:hover,
.hover-b--desktop-900:focus {
    border-color: var(--desktop-900);
}
