.desktop-50 {
    color: var(--desktop-50);
}

.desktop-100 {
    color: var(--desktop-100);
}

.desktop-200 {
    color: var(--desktop-200);
}

.desktop-300 {
    color: var(--desktop-300);
}

.desktop-400 {
    color: var(--desktop-400);
}

.desktop-500 {
    color: var(--desktop-500);
}

.desktop-600 {
    color: var(--desktop-600);
}

.desktop-700 {
    color: var(--desktop-700);
}

.desktop-800 {
    color: var(--desktop-800);
}

.desktop-900 {
    color: var(--desktop-900);
}

.hover-desktop-50:hover,
.hover-desktop-50:focus {
    color: var(--desktop-50);
}

.hover-desktop-100:hover,
.hover-desktop-100:focus {
    color: var(--desktop-100);
}

.hover-desktop-200:hover,
.hover-desktop-200:focus {
    color: var(--desktop-200);
}

.hover-desktop-300:hover,
.hover-desktop-300:focus {
    color: var(--desktop-300);
}

.hover-desktop-400:hover,
.hover-desktop-400:focus {
    color: var(--desktop-400);
}

.hover-desktop-500:hover,
.hover-desktop-500:focus {
    color: var(--desktop-500);
}

.hover-desktop-600:hover,
.hover-desktop-600:focus {
    color: var(--desktop-600);
}

.hover-desktop-700:hover,
.hover-desktop-700:focus {
    color: var(--desktop-700);
}

.hover-desktop-800:hover,
.hover-desktop-800:focus {
    color: var(--desktop-800);
}

.hover-desktop-900:hover,
.hover-desktop-900:focus {
    color: var(--desktop-900);
}
