.o-ui-spinner {
    display: flex;
    align-items: center;
    color: var(--o-ui-text-alias-primary);
}

.o-ui-spinner-wheel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.o-ui-spinner-wheel {
    display: inline-block;
    fill: none;
    flex-shrink: 0;
    stroke: var(--o-ui-icon-alias-primary);
    stroke-dashoffset: 75;
    stroke-dasharray: 283;
    animation: 2s linear infinite spinner-animation;
}

.o-ui-spinner-wheel-circle {
    stroke-linecap: round;
    transform-origin: 50% 50%;
    animation: 1.4s ease-in-out infinite both wheel-animation;
}

@media (prefers-reduced-motion: reduce) {
    .o-ui-spinner-wheel {
        animation-iteration-count: 1;
    }
}

.o-ui-spinner-label {
    margin-left: var(--o-ui-sp-2);
}

/* ANIMATION */
@keyframes wheel-animation {
    0%,
    25% {
        stroke-dashoffset: 280;
        transform: rotate(0);
    }
    50%,
    75% {
        stroke-dashoffset: 75;
        transform: rotate(45deg);
    }
    100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
    }
}

@keyframes spinner-animation {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* SIZES */
.o-ui-spinner-sm .o-ui-spinner-wheel-container {
    width: var(--o-ui-sz-2);
    height: var(--o-ui-sz-2);
}

.o-ui-spinner-sm .o-ui-spinner-wheel {
    width: .625rem;
    height: .625rem;
}

.o-ui-spinner-md .o-ui-spinner-wheel-container {
    width: var(--o-ui-sz-3);
    height: var(--o-ui-sz-3);
}

.o-ui-spinner-md .o-ui-spinner-wheel {
    width: .875rem;
    height: .875rem;
}

.o-ui-spinner-lg .o-ui-spinner-wheel-container {
    width: var(--o-ui-sz-4);
    height: var(--o-ui-sz-4);
}

.o-ui-spinner-lg .o-ui-spinner-wheel {
    width: 1rem;
    height: 1rem;
}
