@keyframes o-ui-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.o-ui-spinner-wrapper {
    display: flex;
    align-items: center;
    color: var(--o-ui-text-alias-primary);
}

.o-ui-spinner {
    animation: o-ui-spinner 1s linear infinite;
    border-width: 2px;
    border-style: solid;
    border-color: var(--o-ui-b-alias-high-break) var(--o-ui-b-alias-high-break) var(--o-ui-b-alias-low-break) var(--o-ui-b-alias-low-break);
    display: inline-block;
    border-radius: 100%;
    flex-shrink: 0;
}

@media (prefers-reduced-motion: reduce) {
    .o-ui-spinner {
        animation-iteration-count: 1;
    }
}

.o-ui-spinner-label {
    margin-left: var(--o-ui-sp-2);
}

.o-ui-spinner-sm {
    width: var(--o-ui-sz-2);
    height: var(--o-ui-sz-2);
}

.o-ui-spinner-md {
    width: var(--o-ui-sz-3);
    height: var(--o-ui-sz-3);
}

.o-ui-spinner-lg {
    width: var(--o-ui-sz-4);
    height: var(--o-ui-sz-4);
}
