.o-ui.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    line-height: 1;
}

.o-ui.checkbox .box {
    position: relative;
    display: inline-block;
    width: var(--scale-echo);
    height: var(--scale-echo);
    border: 1px solid var(--marine-100);
    border-radius: var(--scale-alpha);
    transition: all .125s ease-in;
}

/* CHECKBOX | LABEL */
.o-ui.checkbox .label {
    margin-left: var(--scale-bravo);
    font-size: var(--type-scale-7);
}

/* INDETERMINATE */
.o-ui.checkbox.indeterminate .box::before {
    content: "";
    display: block;
    background-color: var(--primary-500);
    border-radius: 0.25rem;
    position: absolute;
    width: var(--scale-echo);
    height: var(--scale-echo);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .125s ease-in;
}

/* INDETERMINATE | CHECKED */
.o-ui.checkbox.indeterminate.checked .box {
    background: var(--white);
}

/* INDETERMINATE | CHECKED | HALF SQUARE */
.o-ui.checkbox.indeterminate.checked .box::before {
    transform: translate(-50%, -50%) scale(1);
}

/* READ ONLY */
.o-ui.checkbox[readonly] {
    cursor: default;
}

/* REVERSE */
.o-ui.checkbox.reverse {
    flex-direction: row-reverse;
}

.o-ui.checkbox.reverse .label {
    margin-right: var(--scale-bravo);
}

/* WITH ICON */
.o-ui.checkbox.with-icon .label {
    margin-left: var(--scale-alpha);
}

/* WITH ICON | REVERSE  */
/* .o-ui.checkbox.with-icon.reverse .label {
    margin-left: var(--scale-alpha);
} */

/* WITH BADGE */
.o-ui.checkbox.with-badge .badge.pill {
    margin-left: var(--scale-bravo);
}

/* STATE | CHECKED */
.o-ui.checkbox.checked .box {
    background-color: var(--primary-500);
    border: 1px solid var(--primary-500);
}

/* STATE | CHECKED | CHECKMARK */
.o-ui.checkbox.checked .box:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--scale-echo);
    height: var(--scale-echo);
    mask: url("~@orbit-ui/icons/dist/icon-check-24.svg") center center no-repeat;
    mask-size: var(--scale-echo) var(--scale-echo);
    background-color: var(--white);
}

/* STATE | DISABLED */
.o-ui.checkbox.disabled ,
.o-ui.checkbox[disabled] {
    color: var(--cloud-200);
    cursor: default;
}

/* STATE | DISABLED | CHECKBOX */
.o-ui.checkbox.disabled .box,
.o-ui.checkbox[disabled] .box {
    background-color: var(--cloud-50);
    border: 1px solid var(--cloud-200);
}

/* STATE | FOCUS */
.o-ui.checkbox input[type="checkbox"]:focus + .box,
.o-ui.checkbox input[type="checkbox"].focus + .box {
    box-shadow: 0 0 0 2px var(--primary-100);
}

/* STATE | HOVER */
.o-ui.checkbox:hover .box,
.o-ui.checkbox.hover .box {
    border: 1px solid var(--marine-300);
}

/* STATE | HOVER | CHECKED */
.o-ui.checkbox.checked:hover .box,
.o-ui.checkbox.checked.hover .box {
    border: 1px solid var(--primary-500);
}

/* SIZING */
/* SIZING | SMALL */
/* SIZING | SMALL | LABEL */
.o-ui.checkbox.small .label {
    font-size: var(--type-scale-8);
}

/* SIZING | SMALL | LABEL | */
.o-ui.checkbox.small .box {
    width: var(--scale-delta);
    height: var(--scale-delta);
}

/* SIZING | SMALL | BOX | CHECKED */
.o-ui.checkbox.checked.small .box:after {
    width: var(--scale-delta);
    height: var(--scale-delta);
    mask-size: var(--scale-delta) var(--scale-delta);
}

/* SIZING | LARGE */
/* SIZING | LARGE | LABEL */
.o-ui.checkbox.large .label {
    font-size: var(--type-scale-6);
}

/* SIZING | LARGE | LABEL | */
.o-ui.checkbox.large .box {
    width: var(--scale-foxtrot);
    height: var(--scale-foxtrot);
}

/* SIZING | LARGE | BOX | CHECKED */
.o-ui.checkbox.checked.large .box:after {
    width: var(--scale-foxtrot);
    height: var(--scale-foxtrot);
    mask-size: var(--scale-foxtrot) var(--scale-foxtrot);
}
