.o-ui-checkbox {
    --o-ui-focus-ring-stroke-width: 2px;
    --o-ui-indeterminate-stroke-width: 5px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: var(--o-ui-text-1);
    line-height: 1;
    max-width: 100%;
    width: max-content;
    height: max-content;
    position: relative;
}

.o-ui-checkbox:focus {
    outline: none;
}

/* BOX */
.o-ui-checkbox-box {
    position: relative;
    display: inline-block;
    width: var(--o-ui-scale-echo);
    height: var(--o-ui-scale-echo);
    box-shadow: 0 0 0 1px var(--o-ui-border-1);
    border-radius: var(--o-ui-rounded-border-radius);
    transition: all .125s ease-in;
    flex-shrink: 0;
    z-index: 2;
}

/* STATES | FOCUS | FOCUS RING */
.o-ui-checkbox-box:before {
    opacity: 0;
    content: "";
    top: calc(-1 * var(--o-ui-focus-ring-outset-outer-offset));
    left: calc(-1 * var(--o-ui-focus-ring-outset-outer-offset));
    right: calc(-1 * var(--o-ui-focus-ring-outset-outer-offset));
    bottom: calc(-1 * var(--o-ui-focus-ring-outset-outer-offset));
    display: block;
    position: absolute;
    box-shadow: 0 0 0 2px var(--o-ui-focus-ring-color);
    border-radius: var(--o-ui-rounded-border-radius);
    transition: var(--o-ui-focus-ring-transition);
}

.o-ui-checkbox-box:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--o-ui-scale-echo);
    height: var(--o-ui-scale-echo);
    mask: url("~@orbit-ui/icons/dist/icon-check-24.svg") center center no-repeat;
    mask-size: var(--o-ui-scale-echo) var(--o-ui-scale-echo);
    background-color: var(--o-ui-static-white);
    transform: translate(-50%, -50%) scale(0) rotate(2deg);
    transition: all .125s ease-in .125s;
    border-radius: var(--o-ui-rounded-border-radius);
}

.o-ui-checkbox-checked .o-ui-checkbox-box:after {
    mask: url("~@orbit-ui/icons/dist/icon-check-24.svg") center center no-repeat;
    transform: translate(-50%, -50%) scale(1) rotate(2deg);
}

/* BOX | INDETERMINATE */
.o-ui-checkbox-indeterminate .o-ui-checkbox-box:after {
    transform: translate(-50%, -50%) scale(0.33) rotate(2deg);
    mask: none;
    background-color: var(--o-ui-background-primary);
}

.o-ui-checkbox-indeterminate .o-ui-checkbox-box::after {
    transition: transform 0.125 ease-in 0.0625s;
}

/* BOX | INDETERMINATE | STATE | INVALID */
.o-ui-checkbox-invalid.o-ui-checkbox-indeterminate .o-ui-checkbox-box::after {
    background-color: var(--o-ui-background-danger);
}

/* CONTENT | LABEL */
.o-ui-checkbox-label {
    margin-left: var(--o-ui-scale-bravo);
    color: var(--o-ui-text-1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline;
}

/* CONTENT | LABEL | REVERSE */
.o-ui-checkbox-reverse .o-ui-checkbox-label {
    margin-right: var(--o-ui-scale-bravo);
    margin-left: 0;
}

/* CONTENT | ICON */
.o-ui-checkbox-icon {
    margin-left: var(--o-ui-scale-alpha);
}

/* CONTENT | ICON | REVERSE */
.o-ui-checkbox-reverse .o-ui-checkbox-icon {
    margin-left: 0;
    margin-right: var(--o-ui-scale-alpha);
}

/* REVERSE */
.o-ui-checkbox-reverse {
    flex-direction: row-reverse;
}

/* INVALID */
.o-ui-checkbox-invalid .o-ui-checkbox-label {
    color: var(--o-ui-text-danger);
}

.o-ui-checkbox-invalid .o-ui-checkbox-box {
    box-shadow: 0 0 0 1px var(--o-ui-border-danger);
}

.o-ui-checkbox-checked.o-ui-checkbox-invalid .o-ui-checkbox-box {
    background-color: var(--o-ui-background-danger);
    box-shadow: 0 0 0 1px var(--o-ui-border-danger);
}

.o-ui-checkbox.o-ui-checkbox-invalid:hover .o-ui-checkbox-box {
    box-shadow: 0 0 0 1px var(--o-ui-border-danger);
}

/* .o-ui-checkbox-indeterminate.o-ui-checkbox-invalid .o-ui-checkbox-box {
    background-color: var(--o-ui-background-danger);
} */

.o-ui-checkbox-invalid .o-ui-checkbox-box::before {
    --o-ui-focus-ring-color: var(--o-ui-border-danger);
}

/* STATE | CHECKED */
.o-ui-checkbox-checked .o-ui-checkbox-box {
    box-shadow: 0 0 0 1px var(--o-ui-border-primary);
    background-color: var(--o-ui-background-primary);
}

/* STATE | CHECKED | INDETERMINATE */
.o-ui-checkbox-checked.o-ui-checkbox-indeterminate .o-ui-checkbox-box {
    background-color: var(o-ui-foreground-1);
}

/* STATE | CHECKED | CHECKMARK */
.o-ui-checkbox-checked .o-ui-checkbox-box:before {
    transform: scale(1);
}

/* STATE | DISABLED */
.o-ui-checkbox-disabled,
.o-ui-checkbox[disabled] {
    opacity: var(--o-ui-disabled-opacity);
    cursor: not-allowed;
}

/* STATE | FOCUS */
.o-ui-checkbox input[type="checkbox"]:focus + .o-ui-checkbox-box::before,
.o-ui-checkbox.o-ui-checkbox-focus .o-ui-checkbox-box::before {
    opacity: 1;
}

/* STATE | HOVER */
.o-ui-checkbox:hover .o-ui-checkbox-box,
.o-ui-checkbox-hover .o-ui-checkbox-box {
    box-shadow: 0 0 0 1px var(--o-ui-border-1-hover);
}

/* STATE | HOVER | CHECKED */
.o-ui-checkbox-checked:hover .o-ui-checkbox-box,
.o-ui-checkbox-checked.o-ui-checkbox-hover .o-ui-checkbox-box {
    box-shadow: 0 0 0 1px var(--o-ui-border-primary);
}

/* STATE | HOVER | DISABLED | CHECKED */
.o-ui-checkbox-checked.o-ui-checkbox-disabled:hover .o-ui-checkbox-box,
.o-ui-checkbox-checked.o-ui-checkbox-disabled.o-ui-checkbox-hover .o-ui-checkbox-box {
    box-shadow: 0 0 0 1px var(--o-ui-border-primary);
}

/* STATE | HOVER | CHECKED | BOX */
.o-ui-checkbox-checked:hover .o-ui-checkbox-box:before,
.o-ui-checkbox-checked.o-ui-checkbox-hover .o-ui-checkbox-box:before {
    box-shadow: 0 0 0 1px var(--o-ui-border-primary);
}

/* STATE | HOVER | CHECKED | FOCUS | BOX */
.o-ui-checkbox-checked:hover input[type="checkbox"]:focus + .o-ui-checkbox-box:before,
.o-ui-checkbox-checked.o-ui-checkbox-hover input[type="checkbox"]:focus + .o-ui-checkbox-box:before,
.o-ui-checkbox-checked.o-ui-checkbox-focus:hover .o-ui-checkbox-box:before,
.o-ui-checkbox-checked.o-ui-checkbox-focus.o-ui-checkbox-hover .o-ui-checkbox-box:before {
    box-shadow: 0 0 0 2px var(--o-ui-border-primary);
}

/* STATE | HOVER | DISABLED */
.o-ui-checkbox-disabled:hover .o-ui-checkbox-box,
.o-ui-checkbox-disabled.o-ui-checkbox-hover .o-ui-checkbox-box,
.o-ui-checkbox:disabled:hover .o-ui-checkbox-box,
.o-ui-checkbox:disabled.o-ui-checkbox-hover .o-ui-checkbox-box {
    box-shadow: 0 0 0 1px var(--o-ui-border-1);
}

/* STATE | HOVER | DISABLED | BOX */
.o-ui-checkbox-disabled:hover .o-ui-checkbox-box:before,
.o-ui-checkbox-disabled.o-ui-checkbox-hover .o-ui-checkbox-box:before,
.o-ui-checkbox:disabled:hover .o-ui-checkbox-box:before,
.o-ui-checkbox:disabled.o-ui-checkbox-hover .o-ui-checkbox-box:before {
    border: 1px solid var(--o-ui-border-1);
}

/* STATE | HOVER | DISABLED | CHECKED */
.o-ui.checkbox.o-ui-checkbox-disabled.o-ui-checkbox-checked:hover .o-ui-checkbox-box,
.o-ui.checkbox.o-ui-checkbox-disabled.o-ui-checkbox-checked.hover .o-ui-checkbox-box,
.o-ui.checkbox:disabled.checked:hover .o-ui-checkbox-box,
.o-ui.checkbox:disabled.checked.hover .o-ui-checkbox-box {
    border: 1px solid var(--o-ui-border-primary);
}

/* STATE | HOVER | DISABLED | BOX */
.o-ui.checkbox.o-ui-checkbox-disabled.o-ui-checkbox-checked:hover .o-ui-checkbox-box:before,
.o-ui.checkbox.o-ui-checkbox-disabled.o-ui-checkbox-checked.hover .o-ui-checkbox-box:before,
.o-ui.checkbox:disabled.checked:hover .o-ui-checkbox-box:before,
.o-ui.checkbox:disabled.checked.hover .o-ui-checkbox-box:before {
    border: 1px solid var(--o-ui-border-primary);
}

/* SIZING */
/* SIZING | SMALL */
/* SIZING | SMALL | LABEL */
.o-ui-checkbox-sm .o-ui-checkbox-box {
    width: var(--o-ui-scale-delta);
    height: var(--o-ui-scale-delta);
}

.o-ui-checkbox-sm input {
    width: calc(var(--o-ui-scale-delta) + (var(--o-ui-focus-ring-stroke-width) * 2) * 2);
    height: calc(var(--o-ui-scale-delta) + (var(--o-ui-focus-ring-stroke-width) * 2) * 2);
}

.o-ui-checkbox-sm .o-ui-checkbox-box:before {
    width: calc(var(--o-ui-scale-delta) + (var(--o-ui-focus-ring-stroke-width) * 2));
    height: calc(var(--o-ui-scale-delta) + (var(--o-ui-focus-ring-stroke-width) * 2));
}

/* SIZING | SMALL | BOX | CHECKED */
.o-ui-checkbox-checked.o-ui-checkbox-sm .o-ui-checkbox-box:after {
    width: var(--o-ui-scale-delta);
    height: var(--o-ui-scale-delta);
    mask-size: var(--o-ui-scale-delta) var(--o-ui-scale-delta);
}

/* SIZING | MEDIUM */
.o-ui-checkbox-md .o-ui-checkbox-box:before {
    width: calc(var(--o-ui-scale-echo) + (var(--o-ui-focus-ring-stroke-width) * 2));
    height: calc(var(--o-ui-scale-echo) + (var(--o-ui-focus-ring-stroke-width) * 2));
}

/* IN FIELD */
.o-ui-checkbox-as-field {
    margin-top: var(--o-ui-scale-alpha);
    margin-bottom: var(--o-ui-scale-alpha);
}
