.o-ui.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    line-height: 1;
}

.o-ui.checkbox .box {
    position: relative;
    display: inline-block;
    width: var(--scale-echo);
    height: var(--scale-echo);
    border: 1px solid var(--marine-100);
    border-radius: var(--scale-alpha);
    transition: all .125s ease-in;
}

.o-ui.checkbox .label {
    margin-left: var(--scale-bravo);
}

/* INDETERMINATE */
.o-ui.checkbox.indeterminate .box::before {
    content: "";
    display: block;
    background-color: var(--primary-500);
    border-radius: 0.25rem;
    position: absolute;
    width: var(--scale-echo);
    height: var(--scale-echo);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .125s ease-in;
}

/* INDETERMINATE | CHECKED */
.o-ui.checkbox.indeterminate.checked .box {
    background: var(--white);
}

.o-ui.checkbox.indeterminate.checked .box::before {
    transform: translate(-50%, -50%) scale(1);
}

/* READ ONLY */
.o-ui.checkbox[readonly] {
    cursor: default;
}

/* REVERSE */
.o-ui.checkbox.reverse {
    flex-direction: row-reverse;
}

/* STATE | CHECKED */
.o-ui.checkbox.checked .box {
    background-color: var(--primary-500);
}

.o-ui.checkbox.checked .box:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--scale-echo);
    height: var(--scale-echo);
    mask: url("~@orbit-ui/icons/dist/icon-check-24.svg") center center no-repeat;
    mask-size: var(--scale-echo) var(--scale-echo);
    background-color: var(--white);
}

/* STATE | DISABLED */
.o-ui.checkbox.disabled ,
.o-ui.checkbox[disabled] {
    color: var(--cloud-200);
    cursor: default;
}

.o-ui.checkbox.disabled .box,
.o-ui.checkbox[disabled] .box {
    background-color: var(--cloud-50);
    border: 1px solid var(--cloud-200);
}

/* STATE | FOCUS */
.o-ui.checkbox input[type="checkbox"]:focus + .box {
    box-shadow: 0 0 0 2px var(--primary-200);
}
