.o-ui-image {
    opacity: var(--o-ui-image-alias-opacity);
}

/* SHAPE | ROUNDED */
.o-ui-image-rounded {
    border-radius: var(--o-ui-br-rounded);
}

/* SHAPE | CIRCULAR */
.o-ui-image-circular {
    border-radius: var(--o-ui-br-circular);
}
