.o-ui-image {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/* SHAPE | ROUNDED */
.o-ui-image-rounded {
    border-radius: var(--o-ui-br-alias-sm);
}

/* SHAPE | CIRCULAR */
.o-ui-image-circular {
    border-radius: var(--o-ui-br-alias-circular);
}

/* COLOR SCHEME */
.o-ui-dark .o-ui-image {
    opacity: 0.75;
}
