/* SHAPE | ROUNDED */
.o-ui-image-rounded {
    border-radius: var(--o-ui-shape-rounded);
}

/* SHAPE | CIRCULAR */
.o-ui-image-circular {
    border-radius: var(--o-ui-shape-circular);
}

/* DARK MODE */
.o-ui-dark-color-scheme .o-ui-image {
    opacity: 0.75;
}
