html,
body {
    font-family: "Calibre", Arial, Helvetica, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    /* This is the default browser font-size, it's set here to make it easier to understand */
    font-size: 16px;
}
