:root {
    --o-ui-focus-ring-thickness-sm: 1px;
    --o-ui-focus-ring-thickness-md: 2px;
    --o-ui-focus-ring-thickness-lg: 4px;
    --o-ui-focus-ring-inset-sm: 0 0 0 var(--o-ui-focus-ring-thickness-sm) var(--o-ui-focus-ring-color);
    --o-ui-focus-ring-inset-md: 0 0 0 var(--o-ui-focus-ring-thickness-md) var(--o-ui-focus-ring-color);
    --o-ui-focus-ring-inset-lg: 0 0 0 var(--o-ui-focus-ring-thickness-lg) var(--o-ui-focus-ring-color);
    --o-ui-focus-ring: 0 0 0 2px var(--o-ui-white), 0 0 0 calc(2px + var(--o-ui-focus-ring-thickness-md)) var(--o-ui-focus-ring-color);
    --o-ui-focus-ring-outset-outer-offset: 2px;
    --o-ui-focus-ring-outset-inner-offset: 1px;
    --o-ui-focus-ring-transition: all .2s ease-in;
    --o-ui-focus-ring-color: var(--o-ui-border-primary-1);
    --o-ui-disabled-opacity: 0.4;
    --o-ui-pill-border-radius: 999px;
    --o-ui-circular-border-radius: 100%;
    --o-ui-rounded-border-radius: var(--o-ui-scale-alpha);
}

/* DARK */
/* FOCUS */
html .o-ui-dark-color-scheme * {
    --o-ui-focus-ring-color: var(--o-ui-primary-800);
}

/* ROTATE */
.o-ui-rotate-90 {
    transform: rotate(90deg);
}

.o-ui-rotate-180 {
    transform: rotate(180deg);
}

.o-ui-rotate-270 {
    transform: rotate(270deg);
}

/* ANIMATIONS | FADE */
.o-ui-fade-in {
    animation: o-ui-fade-in-animation .2s;
}

.o-ui-fade-out {
    animation: o-ui-fade-out-animation .2s;
}

@keyframes o-ui-fade-in-animation {
    0% {
        opacity: 0;
    }0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes o-ui-fade-out-animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* ANIMATIONS | SLIDE */
/* Must be a transition on height otherwise it won't work. */
.o-ui-slide-down {
    transition: all .2s linear;
}

.o-ui-slide-up {
    transition: all .2s linear;
}
