[class^="o-ui-"] {
    --o-ui-focus-ring-inset-sm: 0 0 0 1px var(--o-ui-focus-ring-color);
    --o-ui-focus-ring-inset-md: 0 0 0 2px var(--o-ui-focus-ring-color);
    --o-ui-focus-ring-inset-lg: 0 0 0 4px var(--o-ui-focus-ring-color);
    --o-ui-focus-ring: 0 0 0 2px var(--white), 0 0 0 4px var(--o-ui-focus-ring-color);
    --o-ui-focus-ring-outset-outer-offset: 2px;
    --o-ui-focus-ring-outset-inner-offset: 1px;
    --o-ui-focus-ring-transition: all .2s ease-in;
    --o-ui-focus-ring-color: var(--primary-500);
    --o-ui-disabled-opacity: 0.4;
    --o-ui-pill-border-radius: 999px;
    --o-ui-circular-border-radius: 100%;
    --o-ui-rounded-border-radius: var(--scale-alpha);
}

/* ROTATE */
.o-ui-rotate-90 {
    transform: rotate(90deg);
}

.o-ui-rotate-180 {
    transform: rotate(180deg);
}

.o-ui-rotate-270 {
    transform: rotate(270deg);
}

/* ANIMATIONS | FADE */
.o-ui-fade-in {
    animation: o-ui-fade-in-animation .3s;
}

.o-ui-fade-out {
    animation: o-ui-fade-out-animation .3s;
}

@keyframes o-ui-fade-in-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes o-ui-fade-out-animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* ANIMATIONS | SLIDE */
.o-ui-slide-down {
    transition: height 0.3s ease-out;
}

.o-ui-slide-up {
    transition: height 0.3s ease-out;
}
