:root {
    --o-ui-disabled-opacity: 0.4;
    --o-ui-pill-border-radius: 999px;
    --o-ui-rounded-border-radius: var(--scale-alpha);
    --o-ui-circular-border-radius: 100%;
}

[class^="o-ui-"] {
    --o-ui-focus-ring-inset-sm: 0 0 0 1px var(--o-ui-focus-ring-color);
    --o-ui-focus-ring-inset-md: 0 0 0 2px var(--o-ui-focus-ring-color);
    --o-ui-focus-ring: 0 0 0 2px var(--white), 0 0 0 4px var(--o-ui-focus-ring-color);
    --o-ui-focus-ring-color: var(--primary-500);
}

/* ROTATE */
.o-ui-rotate-90 {
    transform: rotate(90deg);
}

.o-ui-rotate-180 {
    transform: rotate(180deg);
}

.o-ui-rotate-315 {
    transform: rotate(315deg);
}
