.bg-marine-50 {
    background-color: var(--marine-50);
}

.bg-marine-100 {
    background-color: var(--marine-100);
}

.bg-marine-200 {
    background-color: var(--marine-200);
}

.bg-marine-300 {
    background-color: var(--marine-300);
}

.bg-marine-400 {
    background-color: var(--marine-400);
}

.bg-marine-500 {
    background-color: var(--marine-500);
}

.bg-marine-600 {
    background-color: var(--marine-600);
}

.bg-marine-700 {
    background-color: var(--marine-700);
}

.bg-marine-800 {
    background-color: var(--marine-800);
}

.bg-marine-900 {
    background-color: var(--marine-900);
}

.hover-bg-marine-50:hover,
.hover-bg-marine-50:focus {
    background-color: var(--marine-50);
}

.hover-bg-marine-100:hover,
.hover-bg-marine-100:focus {
    background-color: var(--marine-100);
}

.hover-bg-marine-200:hover,
.hover-bg-marine-200:focus {
    background-color: var(--marine-200);
}

.hover-bg-marine-300:hover,
.hover-bg-marine-300:focus {
    background-color: var(--marine-300);
}

.hover-bg-marine-400:hover,
.hover-bg-marine-400:focus {
    background-color: var(--marine-400);
}

.hover-bg-marine-500:hover,
.hover-bg-marine-500:focus {
    background-color: var(--marine-500);
}

.hover-bg-marine-600:hover,
.hover-bg-marine-600:focus {
    background-color: var(--marine-600);
}

.hover-bg-marine-700:hover,
.hover-bg-marine-700:focus {
    background-color: var(--marine-700);
}

.hover-bg-marine-800:hover,
.hover-bg-marine-800:focus {
    background-color: var(--marine-800);
}

.hover-bg-marine-900:hover,
.hover-bg-marine-900:focus {
    background-color: var(--marine-900);
}
