.bg-marine-50 {
    background-color: var(--o-ui-global-marine-50);
}

.bg-marine-100 {
    background-color: var(--o-ui-global-marine-100);
}

.bg-marine-200 {
    background-color: var(--o-ui-global-marine-200);
}

.bg-marine-300 {
    background-color: var(--o-ui-global-marine-300);
}

.bg-marine-400 {
    background-color: var(--o-ui-global-marine-400);
}

.bg-marine-500 {
    background-color: var(--o-ui-global-marine-500);
}

.bg-marine-600 {
    background-color: var(--o-ui-global-marine-600);
}

.bg-marine-700 {
    background-color: var(--o-ui-global-marine-700);
}

.bg-marine-800 {
    background-color: var(--o-ui-global-marine-800);
}

.bg-marine-900 {
    background-color: var(--o-ui-global-marine-900);
}

.hover-bg-marine-50:hover {
    background-color: var(--o-ui-global-marine-50);
}

.hover-bg-marine-100:hover {
    background-color: var(--o-ui-global-marine-100);
}

.hover-bg-marine-200:hover {
    background-color: var(--o-ui-global-marine-200);
}

.hover-bg-marine-300:hover {
    background-color: var(--o-ui-global-marine-300);
}

.hover-bg-marine-400:hover {
    background-color: var(--o-ui-global-marine-400);
}

.hover-bg-marine-500:hover {
    background-color: var(--o-ui-global-marine-500);
}

.hover-bg-marine-600:hover {
    background-color: var(--o-ui-global-marine-600);
}

.hover-bg-marine-700:hover {
    background-color: var(--o-ui-global-marine-700);
}

.hover-bg-marine-800:hover {
    background-color: var(--o-ui-global-marine-800);
}

.hover-bg-marine-900:hover {
    background-color: var(--o-ui-global-marine-900);
}

.focus-bg-marine-50:focus {
    background-color: var(--o-ui-global-marine-50);
}

.focus-bg-marine-100:focus {
    background-color: var(--o-ui-global-marine-100);
}

.focus-bg-marine-200:focus {
    background-color: var(--o-ui-global-marine-200);
}

.focus-bg-marine-300:focus {
    background-color: var(--o-ui-global-marine-300);
}

.focus-bg-marine-400:focus {
    background-color: var(--o-ui-global-marine-400);
}

.focus-bg-marine-500:focus {
    background-color: var(--o-ui-global-marine-500);
}

.focus-bg-marine-600:focus {
    background-color: var(--o-ui-global-marine-600);
}

.focus-bg-marine-700:focus {
    background-color: var(--o-ui-global-marine-700);
}

.focus-bg-marine-800:focus {
    background-color: var(--o-ui-global-marine-800);
}

.focus-bg-marine-900:focus {
    background-color: var(--o-ui-global-marine-900);
}
