.b--marine-50 {
    border-color: var(--o-ui-marine-50);
}

.b--marine-100 {
    border-color: var(--o-ui-marine-100);
}

.b--marine-200 {
    border-color: var(--o-ui-marine-200);
}

.b--marine-300 {
    border-color: var(--o-ui-marine-300);
}

.b--marine-400 {
    border-color: var(--o-ui-marine-400);
}

.b--marine-500 {
    border-color: var(--o-ui-marine-500);
}

.b--marine-600 {
    border-color: var(--o-ui-marine-600);
}

.b--marine-700 {
    border-color: var(--o-ui-marine-700);
}

.b--marine-800 {
    border-color: var(--o-ui-marine-800);
}

.b--marine-900 {
    border-color: var(--o-ui-marine-900);
}

.hover-b--marine-50:hover {
    border-color: var(--o-ui-marine-50);
}

.hover-b--marine-100:hover {
    border-color: var(--o-ui-marine-100);
}

.hover-b--marine-200:hover {
    border-color: var(--o-ui-marine-200);
}

.hover-b--marine-300:hover {
    border-color: var(--o-ui-marine-300);
}

.hover-b--marine-400:hover {
    border-color: var(--o-ui-marine-400);
}

.hover-b--marine-500:hover {
    border-color: var(--o-ui-marine-500);
}

.hover-b--marine-600:hover {
    border-color: var(--o-ui-marine-600);
}

.hover-b--marine-700:hover {
    border-color: var(--o-ui-marine-700);
}

.hover-b--marine-800:hover {
    border-color: var(--o-ui-marine-800);
}

.hover-b--marine-900:hover {
    border-color: var(--o-ui-marine-900);
}

.focus-b--marine-50:focus {
    border-color: var(--o-ui-marine-50);
}

.focus-b--marine-100:focus {
    border-color: var(--o-ui-marine-100);
}

.focus-b--marine-200:focus {
    border-color: var(--o-ui-marine-200);
}

.focus-b--marine-300:focus {
    border-color: var(--o-ui-marine-300);
}

.focus-b--marine-400:focus {
    border-color: var(--o-ui-marine-400);
}

.focus-b--marine-500:focus {
    border-color: var(--o-ui-marine-500);
}

.focus-b--marine-600:focus {
    border-color: var(--o-ui-marine-600);
}

.focus-b--marine-700:focus {
    border-color: var(--o-ui-marine-700);
}

.focus-b--marine-800:focus {
    border-color: var(--o-ui-marine-800);
}

.focus-b--marine-900:focus {
    border-color: var(--o-ui-marine-900);
}
