.stroke-marine-1 {
    stroke: var(--o-ui-marine-1);
}

.stroke-marine-2 {
    stroke: var(--o-ui-marine-2);
}

.stroke-marine-3 {
    stroke: var(--o-ui-marine-3);
}

.stroke-marine-4 {
    stroke: var(--o-ui-marine-4);
}

.stroke-marine-5 {
    stroke: var(--o-ui-marine-5);
}

.stroke-marine-6 {
    stroke: var(--o-ui-marine-6);
}

.stroke-marine-7 {
    stroke: var(--o-ui-marine-7);
}

.stroke-marine-8 {
    stroke: var(--o-ui-marine-8);
}

.stroke-marine-9 {
    stroke: var(--o-ui-marine-9);
}

.stroke-marine-10 {
    stroke: var(--o-ui-marine-10);
}

.hover-stroke-marine-1:hover {
    stroke: var(--o-ui-marine-1);
}

.hover-stroke-marine-2:hover {
    stroke: var(--o-ui-marine-2);
}

.hover-stroke-marine-3:hover {
    stroke: var(--o-ui-marine-3);
}

.hover-stroke-marine-4:hover {
    stroke: var(--o-ui-marine-4);
}

.hover-stroke-marine-5:hover {
    stroke: var(--o-ui-marine-5);
}

.hover-stroke-marine-6:hover {
    stroke: var(--o-ui-marine-6);
}

.hover-stroke-marine-7:hover {
    stroke: var(--o-ui-marine-7);
}

.hover-stroke-marine-8:hover {
    stroke: var(--o-ui-marine-8);
}

.hover-stroke-marine-9:hover {
    stroke: var(--o-ui-marine-9);
}

.hover-stroke-marine-10:hover {
    stroke: var(--o-ui-marine-10);
}

.focus-stroke-marine-1:focus {
    stroke: var(--o-ui-marine-1);
}

.focus-stroke-marine-2:focus {
    stroke: var(--o-ui-marine-2);
}

.focus-stroke-marine-3:focus {
    stroke: var(--o-ui-marine-3);
}

.focus-stroke-marine-4:focus {
    stroke: var(--o-ui-marine-4);
}

.focus-stroke-marine-5:focus {
    stroke: var(--o-ui-marine-5);
}

.focus-stroke-marine-6:focus {
    stroke: var(--o-ui-marine-6);
}

.focus-stroke-marine-7:focus {
    stroke: var(--o-ui-marine-7);
}

.focus-stroke-marine-8:focus {
    stroke: var(--o-ui-marine-8);
}

.focus-stroke-marine-9:focus {
    stroke: var(--o-ui-marine-9);
}

.focus-stroke-marine-10:focus {
    stroke: var(--o-ui-marine-10);
}
