.marine-1 {
    color: var(--o-ui-marine-1);
}

.marine-2 {
    color: var(--o-ui-marine-2);
}

.marine-3 {
    color: var(--o-ui-marine-3);
}

.marine-4 {
    color: var(--o-ui-marine-4);
}

.marine-5 {
    color: var(--o-ui-marine-5);
}

.marine-6 {
    color: var(--o-ui-marine-6);
}

.marine-7 {
    color: var(--o-ui-marine-7);
}

.marine-8 {
    color: var(--o-ui-marine-8);
}

.marine-9 {
    color: var(--o-ui-marine-9);
}

.marine-10 {
    color: var(--o-ui-marine-10);
}

.hover-marine-1:hover {
    color: var(--o-ui-marine-1);
}

.hover-marine-2:hover {
    color: var(--o-ui-marine-2);
}

.hover-marine-3:hover {
    color: var(--o-ui-marine-3);
}

.hover-marine-4:hover {
    color: var(--o-ui-marine-4);
}

.hover-marine-5:hover {
    color: var(--o-ui-marine-5);
}

.hover-marine-6:hover {
    color: var(--o-ui-marine-6);
}

.hover-marine-7:hover {
    color: var(--o-ui-marine-7);
}

.hover-marine-8:hover {
    color: var(--o-ui-marine-8);
}

.hover-marine-9:hover {
    color: var(--o-ui-marine-9);
}

.hover-marine-10:hover {
    color: var(--o-ui-marine-10);
}

.focus-marine-1:focus {
    color: var(--o-ui-marine-1);
}

.focus-marine-2:focus {
    color: var(--o-ui-marine-2);
}

.focus-marine-3:focus {
    color: var(--o-ui-marine-3);
}

.focus-marine-4:focus {
    color: var(--o-ui-marine-4);
}

.focus-marine-5:focus {
    color: var(--o-ui-marine-5);
}

.focus-marine-6:focus {
    color: var(--o-ui-marine-6);
}

.focus-marine-7:focus {
    color: var(--o-ui-marine-7);
}

.focus-marine-8:focus {
    color: var(--o-ui-marine-8);
}

.focus-marine-9:focus {
    color: var(--o-ui-marine-9);
}

.focus-marine-10:focus {
    color: var(--o-ui-marine-10);
}
