.o-ui-link {
    display: inline-block;
    line-height: 1;
    border: none;
    background-color: var(--transparent);
    color: var(--marine-900);
    padding: 0;
}

/* STATES */
/* STATE | HOVER */
.o-ui-link:hover,
.o-ui-link-hover {
    color: var(--marine-700);
}

/* STATE | HOVER | DISABLED */
.o-ui-link[disabled]:hover,
.o-ui-link-hover[disabled] {
    color: var(--marine-900);
}

/* STATE | FOCUS */
.o-ui-link:focus,
.o-ui-link-focus {
    outline: none;
    border-radius: var(--scale-alpha);
    box-shadow: var(--o-ui-focus-ring);
}

/* STATE | ACTIVE */
.o-ui-link:active,
.o-ui-link-active {
    color: var(--marine-900);
}

/* STATE | ACTIVE | FOCUS */
.o-ui-link:active.o-ui-link:focus,
.o-ui-link-active.o-ui-link-focus,
.o-ui-link-active.o-ui-link:focus,
.o-ui-link:active.o-ui-link-focus {
    background-color: var(--transparent);
    box-shadow: none;
}

/* STATE | DISABLED */
.o-ui-link[disabled] {
    opacity: var(--o-ui-disabled-opacity);
}

/* STATE | DISABLED | HOVER */
.o-ui-link[disabled]:hover,
.o-ui-link[disabled].o-ui-link-hover {
    cursor: not-allowed;
}

/* STATE | DISABLED | FOCUS */
.o-ui-link[disabled]:focus,
.o-ui-link[disabled].o-ui-link-focus {
    background-color: transparent;
    box-shadow: none;
}

/* TEXT */
.o-ui-text-link {
    display: inline-grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto max-content;
    grid-template-areas: "text icon";
}

.o-ui-link-text {
    grid-area: text;
}

/* TEXT | ICON AFTER TEXT */
.o-ui-link-text + .o-ui-link-icon {
    margin-left: 0.125rem;
}

/* TEXT | STATES */
/* TEXT | STATE | FOCUS */
.o-ui-text-link:focus,
.o-ui-link-focus.o-ui-text-link {
    outline: none;
    border-radius: var(--scale-alpha);
    background-color: var(--primary-50);
    box-shadow: 0 0 0 2px var(--primary-50);
}

/* TEXT | STATE | HOVER */
.o-ui-link:hover .o-ui-link-text,
.o-ui-link-hover .o-ui-link-text {
    text-decoration: underline;
    text-decoration-color: currentColor;
}

/* TEXT | STATE | FOCUS */
.o-ui-link:focus .o-ui-link-text,
.o-ui-link-focus .o-ui-link-text {
    text-decoration: underline;
    text-decoration-style: solid;
}

/* TEXT | STATE | DISABLED | HOVER */
.o-ui-link[disabled]:hover .o-ui-link-text,
.o-ui-link[disabled].o-ui-link-hover .o-ui-link-text {
    text-decoration: none;
}

/* TEXT | STATE | ACTIVE | FOCUS */
.o-ui-link:active.o-ui-link:focus .o-ui-link-text,
.o-ui-link-active.o-ui-link-focus .o-ui-link-text,
.o-ui-link-active.o-ui-link:focus .o-ui-link-text,
.o-ui-link:active.o-ui-link-focus .o-ui-link-text {
    text-decoration: underline;
}

/* TEXT | VARIATIONS */
/* TEXT | VARIATIONS | UNDERLINE | DOTTED */
.o-ui-link-dotted .o-ui-link-text {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: currentColor;
}

/* TEXT | VARIATIONS | UNDERLINE | SOLID */
.o-ui-link-solid .o-ui-link-text {
    text-decoration: underline;
    text-decoration-style: solid;
}

/* ICON LINK */
.o-ui-text-link .o-ui-link-icon {
    grid-area: icon;
}

/* ICON LINK | STATES */
.o-ui-icon-link:focus {
    outline: none;
    border-radius: var(--scale-alpha);
    background-color: var(--primary-50);
    box-shadow: 0 0 0 2px var(--primary-50);
}

/* VARIATIONS */
/* PRIMARY */
.o-ui-link-primary {
    color: var(--primary-500);
}

/* PRIMARY | STATE | HOVER */
.o-ui-link:hover.o-ui-link-primary,
.o-ui-link-hover.o-ui-link-primary {
    color: var(--primary-700);
}

/* PRIMARY | STATE | FOCUS */
.o-ui-link:focus.o-ui-link-primary,
.o-ui-link-focus.o-ui-link-primary {
    background-color: var(--primary-50);
    box-shadow: 0 0 0 2px var(--primary-50);
}

/* PRIMARY | STATE | ACTIVE */
.o-ui-link:active.o-ui-link-primary,
.o-ui-link-active.o-ui-link-primary {
    color: var(--primary-900);
}

/* DANGER */
.o-ui-link-danger {
    color: var(--alert-500);
}

/* DANGER | STATE | HOVER */
.o-ui-link:hover.o-ui-link-danger,
.o-ui-link-hover.o-ui-link-danger {
    color: var(--alert-700);
}

/* DANGER | STATE | FOCUS */
.o-ui-link:focus.o-ui-link-danger,
.o-ui-link-focus.o-ui-link-danger {
    background-color: var(--alert-50);
    box-shadow: 0 0 0 2px var(--alert-50);
}

/* DANGER | STATE | ACTIVE */
.o-ui-link:active.o-ui-link-danger,
.o-ui-link-active.o-ui-link-danger {
    color: var(--alert-900);
}

/* SECONDARY */
.o-ui-link-secondary {
    color: var(--cloud-500);
}

/* SECONDARY | STATE | HOVER */
.o-ui-link:hover.o-ui-link-secondary,
.o-ui-link-hover.o-ui-link-secondary {
    color: var(--cloud-700);
}

/* SECONDARY | STATE | FOCUS */
.o-ui-link:focus.o-ui-link-secondary,
.o-ui-link-focus.o-ui-link-secondary {
    background-color: var(--cloud-50);
    box-shadow: 0 0 0 2px var(--cloud-50);
}

/* SECONDARY | STATE | ACTIVE */
.o-ui-link:active.o-ui-link-secondary,
.o-ui-link-active.o-ui-link-secondary {
    color: var(--cloud-900);
}

/* AS BUTTON */
button.o-ui-link {
    text-align: left;
}

/* AS BUTTON | HOVER */
button.o-ui-link:hover,
button.o-ui-link-hover {
    cursor: pointer;
}

/* FLUID */
.o-ui-link-fluid {
    width: 100%;
}

/* INHERIT */
.o-ui-link-inherit {
    color: inherit;
}
