/* FLEX */
.o-ui-flex {
    --o-ui-gap: normal;
    display: flex;
    gap: var(--o-ui-gap);
}

/* FLEX | INLINE */
.o-ui-flex-inline {
    display: inline-flex;
}

/* FLEX | NO GAP | ROW */
.o-ui-flex-no-gap.o-ui-flex-row > *:not(:last-child) {
    margin-right: var(--o-ui-gap);
}

.o-ui-flex-no-gap.o-ui-flex-row.o-ui-flex-reverse > *:not(:last-child) {
    margin-left: var(--o-ui-gap);
}

/* FLEX | NO GAP | COLUMN */
.o-ui-flex-no-gap.o-ui-flex-column > *:not(:last-child) {
    margin-bottom: var(--o-ui-gap);
}

.o-ui-flex-no-gap.o-ui-flex-column.o-ui-flex-reverse > *:not(:last-child) {
    margin-top: var(--o-ui-gap);
}

/* FLEX | FLUID */
.o-ui-flex-fluid.o-ui-flex-row {
    width: 100%;
}

.o-ui-flex-fluid.o-ui-flex-column {
    height: 100%;
}

/* FLEX | ITEM */
.o-ui-flex-item {
    width: 100%;
    height: 100%;
}
