.bg-neutral-1 {
    background-color: var(--o-ui-neutral-1);
}

.bg-neutral-2 {
    background-color: var(--o-ui-neutral-2);
}

.bg-neutral-3 {
    background-color: var(--o-ui-neutral-3);
}

.bg-neutral-4 {
    background-color: var(--o-ui-neutral-4);
}

.bg-neutral-5 {
    background-color: var(--o-ui-neutral-5);
}

.bg-neutral-6 {
    background-color: var(--o-ui-neutral-6);
}

.bg-neutral-7 {
    background-color: var(--o-ui-neutral-7);
}

.bg-neutral-8 {
    background-color: var(--o-ui-neutral-8);
}

.bg-neutral-9 {
    background-color: var(--o-ui-neutral-9);
}

.bg-neutral-10 {
    background-color: var(--o-ui-neutral-10);
}

.hover-bg-neutral-1:hover {
    background-color: var(--o-ui-neutral-1);
}

.hover-bg-neutral-2:hover {
    background-color: var(--o-ui-neutral-2);
}

.hover-bg-neutral-3:hover {
    background-color: var(--o-ui-neutral-3);
}

.hover-bg-neutral-4:hover {
    background-color: var(--o-ui-neutral-4);
}

.hover-bg-neutral-5:hover {
    background-color: var(--o-ui-neutral-5);
}

.hover-bg-neutral-6:hover {
    background-color: var(--o-ui-neutral-6);
}

.hover-bg-neutral-7:hover {
    background-color: var(--o-ui-neutral-7);
}

.hover-bg-neutral-8:hover {
    background-color: var(--o-ui-neutral-8);
}

.hover-bg-neutral-9:hover {
    background-color: var(--o-ui-neutral-9);
}

.hover-bg-neutral-10:hover {
    background-color: var(--o-ui-neutral-10);
}

.focus-bg-neutral-1:focus {
    background-color: var(--o-ui-neutral-1);
}

.focus-bg-neutral-2:focus {
    background-color: var(--o-ui-neutral-2);
}

.focus-bg-neutral-3:focus {
    background-color: var(--o-ui-neutral-3);
}

.focus-bg-neutral-4:focus {
    background-color: var(--o-ui-neutral-4);
}

.focus-bg-neutral-5:focus {
    background-color: var(--o-ui-neutral-5);
}

.focus-bg-neutral-6:focus {
    background-color: var(--o-ui-neutral-6);
}

.focus-bg-neutral-7:focus {
    background-color: var(--o-ui-neutral-7);
}

.focus-bg-neutral-8:focus {
    background-color: var(--o-ui-neutral-8);
}

.focus-bg-neutral-9:focus {
    background-color: var(--o-ui-neutral-9);
}

.focus-bg-neutral-10:focus {
    background-color: var(--o-ui-neutral-10);
}
