.b--neutral-1 {
    border-color: var(--o-ui-neutral-1);
}

.b--neutral-2 {
    border-color: var(--o-ui-neutral-2);
}

.b--neutral-3 {
    border-color: var(--o-ui-neutral-3);
}

.b--neutral-4 {
    border-color: var(--o-ui-neutral-4);
}

.b--neutral-5 {
    border-color: var(--o-ui-neutral-5);
}

.b--neutral-6 {
    border-color: var(--o-ui-neutral-6);
}

.b--neutral-7 {
    border-color: var(--o-ui-neutral-7);
}

.b--neutral-8 {
    border-color: var(--o-ui-neutral-8);
}

.b--neutral-9 {
    border-color: var(--o-ui-neutral-9);
}

.b--neutral-10 {
    border-color: var(--o-ui-neutral-10);
}

.hover-b--neutral-1:hover {
    border-color: var(--o-ui-neutral-1);
}

.hover-b--neutral-2:hover {
    border-color: var(--o-ui-neutral-2);
}

.hover-b--neutral-3:hover {
    border-color: var(--o-ui-neutral-3);
}

.hover-b--neutral-4:hover {
    border-color: var(--o-ui-neutral-4);
}

.hover-b--neutral-5:hover {
    border-color: var(--o-ui-neutral-5);
}

.hover-b--neutral-6:hover {
    border-color: var(--o-ui-neutral-6);
}

.hover-b--neutral-7:hover {
    border-color: var(--o-ui-neutral-7);
}

.hover-b--neutral-8:hover {
    border-color: var(--o-ui-neutral-8);
}

.hover-b--neutral-9:hover {
    border-color: var(--o-ui-neutral-9);
}

.hover-b--neutral-10:hover {
    border-color: var(--o-ui-neutral-10);
}

.focus-b--neutral-1:focus {
    border-color: var(--o-ui-neutral-1);
}

.focus-b--neutral-2:focus {
    border-color: var(--o-ui-neutral-2);
}

.focus-b--neutral-3:focus {
    border-color: var(--o-ui-neutral-3);
}

.focus-b--neutral-4:focus {
    border-color: var(--o-ui-neutral-4);
}

.focus-b--neutral-5:focus {
    border-color: var(--o-ui-neutral-5);
}

.focus-b--neutral-6:focus {
    border-color: var(--o-ui-neutral-6);
}

.focus-b--neutral-7:focus {
    border-color: var(--o-ui-neutral-7);
}

.focus-b--neutral-8:focus {
    border-color: var(--o-ui-neutral-8);
}

.focus-b--neutral-9:focus {
    border-color: var(--o-ui-neutral-9);
}

.focus-b--neutral-10:focus {
    border-color: var(--o-ui-neutral-10);
}
