.stroke-neutral-1 {
    stroke: var(--o-ui-neutral-1);
}

.stroke-neutral-2 {
    stroke: var(--o-ui-neutral-2);
}

.stroke-neutral-3 {
    stroke: var(--o-ui-neutral-3);
}

.stroke-neutral-4 {
    stroke: var(--o-ui-neutral-4);
}

.stroke-neutral-5 {
    stroke: var(--o-ui-neutral-5);
}

.stroke-neutral-6 {
    stroke: var(--o-ui-neutral-6);
}

.stroke-neutral-7 {
    stroke: var(--o-ui-neutral-7);
}

.stroke-neutral-8 {
    stroke: var(--o-ui-neutral-8);
}

.stroke-neutral-9 {
    stroke: var(--o-ui-neutral-9);
}

.stroke-neutral-10 {
    stroke: var(--o-ui-neutral-10);
}

.hover-stroke-neutral-1:hover {
    stroke: var(--o-ui-neutral-1);
}

.hover-stroke-neutral-2:hover {
    stroke: var(--o-ui-neutral-2);
}

.hover-stroke-neutral-3:hover {
    stroke: var(--o-ui-neutral-3);
}

.hover-stroke-neutral-4:hover {
    stroke: var(--o-ui-neutral-4);
}

.hover-stroke-neutral-5:hover {
    stroke: var(--o-ui-neutral-5);
}

.hover-stroke-neutral-6:hover {
    stroke: var(--o-ui-neutral-6);
}

.hover-stroke-neutral-7:hover {
    stroke: var(--o-ui-neutral-7);
}

.hover-stroke-neutral-8:hover {
    stroke: var(--o-ui-neutral-8);
}

.hover-stroke-neutral-9:hover {
    stroke: var(--o-ui-neutral-9);
}

.hover-stroke-neutral-10:hover {
    stroke: var(--o-ui-neutral-10);
}

.focus-stroke-neutral-1:focus {
    stroke: var(--o-ui-neutral-1);
}

.focus-stroke-neutral-2:focus {
    stroke: var(--o-ui-neutral-2);
}

.focus-stroke-neutral-3:focus {
    stroke: var(--o-ui-neutral-3);
}

.focus-stroke-neutral-4:focus {
    stroke: var(--o-ui-neutral-4);
}

.focus-stroke-neutral-5:focus {
    stroke: var(--o-ui-neutral-5);
}

.focus-stroke-neutral-6:focus {
    stroke: var(--o-ui-neutral-6);
}

.focus-stroke-neutral-7:focus {
    stroke: var(--o-ui-neutral-7);
}

.focus-stroke-neutral-8:focus {
    stroke: var(--o-ui-neutral-8);
}

.focus-stroke-neutral-9:focus {
    stroke: var(--o-ui-neutral-9);
}

.focus-stroke-neutral-10:focus {
    stroke: var(--o-ui-neutral-10);
}
