.neutral-1 {
    color: var(--o-ui-neutral-1);
}

.neutral-2 {
    color: var(--o-ui-neutral-2);
}

.neutral-3 {
    color: var(--o-ui-neutral-3);
}

.neutral-4 {
    color: var(--o-ui-neutral-4);
}

.neutral-5 {
    color: var(--o-ui-neutral-5);
}

.neutral-6 {
    color: var(--o-ui-neutral-6);
}

.neutral-7 {
    color: var(--o-ui-neutral-7);
}

.neutral-8 {
    color: var(--o-ui-neutral-8);
}

.neutral-9 {
    color: var(--o-ui-neutral-9);
}

.neutral-10 {
    color: var(--o-ui-neutral-10);
}

.hover-neutral-1:hover {
    color: var(--o-ui-neutral-1);
}

.hover-neutral-2:hover {
    color: var(--o-ui-neutral-2);
}

.hover-neutral-3:hover {
    color: var(--o-ui-neutral-3);
}

.hover-neutral-4:hover {
    color: var(--o-ui-neutral-4);
}

.hover-neutral-5:hover {
    color: var(--o-ui-neutral-5);
}

.hover-neutral-6:hover {
    color: var(--o-ui-neutral-6);
}

.hover-neutral-7:hover {
    color: var(--o-ui-neutral-7);
}

.hover-neutral-8:hover {
    color: var(--o-ui-neutral-8);
}

.hover-neutral-9:hover {
    color: var(--o-ui-neutral-9);
}

.hover-neutral-10:hover {
    color: var(--o-ui-neutral-10);
}

.focus-neutral-1:focus {
    color: var(--o-ui-neutral-1);
}

.focus-neutral-2:focus {
    color: var(--o-ui-neutral-2);
}

.focus-neutral-3:focus {
    color: var(--o-ui-neutral-3);
}

.focus-neutral-4:focus {
    color: var(--o-ui-neutral-4);
}

.focus-neutral-5:focus {
    color: var(--o-ui-neutral-5);
}

.focus-neutral-6:focus {
    color: var(--o-ui-neutral-6);
}

.focus-neutral-7:focus {
    color: var(--o-ui-neutral-7);
}

.focus-neutral-8:focus {
    color: var(--o-ui-neutral-8);
}

.focus-neutral-9:focus {
    color: var(--o-ui-neutral-9);
}

.focus-neutral-10:focus {
    color: var(--o-ui-neutral-10);
}
