.neutral-50 {
    color: var(--neutral-50);
}

.neutral-100 {
    color: var(--neutral-100);
}

.neutral-200 {
    color: var(--neutral-200);
}

.neutral-300 {
    color: var(--neutral-300);
}

.neutral-400 {
    color: var(--neutral-400);
}

.neutral-500 {
    color: var(--neutral-500);
}

.neutral-600 {
    color: var(--neutral-600);
}

.neutral-700 {
    color: var(--neutral-700);
}

.neutral-800 {
    color: var(--neutral-800);
}

.neutral-900 {
    color: var(--neutral-900);
}

.hover-neutral-50:hover {
    color: var(--neutral-50);
}

.hover-neutral-100:hover {
    color: var(--neutral-100);
}

.hover-neutral-200:hover {
    color: var(--neutral-200);
}

.hover-neutral-300:hover {
    color: var(--neutral-300);
}

.hover-neutral-400:hover {
    color: var(--neutral-400);
}

.hover-neutral-500:hover {
    color: var(--neutral-500);
}

.hover-neutral-600:hover {
    color: var(--neutral-600);
}

.hover-neutral-700:hover {
    color: var(--neutral-700);
}

.hover-neutral-800:hover {
    color: var(--neutral-800);
}

.hover-neutral-900:hover {
    color: var(--neutral-900);
}

.focus-neutral-50:focus {
    color: var(--neutral-50);
}

.focus-neutral-100:focus {
    color: var(--neutral-100);
}

.focus-neutral-200:focus {
    color: var(--neutral-200);
}

.focus-neutral-300:focus {
    color: var(--neutral-300);
}

.focus-neutral-400:focus {
    color: var(--neutral-400);
}

.focus-neutral-500:focus {
    color: var(--neutral-500);
}

.focus-neutral-600:focus {
    color: var(--neutral-600);
}

.focus-neutral-700:focus {
    color: var(--neutral-700);
}

.focus-neutral-800:focus {
    color: var(--neutral-800);
}

.focus-neutral-900:focus {
    color: var(--neutral-900);
}
