.o-ui-alert {
    display: flex;
    align-items: flex-start;
    padding: var(--o-ui-global-scale-charlie);
    width: 100%;
    height: max-content;
    border-radius: var(--o-ui-shape-rounded);
}

/* LAYOUT */
.o-ui-alert-has-icon,
.o-ui-alert-has-action,
.o-ui-alert-has-dismiss {
    padding-top: var(--o-ui-global-scale-bravo);
    padding-bottom: var(--o-ui-global-scale-bravo);
}

/* ICON */
.o-ui-alert-icon {
    margin-top: calc(var(--o-ui-global-scale-bravo) / 2);
    margin-bottom: calc(var(--o-ui-global-scale-bravo) / 2);
    margin-right: var(--o-ui-global-scale-bravo);
    flex-shrink: 0;
}

.o-ui-alert-content {
    flex-grow: 1;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.o-ui-alert-has-icon .o-ui-alert-content,
.o-ui-alert-has-action .o-ui-alert-content,
.o-ui-alert-has-dismiss .o-ui-alert-content {
    padding-top: calc(var(--o-ui-global-scale-charlie) / 2);
    padding-bottom: calc(var(--o-ui-global-scale-charlie) / 2);
}
/* ACTION */
.o-ui-alert-action {
    margin-left: var(--o-ui-global-scale-charlie);
    /* Ugly fix unti Chroma have decent support for height: min-content + absolute */
    height: auto !important;
}

/* DISMISS */
.o-ui-alert-dismiss {
    margin-left: var(--o-ui-global-scale-bravo);
}

/* TONE | INFO */
.o-ui-alert-info {
    background-color: var(--o-ui-alias-background-info-1);
    color: var(--o-ui-alias-text-info-1);
}

.o-ui-alert-info .o-ui-alert-icon {
    fill: var(--o-ui-alias-icon-info-1);
}

/* TONE | POSITIVE */
.o-ui-alert-positive {
    background-color: var(--o-ui-alias-background-positive-2);
    color: var(--o-ui-alias-text-positive-2);
}

.o-ui-alert-positive .o-ui-alert-icon {
    fill: var(--o-ui-alias-icon-positive-2);
}

/* TONE | WARNING */
.o-ui-alert-warning {
    background-color: var(--o-ui-alias-background-warning-2);
    color: var(--o-ui-alias-text-warning-2);
}

.o-ui-alert-warning .o-ui-alert-icon {
    fill: var(--o-ui-alias-icon-warning-2);
}

/* TONE | CRITICAL */
.o-ui-alert-critical {
    background-color: var(--o-ui-alias-background-negative-2);
    color: var(--o-ui-alias-text-negative-2);
}

.o-ui-alert-critical .o-ui-alert-icon {
    fill: var(--o-ui-alias-icon-negative-2);
}
