.o-ui-radio {
    display: inline-grid;
    align-items: center;
    grid-template-columns: max-content auto max-content max-content;
    grid-template-areas: "button label icon counter";
    cursor: pointer;
}

/* BUTTON */
.o-ui-radio .o-ui-radio-button {
    grid-area: button;
    display: inline-block;
    background-color: var(--white);
    border-radius: 100%;
    border: 1px solid var(--marine-100);
}

.o-ui-radio .o-ui-radio-button::before {
    content: "";
    display: block;
    background-color: var(--primary-500);
    border-radius: 100%;
    transform: scale(0) translate(-2px, -2px);
    transition: transform .125s ease-in;
}

/* CONTENT | LABEL */
.o-ui-radio .o-ui-radio-label {
    grid-area: label;
    line-height: 1;
    margin-left: var(--scale-bravo);
}

/* CONTENT | LABEL | REVERSE */
.o-ui-radio-reverse .o-ui-radio-label {
    margin-left: 0;
    margin-right: var(--scale-bravo);
}

/* CONTENT | ICON */
.o-ui-radio .o-ui-radio-icon {
    grid-area: icon;
    margin-left: var(--scale-bravo);
}

/* CONTENT | ICON | REVERSE */
.o-ui-radio-reverse .o-ui-radio-icon {
    margin-left: 0;
    margin-right: var(--scale-bravo);
}

/* CONTENT | COUNTER */
.o-ui-radio .o-ui-radio-counter {
    grid-area: counter;
    margin-left: var(--scale-bravo);
}

/* CONTENT | COUNTER | REVERSE */
.o-ui-radio-reverse .o-ui-radio-counter {
    margin-left: 0;
    margin-right: var(--scale-bravo);
}

.o-ui-radio-small .o-ui-radio-button {
    width: var(--scale-delta);
    height: var(--scale-delta);
}

.o-ui-radio-small .o-ui-radio-button::before {
    width: var(--scale-delta);
    height: var(--scale-delta);
}

.o-ui-radio-medium .o-ui-radio-button {
    width: var(--scale-echo);
    height: var(--scale-echo);
}

.o-ui-radio-medium .o-ui-radio-button::before {
    width: var(--scale-echo);
    height: var(--scale-echo);
}

.o-ui-radio-large .o-ui-radio-button {
    width: var(--scale-foxtrot);
    height: var(--scale-foxtrot);
}

.o-ui-radio-large .o-ui-radio-button::before {
    width: var(--scale-foxtrot);
    height: var(--scale-foxtrot);
}

/* VALIDATION */
.o-ui-radio-invalid .o-ui-radio-label {
    color: var(--alert-500);
}

.o-ui-radio-invalid .o-ui-radio-button {
    border-color: var(--alert-200);
}

.o-ui-radio-invalid.o-ui-radio:hover .o-ui-radio-button {
    border-color: var(--alert-200);
}

.o-ui-radio.o-ui-radio-invalid .o-ui-radio-button::before {
    background-color: var(--alert-500);
}

/* STATE | CHECKED */
.o-ui-radio-checked .o-ui-radio-button::before {
    transform: scale(0.5) translate(-2px, -2px);
}

.o-ui-radio-checked.o-ui-radio-invalid .o-ui-radio-button {
    border-color: var(--alert-500);
}

.o-ui-radio-checked.o-ui-radio-invalid.o-ui-radio:hover .o-ui-radio-button {
    border-color: var(--alert-500);
}

.o-ui-radio-checked.o-ui-radio-invalid .o-ui-radio-button::before {
    background-color: var(--alert-500);
}

/* STATE | FOCUS */
.o-ui-radio input[type="radio"]:focus + .o-ui-radio-button,
.o-ui-radio-focus .o-ui-radio-button {
    box-shadow: var(--o-ui-outline);
}

/* STATE | HOVER */
.o-ui-radio:hover .o-ui-radio-button,
.o-ui-radio-hover .o-ui-radio-button {
    border: 1px solid var(--marine-300);
}

/* STATE | HOVER | DISABLED */
.o-ui-radio-disabled:hover .o-ui-radio-button,
.o-ui-radio-disabled-hover .o-ui-radio-button {
    border: 1px solid var(--marine-100);
}

/* STATE | DISABLED */
.o-ui-radio-disabled  {
    opacity: var(--o-ui-disabled-opacity);
    cursor: not-allowed;
}

/* STATE | DISABLED | FOCUS | CIRCLE */
.o-ui-radio-disabled input[type="radio"]:focus + .o-ui-radio-button {
    box-shadow: none;
}

/* REVERSE */
.o-ui-radio-reverse {
    grid-template-areas: "counter icon label button";
}

/* IN FIELD */
.o-ui-radio-small.o-ui-radio-in-field {
    min-height: var(--scale-echo);
}

.o-ui-radio-medium.o-ui-radio-in-field {
    min-height: var(--scale-foxtrot);
}

.o-ui-radio-large.o-ui-radio-in-field {
    min-height: var(--scale-golf);
}
