.o-ui.radio {
    display: inline-flex;
}

.o-ui.radio .button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
}

.o-ui.radio.checked .button {
    background-color: green;
}

.o-ui.radio input[type="radio"]:focus + .button {
    box-shadow: 0 0 0 2px var(--primary-100);
}
