.o-ui-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    line-height: var(--o-ui-global-line-height-1);
    max-width: 100%;
    width: max-content;
    height: max-content;
    color: var(--o-ui-alias-text-1);
}

/* BUTTON */
.o-ui-radio-button {
    display: inline-block;
    background-color: var(--o-ui-alias-background-1);
    border-radius: var(--o-ui-shape-circular);
    border: 1px solid var(--o-ui-alias-border-1);
    position: relative;
    width: var(--o-ui-global-scale-echo);
    height: var(--o-ui-global-scale-echo);
}

.o-ui-radio-button::before {
    content: "";
    display: block;
    background-color: var(--o-ui-alias-background-primary-1);
    border-radius: var(--o-ui-shape-circular);
    transform: scale(0) translate(-2px, -2px);
    transition: all var(--o-ui-timing-1) var(--o-ui-easing--productive);
    width: var(--o-ui-global-scale-echo);
    height: var(--o-ui-global-scale-echo);
}

/* CONTENT | LABEL */
.o-ui-radio-label {
    line-height: var(--o-ui-global-line-height-1);
    margin-left: var(--o-ui-global-scale-bravo);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* CONTENT | LABEL | REVERSE */
.o-ui-radio-reverse .o-ui-radio-label {
    margin-left: 0;
    margin-right: var(--o-ui-global-scale-bravo);
}

/* CONTENT | ICON */
.o-ui-radio-icon {
    margin-left: var(--o-ui-global-scale-bravo);
}

/* CONTENT | ICON | REVERSE */
.o-ui-radio-reverse .o-ui-radio-icon {
    margin-left: 0;
    margin-right: var(--o-ui-global-scale-bravo);
}

/* CONTENT | COUNTER */
.o-ui-radio-counter {
    margin-left: var(--o-ui-global-scale-bravo);
    color: var(--o-ui-alias-text-1);
}

/* CONTENT | COUNTER | REVERSE */
.o-ui-radio-reverse .o-ui-radio-counter {
    margin-left: 0;
    margin-right: var(--o-ui-global-scale-bravo);
}

/* VALIDATION */
.o-ui-radio-invalid {
    color: var(--o-ui-alias-text-negative-1);
}

.o-ui-radio-invalid .o-ui-radio-button {
    border-color: var(--o-ui-alias-border-negative-2);
}

.o-ui-radio-invalid.o-ui-radio:hover .o-ui-radio-button {
    border-color: var(--o-ui-alias-border-negative-2);
}

.o-ui-radio.o-ui-radio-invalid .o-ui-radio-button::before {
    background-color: var(--o-ui-alias-background-negative-1);
}

/* STATE | CHECKED */
.o-ui-radio-checked .o-ui-radio-button::before {
    transform: scale(0.5) translate(-2px, -2px);
}

.o-ui-radio-checked.o-ui-radio-invalid .o-ui-radio-button {
    border-color: var(--o-ui-alias-border-negative-1);
}

.o-ui-radio-checked.o-ui-radio-invalid.o-ui-radio:hover .o-ui-radio-button {
    border-color: var(--o-ui-alias-border-negative-1);
}

.o-ui-radio-checked.o-ui-radio-invalid .o-ui-radio-button::before {
    background-color: var(--o-ui-alias-background-negative-1);
}

/* STATES | FOCUS | FOCUS RING */
.o-ui-radio-button:after {
    opacity: 0;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    box-shadow: 0 0 0 var(--o-ui-focus-ring-thickness-md) var(--o-ui-focus-ring-color);
    border-radius: var(--o-ui-shape-pill);
    transition: var(--o-ui-focus-ring-transition);
}

.o-ui-radio input[type="radio"]:focus-visible + .o-ui-radio-button:after,
.o-ui-radio-focus .o-ui-radio-button:after {
    opacity: 1;
}

/* STATE | HOVER */
.o-ui-radio:hover .o-ui-radio-button,
.o-ui-radio-hover .o-ui-radio-button {
    border: 1px solid var(--o-ui-alias-border-1-hover);
}

/* STATE | HOVER | DISABLED */
.o-ui-radio-disabled:hover .o-ui-radio-button,
.o-ui-radio-disabled-hover .o-ui-radio-button {
    border: 1px solid var(--o-ui-alias-border-1);
}

/* STATE | DISABLED */
.o-ui-radio-disabled  {
    opacity: var(--o-ui-disabled-opacity);
    cursor: not-allowed;
}

/* STATE | DISABLED | FOCUS | CIRCLE */
.o-ui-radio-disabled input[type="radio"]:focus-visible + .o-ui-radio-button {
    box-shadow: none;
}

/* REVERSE */
.o-ui-radio-reverse {
    flex-direction: row-reverse;
}
