.o-ui-sb-tagline {
    font-size: var(--o-ui-global-type-scale-5) !important;
    line-height: 1.3333333 !important;
    margin: var(--o-ui-global-scale-delta) 0 1rem 0 !important;
    color: var(--o-ui-alias-text-2) !important;
    max-width: 60ch !important;
}
