.b--overcast-50 {
    border-color: var(--o-ui-global-overcast-50);
}

.b--overcast-100 {
    border-color: var(--o-ui-global-overcast-100);
}

.b--overcast-200 {
    border-color: var(--o-ui-global-overcast-200);
}

.b--overcast-300 {
    border-color: var(--o-ui-global-overcast-300);
}

.b--overcast-400 {
    border-color: var(--o-ui-global-overcast-400);
}

.b--overcast-500 {
    border-color: var(--o-ui-global-overcast-500);
}

.b--overcast-600 {
    border-color: var(--o-ui-global-overcast-600);
}

.b--overcast-700 {
    border-color: var(--o-ui-global-overcast-700);
}

.b--overcast-800 {
    border-color: var(--o-ui-global-overcast-800);
}

.b--overcast-900 {
    border-color: var(--o-ui-global-overcast-900);
}

.hover-b--overcast-50:hover {
    border-color: var(--o-ui-global-overcast-50);
}

.hover-b--overcast-100:hover {
    border-color: var(--o-ui-global-overcast-100);
}

.hover-b--overcast-200:hover {
    border-color: var(--o-ui-global-overcast-200);
}

.hover-b--overcast-300:hover {
    border-color: var(--o-ui-global-overcast-300);
}

.hover-b--overcast-400:hover {
    border-color: var(--o-ui-global-overcast-400);
}

.hover-b--overcast-500:hover {
    border-color: var(--o-ui-global-overcast-500);
}

.hover-b--overcast-600:hover {
    border-color: var(--o-ui-global-overcast-600);
}

.hover-b--overcast-700:hover {
    border-color: var(--o-ui-global-overcast-700);
}

.hover-b--overcast-800:hover {
    border-color: var(--o-ui-global-overcast-800);
}

.hover-b--overcast-900:hover {
    border-color: var(--o-ui-global-overcast-900);
}

.focus-b--overcast-50:focus {
    border-color: var(--o-ui-global-overcast-50);
}

.focus-b--overcast-100:focus {
    border-color: var(--o-ui-global-overcast-100);
}

.focus-b--overcast-200:focus {
    border-color: var(--o-ui-global-overcast-200);
}

.focus-b--overcast-300:focus {
    border-color: var(--o-ui-global-overcast-300);
}

.focus-b--overcast-400:focus {
    border-color: var(--o-ui-global-overcast-400);
}

.focus-b--overcast-500:focus {
    border-color: var(--o-ui-global-overcast-500);
}

.focus-b--overcast-600:focus {
    border-color: var(--o-ui-global-overcast-600);
}

.focus-b--overcast-700:focus {
    border-color: var(--o-ui-global-overcast-700);
}

.focus-b--overcast-800:focus {
    border-color: var(--o-ui-global-overcast-800);
}

.focus-b--overcast-900:focus {
    border-color: var(--o-ui-global-overcast-900);
}
