.fill-overcast-50 {
    fill: var(--o-ui-overcast-50);
}

.fill-overcast-100 {
    fill: var(--o-ui-overcast-100);
}

.fill-overcast-200 {
    fill: var(--o-ui-overcast-200);
}

.fill-overcast-300 {
    fill: var(--o-ui-overcast-300);
}

.fill-overcast-400 {
    fill: var(--o-ui-overcast-400);
}

.fill-overcast-500 {
    fill: var(--o-ui-overcast-500);
}

.fill-overcast-600 {
    fill: var(--o-ui-overcast-600);
}

.fill-overcast-700 {
    fill: var(--o-ui-overcast-700);
}

.fill-overcast-800 {
    fill: var(--o-ui-overcast-800);
}

.fill-overcast-900 {
    fill: var(--o-ui-overcast-900);
}

.hover-fill-overcast-50:hover {
    fill: var(--o-ui-overcast-50);
}

.hover-fill-overcast-100:hover {
    fill: var(--o-ui-overcast-100);
}

.hover-fill-overcast-200:hover {
    fill: var(--o-ui-overcast-200);
}

.hover-fill-overcast-300:hover {
    fill: var(--o-ui-overcast-300);
}

.hover-fill-overcast-400:hover {
    fill: var(--o-ui-overcast-400);
}

.hover-fill-overcast-500:hover {
    fill: var(--o-ui-overcast-500);
}

.hover-fill-overcast-600:hover {
    fill: var(--o-ui-overcast-600);
}

.hover-fill-overcast-700:hover {
    fill: var(--o-ui-overcast-700);
}

.hover-fill-overcast-800:hover {
    fill: var(--o-ui-overcast-800);
}

.hover-fill-overcast-900:hover {
    fill: var(--o-ui-overcast-900);
}

.focus-fill-overcast-50:focus {
    fill: var(--o-ui-overcast-50);
}

.focus-fill-overcast-100:focus {
    fill: var(--o-ui-overcast-100);
}

.focus-fill-overcast-200:focus {
    fill: var(--o-ui-overcast-200);
}

.focus-fill-overcast-300:focus {
    fill: var(--o-ui-overcast-300);
}

.focus-fill-overcast-400:focus {
    fill: var(--o-ui-overcast-400);
}

.focus-fill-overcast-500:focus {
    fill: var(--o-ui-overcast-500);
}

.focus-fill-overcast-600:focus {
    fill: var(--o-ui-overcast-600);
}

.focus-fill-overcast-700:focus {
    fill: var(--o-ui-overcast-700);
}

.focus-fill-overcast-800:focus {
    fill: var(--o-ui-overcast-800);
}

.focus-fill-overcast-900:focus {
    fill: var(--o-ui-overcast-900);
}
